﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Application

@using Offtick.Core.Utility;
@{
    string name=Model!=null? Model.Symbol:string.Empty;
    string description=Model!=null? Model.Description:string.Empty;
    string imgUrl = Model!=null? Model.ImageUrl:string.Empty;
    string applicationId = Model != null ? Model.ApplicationID.ToString() : string.Empty;
    var countOfTaken = Offtick.Business.Services.Managers.ApplicationManager.Instance.CountOfTaken(Model);
}
<div style="border:1px solid #46464f;flex-align:center;text-align:center;">
    <div>
        @name
    </div>
    <div >
         <a title="@name" href="@Url.Action("SelectApplication", "Application", new { area="User",applicationId=applicationId})" >
             <img src="@imgUrl" style="width:64px;height:64px;" class="img-circle"/>
         </a>
    </div>
    <div>
        <a title="Count of Taken"  href="@Url.Action("SelectApplication", "Application", new { area="User",applicationId=applicationId})">
           <span  class="glyphicon glyphicon-check">
                @countOfTaken انتخاب شده
           </span>
            
        </a>
    </div>

</div>

