﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Application

@using Offtick.Core.Utility;
@{
    string name=Model!=null? Model.Name:string.Empty;
    string description=Model!=null? Model.Description:string.Empty;
    string imgUrl = Model!=null? Model.ImageUrl:string.Empty;
    string applicationId = Model != null ? Model.ApplicationID.ToString() : string.Empty;
    var countOfTaken = Offtick.Business.Services.Managers.ApplicationManager.Instance.CountOfTaken(Model);
}

  
<li class="cat-icon">
    <a class="@imgUrl" href="@Url.Action("SelectApplication", "Application", new { area="User",applicationId=applicationId})" >
        <span class="icon-title">@description</span>
    </a>
</li>

   
    



