﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.HollandModel
@{
    ViewBag.Title = "Holland Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUserName();
    var hollandApplication = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetHollandApplication();
    var owner = hollandApplication.MembershipUser;
    var ownerUserName = owner != null ? owner.UserName : string.Empty;
}
<script type="text/javascript">
    $(function () {
        $(".questionHolland").click(function () {
            $(this).toggleClass("fa-square-o");
            $(this).toggleClass("fa-check-square-o");
        });

        $("#btnContineHolland").click(function () {
            
            var urlOfAction = "@Html.Raw(Url.Action("Holland", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Running, PageNo = Model.PageNo, PageTake = 15 }))";
            var questionAnswers = "";
            $(".questionHolland").each(function () {
               
                var questionNo = $(this).attr("data-questionFlag");
                if ($(this).hasClass("fa-check-square-o")) {
                    questionAnswers += questionNo + ":1_";
                } else {
                    questionAnswers += questionNo + ":0_";
                }
                
            });

            $(".txtQuestionAnswer").each(function () {

                var questionNo = $(this).attr("data-questionFlag");
                var valueOftxt = $(this).val();
                if (!valueOftxt) {
                    valueOftxt = 0;
                }
                questionAnswers += questionNo + ":" + valueOftxt+ "_";
                

            });
            urlOfAction += "&Answers=" + questionAnswers;
            window.location.href = urlOfAction; 

        });

        function startHollandFunction(passwordNumber){
            var urlOfAction = "@Html.Raw(Url.Action("Holland", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.PreStart, PageNo = 1,PageTake = 15 }))";
            var urlOfCheckingAction = "@Url.Action("CheckRandomNumberIsValid", "Application", new { area="User"})";

            var postData = { randomNumber: passwordNumber };
            $.ajax({
                type: 'POST',
                url: urlOfCheckingAction,
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data && data.IsValid == true) {
                            window.location.href = urlOfAction;
                        }
                        else
                        alert("شماره رمز اشتباه است و یا قبلا استفاده شده است");
                    }
                },
                error: function (xhr, textStatus, error) {
                    alert("خطا در پردازش، کد رمز را به صورت عدد وارد نموده و سپس ارتباط اینترنت خود را چک کرده و دوباره سعی نمایید.");

                }
            });
        };

        $("#btnStartHolland1").click(function () { startHollandFunction($("#txtRandomPassword1").val()) });
        $("#btnStartHolland2").click(function () { startHollandFunction($("#txtRandomPassword2").val()) });
       
    });
</script>


@if (string.IsNullOrEmpty(ownerUserName) || currentUserName != ownerUserName)
{

    if ((Model == null || Model.PageNo == 0) && (Model.ApplicationStatus != Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Finished))
    {
            
            
              <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                           
                              <h3>
                                  
                                  تست هالند

                                <div style="text-align:left;">
                                    <a href="http://razeentekhab.com/" target="_blank">
                                        <img  src="~/Content/Images/Applications/RazentekhabLogo.png" /> 
                                    </a>
                            </div>
                            </h3>

                        </header>
                        <main class="article-body">
                                              @{
                            Offtick.Web.OfftickWeb.Areas.User.Models.HollandModel newModel = new Offtick.Web.OfftickWeb.Areas.User.Models.HollandModel();

                            newModel.ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.PreStart;
                            newModel.PageNo = 1;
                            newModel.PageTake = 15;
                                            }
                            <div class="row ">
                                 <p>
                                                کد رمز برنامه را وارد نمایید :
                                                
                                                <input type="text" id="txtRandomPassword1" value="@System.Web.HttpContext.Current.Session["randomNumberSessionObjectKey"]"/>
                                            </p>
                                 <a class="btnB"  id="btnStartHolland1" href="#" >
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <span>شروع تست هالند</span>
                                </a>
                 
                        </div>
                            @MvcHtmlString.Create(hollandApplication.Description)
                               
                        <div class="row ">
                             <p>
                                                کد رمز برنامه را وارد نمایید :
                                                
                                                <input type="text" id="txtRandomPassword2" value="@System.Web.HttpContext.Current.Session["randomNumberSessionObjectKey"]"/>
                                            </p>
                               <a class="btnB"  id="btnStartHolland2" href="#" >
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                    <span>شروع تست هالند</span>
                                </a>
                 
                        </div>
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
           
    }
    else
    {
        if (Model.ApplicationStatus == Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Finished)
        {
            var hollandObject = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetHollandResultForUser(currentUser);
            var interprets = Offtick.Business.Services.Managers.ApplicationManager.Instance.getHollandInterpretFor(hollandObject.Result);
            if (hollandObject != null)
            {
                      <div class="main-wrapper single-page">
                        <section class="layout">
                            <article>
                                <header class="article-header">

                                      @if (currentUser == null)
                                      {
                                             <h3>نتیجه تست: </h3>
                                      }
                                      else
                                      {
                                            <h3>نتیجه تست: @hollandObject.Result</h3>
                                      }

                                  
                                        

                                </header>
                                <main class="article-body">  
                                    @if (currentUser == null)
                                    {
                                             
                                             <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")"></script>
                                               <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/jalali.js")"></script>
                                            <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar.js")"></script>
                                            <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar-setup.js")"></script>
                                            <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/lang/calendar-fa.js")"></script>
                                             
                                               <b>
                                                 تست شما با موفقیت انجام شد، برای مشاهده نتیجه موارد زیر را وارد نمایید.
                                             </b>
                                             
                                        TempData["HasRegisterLayout"] = false;
                                        TempData["registerMode"] = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal;
                                     
                                         @Html.Action("Register", "Account", new { area = "", registerMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal, hasLayout = false, returnUrl = Url.Action("Holland", "Application", new { area = "User", ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.FinishedNotPersisted }) })
                                             
                                    }

                                    else
                                    {
                                        
                                        <div class="well text-right">
                                            @if (interprets != null)
                                            {
                                                <div class="well h3 text-primary">
                                                    <b> مشاغل پیشنهاد شده</b>
                                                </div>
                                                <div class="panel Well">
                                                    @if (interprets != null)
                                                    {
                                                        <ul style="list-style-type:circle">
                                                            @foreach (var interpret in interprets)
                                                            {
                                                                <li>
                                                                        @interpret.Occupation
                                                                    </li>
                                                       
                                                            }    
                                                        </ul>
                                                        
                                                            
                                                    }
                                                    else
                                                    {
                                                             <p>
                                                                 شغلی متناسب با نوع جواب شما پیدا نگردید، تست را مجددا با دقت بیشتری بزنید
                                                             </p>   
                                                    }
                                                    
                                                </div>
                                            }
                   
                                        </div>
                                        
                                         <p style="padding-top:40px;text-align:left; padding-left:20px;">
                                            <a  href="@Url.Action("Holland", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Reset })"
                                                 onclick="return confirm('آیا میخواهید نتیجه تست رو پاک کرده و دوباره از اول شروع نمایید?');"
                                                >
                                                    <span style="font-size:smaller;color:GrayText">
                                                        انجام مجدد تست هالند
                                                    </span>
                                                
                                                </a>
                                            </p>
                                          <div>@{
                                        
                                            var parentApp = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetApplicationsByCriteria(new[] { "Special" })[0];
                                                    }
                                                 @Html.Action("ShowParentApplicationExept", "Application", new { area = "User", except = hollandApplication, parent = parentApp })

                                            </div>
                                        
                                    }
                                </main>
                            </article>
                        </section>
                    </div>
                <!--main-wrapper-->
                    
                    
                     
            }

        }
        else
        {

            int pagesCount = (int)216 / Model.PageTake + (216 % Model.PageTake != 0 ? 1 : 0) + 1;
            int countOfQustionInCurrentPage = Model.PageNo == pagesCount ? 12 : (Model.PageNo == pagesCount - 1 ? 216 % Model.PageTake : Model.PageTake);
            int percentage = Model.PageNo * 100 / pagesCount;
            string progressBarTitle = string.Format("{0} of {1}", Model.PageNo, pagesCount);
            int level = pagesCount == Model.PageNo ? 2 : 1;
            var hollandQuestions = Offtick.Business.Services.Managers.ApplicationManager.Instance.getHollandApplicationQuestionsByRange(Model.PageTake, Model.PageNo, level);          
            <p></p>
    
    
              <div class="main-wrapper single-page">
                        <section class="layout">
                            <article>
                                <header class="article-header">
                                      <h3 class="primary">تست هالند</h3>
                                    <br />
                                        <a href="@Url.Content("~/Content/Files/About_Holland.pdf")" target="_blank">
                                            <span>تست هالند چیست؟ </span>
                                        </a>
                                </header>
                                <main class="article-body">
                                    

                                     <div class="row">
                                         <span class="well text-right col-md-12">
                                             @if (level == 1)
                                             {
                                                 <span>

                                                                               با کلیک روبروی هر يك از فعاليت هایی که به آن علاقمندید و یا مایل به انجام آن هستید، آنرا را انتخاب نمایید.

                                                 </span>
                                             }
                                             else
                                             {
                                                 <span>
                                                       در جدول زير توانائيها ( توان بالقوه ) ومهارت هاي ( توان بالفعل ) خود را در مقايسه با همسالانتان درجه بندي نمائيد. سعي نمائيد صحيح ترين برآورد را در مورد خودتان انجام دهيد، به كمترين توانايي نمره 1 وبه بيشترين توانايي نمره 7 بدهيد و تا حد امكان از درجه بندي يكسان خود در هر توانايي بپرهيزيد براي پاسخگويي درعددي كه به نظر خودتان معرف توانايي شما مي باشد عدد 1 را بنویسید.								

                                                 </span>
                                             }

                                        </span>
                                    </div>
                                     <div class="steps-nav">
                                        <a class="next-step"  href="@Url.Action("Holland", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Next, PageNo = Model.PageNo, PageTake = Model.PageTake, Level = Model.Level })">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <span>بعدی</span>
                                        </a>
                                        <progress max="100" value="@percentage" style="width:800px;direction:ltr;" title="@progressBarTitle"></progress>
                                    
                                      <a class="previous-step"   href="@Url.Action("Holland", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Previous, PageNo = Model.PageNo, PageTake = Model.PageTake, Level = Model.Level })">
                                           <span>قبلی</span>
                                                <i class="fa fa-arrow-left" aria-hidden="true"></i>    
                                      </a>
                                    </div> 
                                    
                                      <section class="layout">
                                        <div class="items-table-container">
                                            <table class="items-table">
                                                <tbody>
                                                <tr>
                                                    <th>شماره</th>
                                                    <th style="width:800px;direction:ltr;">سول</th>
                                                    <th></th>
                                                </tr>
               
                                            @for (int i = 0; i < countOfQustionInCurrentPage; i++)
                                            {
                                                var hollandQuestion = hollandQuestions[i];
                                                var questionNo = hollandQuestion.ApplicationHollandId;
                                                var questionText = hollandQuestion.Question;
                                                var hollandResult = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetHollandResultForUser(currentUser);
                                                var hollandResultDetailForQuestion = hollandResult != null ? hollandResult.ApplicationHollandResultDetails.FirstOrDefault(e => e.ApplicationHollandId == questionNo) : null;
                                                var cssClassForAnsweredQuestion = hollandResultDetailForQuestion != null && hollandResultDetailForQuestion.Value != 0 ? "fa-check-square-o" : "fa-square-o";
                            
                                                    <tr>
                                                        <td>
                                                            <span >@questionNo</span>
                                                        </td>
                                                    
                                                        <td>
                                                            <span class="text-right">@questionText</span>
                                                        </td>
                                                        <td>
                                                                @if (level == 1)
                                                                {
                                                                    <span class="fa  questionHolland @cssClassForAnsweredQuestion" data-questionFlag="@questionNo"></span>
                                                                }
                                                                else
                                                                {
                                                                     <span class="order-qty-label">تعداد سفارش : </span>
                                                                    <input type="number" name="cmbCountOfOffer" id="cmbCountOfOffer" min="1" max="7" value="" class="txtQuestionAnswer"  data-questionFlag="@questionNo">@*
                                                                    <input type="text" class="txtQuestionAnswer" data-questionFlag="@questionNo" maxlength="1" />*@
                                                                }
                                                        </td>
                                                    </tr>
                                            }
                                
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--items-table-container-->
                                    </section>
                                     
                                    <div class="steps-nav">
                                        <a class="next-step" id="btnContineHolland">
                                             <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <span>ثبت و ادامه</span>
                                            
                                        </a>
                                    </div>

                                     
                                </main>
                            </article>
                        </section>
                    </div>
                <!--main-wrapper-->
    
           
          
        }
    }
}
else
{
    @Html.Action("HollandAdmin", "Application", new { area = "User" })
}
