﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.MBTIModel
@{
    ViewBag.Title = "MBTI Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Int16 questionNo = Model != null ? Model.QuestionNo : (short)0;
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var mbtiApplication=Offtick.Business.Services.Managers.ApplicationManager.Instance.GetMBTIApplication();
    var owner=mbtiApplication.MembershipUser;
    var ownerUserName=owner!=null ? owner.UserName:string.Empty;
}




<link rel="stylesheet" href="@Url.Content("~/Content/jquery.Jcrop.min.css")" type="text/css" />

  

        @if (Model == null || questionNo == 0)
        {
            
             <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>MBTI تست</h3>

                        </header>
                        <main class="article-body">
                            @{
                                 Offtick.Web.OfftickWeb.Areas.User.Models.MBTIModel newModel = new Offtick.Web.OfftickWeb.Areas.User.Models.MBTIModel();

                                 newModel.QuestionNo = 1;
                                 newModel.AnswerNo = 0;
                                 newModel.MBTIStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.PreStart;
                                }

                             <div >
                                  @Html.ActionLink("شروع تست MBTI", "MBTI", newModel, new { @class = "btnB" })
                 
                            </div>
                            @MvcHtmlString.Create(mbtiApplication.Description)
                                 
                        <div >
                              @Html.ActionLink("شروع تست MBTI", "MBTI", newModel, new { @class = "btnB" })
                 
                        </div>
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
        }
        else{
            if (Model.QuestionNo == -1 || Model.MBTIStatus== Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Finished)
                {
                    var mbtiObject=Offtick.Business.Services.Managers.ApplicationManager.Instance.GetMBTIResultForUser(currentUser);
                    if (mbtiObject != null)
                    {
                          <div class="main-wrapper single-page">
                            <section class="layout">
                                <article>
                                    <header class="article-header">
                                        @if(currentUser==null){
                                             <h3>نتیجه تست: </h3>
                                        }
                                        else
                                        {
                                            <h3>نتیجه تست: @mbtiObject.Result</h3>
                                        }  
                                            
                                        

                                    </header>
                                    <main class="article-body"> 
                                         @if(currentUser==null){
                                             
                                             <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")"></script>

                                               <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/jalali.js")"></script>
                                            <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar.js")"></script>
                                            <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar-setup.js")"></script>
                                            <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/lang/calendar-fa.js")"></script>

                                             
                                               <b>
                                                 تست شما با موفقیت انجام شد، برای مشاهده نتیجه موارد زیر را وارد نمایید.
                                             </b>
                                             
                                         TempData["HasRegisterLayout"] = false;
                                         TempData["registerMode"] = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal;
                                     
                                         @Html.Action("Register", "Account", new { area = "", registerMode=Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal,hasLayout = false, returnUrl = Url.Action("MBTI", "Application", new { area="User" ,MBTIStatus= Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.FinishedNotPersisted})})
                                             
                                        }
                                         
                                        else
                                        {
                                           switch (mbtiObject.Result)
                                            {
                                                case "ISTJ":
                                                    <span>
                                                        جدی و ارام می باشد و موفقیت را با تمرکز و پشتکار بدست می آورد. واقع گرا، منظم و منطقی می باشد. قابل اطمینان است وهمیشه می توان روی اوحساب کرد.مایل است همه چیز منظم و مرتب باشد. مسئولیت پذیراست. افکارش را روی کاری که باید انجام دهد متمرکز می کند و به شدت در جهت رسیدن به ان گام برمی دارد.اینکار رو بدون توجه به معترضین وکسانیکه سعی در ایجاد اختلال در کارش را /داشته باشد انجام می دهد.
                                                    </span>
                                                    <p>
                                                        <a href="~/Content/Files/MBTI/ISTJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ISFJ":
                                                    <span>
                                                        آرام وخوش برخورد، مسئولیت پذیر و وظیفه شناس است. خالصانه برای انجام وظایفش کار می کند و در خدمت دوستان و اطرافیانش است. فردی بسیار دقیق وزحمتکش می باشد. ممکن است در جهت گیری موضوعات و مهارت های فنی احتیاج به زمان بیشتری داشته باشد چون علاقه اش به کارهای فنی نسبتا پایین می باشد. نسبت به وظایف وکارهای روزمره بسیار صبور است. وفادار، محتاط و در مورد احساسات دیگران بسیار حساس می باشد.
                                                    </span>
                                                    <p>
                                                        <a href="~/Content/Files/MBTI/ISFJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ISTP":
                                                    <span>
                                                        افرادی با نگاه نافذ، آرام و محتاط؛ زندگی را از زاویه ای جدا و کنجکاوی منحصر به فرد تجزیه تحلیل می کند، اغلب شوخ طبعی بسیار جالب از خود نشان می دهد. علاقمند به اصول علمی، علت و معلول یا چگونه چرای موضوعات فنی و تجزیه تحلیل انها می باشد. هیچگاه خود را بیش از حد خسته نمی کند زیرا به نظرش تلف کردن نیرو و انرژی بیهوده است و درهیچ شرایطی به صلاح نمی باشد.
                                                    </span>
                                                    <p>
                                                        <a href="~/Content/Files/MBTI/ISTP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ISFP":
                                                    <span>
                                                        خستگی ناپذیر، خوش برخورد، حساس و درمورد توانایی های خود ، کم ادعا می باشد و از مخالفت پرهیز می نماید. ارزشها و افکار خود را بر دیگران تحمیل نمی نماید. معمولا علاقه ای به مدیریت و رهبری ندارد. اما اغلب دنباله روی بسیار وفاداری می باشد. در مورد انجام مسئولیت ها یا تمام کردن وظایف روحیه ای توام با ارامش وراحتی دارد. از زمان حال لذت می برد ونمی خواد ان را با عجله و تقلای بی مورد خراب نماید.
                                                    </span>
                                             <p>
                                                        <a href="~/Content/Files/MBTI/ISFP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ESTP":
                                                    <span>
                                                        واقع گرا وبندرت نگران می شود و یا در کارها عجله می کند. از هرچه پیش اید لذت می برد. معمولا به ورزش وموضوعات فنی علاقه نشان می دهد.دوست دارد در محافل مختلف شرکت کند. ممکن است کمی کند و خونسرد باشد. به ریاضیات و علوم فقط هنگامیه نیاز باشدعلاقه نشان می دهد. علاقه ای به موضوعات تشریحی طولانی ندارد. استعداد در زمینه موضوعاتی مانند اصلاح کارهاو راه حلهای زیرکانه و تصحیح امور ظریف، تبحر خاصی از خود نشان می دهد.
                                                    </span>
                                             <p>
                                                        <a href="~/Content/Files/MBTI/ESTP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ESFP":
                                                    <span>
                                                        برون گرا، زودجوش، مهمان نواز و خوش برخورد می باشد. علاقه زیادی به لذت بردن از زمان حال دارد. به ورزش، تولید و ساخت علاقه زیادی دارد.معمولا می داند اطراف او چه می گذرد و بسیار مشتاقانه، حاضر به همکاری می باشد. برای او به حافظه سپردن حقایق و اطلاعات، اهمیت بیشتری نسبت به  تئوری های پیچیده دارد و بهترین تواناییهای او در زمینه پیدا کردن راه حلهای منطقی و قابل قبول در مورد اختلافی پیچیده می باشد. با مردم و موضوعات روزمره به راحتی کنار می اید.
                                                    </span>
                                              <p>
                                                        <a href="~/Content/Files/MBTI/ESFP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ESTJ":
                                                    <span>
                                                        واقع بین، اهل عمل و کم احساس می باشد. در زمینه تجارت و کارهای فنی، استعداد خاصی از خود نشان می دهد. در مورد موضوعاتی که نیاز به انها دیده نمی شود، بی علاقکی نشان می دهد. ولی در صورت لزوم انها را بکار می برد. علاقه زیادی به سازماندهی و هدایت فعالیت پروژه ها دارد. معمولا کارها را بخوبی انجام می دهد. بخصوص اگر هنگام اتخاذ تصمیم، احساسات و نقطه نظرهای متفاوت را در نظر بگیرد.
                                                    </span>
                                               <p>
                                                        <a href="~/Content/Files/MBTI/ESTJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ESFJ":
                                                    <span>
                                                        خوش قلب، خوش صحبت، محبوب و مسئولیت پذیر است. از سنین پایین مشارکت و همکاری با دیگران را بخوبی یاد می گیرد و از اعضای فعال گروه ها و تیم ها می شود. همیشه می خواهد یک کارنیک برای دیگران انجام بدهد. نیاز به تشویق ئ قدردانی از طرف دیگران دارد. علاقه کمی به تئوریها و موضوعات فنی دارد. استعدادهایش در زمینه هایی شکوفا می شود که بطور مستقیم و چشمگیری در زندگی او تاثیر بگذارد.
                                                    </span>
                                             <p>
                                                        <a href="~/Content/Files/MBTI/ESFJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "INFJ":
                                                    <span>
                                                        موفقیت را با پشتکار فراوان بدست می اورد. طرح ایده های جدیدمی نماید و اشتیاق در هر کاری که مورد نیاز است از خود نشان می دهد. بیشترین تلاش خود را در کارها می نماید. آرام، باقدرت و وظیفه شناس می باشد. علاقه به کمک به دیگران دارد. اصول اخلاقی که به ان پایبنداست برای اغلب مردم مورداحترام است. همیشه از طرف مردم جهت خدمت به دیگران و جامعه از او قدر دانی می شود.
                                                    </span>
                                              <p>
                                                        <a href="~/Content/Files/MBTI/INFJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "INTJ":
                                                    <span>
                                                        افکاری بدیع و مبتکرانه دارد و پر انرژی می باشد که فقط برای رسیدن به اهئاف خود از ان استفاده می برد. در زمینه هایی که علاقه پیدا می نماید، قدرت خاصی جهت سازماندهی کارها دارد و میتواند کارها را با کمک دیگران ویا بدون کمک دیگران به پایان برساند. شکاک، منتقد، مستقل و مصمم و گاهی اوغات لجوج می باشد. باید یاد بگیرد که روی موضوعات جزئی زیاد تمرکز ننماید تا بتواند در موضوعات مهمتر موفق باشد.
                                                    </span>
                                              <p>
                                                        <a href="~/Content/Files/MBTI/INTJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "INFP":
                                                    <span>
                                                        پر از وفاداری و هواخواهی پرحرارت می باشد.اغلب راجع به شایستگی های خود صحبت نمی کند تا زمانیکه که شما را بخوبی بشناسد.علاقه فراوانی به یادگیری ایده های جدید، زبان و پروژه های مستقل دارد. احتمالا سردبیر یک مجله و یا ماهنامه می شود. گاهی اوقات بیش از حد مسئولیت قبول می نماید و اغلب ان را بطور کامل به پایان می رساند. خوش برخوردست ولی عموما مشغول تفکر به ان می باشد که چه عواملی باعث جلب توجه و اجتماعی بودن انها می شود.
                                                    </span>
                                              <p>
                                                        <a href="~/Content/Files/MBTI/INFP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "INTP":
                                                    <span>
                                                        آرام و تودار می باشد. در ازمون های اموزشی بخصوص در زمینه علمی و تئوری بسیار موفق می باشد. در موشکافی از مسائل، منطقی عمل می کند. عموما به ایده ها و نظریات جدید علاقه نشان می دهد. توجه زیادی به محافل اجتماعی و یا بحث های بیهوده ندارد. به نظرمی رسد علایق منحصربه فرد و پیچیده ای دارد. نیاز به انتخاب شغل هایی دارد که بتواند از موضوعات مورد علاقه و سرگرمی او در زمینه کارهای مفید استفاده نماید.
                                                    </span>
                                             <p>
                                                        <a href="~/Content/Files/MBTI/INTP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                           
                                                case "ENFP":
                                                    <span>
                                                        پرحرارت و پر انرژی می باشد و روحیه بالایی دارد. دارای قوه تخیل بالا و مبتکر می باشد. تقریبا توانایی هرکاری که به علاقمند است را دارد. در پیدا کردن راه حل برای هر نوع مشکل سریع عمل می کند و اماده کمک به هرکسی که در حل مشکل باشند؛ هست. بجای اینکه خود را از قبل اماده کند، به توانایی های بالقوه اش متکی است، توانایی یافتن دلایل کافی برای خویش دارد.
                                                    </span>
                                              <p>
                                                        <a href="~/Content/Files/MBTI/ENFP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ENTP":
                                                    <span>
                                                        صریح و بی ریا می باشد و درزمینه های مختلف توانایی دارد. یک دوست پرهیجان، باهوش و پرحرف و رک می باشد. برای لذت بردن، از هر دو طرف یک موضوع بحث می کند. درپیدا کردن راه حل های مبتکرانه در مورد موضوعات پیچیده از خود مهارت های خاصی نشانی می دهد. از انجام کارهای یکنواخت روزمره سرباز می زند. همیشه در حال یافتن موضوع جدید مورد علاقه می باشد. قادر به یافتن دلایل منطقی برای هرکاری که می خواهد انجام دهد می باشد.
                                                    </span>
                                             <p>
                                                        <a href="~/Content/Files/MBTI/ENTP.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ENFJ":
                                                    <span>
                                                        مسئولیت پذیر و دلسوز می باشد. احساس واقعی نسبت به انچه دیگران می خواهند و فکر می کنند، دارد. سعی در انجام کارهای دیگران با توجه زیاد به احساسات و عواطف انها دارد. در ارائه یک موضوع یا رهبری یک بحث گروهی توانایی خاصی دارد و از عهده ان به اسانی بر می اید. زودجوش، محبوب و فعال در امور اموزشی می باشد. در عین حال زمان کافی جهت مطالعات متنوع برای انجام بهتر کارها تخصیص می دهد.
                                                    </span>
                                              <p>
                                                        <a href="~/Content/Files/MBTI/ENFJ.pdf"  target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                                                case "ENTJ":
                                                    <span>
                                                        پرنشاط، صادق و موفق در مطالعات و آموزش های تحصیلی می باشد. قدرت رهبری در فعالیت های مختلف دارد. معمولا در کارهاییکه نیاز به منطق زیاد و بیان هوشیارانه دارد، مثل صحبت کردن دریک جمع موفق می شود. اطلاعات کافی راجع به موضوعات روز دارد و همچنان به منبع اطلاعاتی خود می افزاید. گاهی اوقات اعتماد به نفس و روحیه قویتری نسبت به تجربه واقعی خود در زندگی به دیگران ارائه می نماید.
                                                    </span>
                                               <p>
                                                        <a class="btnB" href="~/Content/Files/MBTI/ENTJ.pdf" target="_blank">دریافت فایل تحلیلی</a>
                                                    </p>
                                                    break;
                    
                                            }
                                            
                                           
                                         } 
                                        
                                         
                                        <p style="padding-top:40px;text-align:left; padding-left:20px;">
                                            <a  href="@Url.Action("MBTI","Application",new { MBTIStatus= Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Reset, QuestionNo=Model.QuestionNo, AnswerNo=0})"
                                                onclick="return confirm('آیا میخواهید نتیجه تست رو پاک کرده و دوباره از اول شروع نمایید?');"
                                                >
                                                <span style="font-size:smaller;color:GrayText">
                                                    انجام مجدد تست MBTI
                                                </span>
                                                
                                            </a>
                                        </p>
                                          <div>@{
                                        
                                                    var parentApp = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetApplicationsByCriteria(new[] { "Special" })[0];
                                                    }
                                                 @Html.Action("ShowParentApplicationExept", "Application", new { area = "User", except=mbtiApplication, parent=parentApp })

                                            </div>
                                            
                                    </main>
                                </article>
                            </section>
                        </div>
                    <!--main-wrapper-->
                        
                    }
        
                }
            else
            {
                var mbtiQuestion=Offtick.Business.Services.Managers.ApplicationManager.Instance.getMBTIApplicationQuestionById(questionNo);
                int questionCount=Model.QuestionNo > 28 ? 88 : 28;
                int percentage = Model.QuestionNo * 100 /questionCount;
               // string progressBarTitle = string.Format("  {0}% Complete ( {1} of {2} )", percentage, Model.QuestionNo, questionCount);
                string progressBarTitle = string.Format("{0} of {1}",  Model.QuestionNo, questionCount);
                
                <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <span class="badge-number defStyle1">سوال @Model.QuestionNo </span>@mbtiQuestion.Question

                        </header>
                        <main class="article-body">

                            <div class="col-container">
                                <section class="layout">
                                    <div class="col">
                                        <a href="@Url.Action("MBTI","Application",new { MBTIStatus= Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Running, QuestionNo=Model.QuestionNo, AnswerNo=1})" >
                                            <span>@mbtiQuestion.AnswerA</span>
                                         </a>
                                    </div>

                                     <div class="col">
                                          <a href="@Url.Action("MBTI","Application",new { MBTIStatus= Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Running, QuestionNo=Model.QuestionNo, AnswerNo=2})" >
                                            <span>@mbtiQuestion.AnswerB</span>
                                         </a>
                                     </div>
                                  </section>
                          
                            </div>
                             


                              <div class="steps-nav">
                                    <a class="next-step"  href="@Url.Action("MBTI","Application",new { MBTIStatus= Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Next, QuestionNo=Model.QuestionNo, AnswerNo=0})">
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                        <span>بعدی</span>
                                    </a>
                                    <progress max="100" value="@percentage" style="width:800px;direction:ltr;" title="@progressBarTitle"></progress>
                                    
                                  <a class="previous-step"   href="@Url.Action("MBTI","Application",new { MBTIStatus= Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Previous, QuestionNo=Model.QuestionNo, AnswerNo=0})">
                                       <span>قبلی</span>
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>    
                                  </a>
                                </div>
                                  
                            

                          
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
            
              
               
    
    
            }
    }

@if (currentUser!=null  && currentUser.UserName != ownerUserName)
{
    @Html.Action("MBTIAdmin","Application",new{area="User"})
}
