﻿@{
    ViewBag.Title = "MBTI Application";
    Layout = "";
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var mbtiApplication=Offtick.Business.Services.Managers.ApplicationManager.Instance.GetMBTIApplication();
    var owner=mbtiApplication.MembershipUser;
    bool isCurrentBelongsToOwner=owner!=null ? currentUser.UserName.Equals(owner.UserName):false;
}


@if (isCurrentBelongsToOwner && mbtiApplication.ApplicationMBTIResults!=null)
{
    <table class="rowTable">
         <thead>
           <tr>
               <td>
                   User
               </td>
               <td>
                   Test Result
               </td>
                <td>
                    View Profile
               </td>
                 <td>
                    Send Message
               </td>
    
           </tr>
       </thead>
         @foreach (var bmtiResult in mbtiApplication.ApplicationMBTIResults)
            {
                var otherUser = bmtiResult.MembershipUser;
                bool isValidTest = Offtick.Business.Services.Managers.ApplicationManager.Instance.isValidAnswersForMBTI(bmtiResult);
             if(isValidTest){
                 
                var ifManager = new Offtick.Business.Services.Storage.File.ImageFileManager(otherUser.UserId.ToString());
                var otherImgUrlDefault = "/Content/Images/personal32.png";
                                
                    var otherImgUrl=ifManager.GetFullFileName( otherUser.Picture, true);
                    if (ifManager.IsExit(otherImgUrl))
                    {
                        otherImgUrl = ifManager.GetRelativeFullFileName(otherUser.UserId.ToString(),otherUser.Picture, true); ;
                    }
                    else
                    {
                        otherImgUrl = otherImgUrlDefault;
                    }
                            
                <tr>
                        <td>
                            
                                @* <a href="@Url.Action("OtherProfile","Profile", new {area="User", userName=otherUser.UserName})">*@
                                     <div class="row">
                                        <img src="@otherImgUrl" style="max-height:32px;max-width:32px;" class="col-md-6"/>
                                         <span class="col-md-6">
                                             @string.Format("{0} {1}",otherUser.FirstName,otherUser.LastName)
                                         </span>
                                    </div>
                              @*  </a>*@
                            
                           
                        </td>
                        <td >
                            
                                @bmtiResult.Result
                           
                        </td>
                    <td>
                        <a href="@Url.Action("OtherProfile","Profile", new {area="User", userName=otherUser.UserName})"  class="btn btn-default">
                               <span class="fa fa-eye">@otherUser.UserName</span>
                            </a>
                    </td>
                    <td>
                          <a href="@Url.Action("ConversationFor", "Conversation", new { otherUserName = otherUser.UserName })" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span>Send Message</a>

                    </td>
                 </tr>
         }
               
            }
    </table>
}