﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.SelectMajorModel
@{
    ViewBag.Title = "انتخاب رشته";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int step = Model == null ? -1 : Model.Step;
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var application = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetSelectMajorApplication();
    var majorChoiceResult = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetMajorChoiceResultForUser(currentUser);
    var currentStep = Model != null ? Model.Step : 0;
    int choiceCount = majorChoiceResult != null ? majorChoiceResult.ApplicationMajorChoiceResultDetails.Count : 0;
}

<script type="text/javascript">
    $(function () {
       
        //var applicationSelectMajorChoices = [];
        var choiceCounter = parseInt("@choiceCount");
        var isMajorChoiceChanaged = false;

        $("#btnAddMajorCityUniversity").click(function () {
            isMajorChoiceChanaged = true;
            choiceCounter++;
            var selectedCityId = $("#lstUniversityCities option:selected").val();
            var selectedCityName = $("#lstUniversityCities option:selected").text();

            var selectedUniversityId = $("#lstUniversities option:selected").val();
            var selectedUniversityName = $("#lstUniversities option:selected").text();

            var selectedMajorId = $("#lstUniversityMajors option:selected").val();
            var selectedMajorName = $("#lstUniversityMajors option:selected").text();

          //  var newChoice =  {city:selectedCity,university:selectedUniversity,major:selectedMajor};
            // applicationSelectMajorChoices.push(newChoice);
            var appendRow = ' <tr class="SelectMajorChoiceRow">' +
                                                                '<td>'+'</td>'+
                                                                            '<td>'+
                                                                                '<span class="SelectMajorChoiceTdCity font75" data-major="' + selectedCityId + '">' +
                                                                                    selectedCityName+
                                                                                '</span>'+
                                                                            '</td>'+
                                                                            '<td>'+
                                                                                 '<span class="SelectMajorChoiceTdUniversity font75" data-major="' + selectedUniversityId + '">' +
                                                                                      selectedUniversityName+
                                                                                '</span>'+
                                                                            '</td>' +
                                                                            '<td>' +
                                                                                '<span class="SelectMajorChoiceTdMajor font75" data-major="' + selectedMajorId + '">' +
                                                                                   selectedMajorName +
                                                                                '</span>' +

                                                                            '</td>' +
                                                                            '<td>'+
                                                                                 '<a href="#" class="btnRemoveMajorCityUniversity">'+
                                                                                        '<span>حذف</span>'+
                                                                                        '<i class="fa fa-minus"></i>'+
                                                                                    '</a>'+
                                                                            '</td>' +
                                                                            
                                                                        '</tr>';
            $("#tableSelectMajorChoices > tbody").append(appendRow);


        });

        $(document).on('click', '.btnRemoveMajorCityUniversity', function (e) {
            isMajorChoiceChanaged = true;
            choiceCounter--;
            var td = $(this).parent();
            var tr = td.parent();
            //change the background color to red before removing
            tr.css("background-color", "#FF3700");

            tr.fadeOut(400, function () {
                tr.remove();
            });
        });

        
        $("#btnStartSelectMajor").click(function () {
            var urlOfAction = "@Html.Raw(Url.Action("SelectMajor", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Next, Step = 1 }))";
            var urlOfCheckingAction="@Url.Action("CheckRandomNumberIsValid", "Application", new { area = "User" })";

            var postData = { randomNumber: $("#txtRandomPassword").val() };
            $.ajax({
                type: 'POST',
                url: urlOfCheckingAction,
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data && data.IsValid == true) {
                            window.location.href = urlOfAction;
                        }
                        else
                        alert("شماره رمز اشتباه است و یا قبلا استفاده شده است");
                    }
                },
                error: function (xhr, textStatus, error) {
                    alert("خطا در پردازش، کد رمز را به صورت عدد وارد نموده و سپس ارتباط اینترنت خود را چک کرده و دوباره سعی نمایید.");

                }
            });
            

        });

        $("#btnContineSelectMajor").click(function () {
            
            var urlOfAction = "@Html.Raw(Url.Action("SelectMajor", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Running, Step = Model.Step + 1 }))";
            var currentStepJS=parseInt("@currentStep");


            if (currentStepJS == 1) {
                urlOfAction += "&ApplicationMajorChoiceHighSchoolId=" + $("#lstHighSchoolMajor option:selected").val();
                
            }


            if (currentStepJS == 2) {
                var choices = [];
                var _stringChoices = "";
                if (isMajorChoiceChanaged) {
                    $(".SelectMajorChoiceRow").each(function () {

                        var _ApplicationMajorChoiceUniversityMajorId;
                        var _ApplicationMajorChoiceCityId;
                        var _ApplicationMajorChoiceUniversityId;

                        $(this).find("span").each(function () {

                            if ($(this).hasClass("SelectMajorChoiceTdMajor")) {
                                _ApplicationMajorChoiceUniversityMajorId = $(this).attr("data-major");
                            }
                            if ($(this).hasClass("SelectMajorChoiceTdCity")) {
                                _ApplicationMajorChoiceCityId = $(this).attr("data-major");
                            }
                            if ($(this).hasClass("SelectMajorChoiceTdUniversity")) {
                                _ApplicationMajorChoiceUniversityId = $(this).attr("data-major");
                            }
                        });
                        choices.push({ ApplicationMajorChoiceUniversityMajorId: _ApplicationMajorChoiceUniversityMajorId, ApplicationMajorChoiceCityId: _ApplicationMajorChoiceCityId, ApplicationMajorChoiceUniversityId: _ApplicationMajorChoiceUniversityId });
                        if (_stringChoices != "") {
                            _stringChoices += "__" + "ApplicationMajorChoiceUniversityMajorId:" + _ApplicationMajorChoiceUniversityMajorId + "_ApplicationMajorChoiceCityId:" + _ApplicationMajorChoiceCityId + "_ApplicationMajorChoiceUniversityId:" + _ApplicationMajorChoiceUniversityId;
                        }
                        else {
                            _stringChoices = "ApplicationMajorChoiceUniversityMajorId:" + _ApplicationMajorChoiceUniversityMajorId + "_ApplicationMajorChoiceCityId:" + _ApplicationMajorChoiceCityId + "_ApplicationMajorChoiceUniversityId:" + _ApplicationMajorChoiceUniversityId;
                        }
                    });
                }
               
                //var stringChoices = JSON.stringify(choices);
                urlOfAction += "&ApplicationMajorChoiceHighSchoolId=@Model.ApplicationMajorChoiceHighSchoolId&StringChoices=" + _stringChoices;
            }


            if (currentStepJS == 3) {
                urlOfAction += "&ApplicationMajorChoiceHighSchoolId=@Model.ApplicationMajorChoiceHighSchoolId";
                urlOfAction += "&CityWeight=" + $("#txtCityWeight").val() + "&UniversityWeight=" + $("#txtUniversityWeight").val() + "&MajorWeight=" + $("#txtMajorWeight").val();;
            }
            if (currentStepJS == 4) {
                
                var _stringCityGrades = "";
                $(".inputCityGrade").each(function () {
                    var _cityId = $(this).attr("data-cityId");
                    if (_stringCityGrades != "")
                        _stringCityGrades += "_" + _cityId + ":" + $(this).val();
                    else
                        _stringCityGrades =_cityId + ":" + $(this).val();
                });

                var _stringUniversityGrades = "";
                $(".inputUniversityGrade").each(function () {
                    var _universityId = $(this).attr("data-universityId");
                    if (_stringUniversityGrades != "")
                        _stringUniversityGrades += "_" + _universityId + ":" + $(this).val();
                    else
                        _stringUniversityGrades = _universityId + ":" + $(this).val();
                });

                var _stringMajorGrades = "";
                $(".inputMajorGrade").each(function () {
                    var _majorId = $(this).attr("data-majorId");
                    if (_stringMajorGrades != "")
                        _stringMajorGrades += "_" + _majorId + ":" + $(this).val();
                    else
                        _stringMajorGrades = _majorId + ":" + $(this).val();
                });


                urlOfAction += "&ApplicationMajorChoiceHighSchoolId=@Model.ApplicationMajorChoiceHighSchoolId&StringChoices=" + _stringCityGrades + "__" + _stringUniversityGrades + "__" + _stringMajorGrades;
                }
                        
            window.location.href = urlOfAction; 

        });
       
    });
</script>





  

      
            
             <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>انتخاب رشته

                                <div style="text-align:left;">
                                    <a href="http://razeentekhab.com/" target="_blank">
                                        <img  src="~/Content/Images/Applications/RazentekhabLogo.png" /> 
                                    </a>
                            </div>
                            </h3>
                            
                            

                        </header>
                        <main class="article-body">

                              @if (Model == null || step < 1)
                              {

                                  Offtick.Web.OfftickWeb.Areas.User.Models.SelectMajorModel newModel = new Offtick.Web.OfftickWeb.Areas.User.Models.SelectMajorModel();


                                  newModel.ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Next;
                                  newModel.Step = 1;

                                  var newModel2 = new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Next, Step = 1 };
                            
                                   @*<div >
                                            @Html.ActionLink("شروع انتخاب رشته", "SelectMajor", newModel2, new { @class = "btnB" })
                 
                                    </div>*@
                                  
                                  <p>
                                        @MvcHtmlString.Create(application.Description)
                                  </p>
                                        <div >
                                            <p>
                                                کد رمز برنامه را وارد نمایید :
                                                
                                                <input type="text" id="txtRandomPassword" value="@System.Web.HttpContext.Current.Session["randomNumberSessionObjectKey"]" />
                                            </p>
                                   @* @Html.ActionLink("شروع انتخاب رشته", "SelectMajor", newModel2, new { @class = "btnB" })*@
                                            <a class="btnB"  id="btnStartSelectMajor" href="#" >
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                <span>شروع انتخاب رشته</span>
                                            </a>
                 
                                    </div>
                                 
                                   
                              }
                              else
                              {
                                  if (Model.Step == 1)
                                  {
                                      <br /><span>
                                          رشته دبیرستان خود را انتخاب نمایید
                                            </span>
                                      <p>
                                          @Html.DropDownListFor(e => e.ApplicationMajorChoiceHighSchoolId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getApplicationSelectMajorHighSchoolMajorDropdownDataSource(),
                                            new { id = "lstHighSchoolMajor", @class = "dropdownRight", style = "width:100px;" })
                                      </p>
                                  
                                  }
                                  if (Model.Step == 2)
                                  {



                                      if ((Model.ApplicationStatus == Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Finished
                                          && majorChoiceResult != null
                                     && currentUser != null) || Model.ApplicationStatus == Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Running)
                                      {
                                                         <div class="table-wrapper">
                                                               <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tableSelectMajorChoices">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">ردیف</th>
                                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">شهر</th>
                                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">دانشگاه</th>
                                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="1"><abbr title="Rotten Tomato Rating">رشته</abbr></th>
                                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="4">عملیات</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td></td>
                                                                        <td>
                                                                             @Html.DropDownList("lstUniversityCities", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getApplicationSelectMajorUniversityCitiesDropdownDataSource(Model.ApplicationMajorChoiceHighSchoolId),
                                                                               new { id = "lstUniversityCities", @class = "font75" })
                                                                        </td>
                                                                        <td>
                                                                             @Html.DropDownList("lstUniversities", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getApplicationSelectMajorUniversitiesDropdownDataSource(Model.ApplicationMajorChoiceHighSchoolId),
                                                                               new { id = "lstUniversities", @class = "font75" })
                                                                        </td>
                                                                         <td>
                                                                             @Html.DropDownList("lstUniversityMajors", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getApplicationSelectMajorUniversityMajorsDropdownDataSource(Model.ApplicationMajorChoiceHighSchoolId),
                                                                               new { id = "lstUniversityMajors", @class = "font75" })
                                                                        </td>
                                                                        <td>
                                                                            <a href="#" id="btnAddMajorCityUniversity">
                                                                                <span>اضافه</span>
                                                                                <i class="fa fa-plus"></i>
                                                                            </a>
                                                                        </td>
                                                                
                                                                    </tr>
                                                                        @if (majorChoiceResult != null)
                                                                        {
                                                                            var universities = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversities(Model.ApplicationMajorChoiceHighSchoolId);
                                                                            var cities = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversityCities(Model.ApplicationMajorChoiceHighSchoolId);
                                                                            var majors = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversityMajors(Model.ApplicationMajorChoiceHighSchoolId);
                                                                            int counter = 0;
                                                                            foreach (var item in majorChoiceResult.ApplicationMajorChoiceResultDetails)
                                                                            {
                                                                                counter++;
                                                                                <tr class="SelectMajorChoiceRow">
                                                                                    <td>
                                                                                        @counter
                                                                                    </td>
                                                                                    <td>
                                                                                        <span class="SelectMajorChoiceTdCity font75" data-major="@item.ApplicationMajorChoiceCityId">
                                                                                            @cities.First(e => e.ApplicationMajorChoiceCityId.Equals(item.ApplicationMajorChoiceCityId)).CityName
                                                                                        </span>
                                                                                
                                                                                    </td>
                                                                                    <td>
                                                                                         <span class="SelectMajorChoiceTdUniversity font75" data-major="@item.ApplicationMajorChoiceUniversityId">
                                                                                              @universities.First(e => e.ApplicationMajorChoiceUniversityId.Equals(item.ApplicationMajorChoiceUniversityId)).UniversityName
                                                                                        </span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <span class="SelectMajorChoiceTdMajor font75" data-major="@item.ApplicationMajorChoiceUniversityMajorId">
                                                                                            @majors.First(e => e.ApplicationMajorChoiceUniversityMajorId.Equals(item.ApplicationMajorChoiceUniversityMajorId)).MajorName
                                                                                        </span>
                                                                                 
                                                                                    </td>
                                                                                    <td>
                                                                                         <a href="#" class="btnRemoveMajorCityUniversity">
                                                                                                <span>حذف</span>
                                                                                                <i class="fa fa-minus"></i>
                                                                                            </a>
                                                                                    </td>
                                                                        
                                                                                </tr>
                                                                            }
                                                                        }

                                                            
                                                            

                                                            </tbody>
                                                        </table>
                                                        </div>
                                                        <!--items-table-container-->
                                      }




                                  }

                                  if (Model.Step == 3)
                                  {
                                   
                                      
                                       <div class="table-wrapper">
                                            <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tableSelectMajorChoices">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">شهر</th>
                                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">دانشگاه</th>
                                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">رشته</th>
                                                    </tr>
                                                </thead>
                                                    <tbody>
                                                        <tr>
                                                        <td>
                                                            @Html.TextBoxFor(e => e.CityWeight, new { id = "txtCityWeight" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(e => e.UniversityWeight, new { id = "txtUniversityWeight" })
                                                        </td>
                                                        <td>
                                                            @Html.TextBoxFor(e => e.MajorWeight, new { id = "txtMajorWeight" })
                                                        </td>
                                                    </tr>   
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--items-table-container-->
                                      
                                  }



                                  if (Model.Step == 4)
                                  {

                                      var universities = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversities(Model.ApplicationMajorChoiceHighSchoolId);
                                      var cities = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversityCities(Model.ApplicationMajorChoiceHighSchoolId);
                                      var majors = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversityMajors(Model.ApplicationMajorChoiceHighSchoolId);
                                       
                                       <div class="table-wrapper">
                                                <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tableSelectMajorChoices">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">شهر</th>
                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3">دانشگاه</th>
                                                            <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="2">رشته</th>
                                                        </tr>
                                                    </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                     <table>
                                                                        <tbody>
                                                                            @foreach (var entity in majorChoiceResult.ApplicationMajorChoiceResultCityGrades)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="font75">  @cities.First(e => e.ApplicationMajorChoiceCityId.Equals(entity.ApplicationMajorChoiceCityId)).CityName</span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="inputCityGrade" data-cityId="@entity.ApplicationMajorChoiceCityId" value="@entity.CityGrade" style="width:50px;"/>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                <td>
                                                                     <table>
                                                                            <tbody>
                                                                                @foreach (var entity in majorChoiceResult.ApplicationMajorChoiceResultUniversityGrades)
                                                                                {
                                                                                    <tr>
                                                                                        <td>
                                                                                            <span class="font75">  @universities.First(e => e.ApplicationMajorChoiceUniversityId.Equals(entity.ApplicationMajorChoiceUniversityId)).UniversityName</span>
                                                                                        </td>
                                                                                        <td>
                                                                                            <input type="text"  class="inputUniversityGrade" data-universityId="@entity.ApplicationMajorChoiceUniversityId" value="@entity.UniversityGrade" style="width:50px;"/>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            
                                                                            </tbody>
                                                                        </table>
                                                                </td>
                                                            <td>
                                                                 <table>
                                                                        <tbody>
                                                                            @foreach (var entity in majorChoiceResult.ApplicationMajorChoiceResultMajorGrades)
                                                                            {
                                                                                <tr>
                                                                                    <td>
                                                                                        <span class="font75">   @majors.First(e => e.ApplicationMajorChoiceUniversityMajorId.Equals(entity.ApplicationMajorChoiceUniversityMajorId)).MajorName</span>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input type="text" class="inputMajorGrade" data-majorId="@entity.ApplicationMajorChoiceUniversityMajorId" value="@entity.MajorGrade" style="width:50px;"/>
                                                                                    </td>
                                                                                </tr>
                                                                            }
                                                                            
                                                                        </tbody>
                                                                    </table>
                                                            </td>
                                                        </tr>   
                                                    </tbody>
                                                </table>
                                            </div>

                                  }

                                  if (Model.Step == 5)
                                  {

                                      if (Model.ApplicationStatus == Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Finished
                                          && majorChoiceResult != null)
                                      {


                                          if (currentUser == null)
                                          {
                                                 <h3>نتیجه تست: </h3>
                                                    <script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")"></script>

                                                    <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/jalali.js")"></script>
                                                    <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar.js")"></script>
                                                    <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar-setup.js")"></script>
                                                    <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/lang/calendar-fa.js")"></script>

                                             
                                                    <b>
                                                        تست شما با موفقیت انجام شد، برای مشاهده نتیجه موارد زیر را وارد نمایید.
                                                    </b>
                                             
                                              TempData["HasRegisterLayout"] = false;
                                              TempData["registerMode"] = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal;
                                     
                                                   @Html.Action("Register", "Account", new { area = "", registerMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal, hasLayout = false, returnUrl = Url.Action("SelectMajor", "Application", new { area = "User", ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.FinishedNotPersisted }) })
                                             
                                          }
                                          else
                                          {
                                                

                                                    <h3>نتیجه اولویت محاسبه شده برای رشته های انتخابی</h3>
                                  
                                  
                                  
                                                     <div class="table-wrapper">
                                                            <table class="tablesaw tablesaw-stack" data-tablesaw-mode="stack" id="tableSelectMajorChoices">
                                                                <thead>
                                                                    <tr>
                                                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-priority="persist">ردیف</th>
                                                                        <th scope="col" data-tablesaw-sortable-col data-tablesaw-sortable-default-col data-tablesaw-priority="3"></th>
                                                                    </tr>
                                                                </thead>
                                                                    <tbody>
                                                                          @{
                                              var universities = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversities(Model.ApplicationMajorChoiceHighSchoolId);
                                              var cities = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversityCities(Model.ApplicationMajorChoiceHighSchoolId);
                                              var majors = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetUniversityMajors(Model.ApplicationMajorChoiceHighSchoolId);
                                              int counter = 0;
                                              foreach (var item in majorChoiceResult.ApplicationMajorChoiceResultDetails)
                                              {
                                                  counter++;
                                                                                <tr>
                                                                                    <td>
                                                                                        @counter
                                                                                    </td>
                                                                                    <td>
                                                                                        @string.Format("{0}-{1}-{2}",
                                                                                        cities.First(e => e.ApplicationMajorChoiceCityId.Equals(item.ApplicationMajorChoiceCityId)).CityName
                                                                                        , universities.First(e => e.ApplicationMajorChoiceUniversityId.Equals(item.ApplicationMajorChoiceUniversityId)).UniversityName
                                                                                        , majors.First(e => e.ApplicationMajorChoiceUniversityMajorId.Equals(item.ApplicationMajorChoiceUniversityMajorId)).MajorName
                                                                                             )
                                                                                    </td>
                                                                                </tr>
                                              }
                                                                          }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                  
                                  
                                               
                                  
                                                       
                                      
                                            
                                                  <p style="padding-top:40px;text-align:left; padding-left:20px;">
                                                        <a  href="@Url.Action("SelectMajor", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Reset })"
                                                            onclick="return confirm('آیا میخواهید نتیجه تست رو پاک کرده و دوباره از اول شروع نمایید?');"
                                                            >
                                                            <span style="font-size:smaller;color:GrayText">
                                                                انجام مجدد تست انتخاب رشته
                                                            </span>
                                                
                                                        </a>
                                                  </p>
                                                <div>@{
                                        
                                                    var parentApp = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetApplicationsByCriteria(new[] { "Special" })[0];
                                                        }
                                                        @Html.Action("ShowParentApplicationExept", "Application", new { area = "User", except = application, parent = parentApp })

                                                </div>
                                             
                                          }
                                      }
                                  }




                                  if (!((Model.ApplicationStatus == Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Finished
                                      || Model.ApplicationStatus == Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.FinishedNotPersisted) && currentUser == null))
                                  {

                                      int percentage = currentStep * 100 / 4;
                                      // string progressBarTitle = string.Format("  {0}% Complete ( {1} of {2} )", percentage, Model.QuestionNo, questionCount);
                                      string progressBarTitle = string.Format("{0} of {1}", currentStep, 4);
                                
                                              <div class="steps-nav">
                                                    <a class="next-step"  id="btnContineSelectMajor" href="#">
                                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                        <span>بعدی</span>
                                                    </a>
                                                    <progress max="100" value="@percentage" style="width:800px;direction:ltr;" title="@progressBarTitle"></progress>
                                    
                                                  <a class="previous-step"   href="@Url.Action("SelectMajor", "Application", new { ApplicationStatus = Offtick.Web.OfftickWeb.Areas.User.Models.ApplicationStatus.Previous, Step = Model.Step - 1, ApplicationMajorChoiceHighSchoolId = Model.ApplicationMajorChoiceHighSchoolId })">
                                                       <span>قبلی</span>
                                                            <i class="fa fa-arrow-left" aria-hidden="true"></i>    
                                                  </a>
                                                </div>
                                  }
                              }
                             
                                  
                            

                          
                                </main>
                            </article>
                        </section>
                    </div>
                     
        <!--main-wrapper-->
        }
      
