﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Application
@if(Model!=null && Model.Application1!=null && Model.Application1.Count()>0)
{
        ViewBag.Title = "Applications";
       

        var showParentLayot = TempData["showParentLayout"];
        if (showParentLayot == null || (bool)showParentLayot == true)
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
             <span class="h3" style="margin-top:50px;"> @Model.Name:</span>
        }
       
      
    @*
  
  
  
    
        foreach (var subApp in Model.Application1)
        {
            
            <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3> <a href="@Url.Action("SelectApplication","Application",new{area="User",applicationId=subApp.ApplicationID})">@subApp.Name</a></h3>

                        </header>
                        <main class="article-body">
                            @{
                                HtmlString descHtml = new HtmlString(subApp.Description);
                            }
                            <p style="text-align:justify;">@descHtml</p>
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->


        }

    
    *@

   
  
  
  
    <div class="main-wrapper single-page">
                <section class="layout">
                    <ul class="listCols">
                        @{
                            int counter = Model.Application1.Count;
                        }
                     @foreach (var subApp in Model.Application1)
                        {
            
            
                                        <li class="col" style="z-index:@counter;">
                                             @Html.Partial("ApplicationItem",subApp)
                             
                                        </li>
                   
                            counter--;

                        }
                 </ul>
                   
                </section>
            </div>
        <!--main-wrapper-->
    
    


}


   



      


