﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.Application>
@{
    ViewBag.Title = "Applications";
    if (!string.IsNullOrEmpty(ViewBag.customLayout))
    {
        Layout = ViewBag.customLayout;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}

@{ int counter=0;
      int max = Model == null ? 0 : Model.Count();
      
      }

<span class="h3" style="margin-top:50px;">
    برنامه ها:
</span>
<table class="ControlItemCollectionTable">

@if (Model!=null)
{
        foreach (var controlItem in Model)
            {
                if(counter%5==0)
                {
                        @: <tr>
                            }
                counter++;
                        <td>
              
                            @Html.Partial("ApplicationItem",controlItem)
                        </td>
   
                    if(counter%5==0 || counter==max)
                {
                        @: </tr>
                            }
         
       
            }
}
    </table>