﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.Application>
@if(Model!=null  && Model.Count()>0)
{
      
       

   
   
  
  
  
    <div class="main-wrapper single-page">
                <section class="layout">
                    <ul class="listCols">
                        @{
                            int counter = Model.Count;
                        }
                     @foreach (var subApp in Model)
                        {
                            string name = subApp.Symbol;
                            string imgUrl = subApp.ImageUrl;
                            string applicationId =  subApp.ApplicationID.ToString() ;
                            var countOfTaken = Offtick.Business.Services.Managers.ApplicationManager.Instance.CountOfTaken(subApp);
            
                                        <li class="col-sm" style="z-index:@counter;">
                                            <div style="border:1px solid #46464f;flex-align:center;text-align:center;">
                                                <div>
                                                    @name
                                                </div>
                                                <div >
                                                     <a title="@name" href="@Url.Action("SelectApplication", "Application", new { area="User",applicationId=applicationId})" >
                                                         <img src="@imgUrl" style="width:64px;height:64px;" class="img-circle"/>
                                                     </a>
                                                </div>
                                                <div>
                                                    <a title="Count of Taken"  href="@Url.Action("SelectApplication", "Application", new { area="User",applicationId=applicationId})">
                                                       <span  class="glyphicon glyphicon-check">
                                                            @countOfTaken انتخاب شده
                                                       </span>
            
                                                    </a>
                                                </div>

                                            </div>
                             
                                        </li>
                   
                            counter--;

                        }
                 </ul>
                   
                </section>
            </div>
        <!--main-wrapper-->
    
    


}


   



      


