﻿<!DOCTYPE html>

@{
    
    var otherUserName = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetOtherUserName(this);
    
    var currentUser=Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = currentUser != null ? currentUser.UserName : string.Empty;
    bool fullSize = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.IsFullSize(this);
    
    

     var applications = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetAllApplications();
     int counter = 0;
     int max = applications == null ? 0 : applications.Count();
    
}

@*<html manifest="@Url.Action("Manifest", "Home", new {area="" })">
<html manifest="@Url.Content("~/manifest.manifest")">*@
<html >


<head>

    <link rel="stylesheet" href="@Url.Content("/Content/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/css/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/css/skins/aqua/theme.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/css/tablesaw.css")" >
    <link rel="stylesheet" href="@Url.Content("/Content/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/SiteCss.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >
    <script type="text/javascript" src="@Url.Content("/Content/js/lib/modernizr.custom.min.js")"></script>
    <link rel="stylesheet" href="@Url.Content("/Content/css/slider-pro.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/grid/grid.min.css")">
    <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("/Content/css/chosen.min.css")">

@*    <script type="text/javascript" src="js/lib/jquery-1.11.3.min.js"></script>*@


        



@*    <link rel="stylesheet" href="@Url.Content("/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/LayoutStyle.css")">
<link rel="shortcut icon" href="@Url.Content("/Content/Images/offtick_logo.png")" type="image/png">
     <link rel="stylesheet" href="@Url.Content("/Content/css/font-awesome.min.css")">

    <script src="@Url.Content("~/Scripts/purl.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>*@
@*   <script type="text/javascript" src="@Url.Content("~/Content/js/lib/jquery-1.11.3.min.js")"></script>*@

    <link rel="shortcut icon" href="@Url.Content("/Content/Images/offtick-logo.png")" type="image/png">
    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-qspin.js")"></script>
    <script src="@Url.Content("~/Scripts/Local/CommonLibrary.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script src="~/Scripts/DoctorOnliner.Communication.js" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/Local/PersianCalender.js")" type="text/javascript"></script>

    <script src="~/Scripts/chosen.jquery.min.js" type="text/javascript"></script>
    
     <script type="text/javascript" >
         $(document).ready(function () {
            @{
                string persianDate = Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(DateTime.Now);
                int year = int.Parse(persianDate.Substring(0, 4));
                int month = int.Parse(persianDate.Substring(5, 2));
                int day = int.Parse(persianDate.Substring(8, 2));

            }
             initializeDate(@year,@month,@day,@year,@month,@day,@year,@month,@day);

             $("#copyright").css("style","none");
         });
    </script>
    <link href="@Url.Content("~/Content/PersianPicker.css")" rel="stylesheet" type="text/css" />


    <meta name="viewport" content="width=device-width" />
    <title>Offtick</title>
</head>
<body >
    @*<div class="body-wrapper profile-page">*@
        <div class="body-wrapper  profile-page">
         @Html.Action("Scripts", "Profile", new { area="User"})





            
          <!--start site-header-->
      
        @Html.Partial("_MembershipMainPageHeader")
       
            
        @Html.Action("ProfileSocialHeader","Profile",new {area="User",userName=otherUserName})
            
       



      <div class="site-main">
        
           @* @Html.Partial("_MembershipMainPageHeader")*@
       
            @if (fullSize)
            {
                    @RenderBody()
            }
            else{
                 @RenderBody()
                 @Html.Partial("_SideColumnsContainer")
            }
           <div id="LoadingIndicator" ></div>

      </div>  
	           
          

                



         <footer class="site-footer">
           @{object _HasApplicationBar = TempData["HasApplicationBar"];
                if (_HasApplicationBar == null || (bool)_HasApplicationBar)
                {
            
                    <div class="footer-columns">
                    <section class="layout">

                        <aside class="footer-col">
                            <a href="@Url.Action("Index", "Home", new { area = "" })"><h4 class="aside-title">آفتیک</h4></a> 
                    
                            <div class="aside-content">
                                <ul>
                                    <li> @Html.ActionLink("ثبت نام در شرکت آفتیک جهت فروش کالا یا خدمات", "Register", "Account", new { RegistrationMode = "select", area = "" }, new { })</li>
                                    @*<li><a href="#">حریم شخصی کاربران</a></li>*@
                                    <li><a href="#">ارسال پیام به آفتیک</a></li>
                                    <li><a href="#"></a>فروشگاه ساز</li>
                                     @*<li><a href="#"></a>ثبت شکایات</li>*@
                     @*                <li><a href="@Url.Action("Compliant", "Home", new { area = "" })" target="_blank"></a>ثبت شکایات</li>
                                   <li><a href="@Url.Action("Privacy","Home",new {area=""})" target="_blank">ضوابط و مقررات</a></li>*@
                                      <li><a href="#" >ضوابط و مقررات</a></li>

                                    @*<li ><a href="@Url.Action("About","Home",new {area=""})" target="_blank">درباره ما</a></li>*@
                                    <li ><a href="#" >درباره ما</a></li>

                                </ul>
                            </div>
                        </aside>

                        @*<aside class="footer-col">
                            <h4 class="aside-title">راهنمای خرید از آفتیک</h4>
                            <div class="aside-content">

                                <ul>
                                    <li><a href="#">آفتیک چگونه کار می کند</a></li>
@*                                    <li><a href="@Url.Action("Help","Home",new {area=""})" target="_blank">راهنمای پرداخت الکترونیک</a></li>
                                    <li><a href="#" >راهنمای پرداخت الکترونیک</a></li>
                                    <li><a href="#">سفارشات چگونه ارسال می شوند</a></li>
                                    <li><a href="#"></a></li>

                                </ul>
                            </div>
                        </aside>*@



                        <aside class="footer-col">
                            <h4 class="aside-title">راهنمای کاربران</h4>
                            <div class="aside-content">
                                <ul>

@*                                    <li><a href="@Url.Action("Agency","Home",new {area=""})" target="_blank">دعوت به همکاری با آفتیک</a></li>
                                     <li><a href="@Url.Action("FAQ","Home",new {area=""})" target="_blank">سوالات متداول</a></li>
                                    *@
                                    @*<li><a href="#" >دعوت به همکاری با آفتیک</a></li>
                                    <li><a href="#" >سوالات متداول</a></li>
                                    <li><a href="#">وبلاگ آفتیک</a></li>*@
                                    <li><a href="#">راهنمای خرید از آفتیک</a></li>
                                    <li><a href="#">راهنمای پرداخت الکترونیک</a></li>
                                    <li><a href="#">سفارشات آفتیک چگونه ارسال می شوند</a></li>
                                    <li>
                                        <p></p>
                                    </li>
                                    <li style="background-color:whitesmoke;float:none; display:inline-block;">
                                        <img id='nbpesguixlapsguihwla' style='cursor:pointer' onclick='window.open("http://trustseal.enamad.ir/Verify.aspx?id=20304&p=wkyndrfsfuixdrfsodsh", "Popup","toolbar=no, location=no, statusbar=no, menubar=no, scrollbars=1, resizable=0, width=580, height=600, top=30")' alt='' src='http://trustseal.enamad.ir/logo.aspx?id=20304&p=qesggthvvjymgthvaods' />
                                        @*<img id='rgvjoeukrgvjjzpejzpe' style='cursor:pointer' onclick='window.open("http://logo.samandehi.ir/Verify.aspx?id=38377&p=xlaomcsixlaojyoejyoe", "Popup","toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30")' alt='logo-samandehi' src='http://logo.samandehi.ir/logo.aspx?id=38377&p=qftiaqgwqftiyndtyndt'/>*@
                                    </li>

                                </ul>
                            </div>
                        </aside>

                        <aside class="footer-col">
                            <h4 class="aside-title"> تماس با آفتیک</h4>
                            <div class="aside-content">
                                <ul>
                                    <li><a href="@Url.Action("Contact","Home",new {area=""})" target="_blank">آدرس: میدان ونک، خیابان شهید حقانی، نرسیده به چهار راه جهان کودک، مرکز رشد نوآوری و فناوری دانشگاه علامه طباطبایی، پلاک 40- واحد 15</a></li>
                                    <li><a href="@Url.Action("Contact","Home",new {area=""})" target="_blank">info@offtick.com</a></li>
                                    <li><a href="@Url.Action("Contact","Home",new {area=""})" target="_blank">تلفن : <span >48394203-021</span></a></li>

                                

                                </ul>
                            </div>
                        </aside>
                
     


                    </section>
                </div>
                }
           }

        <div class="site-credit">
             <span>
تمامي كالاها و خدمات اين فروشگاه، حسب مورد داراي مجوزهاي لازم از مراجع مربوطه مي‌باشند و فعاليت‌هاي اين سايت تابع قوانين و مقررات جمهوري اسلامي ايران است. </span>

              @{
        if (_HasApplicationBar == null || (bool)_HasApplicationBar)
        {
            <span>©2016 - an Abbas Bagherian Kasgari production All Rights Reserved</span>
      
              }else{
               <span>©2016 - Powered by Offtick, All Rights Reserved</span>
              }
              }
  </div>

        <!--footer-columns-->

           @Html.Partial("_MobileBottomApplicationBar")

    </footer>
    <!--site-footer-->
    </div>
          
</body>


<script type="text/javascript" src="@Url.Content("/Content/js/lib/owl.carousel.min.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("/Content/js/lib/cropper.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/plugins/modal-box.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/plugins/offtick-image-uploader.js")"></script>
    
<script type="text/javascript" src="@Url.Content("/Content/js/lib/jquery.sliderPro.min.js")"></script>

<script type="text/javascript" src="@Url.Content("/Content/js/lib/jquery.gallery.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Content/js/plugins/offtick-jquery-plugins.js")"></script>

 

    <script type="text/javascript" src="@Url.Content("/Content/js/scripts.js")"></script>
    <script src="@Url.Content("~/Scripts/grid/grid.min.js")"></script>
    <script src="@Url.Content("~/Scripts/initialApplication.js")"></script>
    
    
</html>
