﻿@if(Request.IsAuthenticated) {
    
    <text>Welcome <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Log Off", "LogOff", "Account" ,new { area = "" }, new { style="color:white"}) ]</text>
    
    @Html.ActionLink("Home","Wall","Profile",new {area="User"}, new { style="color:white"})
}
else {
    <div>
        @Html.Action("SimpleLogin", "Account", new { area=""})
        
    </div>

    
}
