﻿@if(Request.IsAuthenticated) {
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    string name = currentUser.LastName;
    var urlOfImg = "/content/images/user-avatar.png";
    urlOfImg = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnail64Of(currentUser);
    <div class="panel-links">
        <a href="@Url.Action("Index", "Profile", new { area = "User" })" class="user-avatar">
            <img src="@urlOfImg" alt="">
            <span class="user-name">@currentUser.UserName</span>
        </a>
            <a href="@Url.Action("LogOff","Account", new { area = "" })" class="logout-button">خروج</a>                
    </div>
  
}
else {
    
      <div class="panel-links">
        <a href="@Url.Action( "RegisterStep1", "Account", new { area = "",RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal })" class="register-button">ثبت نام</a> |
        <a href="@Url.Action( "LogOn", "Account", new { area = "" })" class="login-button">ورود</a> |
          <a href="@Url.Action( "Index", "Home", new { area = "" })" class="home-button">صفحه اصلی</a>
    </div>
    <!--panel-links-->
    
}

