﻿ 
<table style="width:auto;margin-left:5px;">
    <tr>
        @{
            int maxElement=5;
            for(int i=0;i<maxElement;i++)
            {
                 <td >
                        <a href="@Url.Action("GetDomain"+i,"Domain")">
                            <img src="@Url.Content("~/Content/images/advertisement.jpg")"  style="border:1px solid blue;padding:0px;margin:0px" />
                        </a>

                    
                </td>
                if(i!=maxElement-1)
                {
                        <td style="vertical-align:middle;">
                            <img src="@Url.Content("~/Content/images/advertisement-separator.gif")"   />
                        </td>
                }
            }
        }

    </tr>
</table>

