﻿   <div style="position:relative;margin-bottom:5px; height:30px;">
<hr style="color:blue; position:relative; top:13px;" />  
  
        <div style="position:absolute;z-index:2;">
             @{
                 Random r=new Random();
             for(int i=0;i<6;i++)
             {
                   <a href="@Url.Action("GetDomain" + i, "Domain")" style="text-decoration:none;" >
                       @{string random = "Domain" + r.Next(0, 10000);
                         string lenRandom = (random.Length * 8).ToString()+"px";
                          }
                       <span style="position:relative;top:-5px;left:@lenRandom;">@random </span>
                        <img src="@Url.Content("~/Content/images/main-domain-background.gif")" />
                            
                            </a>
            }
            }
            
            
       </div>
<hr style="color:blue; position:relative; top:15px;" />  
</div>
    



@*   <div style="margin-bottom:5px; height:30px;">
<hr style="color:blue; position:relative; top:13px;" />  
  
        <div style="z-index:2;">
             @{
                 Random r=new Random();
             for(int i=0;i<6;i++)
             {
                 <div style="dispaly:inline;background-image:@Url.Content("~/images/main-domain-background.gif")">
                     <a href="@Url.Action("GetDomain" + i, "Domain")" >
                       
                       
                       
                           amin+ @r.Next(0, 100000)
                            </a>
                 </div>
                   
            }
            }
            
            
       </div>
<hr style="color:blue; position:relative; top:15px;" />  
</div>
    *@

