﻿
<script>
    $(function () {

        $("#mobileSearchCityId").change(function () {
            var actionUrl = "@Url.Action("Index","Home",new {area=""})";
            actionUrl = actionUrl + "?cityName=" + $("#mobileSearchCityId option:selected").text();
             location.href = actionUrl;
        });


        $("#btnSearchFypadHeader").click(searchFypad);

        $("#txtSearchFypadHeader").onEnter(searchFypad);
        function searchFypad() {
            var searchValues = $("#txtSearchFypadHeader").val();
            var splittedSource = searchValues.replace(/\s{2,}/g, ' ').split(' ');


            var urlOfAction = "@Url.Action("Index", "Search", new { area = "User" })";
               urlOfAction += "?searchValue=" + searchValues;
               $(location).attr('href', urlOfAction);
        }

        $("#searchCityId").change(function () {
            var actionUrl = "@Url.Action("Index", "Home", new { area = "" })";
            actionUrl = actionUrl + "?cityName=" + $("#searchCityId option:selected").text();
            location.href = actionUrl;
        });
    });
</script>


@{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    ViewBag.Title = "@Offtick";
    string roleName =string.Empty;
    Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser otherUser = null;
    var otherUserName=Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetOtherUserName(this);
    
    if (!string.IsNullOrEmpty(otherUserName))
    {
        otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(otherUserName);
    }
    
    if (currentUser != null)
    {
        string currentUserName = currentUser.UserName;
        string name = currentUser.FirstName + " " + currentUser.LastName;
        var role = currentUser.MembershipUsersInRoles.FirstOrDefault();
         roleName = role != null ? role.MembershipRole.RoleName : string.Empty;
         
    
        
        <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/Local/ChatServiceEndPoint.js"></script>
         <script type="text/javascript">
             $(function () {
                 initializeSignalR("@currentUser.UserName");
             });
         </script>
    
        var applications = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetAllApplications();

    




  <div class="site-header">
            <div class="top-bar">
                <section class="layout">
                    @{object _HasApplicationBar1 = TempData["HasApplicationBar"];
                            if (_HasApplicationBar1 == null || (bool)_HasApplicationBar1)
                            {
                                <a href="@Url.Action("Index","Home",new {area=""})" class="site-logo-link">
                                    <img src="/Content/images/offtick-logo-69x50.png" alt="" class="site-logo">
                                </a>
                           }
                        }

                    <div class="search-container">
                       @* <form name="searchform" class="search-form" >*@
                            @Html.DropDownList("searchCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource((string)ViewBag.cityName), new { @class = "search-city" })
                            <input type="text" name="txtSearchFypadHeader"  id="txtSearchFypadHeader" class="search-text" placeholder="جستجو ..."/>
                            <input class="searchbutton" type="submit" value="" id="btnSearchFypadHeader"/>
                      @*  </form>*@
                    </div>
                    <!--search-container-->

                     @{
                         string plusUrl=string.Empty;
                         if(Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.isAuthorizeForPlusAction(currentUser))
                         {
                            plusUrl =Url.Action("PlusAction", "Profile", new { area="User"});
                        }else{
                            plusUrl=Url.Action("PostPhoto", "Offer", new { area="User"});
                        }
                    }

                    <div class="plus-icon-wrapper">
                        <a href="@plusUrl" class="plus-icon">
                            <i class="fa fa-plus"></i>
                            <span class="plus-icon-title">افزودن محتوا</span>
                        </a>
                    </div>
                    <!--plus-icon-wrapper-->

                    <span id="menu-toggler" class="menu-toggler">
                        <i class="fa fa-bars"></i>
                    </span>
                    <!--menu-toggler-->



                   

                 <div class="loggedin-icons">
                    <ul class="loggedin-icons-list">
                        <li>
                            <a href="@Url.Action("Index", "Home", new { area = "" })">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                @*<span class="icon-qty">2</span>*@
                            </a>

                        </li>

                        <li id="unreadCounterContainer">
                                @{
                                    int countOfunread = @Offtick.Web.OfftickWeb.Areas.User.Controllers.ConversationController.countOfUnRead();
                                    string countOfUnreadStr = countOfunread > 0 ? countOfunread.ToString() : string.Empty;
    
                                }
                            <a href="@Url.Action("Index", "Conversation", new { area = "User" })" title="Conversations">
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                            </a>
                            
                            @if(countOfunread>0){
                                <span class="icon-qty" id="lblConversationCount">@countOfUnreadStr</span>
                            }

                            
                        </li>

                         

                        <li>
                            <a href="@Url.Action("Wall", "Profile", new { area = "User" })" title="دیوار">
                                <i class="fa fa-th-list" aria-hidden="true"></i>
                            </a>
                        </li>
                       
                        <li>
                            <i id="loggedin-settings-button" class="fa fa-cog" aria-hidden="true"></i>
                            <ul id="loggedin-settings-list" class="dropdown-menu">
                                <li role="presentation" class="text-right">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "MenuBuilder", new { area = "User" })">ویرایش وب سایت</a>
                                </li>
                                <li role="presentation" class="text-right">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("OrderedOffers", "Offer", new { area = "User" })">آفتیک های خرید</a>
                                </li>
                                <li role="presentation" class="text-right">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("BuyedOffers", "Offer", new { area = "User", userName = currentUserName })"> 2 آفتیک های خرید</a>
                                </li>

                                 <li role="presentation" class="text-right">
                                    <a role="menuitem" tabindex="-1" href="@Url.Action("EditProfileCP", "Profile", new { area = "User" })"> ویرایش پروفایل </a>
                                </li>
                                @if (!string.IsNullOrEmpty(roleName) && (roleName.Equals("Company") || roleName.Equals("Resturant")))
                                {
                                     <li>
                                        <a role="menuitem" tabindex="-1" href="@Url.Action("SoldOffers", "Offer", new { area = "User" })"> آفتیک های فروش </a>
                                    </li>
                                    <li role="presentation" class="text-right">
                                         <a role="menuitem" tabindex="-1" href="@Url.Action("SoldOfferForUser", "Offer", new { area = "User",userName=currentUserName})">  2 آفتیک های فروش </a>
                                    </li>
                                   
                                }

                                         @if (!string.IsNullOrEmpty(roleName) && (roleName.Equals("Administrator")))
                                         {
                                            <li role="presentation" class="text-right">
                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Home", new { area = "Admin" })">   کنسول مدیریت</a>
                                            </li>
                                             <li role="presentation" class="text-right">
                                                <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Home", new { area = "Accounting" })">   کنسول حسابداری</a>
                                            </li>
                                         }

                                        <li role="presentation" class="text-right">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangePassword", "Account", new { area = "" })">تغییر رمز عبور</a>
                                        </li>
                                  <li role="presentation" class="text-right">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("ChangeUserName", "Profile", new { area = "User" })">تغییر نام کاربری</a>
                                        </li>
                                         <li role="presentation" class="text-right">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("Index", "Security", new { area = "User" })">تنظیمات</a>
                                        </li>
                                         <li role="presentation" class="text-right">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("LogOff", "Account", new { area = "" })">خروج</a>
                                        </li>

                                        <li role="presentation" class="divider"></li>

                                        <li role="presentation" class="text-right">
                                                <a role="menuitem" tabindex="-1" href="#">راهنما</a>
                                            </li>
                                        <li role="presentation" class="text-right">
                                                <a role="menuitem" tabindex="-1" href="@Url.Action("sendfeedback", "Offer", new { area = "User" })">گزارش یک خطا</a>
                                            </li>
                                        <li role="presentation" class="text-right">
                                            <a role="menuitem" tabindex="-1" href="@Url.Action("DisableAccount", "Profile", new { area = "User" })">غیر فعال سازی اکانت</a>
                                        </li>

                               
                            </ul>
                        </li>
                    </ul>
                    <!--loggedin-icons-list-->
                </div>
                <!--loggedin-icons-->

                     @Html.Partial("_LoginStatusPartial")
                        <!--panel-links-->

                   @Html.Action("BasketSummery", "Basket", new { area = "user" })


                   

                  



                    <div class="contact-wrapper">
                        <span class="contact-phone">021-<em>66926649</em></span>
                    </div>


                </section>
                <!--layout-->

            </div>
            <!--top-bar-->

                 @Html.Partial("_MobileNavigation")

      @{
                                         object _HasApplicationBar = TempData["HasApplicationBar"];
                                         if (_HasApplicationBar == null || (bool)_HasApplicationBar)
                                         {
               <div class="menu-bar">
                    <section class="layout">

                        <div class="category-icons">

                            <ul class="icons-list owl-carousel owl-theme">

                                  @if (applications != null)
                                  {
                                      foreach (var controlItem in applications)
                                      {
                                           
                                                             @Html.Partial("~/Areas/User/Views/Application/ApplicationItemAbstract.cshtml", controlItem)
                                           
                                      }
                                  }
                            </ul>
                        </div>
                    </section>
                </div>
                                         }
      }

         @if (otherUser != null && Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetHasMembershipHeader(this))
         {
              @Html.Action("ProfileHeader", "Profile", new { area = "User", userName = otherUserName })
         }
        </div>

  

    }
    else
    {
        @Html.Partial("_NoMembershipMainPageHeader")
    }
}
