﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


      
    


    

    
   
     <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" ></script>
    

     <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/bootstrap.css")" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/icoMoon.css")"" media="all" />
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/superfish.css")" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/prettyPhoto.css")" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/flexslider.css")" media="screen" />
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/sequencejs-theme.modern-slide-in.css")" media="all">
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/theme-options.css")" media="all">
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/Nictitate-style.css")">        
        <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/bootstrap-responsive.css")" media="all">
        <link href="@Url.Content("~/Content/themes/Nictitate/css/responsive.css")" rel="stylesheet" />
         <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >
     <script src="@Url.Content("~/Content/themes/Nictitate/js/modernizr.custom.js")/"></script>
       

      
    
       
  



   
    


</head>
    @{
        string membershipUserName=(string)ViewData["MembershipUserName"];
        membershipUserName =string.IsNullOrEmpty(membershipUserName)? string.Empty: membershipUserName.ToLower();
        Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser user = Offtick.Business.Membership.MembershipManager.Instance.GetUser(Model);
        
        Offtick.Business.Web.MvcMenu.MenuItem menuItem = null;
        if(user!=null)
        {
            menuItem = Offtick.Business.Web.MvcMenu.MVCMenuBuilder.ConvertToMenuItem(((ICollection<Offtick.Data.Context.ExpertOnlinerContexts.Menu>)(user.Menus)).Where(e => e.ParentId == null).ToList());
        }
        ViewData["galleryWidth"] = "1024px";
        ViewData["galleryHeight"] = "600px";
        
    }
    <body class="kopa-home-2">
    
    	<div id="theme-option">
            <div class="theme-opt-wrapper">
                        
                <p class="kopa-select-layout">Layout Style</p>                
                <p class="kopa-select-layout">
                    <input type="radio" id="kopa-select-layout-wide" name="kopa-select-layout-choice" value="wide" checked="checked" onClick="return kopa_layout_CHANGE(jQuery(this).val());">
                    <label for="kopa-select-layout-wide">Wide</label>                    
                    <input type="radio" id="kopa-select-layout-boxed" name="kopa-select-layout-choice" value="boxed" onClick="return kopa_layout_CHANGE(jQuery(this).val());">
                    <label for="kopa-select-layout-boxed">Boxed</label>
                </p>
                
                
                <a href="#" class="btn reset" onClick="return kopa_theme_option_reset_CLICK();">Reset</a>
            </div><!--theme-opt-wrapper-->
            <a href="#" class="open-close-button"><span class="icon-cog-2"></span></a><!--open-close-button-->
        </div><!--theme-option -->
        
        <div class="kopa-wrapper">
        
            <div class="kopa-background"></div>
            
            <header id="page-header">
                <div id="header-top">
                    <div class="wrapper">
                        <div class="row-fluid">
                            <div class="span12 clearfix">
                                @*<p class="hot-line">Call toll free: 021 4444 8888</p>*@
                                <div class="top-box clearfix">
                                    <ul class="top-link clearfix">
                                      @*  <li><a href="#">Sign In</a>&nbsp;/&nbsp;<a href="#">Register</a></li>*@
                                        @*<li> @Html.Partial("_LogOnPartial")</li>*@
                                        @*<li>Shopping Cart - $0</li>*@
                                    </ul>
                                   @* <div class="search clearfix">
                                        <a href="#" class="search-icon" title="Search">Search</a>
                                        <div class="search-box">
                                            
                                            <form action="#" class="search-form clearfix" method="get">
                                                <input type="text" onBlur="if(this.value=='')this.value=this.defaultValue;" onFocus="if(this.value==this.defaultValue)this.value='';" value="Search" name="s" class="search-text">
                                                <input type="submit" value="Submit" name="submit" class="search-submit">
                                            </form><!-- search-form -->
                                        </div>*@<!--search-box-->
                                    </div><!--search-->
                                </div><!--top=box-->
                            </div><!--span12-->
                        </div><!--row-fluid-->
                    </div><!--wrapper-->
                </div><!--header-top-->
                
                <div id="header-bottom" class="cbp-af-header">
                    <div class="wrapper">
                        <div class="row-fluid">
                            <div class="span12 clearfix">
                                <div id="logo-image" style="vertical-align:top">
                                    @if(user!=null && !string.IsNullOrEmpty(user.SiteLogo))
                                    {
                                        <a href="http://Offtick.com/membership/show?username=@user.UserName"> <img src="@Url.Content(user.SiteLogo)" alt="" style="width:80px;height:35px;float:left"/><span style="float:right;font-size:18px;direction:rtl;"> @user.LastName</span></a>
                                    }
                                   
                                </div><!--logo-image-->

                               


                                 @Html.Raw(
        @Offtick.Business.Web.MvcMenu.MVCMenuBuilder.MvcMenuBuilder(menuItem,"current-menu-item","main-nav","main-menu","clearfix","main-content", Offtick.Business.Web.MvcMenu.MvcMenuType.Nictitate))
    

                                
                                 


                            </div><!--span12-->
                        </div><!--row-fluid-->
                    </div><!--wrapper-->
                </div><!--header-bottom-->
            </header><!--page-header-->
          
               
          
                
           
            <div id="main-content">
              
                 <div class="wrapper">
                
                    <div class="row-fluid">
                    
                        <div class="span12 clearfix">
                        
                            <div class="widget kopa-intro-widget">
                                 @Html.Partial("Slider",(object)membershipUserName)
                               
                            
                            </div><!--widget-->
                        
                        </div><!--span12-->
                        
                    </div><!--row-fluid-->
                
                </div><!--wrapper-->
                 

                <div class="wrapper">
                
                    <div class="row-fluid">
                    
                        <div class="span12 clearfix">
                        
                            <div class="widget kopa-intro-widget">
                                
                                <ul class="clearfix" style="direction:rtl">
                                    <li>
                                        <article class="entry-item">
                                            <h2 class="entry-title clearfix"><span class="icon-bolt-2"></span><a href="#">پروژه ها</a></h2>
                                            <p>پروژه های شرکت در دو بخش داخلی و بین الملی قابل تقسیم است. از قبیل راهکارهای جامع مبتنی بر XBRL به شرکت و سازمان های بزرگ کمک می کند که ضمن استانداردسازی و بهینه سازی گزارشگری داخلی خود، تبادل اطلاعات خود با ذی نفعان خارجی شامل مراجع قانونی، سهامداران، تحلیلگران و هر کاربر اطلاعاتی تجاری را تسهیل کند....</p>
                                            <a href="#" class="more-link clearfix">Read more <span data-icon="&#xe10d;"></span></a>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="entry-item">
                                            <h2 class="entry-title clearfix"><span class="icon-cog-2"></span><a href="#">محصولات</a></h2>
                                            <p>در حال حاضر عمده محصولات شرکت شامل شش محصول به شرح XBRL Importer  ، XBRL Importer  ،XBRL Importer   و ... است که هر یک از آنها قسمتی از چرفه عملکردی شرکت در حوزه XBRL را شامل می شوند.</p>
                                            <a href="#" class="more-link clearfix">Read more <span data-icon="&#xe10d;"></span></a>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="entry-item">
                                            <h2 class="entry-title clearfix"><span class="icon-heart"></span><a href="#">راه حل ها</a></h2>
                                            <p>راهکارهای جامع مبتنی بر XBRL به شرکت و سازمان های بزرگ کمک می کند که ضمن استانداردسازی و بهینه سازی گزارشگری داخلی خود، تبادل اطلاعات خود با ذی نفعان خارجی شامل مراجع قانونی، سهامداران، تحلیلگران و هر کاربر اطلاعاتی تجاری را تسهیل کند.</p>
                                            <a href="#" class="more-link clearfix">Read more <span data-icon="&#xe10d;"></span></a>
                                        </article>
                                    </li>
                                </ul>
                            
                            </div><!--widget-->
                        
                        </div><!--span12-->
                        
                    </div><!--row-fluid-->
                
                </div><!--wrapper-->
           @*     
                <div class="wrapper">
                    <div class="row-fluid">
                        <div class="span12 clearfix">
                            <div class="widget kopa-tagline-widget clearfix">
                                <div class="kopa-tagline-description">
                                    <h4>Nictitate is available exclusively on ThemeForest</h4>
                                    <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enimvulputate eget, arcu.</p>
                                </div>
                                <a href="#" class="kopa-button blue-button">Buy now for only 55$</a>
                            </div><!--widget-->
                        </div><!--span12-->
                    </div><!--row-fluid-->
                </div><!--wrapper-->*@
                

             @*   <div class="wrapper">
                    <div class="row-fluid">
                        <div class="span12 clearfix">
                            <div class="widget kopa-featured-product-widget">
                                <h2 class="widget-title"><span data-icon="&#xe098;"></span>Featured Product</h2>
                                <div class="list-carousel responsive" >
                                    <ul class="kopa-featured-product-carousel">
                                        <li style="width: 252px;">
                                            <article class="entry-item clearfix">
                                                <div class="entry-thumb hover-effect">
                                                    <div class="mask">
                                                        <a class="link-gallery" href="placeholders/post-image/post-19.jpg" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-3]"></a>
                                                    </div>
                                                    <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-19.jpg")" alt="" />
                                                    <a href="#" class="add-to-cart" data-icon="&#xe274;"></a>    
                                                </div>
                                                <div class="entry-content">
                                                    <h6 class="entry-title"><a href="#">A180 Injectable Antibiotic</a></h6>
                                                    <div class="price-box">
                                                        <span>Price:</span>
                                                        <span class="current-price">200$</span>
                                                        <span class="saleoff-price">150$</span>
                                                    </div>
                                                </div><!--entry-content-->
                                            </article><!--entry-item-->
                                        </li>
                                        <li style="width: 252px;">
                                            <article class="entry-item clearfix">
                                                <div class="entry-thumb hover-effect">
                                                    <div class="mask">
                                                        <a class="link-gallery" href="placeholders/post-image/post-20.jpg" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-3]"></a>
                                                    </div>
                                                    <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-20.jpg")" alt="" />
                                                    <a href="#" class="add-to-cart" data-icon="&#xe274;"></a>    
                                                </div>
                                                <div class="entry-content">
                                                    <h6 class="entry-title"><a href="#">A180 Injectable Antibiotic</a></h6>
                                                    <div class="price-box">
                                                        <span>Price:</span>
                                                        <span class="current-price">200$</span>
                                                        <span class="saleoff-price">150$</span>
                                                    </div>
                                                </div><!--entry-content-->
                                            </article><!--entry-item-->
                                        </li>
                                        <li style="width: 252px;">
                                            <article class="entry-item clearfix">
                                                <div class="entry-thumb hover-effect">
                                                    <div class="mask">
                                                        <a class="link-gallery" href="placeholders/post-image/post-21.jpg" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-3]"></a>
                                                    </div>
                                                    <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-21.jpg")" alt="" />
                                                    <a href="#" class="add-to-cart" data-icon="&#xe274;"></a>    
                                                </div>
                                                <div class="entry-content">
                                                    <h6 class="entry-title"><a href="#">A180 Injectable Antibiotic</a></h6>
                                                    <div class="price-box">
                                                        <span>Price:</span>
                                                        <span class="current-price">200$</span>
                                                        <span class="saleoff-price">150$</span>
                                                    </div>
                                                </div><!--entry-content-->
                                            </article><!--entry-item-->
                                        </li>
                                        <li style="width: 252px;">
                                            <article class="entry-item clearfix">
                                                <div class="entry-thumb hover-effect">
                                                    <div class="mask">
                                                        <a class="link-gallery" href="placeholders/post-image/post-22.jpg" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-3]"></a>
                                                    </div>
                                                    <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-22.jpg")" alt="" />
                                                    <a href="#" class="add-to-cart" data-icon="&#xe274;"></a>    
                                                </div>
                                                <div class="entry-content">
                                                    <h6 class="entry-title"><a href="#">A180 Injectable Antibiotic</a></h6>
                                                    <div class="price-box">
                                                        <span>Price:</span>
                                                        <span class="current-price">200$</span>
                                                        <span class="saleoff-price">150$</span>
                                                    </div>
                                                </div><!--entry-content-->
                                            </article><!--entry-item-->
                                        </li>
                                        <li style="width: 252px;">
                                            <article class="entry-item clearfix">
                                                <div class="entry-thumb hover-effect">
                                                    <div class="mask">
                                                        <a class="link-gallery" href="placeholders/post-image/post-19.jpg" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-3]"></a>
                                                    </div>
                                                    <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-19.jpg")" alt="" />
                                                    <a href="#" class="add-to-cart" data-icon="&#xe274;"></a>    
                                                </div>
                                                <div class="entry-content">
                                                    <h6 class="entry-title"><a href="#">A180 Injectable Antibiotic</a></h6>
                                                    <div class="price-box">
                                                        <span>Price:</span>
                                                        <span class="current-price">200$</span>
                                                        <span class="saleoff-price">150$</span>
                                                    </div>
                                                </div><!--entry-content-->
                                            </article><!--entry-item-->
                                        </li>
                                    </ul><!--kopa-latest-work-carousel-->
                                    <div class="clearfix"></div>
                                    <div class="carousel-nav clearfix">
                                        <a id="prev-3" class="carousel-prev" href="#">&lt;</a>
                                        <a id="next-3" class="carousel-next" href="#">&gt;</a>
                                    </div>
                                </div><!--list-carousel-->
                            </div><!--widget-->
                        </div><!--span12-->
                    </div><!--row-fluid-->
                </div><!--wrapper-->*@
                 
                
                @Html.Partial("NewsAbstract",(object)membershipUserName)
               
                
                <div class="wrapper">
                    <div class="row-fluid">
                        <div class="span12 clearfix">
                            <div class="widget kopa-testimonial-widget">
                                <h2 class="widget-title"><span data-icon="&#xe070;"></span>مشتریان ما</h2>
                                <div class="list-carousel responsive" >
                                    <ul class="kopa-testimonial-carousel">
                                        <li style="width: 530px;">
                                            <article class="testimonial-detail clearfix">
                                                <div class="avatar">
                                                    <img style="width:80px;height:80px;" src="@Url.Content(@"http://Offtick.com\Files\XBRLPars\Content\download (4)20140219072001.jpeg")" alt="" />  
                                                </div>
                                                <div class="testimonial-content">
                                                 <p>
                                                     &nbsp;
                                                 </p>
                                                       <p>
                                                        &nbsp;
                                                 </p>
                                                       <p>
                                                        &nbsp;
                                                 </p>

                                                </div><!--testimonial-content-->
                                            </article><!--testimonial-detail-->
                                        </li>
                                        <li style="width: 530px;">
                                            <article class="testimonial-detail clearfix">
                                                <div class="avatar">
                                                    <img style="width:80px;height:80px;" src="@Url.Content(@"http://Offtick.com\Files\XBRLPars\Content\sherkat_bours20140219065827.jpg")" alt="" />  
                                                </div>
                                                <div class="testimonial-content">
                                                 <p>
                                                     &nbsp;
                                                 </p>
                                                       <p>
                                                        &nbsp;
                                                 </p>
                                                       <p>
                                                        &nbsp;
                                                 </p>

                                                </div><!--testimonial-content-->
                                            </article><!--testimonial-detail-->
                                        </li>
                                      @*  <li style="width: 530px;">
                                            <article class="testimonial-detail clearfix">
                                                <div class="avatar">
                                                    <img src="@Url.Content("/Content/themes/Nictitate/placeholders/avatar/avatar-1.jpg")" alt="" />  
                                                </div>
                                                <div class="testimonial-content">
                                                    <p>توضیحات مشتری سه در این مکان قرار می گیرد</p>
                                                </div><!--testimonial-content-->
                                            </article><!--testimonial-detail-->
                                        </li>*@
                                    </ul><!--kopa-latest-work-carousel-->
                                    <div class="clearfix"></div>
                                    <div class="carousel-nav clearfix">
                                        <a id="prev-2" class="carousel-prev" href="#">&lt;</a>
                                        <a id="next-2" class="carousel-next" href="#">&gt;</a>
                                    </div>
                                </div><!--list-carousel-->
                            </div><!--widget-->
                        </div><!--span12-->
                    </div><!--row-fluid-->
                </div><!--wrapper-->
                
            </div><!--main-content-->
            
            <div id="bottom-sidebar" style="direction:rtl">
                <div class="wrapper">
                    <div class="row-fluid">
                        
                        <div class="span4 widget-area-3">
                            <div class="widget">
                                <h2 class="widget-title">جستجو</h2>
                                <div class="search-box clearfix">
                                    <form action="#" class="search-form clearfix" method="get" style="direction:ltr">
                                         <input type="submit" value="" name="submit" class="search-submit">
                                        <input type="text" onBlur="if (this.value == '')
                                                    this.value = this.defaultValue;" onFocus="if (this.value == this.defaultValue)
                                                    this.value = '';" value="Search..." name="s" class="search-text">
                                       
                                    </form><!-- search-form -->
                                </div><!--search-box-->
                                <p>می توانید با کلمات کلیدی به جستجوی اخبار و یا خدمات ما بپردازید</p>
                            </div><!--widget-->
                        </div><!--span4-->
                        
                        <div class="span4 widget-area-4" >
                            <div class="widget kopa-social-widget" style="direction:rtl">
                                <h2 class="widget-title">شبکه اجتماعی</h2>
                                <ul class="clearfix" >
                                    <li><a href="#" data-icon="&#xe16c;"></a></li>
                                    <li><a href="#" data-icon="&#xe168;"></a></li>
                                    <li><a href="#" data-icon="&#xe16f;"></a></li>
                                    <li><a href="#" data-icon="&#xe178;"></a></li>
                                    <li><a href="#" data-icon="&#xe17e;"></a></li>
                                    <li><a href="#" data-icon="&#xe174;"></a></li>
                                </ul>
                                <p> برای دنبال کردن ما در شبکه های اجتماعی مذکور کلیک نمایید</p>
                            </div><!--widget-->
                        </div><!--span4-->
                        
                        <div class="span4 widget-area-5">
                            <div class="widget kopa-newsletter-widget">
                                <h2 class="widget-title">خبرنامه</h2>
                                <form action="processNewsletterForm.php" method="post" class="newsletter-form clearfix">
                                    <p class="input-email clearfix" style="direction:ltr;">
                                        <input type="submit" value="Subscribe" class="submit">
                                        <input type="text" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" name="email" value="Subscribe to newsletter" class="email" size="40">
                                        
                                    </p>
                                </form>
                                <div id="newsletter-response"></div>
                                <p>به جمع کاربران ما بپیوندید تا بتوانید از اخرین مسائل شرکت با کمک خبرنامه مطلع شوید</p>
                            </div><!--widget-->
                        </div><!--span4-->
                        
                    </div><!--row-fluid-->
                </div><!--wrapper-->
            </div><!--bottom-sidebar-->
            
            <footer id="page-footer">
                <div class="wrapper">
                    <div class="row-fluid">
                        <div class="span12">
                            <p id="copyright">Copyrights. © 2014 by Pars XBRL                   Powered by © 2014 Expert Onliner

</p>
                            <ul id="footer-menu" class="clearfix">
                                <li><a href="#">تماس با ما</a></li>
                                <li><a href="#">درباره ما</a></li>
                                <li><a href="#">اهداف</a></li>
                                <li><a href="#">چارت سازمانی</a></li>
                                <li><a href="#">خانه</a></li>
                            </ul><!--footer-menu-->
                        </div><!--span12-->
                    </div><!--row-fluid-->
                </div><!--wrapper-->
            </footer><!--page-footer-->
			<p id="back-top">
                <a href="#top">بازگشت به بالای صفحه</a>
            </p>
        
        </div><!--kopa-wrapper-->
    
    
     
   
        
        <script>
            /mobile/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
                if (!pageYOffset) window.scrollTo(0, 1);
            }, 1000);

            jQuery(document).ready(function () {
                var options = {
                    nextButton: true,
                    prevButton: true,
                    animateStartingFrameIn: true,
                    autoPlayDelay: 3000,
                    preloader: true,
                    pauseOnHover: true,
                    preloadTheseFrames: [1]
                };

                var sequence = jQuery("#sequence").sequence(options).data("sequence");

                sequence.afterLoaded = function () {
                    jQuery("#nav").fadeIn(100);
                    jQuery("#nav li:nth-child(" + (sequence.settings.startingFrameID) + ") img").addClass("active");
                }

                sequence.beforeNextFrameAnimatesIn = function () {
                    jQuery("#nav li:not(:nth-child(" + (sequence.nextFrameID) + ")) img").removeClass("active");
                    jQuery("#nav li:nth-child(" + (sequence.nextFrameID) + ") img").addClass("active");
                }

                jQuery("#nav li").click(function () {
                    jQuery(this).children("img").removeClass("active").children("img").addClass("active");
                    sequence.nextFrameID = jQuery(this).index() + 1;
                    sequence.goTo(sequence.nextFrameID);
                });
            });
		</script>
        
        @RenderBody()
    </body>
</html>
