﻿<nav class="mobile-nav">
    <ul class="mobile-menu">@{
        
    
         var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
        }
        @if (currentUser!=null)
        {
            
             
              string name = currentUser.LastName;
    
           <li class="menu-item">
                <a href="@Url.Action("LogOff","Account", new { area = "" })">
                    <i class="fa fa-sign-in"></i>
                    <span class="menu-content">خروج</span>
                </a>
            </li>
              <li class="menu-item">
                <a href="@Url.Action("Index", "Profile", new { area = "User" })">
                    <i class="fa fa-sign-in"></i>
                    <span class="menu-content">@currentUser.UserName</span>
                </a>
            </li>
             <li class="menu-item">
                <a href="@Url.Action("Index", "Basket", new { area = "User" })">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="menu-content">سبد خرید</span>
                </a>
            </li>
        }
        else {
            
              <li class="menu-item">
                <a href="@Url.Action( "LogOn", "Account", new { area = "" })">
                    <i class="fa fa-sign-in"></i>
                    <span class="menu-content">ورود</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="@Url.Action( "RegisterStep1", "Account", new { area = "",RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal })">
                    <i class="fa fa-pencil"></i>
                    <span class="menu-content">ثبت نام</span>
                </a>
            </li>
            <li class="menu-item">
                <a href="@Url.Action("Index", "Basket", new { area = "User" })">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="menu-content">سبد خرید</span>
                </a>
            </li>
    
        }
      
      
    </ul>
</nav>
<!--mobile-nav-->