﻿ @{
     var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
                         string plusUrl=string.Empty;
                         if(Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.isAuthorizeForPlusAction(currentUser))
                         {
                            plusUrl =Url.Action("PlusAction", "Profile", new { area="User"});
                        }else{
                            plusUrl=Url.Action("PostPhoto", "Offer", new { area="User"});
                        }
                    }  
<nav class="footer-nav">
            <ul class="footer-icons">
                <li class="mobile-footer-icon active">
                    <a href="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="fa fa-home" aria-hidden="true">

                        </i>
                    </a>
                </li>
                <li class="mobile-footer-icon">
                    <a href="@Url.Action("Index", "Conversation", new { area = "User" })">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="mobile-footer-icon plus-icon">
                    <a href="@plusUrl">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="mobile-footer-icon">
                    <a href="@Url.Action("Index", "Profile", new { area = "User" })">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="mobile-footer-icon">
                    <a id="search-toggler" >
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </li>
                <div id="buttom-search-container" class="buttom-search-container">
                    <form name="searchform" class="search-form">
                        @*<select name="city" id="" class="search-city">
                            <option value="tehran">تهران</option>
                            <option value="esfehan">اصفهان</option>
                            <option value="shiraz">شیراز</option>
                            <option value="mashahd">مشهد</option>
                            <option value="kerman">کرمان</option>
                            <option value="khozestan">خوزستان</option>
                        </select>*@

                          @Html.DropDownList("searchCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource((string)ViewBag.cityName), new { @class = "search-city" })
                            <input type="text" name="txtMobileSearchFypadHeader"  id="txtSMobileearchFypadHeader" class="search-text" placeholder="جستجوی تخفیف .."/>
                            <input class="searchbutton" type="submit" value="" id="btnMobileSearchFypadHeader"/>


                       
                    </form>
                </div>
            </ul>
        </nav>