﻿<script>
    $(function () {
        $("#searchCityId").change(function () {
            var actionUrl = "@Url.Action("Index","Home",new {area=""})";
            actionUrl = actionUrl + "?cityName=" + $("#searchCityId option:selected").text();
            location.href = actionUrl;
        });
    });
</script>

@{
    var applications = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetAllApplications();

}




  <div class="site-header">
            <div class="top-bar">
                <section class="layout">
                       @{object _HasApplicationBar1 = TempData["HasApplicationBar"];
                            if (_HasApplicationBar1 == null || (bool)_HasApplicationBar1)
                            {
                                <a href="@Url.Action("Index","Home",new {area=""})" class="site-logo-link">
                                    <img src="/Content/images/offtick-logo-69x50.png" alt="" class="site-logo">
                                </a>
                           }
                        }

                    <div class="search-container">
                       @* <form name="searchform" class="search-form" >*@
                            @Html.DropDownList("searchCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource((string)ViewBag.cityName), new { @class="search-city"})
                            <input type="text" name="txtSearchFypadHeader"  id="txtSearchFypadHeader" class="search-text" placeholder="جستجو  .."/>
                            <input class="searchbutton" type="submit" value="" id="btnSearchFypadHeader"/>
                      @*  </form>*@
                    </div>
                    <!--search-container-->

                    <div class="plus-icon-wrapper">
                        <a href="@Url.Action("LogOn","Account",new{area=""})" class="plus-icon">
                            <i class="fa fa-plus"></i>
                            <span class="plus-icon-title">افزودن محتوا</span>
                        </a>
                    </div>
                    <!--plus-icon-wrapper-->

                    <span id="menu-toggler" class="menu-toggler">
                        <i class="fa fa-bars"></i>
                    </span>
                    <!--menu-toggler-->

                     @Html.Action("BasketSummery","Basket",new {area="user"})


                    @Html.Partial("_LoginStatusPartial")
                        <!--panel-links-->

                  



                    <div class="contact-wrapper">
                        <span class="contact-phone">021-<em>66926649</em></span>
                    </div>


                </section>
                <!--layout-->

            </div>
            <!--top-bar-->

       @Html.Partial("_MobileNavigation")

            
       @{
        object _HasApplicationBar = TempData["HasApplicationBar"];
        if (_HasApplicationBar == null || (bool)_HasApplicationBar)
        {
               <div class="menu-bar">
                    <section class="layout">

                        <div class="category-icons">

                            <ul class="icons-list owl-carousel owl-theme">

                                  @if (applications != null)
                                  {
                                      foreach (var controlItem in applications)
                                      {
                                           
                                                             @Html.Partial("~/Areas/User/Views/Application/ApplicationItemAbstract.cshtml", controlItem)
                                           
                                      }
                                  }
                            </ul>
                        </div>
                    </section>
                </div>
        }

        Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser otherUser = null;
        var otherUserName = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetOtherUserName(this);
        if (!string.IsNullOrEmpty(otherUserName))
        {
            otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(otherUserName);
        }
         if (otherUser != null)
         {
              @Html.Action("ProfileHeader", "Profile", new { area = "User", userName = otherUserName })
         }
      }

</div>
