﻿
@{
    var otherUserName = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetOtherUserName(this);
    var user = Offtick.Business.Membership.MembershipManager.Instance.GetUser(otherUserName);
    var visitors = Offtick.Business.Membership.MembershipManager.Instance.GetListOfVisitors(user);
    var visitorCount = user!=null && user.ProfileVisit != null ? Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationCount(user.ProfileVisit.VisitCount) : "0";

} 
<div id="side-columns-container" class="side-columns-container">

            <span class="f-toggler" id="f-toggler">
                 <i class="fa fa-th-large current" id="fa-th-large" aria-hidden="true"></i>
                <i class="fa fa-times" id="fa-times" aria-hidden="true"></i>
            </span>

            <ul class="side-tab-list">
                <li>
                    <a class="active" id="side-followers-toggler" href="#side-followers-container">Visitors</a>
                </li>
                <li>
                    <a id="side-apps-toggler" href="#side-important-apps">Apps</a>
                </li>
            </ul>
            <!--side-tab-list-->

           @if (user != null && user.ProfileVisit != null)
           {
                <div class="side-followers-container current" id="side-followers-container">
                    <h3>Site Visitors <span class="visitors-count">@visitorCount</span></h3>
                    <ul>
                        @if (visitors != null)
                        {
                            foreach (var visitor in visitors)
                            {
                                <li>
                                    @Html.Action("ShowUserStatusFull","Profile",new {area="User",user=visitor})
                                </li>
                            }
                        }
                        
                    </ul>
                    <a href="#" class="side-column-more">Show more</a>
                </div>
                <!--side-followers-inner-->
           }
     

        @*    <div id="side-important-apps" class="side-important-apps">
                <h3>Apps</h3>
                <ul>
                    <li>
                        <span class="app-name">AppName</span>
                        <a href="#">
                            <img src="images/twitter.png" alt="">
                        </a>
                        <span class="taken">Taken : 222</span>
                    </li>

                </ul>
                <a href="#" class="side-column-more">Show more</a>
            </div>
            <!--important-apps-->
      
        <!--followers-container-->*@
</div>