﻿<!DOCTYPE html>











@*<html xmlns="http://www.w3.org/1999/xhtml">*@
<head>
 <meta name="viewport" content="width=device-width" />

<title>@ViewBag.Title</title>
<link rel="shortcut icon" type="image/x-icon" href="~/Content/Images/Calender.gif" />
<link rel="stylesheet" href="@Url.Content("/Content/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/LayoutStyle.css")">

<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Local/CommonLibrary.js")"></script>

<link href="@Url.Content("/Content/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/Content/SearchBox.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



<script type="text/JavaScript">
<!--
    function MM_swapImgRestore() { //v3.0
        var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
    }

    function MM_preloadImages() { //v3.0
        var d = document; if (d.images) {
            if (!d.MM_p) d.MM_p = new Array();
            var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
        }
    }

    function MM_findObj(n, d) { //v4.01
        var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
            d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
        }
        if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
        for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
        if (!x && d.getElementById) x = d.getElementById(n); return x;
    }

    function MM_swapImage() { //v3.0
        var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2) ; i += 3)
            if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
    }
    //-->
</script>

     <script>



         $(function () {

             $("#btnSearchFypadHeader").click(searchFypad);

             $("#txtSearchFypadHeader").onEnter(searchFypad);
             function searchFypad() {
                 var searchValues = $("#txtSearchFypadHeader").val();
                 var splittedSource = searchValues.replace(/\s{2,}/g, ' ').split(' ');


                 var urlOfAction = "@Url.Action("Index", "Search", new { area = "User" })";
               urlOfAction += "?searchValue=" + searchValues;
               $(location).attr('href', urlOfAction);
           }
       });
   </script>
</head>

<body >
 <div class="container">

    <div class="row" style="background-color:#F36350;">
        <div class="col-md-4">
            <div class="row">
                <a href="@Url.Action("Index","Home",new {area=""})" class="col-md-2">
                <img src="@Url.Content("/Content/images/offtick_logo.png")" style="max-height:72px;max-width:72px;" alt="" />
             </a>
            </div>
            
        </div>
       <div class=" col-md-8 " >
                  <input type="text" class="searchBox-min " placeholder=" Search Fypad" id="txtSearchFypadHeader" />          
                  <a class="btn btn-primary" href="#" id="btnSearchFypadHeader">
                      <span class="fa fa-search"></span>
                  </a>
            </div>
    </div>
    

<div style="min-height:400px;">
    @RenderBody()
</div>
<div  class=" footer-text text-center">
    
    <a href="@Url.Action("Index","Home",new {area=""})">Home Page</a> 

        | <a href="#">Help</a> 
    | @Html.ActionLink("create Web site", "Register", "Account", new { RegistrationMode = "select" }, new { })
   @* | <a href="#">Applications </a> 
    | <a href="#">Photos </a> 
    | <a href="#">Users </a> 
    | <a href="#">Offers </a> 
    | <a href="#">Create Ad </a> 
    | <a href="#">Privacy</a> 
     | <a href="#">Cookies </a> 
     | <a href="#">Terms </a> *@
     | <a href="#">About </a> 
     | <a href="#"> </a> @Html.ActionLink("Contact", "SendFeedback", "Offer", new { area = "User",Layout="s" }, new { })
    <br />
	@*<a href="https://www.linkedin.com/pub/abbas-bagherian/3b/109/76"><span class="footer-text1"> ©2015 - an Abbas Bagherian Kasgari production All Rights Reserved.</span></a>*@
    <span class="footer-text1"> ©2015 - an Elham Sharmi production All Rights Reserved.</span>
</div>


<map name="Map" id="Map"><area shape="rect" coords="28,311,148,332" href="#" /></map>
</div> 
</body>
    

</html>