﻿
@model Offtick.Web.OfftickWeb.Areas.Dr.Models.TextAreaModel
@{
    string modelValue = Model != null ? Model.Value : "";
    string btnSaveId = Model != null ? "btnSaveHtmlEditorValue" + Model.EntityId : "btnSaveHtmlEditorValue"+Guid.NewGuid().ToString();
}
<div class="AboutUs">

    <div class="TextHeader">
        <p>
            @Model.Title
        </p>
    </div>


    @Html.TextArea("editor1",modelValue, new { @class = "ckeditor" })
 
            <script type="text/javascript">
                CKEDITOR.replace('editor1');


                $("#@btnSaveId").click(function () {

                    $(this).attr("disabled", true);

                    var postedData = { EntityId: "@Model.EntityId", Value: CKEDITOR.instances.editor1.getData() }
                    $.ajax({
                        type: 'POST',
                        url: '@Model.ActionUrl',
                        data: JSON.stringify(postedData),
                        dataType: 'json',
                        processData: false,
                        contentType: 'application/json; charset:utf-8',
                        success: function (data, status) {
                            showCommunicationPanelMessage(data, 4000);
                            $(this).removeAttr("disabled");
                        },
                        error: function (xhr, textStatus, error) {
                            var errorMessage = error || xhr.statusText;
                            showCommunicationPanelMessage(errorMessage + textStatus, 4000);
                            $(this).removeAttr("disabled");
                            //  alert(errorMessage+ xhr.toString() + textStatus);
                        }
                     });
                 });
            </script>





<input type="button" id="@btnSaveId" value="Save" />
    </div>