﻿ @model Offtick.Data.Context.ExpertOnlinerContexts.News
@{
    bool notNullModel = Model != null && Model.NewsCultures.Count() > 0;
    string title=string.Empty;
    string body=string.Empty;
        if(notNullModel){

            var newsCulture=Model.NewsCultures.First();
            title = newsCulture.Title;
            //body = newsCulture.Body.Substring(0, Math.Min(50, newsCulture.Body.Length));
            body = string.Empty;
        }
}

    <article class="entry-item clearfix">
        <div class="entry-thumb hover-effect">
            <div class="mask">
                <a class="link-detail" href="#" data-icon="&#xe0c2;"></a>
                <a class="link-gallery" href="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-2.jpg")" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-2]"></a>
            </div>
            <img src="@Url.Content(Offtick.Business.Membership.MembershipManager.Instance.GetPathOfNewsIMage(Model.MembershipUser.UserName, Model.ImageUrl))" alt="" />
        </div>
        <div class="entry-content">
            <h6 class="entry-title">@Ajax.ActionLink(title,"News",  new { pss = "ManageAccount" },new AjaxOptions()
            {
                UpdateTargetId="main-content"
                ,Url=Url.Action("News","Content",new{newsId=Model.NewsId})
            })<span></span></h6>
            <span class="entry-date clearfix"><span data-icon="&#xe276;"></span>@Model.DateTime.ToString("MMMM dd, yyyy")</span>
            <p>@Html.Raw(body)</p>
        </div>
    </article>
@*<a href="@Url.Action("News","Content",new{newsId=Model.NewsId})">@title</a>*@

  