﻿@model string
@{
    int maxItem = 2;
    IList<Offtick.Data.Context.ExpertOnlinerContexts.News> newsOfuser = Offtick.Business.Membership.MembershipManager.Instance.GetNewsOfMember(Model,2,null);
}

 <div class="wrapper">
                    <div class="row-fluid">
                        <div class="span12 clearfix">
                            <div class="widget kopa-latest-post-widget">
                                <h2 class="widget-title"><span data-icon="&#xe014;"></span>آخرین اخبار </h2>
                                <ul class="clearfix">
                                    @if (newsOfuser != null && newsOfuser.Count() != 0)
                                    {
                                        foreach (var news in newsOfuser)
                                        {
                                            @:<li>
                                                @Html.Partial("NewsAbstractItem", news);
                                            @:</li>
                                        }
                                    }

                                  @*  <li>
                                        <article class="entry-item clearfix">
                                            <div class="entry-thumb hover-effect">
                                                <div class="mask">
                                                    <a class="link-detail" href="#" data-icon="&#xe0c2;"></a>
                                                    <a class="link-gallery" href="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-2.jpg")" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-2]"></a>
                                                </div>
                                                <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-2.jpg")" alt="" />
                                            </div>
                                            <div class="entry-content">
                                                <h6 class="entry-title"><a href="#">Blog typography and design style</a><span></span></h6>
                                                <span class="entry-date clearfix"><span data-icon="&#xe276;"></span>August 22, 2013</span>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
                                            </div>
                                        </article>
                                    </li>
                                    <li>
                                        <article class="entry-item clearfix">
                                            <div class="entry-thumb hover-effect">
                                                <div class="mask">
                                                    <a class="link-detail" href="#" data-icon="&#xe0c2;"></a>
                                                    <a class="link-gallery" href="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-2.jpg")" data-icon="&#xe07e;" rel="prettyPhoto[kp-gallery-2]"></a>
                                                </div>
                                                <img src="@Url.Content("/Content/themes/Nictitate/placeholders/post-image/post-27.jpg")" alt="" />
                                            </div>
                                            <div class="entry-content">
                                                <h6 class="entry-title"><a href="#">Blog typography and design style</a><span></span></h6>
                                                <span class="entry-date clearfix"><span data-icon="&#xe276;"></span>August 22, 2013</span>
                                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque</p>
                                            </div>
                                        </article>
                                    </li>*@
                                </ul>
                                <a href="#" class="view-all">مشاهده تمامی اخبار  &raquo;</a>
                            </div><!--widget-->
                        </div><!--span12-->
                    </div><!--row-fluid-->
                </div><!--wrapper-->