﻿
@model Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel
@{
    string guid=Guid.NewGuid().ToString();
    string txtTitleId = "txtTitle" + guid;
    string txtDescriptionId = "txtDescriptionId" + guid;
    string chkIsDefaultId = "chkIsDefault" + guid;
    string btnSendId = "btnSend" + guid;
}
<script type="text/javascript">
    function onSuccessAdaptGallery() {
        alert("Success Adapting Gallery");
    }
    $(function () {
        $("#@btnSendId").click(function () {

            
            var postData = null;
          
            postData = { Title: $('#@txtTitleId').val(), Id: '@Model.Id', ParentId: '@Model.ParentId', Description: $('#@txtDescriptionId').val(), AdaptMode: '@Model.AdaptMode', IsDefault: $('#@chkIsDefaultId').is(':checked') };
          
            
            showCommunicationPanelMessage("ارسال اطلاعات");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AdaptGallery")',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        showCommunicationPanelMessage(data, 4000);
                        reloadGalleryMenu();
                        reloadGalleryHeader();
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                      alert(errorMessage+ xhr.toString() + textStatus);
                }
            });
        });
    });
</script>
<div id="AdaptGalleryDiv">
    <table>
        <tr>
            <td>
                عنوان گالری:
            </td>
            <td>
                @Html.TextBoxFor(e => e.Title, new { id = txtTitleId })
            </td>
        </tr>
        <tr>
            <td>
                توضیح گالری:
            </td>
            <td>
                 @Html.TextBoxFor(e=>e.Description, new { id = txtDescriptionId })
            </td>
        </tr>
           <tr>
            <td>
               گالری پیش فرض:
            </td>
            <td>
                 @Html.CheckBoxFor(e=>e.IsDefault, new { id = chkIsDefaultId })
            </td>
        </tr>
    </table>
    

    <input type="button" value="Send"  id="@btnSendId"/>
        
</div>