﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.GalleryImageModel
@{
    string btnEditGalleryImageInfo = "btnEditGalleryImageInfo" + Model.ImageId;
    string txtTitle="txtTitleEditGalleryImageInfo"+Model.ImageId;
    string txtDescription="txtDescriptionEditGalleryImageInfo"+Model.ImageId;
}
<script type="text/javascript">
    function onSuccessAdaptGallery() {
        alert("Success Adapting Gallery");
    }
    $(function () {
        $("#@btnEditGalleryImageInfo").click(function () {
            
            var postData = null;
            postData = { Title: $('#@txtTitle').val(), ImageId: '@Model.ImageId',  Description: $('#@txtDescription').val() };
          
            
            
            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditGalleryImageInfo")',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        
                        alert("seccess");
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                      alert(errorMessage+ xhr.toString() + textStatus);
                }
            });
        });
    });
</script>


<table>
      <tr>
           <td>
                @Html.TextBoxFor(e => e.Title, new { id =txtTitle  })
            </td>
            <td>
                عنوان عکس
            </td>
           
        </tr>
        <tr>
             <td>
                 @Html.TextBoxFor(e=>e.Description, new { id =txtDescription})
            </td>
            <td>
                توضیحات عکس
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="@btnEditGalleryImageInfo" value="به روز اطلاعات" />
            </td>
          
        </tr>
</table>