﻿@model IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage>

<script>

    function EditInfoGalleryImageWrapperClick(clickerObj) {
        $(clickerObj).click(function () {
            var galleryImageId = $(clickerObj).attr("galleryImageId");
            var galleryImageControlId = $(clickerObj).attr("galleryImageControlId");
            var urlOfAction = "@Url.Action("EditGalleryImageInfo")" + "?galleryImageId=" + galleryImageId;

            var $dialog = $('<div></div>');
            

            $(clickerObj).append($dialog);
            $.ajax({
                url: urlOfAction,
                type: 'GET',

                success: function (data) {
                    $dialog.html(data);
                    $dialog.dialog({
                        autoOpen: false,
                        height: 160,
                        width: 350,
                        modal: true,
                        close: function (event, ui) {
                            $dialog.remove();
                            reloadGalleryImageWrapperById(galleryImageControlId, galleryImageId);
                        }
                    });

                    $dialog.dialog("open");
                },
                error: function (data) {
                    //error handle
                }
            });
        });
    }
    function ViewGalleryViewerImageWrapperClick(clickerObj) {
        $(clickerObj).click(function () {
            var galleryImageId = $(clickerObj).attr("galleryImageId");
            var galleryId = $(clickerObj).attr("galleryId");
            
            var urlOfAction ="@Url.RouteUrl("Default",new {Controller="ImageGallery",Action="GalleriaViewer"})" + "?galleryId=" + galleryId;
            var $dialog = $('<div></div>');
            $(clickerObj).append($dialog);

            $.ajax({
                url: urlOfAction,
                type: 'GET',

                success: function (data) {
                    $dialog.html(data);
                    $dialog.dialog({
                        autoOpen: false,
                        height: 560,
                        width: 840,
                        modal: true,
                        close: function (event, ui) {
                            $dialog.remove();

                        }
                    });

                    $dialog.dialog("open");
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                    alert(xhr.responseText);
                    
                    //error handle
                }
            });
        });
    }

    
    

    $(function () {
        $(".EditInfoGalleryImageWrapper").each(function (index, element) {
            EditInfoGalleryImageWrapperClick(this);
        });
        
        $(".ViewGalleryViewerImageWrapper").each(function (index, element) {
            ViewGalleryViewerImageWrapperClick(this);
        });
    });
    
    function galeryImageWrapperEdit() {
       
    }
    function SuccessDeletingImageGallery(elementId) {
        reloadGalleryHeader();
        $("#" + elementId).remove();
    }
</script>

  @{ int counter=0;
      int max = Model == null ? 0 : Model.Count();
      
      }
<table class="ControlItemCollectionTable">

@if (Model!=null)
{
        foreach (var controlItem in Model)
            {
                if(counter%5==0)
                {
                        @: <tr>
                            }
                counter++;
                        <td>
              
                            @Html.Partial("GalleryIMageWrapper",controlItem)
                        </td>
   
                    if(counter%5==0 || counter==max)
                {
                        @: </tr>
                            }
         
       
            }
}
    </table>