﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Gallery
@{
    bool isNotNull = Model != null;
    string galleryTitle = isNotNull ? Model.Title : " هنوز گالری انتخاب نشده است";
    string galleryCreationDateTime = isNotNull ? Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDateTime(Model.CreationDateTime) : "-";
    var galleriesCount =isNotNull? (Model.Gallery1 != null ? Model.Gallery1.Count().ToString() : "0") :"-";
    var imagesCount = isNotNull ? (Model.GalleryImages != null ? Model.GalleryImages.Count().ToString() : "0") : "-";
}
<table>
    <tr>
        <td>
            نام آلبوم: @galleryTitle
        </td>
        <td >
            تاریخ ساخت: @galleryCreationDateTime
        </td>
        <td>
            تعداد آلبوم داخلی:@galleriesCount
        </td>
        <td>
            تعداد فایل: @imagesCount
        </td>
        <td>
            
        </td>
    </tr>
</table>