﻿<!DOCTYPE html>

@{
    
    var selectedUserName = Request.QueryString["userName"];
    var currentUser=Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = currentUser != null ? currentUser.UserName : string.Empty;
    
     if(string.IsNullOrEmpty(selectedUserName))
     {
         selectedUserName= currentUserName;
     }
    
}

<html>
<head>

    <link rel="stylesheet" href="@Url.Content("/Content/bootstrap.min.css")">
     <link rel="stylesheet" href="@Url.Content("/Content/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/LayoutStyle.css")">

    <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/Local/CommonLibrary.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>

        <script src="~/Scripts/DoctorOnliner.Communication.js" type="text/javascript" ></script>

        <script src="@Url.Content("~/Scripts/Local/PersianCalender.js")" type="text/javascript"></script>
     <script type="text/javascript" >
         $(document).ready(function () {
            @{
                string persianDate = Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(DateTime.Now);
                int year = int.Parse(persianDate.Substring(0, 4));
                int month = int.Parse(persianDate.Substring(5, 2));
                int day = int.Parse(persianDate.Substring(8, 2));

            }
            initializeDate(@year,@month,@day,@year,@month,@day,@year,@month,@day);

            $("#copyright").css("style","none");
        });
    </script>
    <link href="@Url.Content("~/Content/PersianPicker.css")" rel="stylesheet" type="text/css" />


    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  

@*  
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
    
     <script src="@Url.Content("~/Scripts/galleria-1.3.2.min.js")"></script>*@
    
    
   
</head>
<body>
           @Html.Action("Scripts", "Profile", new { area="User"})

    <div class="container-fluid">
        <div id="header">
          
                                      <div id="MainSearch">
                                          @Html.Partial("_MainSearch")
                                      </div>
          
                                       <div id="logindisplay" >
                                           <br />
@*                                        @Html.Partial("_LogOnPartial")*@
                                    </div>
                           
             @Html.Partial("_CommunicationPanel")
        </div>
        @Html.Partial("_MainPageHeader")
     
        <div class="row" style="width:100%;">
            <div class="col-md-2" >
                 <img src="~/Content/Images/ads.jpg" style="width:100%;"/>
            </div>
            <div class="col-md-9" >
                <div  id="main2" style="min-height:400px;">
                    @RenderBody()
                </div>
            </div>
           <div class="col-md-1">
                @if (currentUser!=null)
                {
                    <table style="margin-top:5px;">
                    @foreach (var following in currentUser.Follows1.Take(20))
                    {
                        <tr><td style="padding-bottom:3px;">
                            @Html.Action("ShowUserStatus", "Profile", new { area = "User", User = following.MembershipUser, maxWidth = 48 })
                        </td></tr>
                    }
                    </table>
                }
                  <span class="btn btn-default" id="btnLoadAddFollowings">
                    All
                </span>
            </div>
        </div>
        
        <div class="row footer-text text-center" id="footer">
             <a href="@Url.Action("Index","Home",new {area=""})">Home Page</a> 

                | <a href="#">Help</a> 
@*            | <a href="#">Create Page</a> *@
            | <a href="@Url.Action("ShowApplications","Application",new {area="User"})">Applications </a> 
          @*  | <a href="#">Photos </a> 
            | <a href="#">Users </a> 
            | <a href="#">Offers </a> 
            | <a href="#">Create Ad </a> 
            | <a href="#">Privacy</a> 
             | <a href="#">Cookies </a> 
             | <a href="#">Terms </a> *@
             | <a href="#">About </a> 
             | <a href="#"> </a> @Html.ActionLink("Contact", "SendFeedback", "Offer", new { area = "User" }, new { })
            <br />
	            <a href="https://www.linkedin.com/pub/abbas-bagherian/3b/109/76" ><span class="footer-text1"> ©2015 - an Abbas Bagherian Kasgari production All Rights Reserved.</span></a>
        </div>
         <div id="copyright" style="visibility:hidden">
        Copyright &copy; 2010 <a href="http://apycom.com/">Apycom jQuery Menus</a>
    </div>
    </div>
</body>
</html>
