﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser>
@*@if(Model != null)
{
     <div class="main-wrapper">
        <div class="content-grids">
            <section class="layout">
                @foreach(var user in Model){
				   <article class="grid-item">
						
						<!--item-header-->

						<main class="add-container">                                              
                                @Html.Action("ShowUserStatusFull","Profile",new {area="User",user=user})
						</main>
						<!--add-container-->

						
						<!--item-footer-->
					</article>
                }
            </section>
            <!--layout-->
        </div>
	</div>  *@

@if(Model != null && Model.Count>0)
{
    if (this.ViewBag.isLinear == true)
    {
        
         <div class="items-table-container">
            <table class="items-table-small">
			    <tbody>
				   
                                @foreach (var user in Model)
                                {
                                    <tr>
                                      
                                            @Html.Action("ShowUserStatusLinear","Profile",new {area="User",user=user})
                                       
                                    </tr>
                                }
				    
			    </tbody>
		    </table>
        </div>
    }
    else
    {
        <div  class="side-columns-container">
         <div class="items-table-container">
		    <table class="items-table">
			    <tbody>
				    <tr>
                                @foreach (var user in Model)
                                {
                                    <td>
                                        @Html.Action("ShowUserStatusFull","Profile",new {area="User",user=user})
                                    </td>
                                }
				    </tr>
			    </tbody>
		    </table>
	    </div>
        </div>
    }
    
}
@*else{
    
	
	  <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>نمایش کاربران</h3>

                        </header>
                        <main class="article-body">  
                            <strong>نمایش کاربران برای این مورد مخفی شده است و یا فاقد اطلاعات می باشد.</strong>
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
}*@