body {
	background-color: #035378;
	margin: 0px;
	padding: 0px;
}
.top-text{
	font-family: tahoma;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	text-align: right;
	padding-right: 10px;
}
.top-text a{color:#FFFFFF; text-decoration:none;}
.top-text a:hover{color:#FFFFFF; text-decoration:underline;}

h1 {
	font-family: tahoma;
	font-size: 22px;
	line-height: 30px;
	color: #025172;
	text-decoration: none;
	font-weight: normal;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 0px;
}
.form-text {
	font-family: tahoma;
	font-size: 12px;
	line-height: 36px;
	color: #025172;
	text-decoration: none;
	text-align: right;
	padding-right: 5px;
}
.form-text-box {
	background-color: #e4f1f9;
	height: 19px;
	width: 148px;
	border: 1px solid #025273;
}
.form-login {
	font-family: tahoma;
	font-size: 12px;
	line-height: 25px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/sign-up-bg.jpg);
	background-repeat: repeat-x;
	text-align: center;
	height: 26px;
	width: 61px;
}
.form-login a{color:#FFFFFF; text-decoration:none;}
.form-login a:hover{color:#FFFFFF; text-decoration:underline;}

.main-bg {
	background-color: #e4f1f9;
	background-image: url(../images/main-bg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
h2 {
	font-family: tahoma;
	font-size: 20px;
	font-weight: normal;
	color: #717171;
	text-decoration: none;
	line-height: 22px;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
}
.feature-heading {
	font-family: tahoma;
	font-size: 13px;
	font-weight: bold;
	color: #717171;
	text-decoration: none;
	text-align: left;
	padding-left: 12px;
}
.feature-heading a{color:#717171; text-decoration:none;}
.feature-heading a:hover{color:#717171; text-decoration:underline;}

h3 {
	font-family: tahoma;
	font-size: 20px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	line-height: 22px;
	text-align: left;
	margin-top: 12px;
	margin-bottom: 9px;
}
.welcome-text {
	font-family: arial;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 19px;
	text-align: justify;
}
.welcome-more {
	font-family: arial;
	font-size: 13px;
	color: #333333;
	text-decoration: none;
	line-height: 19px;
	text-align: justify;
}
.welcome-more a{color:#333333; text-decoration:underline;}
.welcome-more a:hover{color:#333333; text-decoration:none;}

.footer-text {
	font-family: verdana;
	font-size: 11px;
	line-height: 22px;
	font-weight: bold;
	color: #f5fafe;
	text-decoration: none;
	text-align: left;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.footer-text a{color:#f5fafe; text-decoration:none;}
.footer-text a:hover{color:#f5fafe; text-decoration:underline;}

.footer-text1 {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
	text-align: left;
}
