﻿@model String
@{
    ViewBag.Title = "مشاهده خریدهای انجام شده";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = 9;

}

<script>
    $(function () {
        LoadBuyedOffersForUser();

        function LoadBuyedOffersForUser() {
            var strUrlOfSoldOffer = "@Html.Raw(Url.Action("SoldOfferForUserOffer", "Offer", new { area = "user" }))" + "?offerId={OfferId}";
            var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
            var strUrlOfSellerProfile = "@Url.Action("OtherProfile", "Profile", new { area = "user" })" + "?userName={SallerUserName}";
            offerGrid = $('#buyedOffersForUserGrid').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("BuyedOffersForUser", "Offer", new { area = "User" })",
                autoLoad: false,
                columns: [

                    { width: 200, field: 'Title', title: 'عنوان', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '">{Title}</a>', align: 'center', sortable: true },
                    { width: 150, field: 'FileName', title: 'عکس', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '"><img src="{FileName}"/></a>', align: 'center', sortable: true },
                    { width: 200, field: 'SallerUserName', title: 'فروشنده', tmpl: '<a target="_blank" href="' + strUrlOfSellerProfile + '">{SallerUserName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'DateTime', title: 'تاریخ خرید', sortable: true, align: 'center' },
                    { width: 120, field: 'Quantity', title: 'تعداد خرید', sortable: true, align: 'center' },
                    { width: 120, field: 'PaymentAmount', title: 'مبلغ خرید', sortable: true, align: 'center' },
                    { width: 120, field: 'DiscountAmount', title: 'مبلغ تخفیف', sortable: true, align: 'center' },
                    //{ width: 150, field: 'Title', title: '', tmpl: '<a target="_blank" href="' + strUrlOfSoldOffer + '">نمایش جزییات</a>', align: 'center', sortable: true },


                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var offerName = $("#txtOfferName").val();
            offerGrid.reload({ userName: "@Model" });
        }

        $(document).on('click', '#btnLoadBuyedOffersForUser', function (e) {
            LoadBuyedOffersForUser();
        });
    });
</script>

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3> گزارشات خرید</h3>

            </header>
            <main class="article-body" style="display:none;">
                <div class="items-table-container">
                    <table class="items-table">
                        <tbody>
                            <tr>
                                <td>نام کالا </td>
                                <td>
                                    <input type="text" id="txtOfferName" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadBuyedOffersForUser">
                بارگزاری مجدد
            </span>
        </p>


        <table id="buyedOffersForUserGrid"></table>

    </section>
</div>