﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer


@if (Model != null)
{
    bool showCommentCount = Model.OfferType ==(short) Offtick.Core.EnumTypes.EnumOfferType.Post;
     <div class="comments-container">
        <div class="comment-form-container">

            <form class="comment-form" name="commentform" id="commentform">
                 @if(showCommentCount){<span class="comments-count">@Model.OfferComments.Count()</span>}
                <textarea  class="txtComment comment-message" data-offerId="@Model.OfferId" placeholder="دیدگاه شما ..."></textarea>
                <input type="submit">
            </form>
        </div>
        <!--comment-form-container-->
          <input type="hidden" class="hdnOfferCommentsTake" value="9" />
        <input type="hidden" class="hdnOfferCommentsSkip" value="0"/>

        <ul class="comments-list OfferCommentsContainer OfferCommentsSliceContainer" data-offerId="@Model.OfferId">
            @Html.Action("SliceCommentsForOffer", "Offer", new { take = 9, skip = 0, offerId=Model.OfferId})
           
        </ul>
           @if(Model.OfferComments.Count>0){//should  compare to pageSize insteed to zero??
               
               <div class="more-container">

                    <span id="more-comments" class="more-comments btnLoadMoreOfferComments"> موارد بیشتر <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </span>
                </div>
         }
        <div>
        @*    @if(offerType!= EnumOfferType.Food){
             <span class="btn @likeCssClass likeOffer">

            </span>
            }
        *@
    </div>
   </div> 

    
    
    
   
}



