﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.OfferVisitedPresenterModel
@{if(Model!=null)
  {
    string modalMode="";
      switch(Model.ModalMode){
          case Offtick.Web.OfftickWeb.Areas.User.Models.ModalMode.large:
              modalMode = "modal-lg";
              break;
          case Offtick.Web.OfftickWeb.Areas.User.Models.ModalMode.Small:
              modalMode = "modal-sm";
              break;
          case Offtick.Web.OfftickWeb.Areas.User.Models.ModalMode.Medium:
              modalMode = "modal-md";
              break;
      }
      
      var offer=Offtick.Business.Services.Managers.OfferManager.Instance.GetOffer(Model.OfferId);
      
      if(offer!=null){
          var offerVisiteds=offer.OfferVisiteds;
            <!-- Modal -->
            <div id="@Model.ControlId" class="modal fade" role="dialog" tabindex='-1'>
              <div class="modal-dialog @modalMode">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center">@Model.HeaderTitle</h4>
                  </div>
                  <div class="modal-body text-left">
                        @Html.Action("CommentsForOffer","Offer",new {area="User",offer=offer}) 
                  </div>
                </div>

              </div>
            </div>
        }
    }
}