﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.Offer> 

@using Offtick.Core.Utility;
@using Offtick.Core.Utility.PersianTools;












@{
          var offers=Model;
          if (offers != null)
          {
              
                  
                        int k = 0;
                        for (k = 0; k < offers.Count; k++)
                        {
                            var offer = offers[k];

                            
                            var userNameOfOfferOwner = offer.MembershipUser.UserName;
                            var userIdOfOfferOwner = offer.MembershipUser.UserId;
                            var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                            string urlOfOfferImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, Offtick.Business.Services.Storage.File.ImageFileManager.ImageState.Thumbnail320);
                            string urlOfOwnerImage = offer.MembershipUser.Picture == null ? "/Content/images/user-avatar.png" : userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.MembershipUser.Picture, true);

                            string urlOfAction = Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId });
                            string represantationTime = string.Empty;

                            var foodOffer = offer.OfferFoods.FirstOrDefault();
                            var tourOffer = offer.OfferTours.FirstOrDefault();
                            
                            int countOfSoled = 0;
                            var lastComment = offer.OfferComments.LastOrDefault();
                            string lastCommentTitle = lastComment != null ? lastComment.CommentText : string.Empty;
                            var lastCommentUser = lastComment != null ? lastComment.MembershipUser.FirstName : string.Empty;
                            string nameOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(offer.MembershipUser);

                            if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Food)
                            {
                                 countOfSoled = foodOffer.OfferFoodOrders.Sum(e => e.Quantity);
                                represantationTime=Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetStringExpireTime(offer.DateTime, foodOffer.TimeToExpire);
                            }
                            else
                            {
                                represantationTime = @Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(offer.DateTime);
                            }
   
                            
                                 
                                     

                                       <article class="grid-item">
                                            <div class="item-header">
                                                <div class="user-avatar-container">
                                                     <a class="col-md-4" href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })" title="@nameOfOfferOwner">
                                                        <img src="@urlOfOwnerImage" alt="@userNameOfOfferOwner" class="user-avatar">
                                                    </a>
                                                    <span class="buyers">@countOfSoled خرید</span>
                                                </div>
                                                <div class="username-container">
                                                    <h3 class="offer-title">@offer.Title.TruncateAtWord(20)</h3>
                                                    <span class="counter" >@represantationTime </span>
                                                    @*<span class="username">@lastCommentUser : </span>
                                                    <span class="useroffer"> @lastCommentTitle</span>*@
                                                     <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">
                                                        <h3 class="offer-title" style="margin-top:2px;">@nameOfOfferOwner  </h3>
                                                    </a>
                                                </div>
                                            </div>
                                            <!--item-header-->

                                            <main class="add-container">

                                                 @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Tour)
                                                     {
                                                            if(Request.Browser.IsMobileDevice){
                                                                   <a href="@urlOfAction" target="_blank">
                                                                        <img src="@urlOfOfferImage" alt="" class="add-img">
                                                                    </a>
                                                                    <div class="sales-icon">
                                                                        <span class="discount-percent">@tourOffer.DiscountPercent %</span>
                                                                        <img src="/Content/images/offtick-off-110.png" alt=""/>
                                                                    </div>
                                                            }else{
                                                                <img src="@urlOfOfferImage" alt="" class="add-img">
                                     
                                                                <div class="sales-icon">
                                                                    <span class="discount-percent">@tourOffer.DiscountPercent %</span>
                                                                    <img src="/Content/images/offtick-off-110.png" alt=""/>
                                                                </div>
                                                                <div class="add-content">
                                                                    <ul class="content-list">
                                                                        <li><span class="item-discounted-price "> <i class="currencyFa"> @tourOffer.DiscountPrice</i>@tourOffer.DiscountPriceUnit </span> <em>@tourOffer.DiscountPriceTitle</em></li>
                                                                        <li>
                                                                            <div class="right-side">
                                                                                @{
                                                                                    string strReturnDateTime = tourOffer.ReturnDateTime.HasValue ? PersianDateConvertor.ToKhorshidiDate(tourOffer.ReturnDateTime.Value) : string.Empty;
                                                                                    string strWentDateTime = tourOffer.ReturnDateTime.HasValue ? PersianDateConvertor.ToKhorshidiDate(tourOffer.WentDateTime.Value) : string.Empty;
                                                                                }
                                                                                <span > رفت   @strWentDateTime </span>
                                                                                 <span >  برگشت @strReturnDateTime</span>
                                                                                
                                                                            </div>
                                                                            <div class="left-side">
                                                                                <span>@tourOffer.MembershipCity.CityName</span>
                                                                                <span>@tourOffer.TravelType.Name</span>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <a href="@urlOfAction" class="item-button" target="_blank">OffTick</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            }
                                                }else
                                                if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Food)
                                                     {
                                                            if(Request.Browser.IsMobileDevice){
                                                                   <a href="@urlOfAction" target="_blank">
                                                                        <img src="@urlOfOfferImage" alt="" class="add-img">
                                                                    </a>
                                                                    <div class="sales-icon">
                                                                        <span class="discount-percent">@foodOffer.DiscountPercent %</span>
                                                                        <img src="/Content/images/offtick-off-110.png" alt=""/>
                                                                    </div>
                                                            }else{
                                                                <img src="@urlOfOfferImage" alt="" class="add-img">
                                     
                                                                <div class="sales-icon">
                                                                    <span class="discount-percent">@foodOffer.DiscountPercent %</span>
                                                                    <img src="/Content/images/offtick-off-110.png" alt=""/>
                                                                </div>
                                                                <div class="add-content">
                                                                    <ul class="content-list">
                                                                        <li><span class="item-discounted-price "> <i class="currencyFa"> @foodOffer.DiscountPrice</i>@foodOffer.DiscountPriceUnit </span> <em>@foodOffer.DiscountPriceTitle</em></li>
                                                                        <li>
                                                                            <div class="right-side">
                                                                                <span class="currencyFa">@foodOffer.OriginalPrice</span>
                                                                                <span>@foodOffer.OriginalPriceTitle</span>
                                                                            </div>
                                                                            <div class="left-side">
                                                                                <span>@foodOffer.DiscountPercent%</span>
                                                                                <span>تخفیف</span>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <a href="@urlOfAction" class="item-button" target="_blank">OffTick</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            }
                                                }
                                                @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Post)
                                                {
                                                    <a href="@urlOfAction" target="_blank">
                                                        <img src="@urlOfOfferImage" alt="" class="add-img">
                                                    </a>
                                                }
                                            </main>
                                            <!--add-container-->

                                            <footer class="item-footer">
                                                <span class="item-address">
                                                      @{
                                                        var lengthOfShortAddress = 15;
                                                        string address = string.Format("{0} - {1}", offer.MembershipCity != null ? offer.MembershipCity.CityName : " ", offer.LocationAddress);
                                                        bool hasFullAddress = address.Length > lengthOfShortAddress;
                                                        
                                                    }
                                                    @if(hasFullAddress){
                                                       <span class="full-address"><i class="fa fa-map-marker"></i>@address</span>
                                                        <i class="fa fa-map-marker"></i> @address.TruncateAtWord(lengthOfShortAddress);

                                                    }
                                                    else{
                                                        <i class="fa fa-map-marker"></i> @address 
                                                    }
                                                     
                                                </span>

                                                <!--comments-container-->
                                                <ul class="item-data" >
                                                    @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Post)
                                                     {
                                                       
                                                       <li class="item-comments" data-offerId="@offer.OfferId">@offer.OfferComments.Count</li>
                                                        <li class="item-likes" data-offerId="@offer.OfferId">@offer.OfferLikes.Count</li>
                                                        <li class="item-views" data-offerId="@offer.OfferId">@offer.CountOfVisited</li>
                                                         
                                                        @* <li class="item-comments" data-offerId="@offer.OfferId">325</li>
                                                        <li class="item-likes" data-offerId="@offer.OfferId">362</li>
                                                        <li class="item-views" data-offerId="@offer.OfferId">192</li>*@


                                                    }
                                                    
                                                    @*<li class="item-comments"  data-offerId="@offer.OfferId">@offer.OfferComments.Count</li>*@
                                                    @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Food)
                                                     {
                                                        <li class="item-views" data-offerId="@offer.OfferId">@foodOffer.ViewCount</li>
                                                         <li class="item-sales" data-offerId="@offer.OfferId" >@foodOffer.OfferFoodOrders.Count</li>
                                                    }
                                                     @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Tour)
                                                     {
                                                        <li class="item-views" data-offerId="@offer.OfferId">@tourOffer.ViewCount</li>
                                                         <li class="item-sales" data-offerId="@offer.OfferId" >0@*@tourOffer.OfferFoodOrders.Count*@</li>
                                                    }

                                                </ul>
                                             </footer>
                                            <!--item-footer-->

                                        </article>
                                        <!--add-item-->
                                      
                    }  
            }           
    }           
                                
                                  
                                        
              
                                    