﻿  @model Offtick.Data.Context.ExpertOnlinerContexts.Offer

@{
    var offer = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";

    
    string userNameOfOfferOwner = Model.MembershipUser.UserName;
    Guid userIdOfOfferOwner = Model.MembershipUser.UserId;
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = currentUser != null ? currentUser.UserName : string.Empty;
    
    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
    string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, Model.MembershipUser.Picture);
    string nameOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(Model.MembershipUser);

    var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), Model.FileName, false);

    bool isOfferLiked = Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, Model);
    var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";
    bool isFoodOffer = Model.OfferFoods.FirstOrDefault() != null;
    var lastComment = offer.OfferComments.LastOrDefault();
    string lastCommentTitle = lastComment != null ? lastComment.CommentText : string.Empty;
    var lastCommentUser = lastComment != null ? lastComment.MembershipUser.FirstName : string.Empty;
}



 <div class="main-wrapper single">

            <div class="single-image-content offerContainer" data-offerId="@Model.OfferId">
                <section class="layout">
                    <header class="offer-header">
                        <div class="time-container">
                            <span class="counter">@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPersianDate(Model.DateTime) </span>
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>

                        <div class="user-avatar-container">
                             <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">  
                                <img src="@urlOfOfferOwner" alt="@nameOfOfferOwner" class="user-avatar">
                            </a>
                            <div class="user-state one-hour">
                                <span class="user-state-title">Last seen 1 hour ago</span>
                            </div>
                        </div>
                        <div class="offer-title-container">
                            <span class="item-address"><i class="fa fa-map-marker"></i> 
                                @string.Format("{0} - {1}", offer.MembershipCity != null ? offer.MembershipCity.CityName : " ", offer.LocationAddress)
                            </span>

                         
                          
                                <h3 class="offer-title">@offer.Title</h3>
                          
                            <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })" >
                                <h3 class="offer-title" style="margin-top:10px;">@nameOfOfferOwner  </h3>
                            </a>
                          @* @if(!string.IsNullOrEmpty(lastCommentTitle))
                           {
                                <span class="offer-desc">@lastCommentUser : @lastCommentTitle</span>
                           }*@
                            <span class="offer-desc">@Model.Body</span>
                        </div>

                        <div class="social-container">
                            <ul class="social-list">
                                <li>
                                    <a class="google" href="#">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>

                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>

                                </li>
                                <li>
                                    <a class="linkedin" href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </header>
                    <!--offer-header-->

                    <div class="primary">
                        @Html.Action("CommentsForOffer", "Offer", new { area = "User", offer = @Model })
                    </div>
                    <!--primary-->

                    <div class="secondary">

                        <div class="image-container">
                            <span class="likeToggler">
                                <i class="@likeCssClass likeOffer" aria-hidden="true"></i>
                            </span>
                             
                                <img class="sp-image" src="@urlOfImage"  />
                            
                            @Html.Action("OfferManagementCombo", "Offer", new { area = "User", currentUserName = currentUserName, userNameOfOfferOwner = userNameOfOfferOwner })
                           
                         <article class="grid-item">
                             <footer class="item-footer">
                                 <ul class="item-data" >
                                        <li class="item-comments" data-offerId="@offer.OfferId">@offer.OfferComments.Count</li>
                                        <li class="item-likes" data-offerId="@offer.OfferId">@offer.OfferLikes.Count</li>
                                        <li class="item-views" data-offerId="@offer.OfferId">@offer.CountOfVisited</li>
                                </ul>
                             </footer>
                            </article>
                          </div>
                        <!--slider-container-->

                        <div class="likers-avatar-container">
                            <span class="likers-title">
                               <i class="fa fa-heart" aria-hidden="true"></i>

                            </span>
                            <span class="likers-count likeOfferCount">@offer.OfferLikes.Count()</span>
                             @Html.Partial("LikesForOffer",offer)

                        </div>

                        <!--buyers-avatar-container-->

                    </div>
                    <!--secondary-->

                </section>
                <!--layout-->
            </div>
            <!--single-offer-content-->

        </div>
        <!--main-wrapper-->


  