﻿@model  Offtick.Data.Context.ExpertOnlinerContexts.Offer
@using  Offtick.Core.EnumTypes;


@if (Model != null)
{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var takeLength = 9;

    bool isOfferLiked = Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, Model);
    var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";
   EnumOfferType offerType =(EnumOfferType) Model.OfferType;
 
      <input type="hidden" class="hdnOfferLikesTake" value="@takeLength" />
        <input type="hidden" class="hdnOfferLikesSkip" value="0"/>

    
    <ul class="likers-list">
         @Html.Action("LikesForOfferSlice", "Offer", new { take = takeLength, skip = 0, offerId=Model.OfferId})
    </ul>
      if(Model.OfferLikes.Count>takeLength){
         <div class="more-container">

            <span  class="load-more-button btnLoadMoreOfferLikes"> موارد بیشتر <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
        </div>
      }
}