﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer


@{
   
    
 if(Model!=null){
     var offer = Model;
     Layout = "";



     var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

     var currentUserName = string.Empty;
     string roleName = string.Empty;
     Offtick.Data.Context.ExpertOnlinerContexts.MembershipUsersInRole roleOfUser = null;
     var thumbnailOfCurrentUser = string.Empty;
     if (currentUser != null)
     {
         currentUserName = currentUser.UserName;
         roleOfUser = currentUser.MembershipUsersInRoles.FirstOrDefault();
         if (roleOfUser != null)
         {
             roleName = roleOfUser.MembershipRole.RoleName;
         }
         thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
     }




     //var offers = Offtick.Business.Services.Managers.OfferManager.Instance.getWallOffersForUser(currentUser, 0, 20);





     var urlOfCurrentUserProfile = Url.Action("Index", "Profile", new { area = "User" });


     string userNameOfOfferOwner = offer.MembershipUser.UserName;
     Guid userIdOfOfferOwner = offer.MembershipUser.UserId;
     var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
     string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, offer.MembershipUser.Picture);
     var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, false);
     var foodOffer = offer.OfferFoods.FirstOrDefault();
     var foodOfferImages = foodOffer != null ? foodOffer.OfferFoodImages.Where(e => e.ImageType == (short)Offtick.Business.Services.Managers.FoodOfferImageType.FoodImage).ToList() : null;

     bool isOfferLiked = Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, offer);
     var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";
    <div class="row"  >
     
        
       
              
        @*  <a href="@Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId })">
                    <img src="@urlOfImage" style="max-width:1000px;max-height:500px;"/>
            </a>*@
        <div class="col-md-7">
          
            <div class="row">
                @if (foodOfferImages != null && foodOfferImages.Count > 0)
                {
                    <div id="foodCarousel" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                          @for (int i = 0; i < foodOfferImages.Count; i++)
                          {
                              string classStr= i==0?"class='active'":string.Empty;
                                <li data-target="#foodCarousel" data-slide-to="@i" @classStr></li>
                          }
                      </ol>

                      <!-- Wrapper for slides -->
                          <div class="carousel-inner " role="listbox"  >
    
     

                            @for (int i = 0; i < foodOfferImages.Count; i++)
                            {
                                var galleryImage = foodOfferImages[i];
                                string classStr = i == 0 ? "active" : string.Empty;
                                string imgUrl = Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(galleryImage.Name, userNameOfOfferOwner, false);


                               <div class="item @classStr" >
                                    <img src="@imgUrl"  style="margin: auto; max-width:400px;  max-height:400px;" >
                                      <div class="carousel-caption">
                                       @* <h3>@galleryImage.Title</h3>*@
                                        <p>@galleryImage.Description</p>
                                      </div>
                                 </div>
                            }
   


                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#foodCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#foodCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                }
            </div>
                    
            <div class="row">
                <div class="col-md-1 col-md-offset-1">
                    @*<span class="fa fa-heart likeOfferCount">@offer.OfferLikes.Count()</span>*@
                    @{
                        string controlId=Guid.NewGuid().ToString();
                    }

                    <span class="btn btn-warning btn-xs fa fa-eye " data-toggle="modal" data-target="#@controlId">@foodOffer.ViewCount</span>

                    @Html.Action("OfferVisitedPresenter","Offer",new {area="User",offerId=offer.OfferId,controlId=controlId,pictureSize=64,headerTitle="مشاهده اشخاص بازدیدکننده", modalMode=Offtick.Web.OfftickWeb.Areas.User.Models.ModalMode.Medium})
                </div>
                <div class="col-md-1 col-md-offset-8">
                   @* <span class="fa fa-comment commentOfferCount">@offer.OfferComments.Count()</span>*@

                        @{
                            string baseControlId=Guid.NewGuid().ToString();
                            string viewControlId="view"+baseControlId;
                            string commentControlId = "comment" + baseControlId;
                        }
                       <span class="btn btn-warning btn-xs fa fa-comment" style="padding-left:10px;" data-toggle="modal" data-target="#@commentControlId"> @offer.OfferComments.Count</span>
                        @Html.Action("CommentsForOfferModal","Offer",new {area="User",offerId=offer.OfferId,controlId=commentControlId,pictureSize=64,headerTitle="مشاهده اشخاص نظردهنده", modalMode=Offtick.Web.OfftickWeb.Areas.User.Models.ModalMode.large})

                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="well">
        
               <div class="row text-center text-bold">
                   <p style="padding-top:5px;padding-bottom:5px;" class="h4">
                       @offer.Body
                    </p>
                       @offer.MembershipUser.LastName

                </div>
                <div class="row text-center">
                    <span class="col-md-6  text-danger">
                        @foodOffer.DiscountPercent %
                    </span>
                     <span class="col-md-6 text-center text-danger">
                        @foodOffer.DiscountPriceTitle
                         <br />
                                                  <span>  @foodOffer.DiscountPrice </span>

                         <span >@foodOffer.DiscountPriceUnit</span>
                    </span>
                </div>

            @{
                var buyOrders=foodOffer.OfferFoodOrders.OrderByDescending(e=>e.DateTime).Take(7);
               
                    <div class="panel">

                        <div class="panel-body  text-right">
                             <span class="text-success h4 "> خریداران</span>
                          <br />

                            @foreach (var offerFoodOrder in buyOrders)
                                {
                                    @Html.Action("ShowUserStatus", "Profile", new { area = "User", user = offerFoodOrder.MembershipUser,maxWidth=32 });
                                }

                        </div>
                
                    </div>
                
            }
                <div class="row text-center" style="margin-top:25px;">
                      <span class="col-md-4 text-primary">
                        @foodOffer.OriginalPriceTitle
                         <br />
                         <span> <del>@foodOffer.OriginalPrice </del> </span>

                         
                    </span>            
                      @{
                            var countOfSoled = foodOffer.OfferFoodOrders.Sum(e => e.Quantity);
                            var countOfOffer = foodOffer.Quantity;

                            var remain = countOfOffer - countOfSoled;

                        }
                    <span class="col-md-4 text-warning">
                        <span class="fa fa-shopping-cart text-info"></span>
                        <br />
                        @countOfSoled
                    </span>
                   
                    <span class="col-md-4 text-warning">
                      
                        :باقی مانده
                        <br />
                        @remain
                    </span>
                   
                </div>
                <span class="text-right col-md-12 ">
                    
                    @offer.MembershipUser.Address
                    <span class="fa fa-map-marker text-info"></span>
                </span>
                
            </div>
          
            <div class="panel panel-default row" style="margin:10px; padding:10px;">
                
                <a href="@Url.Action("OfferViewer","Offer",new{area="User",offerId=Model.OfferId})">
                    <span class=" btn btn-success col-md-12 padding3 btn-md" >
                        مشاهده جزییات و خرید
                    </span>
                </a>
            </div>
        </div>
    </div>
}   
}


