﻿@using Offtick.Web.OfftickWeb.Infrustracture;
@{
    string userNameOfOfferOwner = ViewBag.userNameOfOfferOwner;
    string currentUserName = ViewBag.currentUserName;
    string roleName=GeneralHelper.GetRoleName(GeneralHelper.GetCurrentUser());

}  
  <div class="edit-icon">
    <i class="fa fa-cog" aria-hidden="true"></i>
    <ul data-offerId="@ViewBag.offerId">
        <li><span class="btn fa fa-eye reportOffer">  گزارش  </span></li>
         @if (!string.IsNullOrEmpty(userNameOfOfferOwner) && !string.IsNullOrEmpty(currentUserName) && (userNameOfOfferOwner.Equals(currentUserName) || roleName=="Administrator"))
        {
            <li><span class="btn fa fa-trash-o deleteOffer">  حذف  </span></li>
            <li class="divider"></li>
            <li><span  class="btn fa fa-wrench editOffer">  تنظیمات  </span></li>
             <li class="divider"></li>
             <li><span  class="btn fa fa-pencil-square-o upgradeOffer">  ویرایش  </span></li>
        }
    </ul>
</div>
    