﻿@{
    ViewBag.Title = "مشاهده آفتیک های من";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = 9;

}

<script>
    $(function () {
        
        $("#btnLoadMoreOffer").click(function () {
            
            var urlOfAction = "@Url.Action("GetOrderedOffersFor", "Offer", new { area = "User", })";
            $("#hdnOfferSkip").val(parseInt($("#hdnOfferTake").val()) +parseInt( $("#hdnOfferSkip").val()));

            var offerTake=$("#hdnOfferTake").val();
            var offerSkip=$("#hdnOfferSkip").val();

                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ take: offerTake, skip: offerSkip }),
                    dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#OfferContainer").append(data);
                   
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });
    });
</script>

<div class="row" style="min-height:400px;text-align:center;margin-top:30px; margin-left:5px;">
    <div class="col-md-12">
       <div id="OfferContainer">
        <input type="hidden" id="hdnOfferTake" value="@pageSize" />
        <input type="hidden" id="hdnOfferSkip" value="0"/>
       
        @Html.Action("GetOrderedOffersFor","Offer",new {area="User",take=pageSize,skip=0})
    </div>
    <br />
        <span class="btn btnB more-contents" id="btnLoadMoreOffer" data-appendcontrol="OfferContainer" data-emptycontrol="divEmptyOrder">
            بارگزاری تعداد بیشتر
        </span>
        <div class="main-wrapper single-page" id="divEmptyOrder" style="display:none">
            <section class="layout">
                <article>
                    <main class="article-body">
                        هنوز خریدی انجام نشده است.
                    </main>
                </article>
            </section>
        </div>
    </div>
</div>