﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.Offer>  
    @if (Model != null)
    {

        var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
        var currentUserName = currentUser != null ? currentUser.UserName : string.Empty;
        <div class="row">

             <div class="col-md-8 col-md-offset-2" style="margin-top:10px;text-align:center">
            @foreach (var offer in Model)
            {
                string userNameOfOfferOwner = offer.MembershipUser.UserName;
                Guid userIdOfOfferOwner = offer.MembershipUser.UserId;
                var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, offer.MembershipUser.Picture);
                var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, false);
                
                bool isOfferLiked=Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, offer);
                var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";
                bool isFoodOffer = offer.OfferFoods.FirstOrDefault() != null;
                if (isFoodOffer == true)
                {
                    @Html.Partial("WallFoodOffer", offer);
                }
                else
                {
                    <div style=" border: 1px solid #eee; padding:10px;margin-top:10px;" class="offerContainer" data-offerId="@offer.OfferId">
                    <div class="row">
                        <div class="col-md-2  row">

                            <a class="col-md-4" href="@Url.Action("OtherProfile","Profile",new {area="User",userName=userNameOfOfferOwner})">
                                <img src="@urlOfOfferOwner" class="thaumbnail32" />
                          </a>
                            <div class="col-md-8">
                                <a   href="@Url.Action("OtherProfile","Profile",new {area="User",userName=userNameOfOfferOwner})">
                                  @userNameOfOfferOwner:
                              </a>
                                <br />
                                @offer.DateTime.ToShortDateString()
                            </div>
                            

                        </div>
                        <span class="col-md-9  text-primary offerTitle">@offer.Title</span>
                        @if(userNameOfOfferOwner.Equals(currentUserName)){
                            <div class="dropdown col-md-1 ">
                                  <button class="btn btn-primary dropdown-toggle btn-xs" type="button" data-toggle="dropdown">Actions
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                    <li><span class="btn fa fa-times deleteOffer">Delete</span></li>
                                     <li class="divider"></li>
                                    <li><span  class="btn fa fa-pencil editOffer">Edit</span></li>
                                  </ul>
                                </div>
                        }
                    </div>
              
                   @*  <a href="@Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId })">
                             <img src="@urlOfImage" style="max-width:1000px;max-height:500px;"/>
                     </a>*@
                    <div >

                          <a href="@Url.Action("ShowOffer","Gallery",new{area="User",offerId=offer.OfferId})">
                                <img src="@urlOfImage" style="max-width:1000px;max-height:500px;"/>
                        </a>


                    </div>
                    
                    <div class="row">
                        <div class="col-md-1 col-md-offset-1">
                            <span class="fa fa-heart likeOfferCount">@offer.OfferLikes.Count()</span>

                        </div>
                        <div class="col-md-1 col-md-offset-8">
                            <span class="fa fa-comment commentOfferCount">@offer.OfferComments.Count()</span>
                        </div>
                    </div>
                    <div class="row offerDescription">
                        @offer.Body
                    </div>
                    <div class="row text-left offerCommentsContainer" >
                        @if (offer.OfferComments != null)
                        {

                            var offerOwnerCssClass = string.Empty;
                            if (currentUserName == userNameOfOfferOwner)
                            {
                                offerOwnerCssClass = "offerOwner";
                            }

                            foreach (var offerComment in offer.OfferComments.OrderByDescending(e => e.Datetime).Take(5).OrderBy(e => e.Datetime))
                            {
                                var offerCommenterCssClass = string.Empty;
                                
                                string thumbnailOfOfferCommenter = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(offerComment.MembershipUser.UserId, offerComment.MembershipUser.Picture);
                                if (currentUserName == offerComment.MembershipUser.UserName)
                                {
                                    offerCommenterCssClass = "offerCommenter";
                                }
                                
                                <div class="margin1 row @offerCommenterCssClass @offerOwnerCssClass">
                                    <div class="col-md-10">
                                        <a href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = offerComment.MembershipUser.UserName })">
                                        <img src="@thumbnailOfOfferCommenter" class="thaumbnail24" />
                                        </a>
                                        <a href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = offerComment.MembershipUser.UserName })" >@string.Format("{0} {1} :", offerComment.MembershipUser.FirstName, offerComment.MembershipUser.LastName) </a>
                                        <span class="small">@offerComment.CommentText</span>
                                    </div>
                                     
                                        <div class="col-md-2 invisible" data-commentId="@offerComment.OfferCommentId">
                                          @if (!string.IsNullOrEmpty(offerCommenterCssClass))
                                            {
                                                    <span class="btn fa fa-times offerCommentDelete"></span>
                                                     <span class="btn fa fa-pencil offerCommentEdit"></span>   
                                            }else
                                            if (!string.IsNullOrEmpty(offerOwnerCssClass))
                                            {
                                                    <span class="btn fa fa-times offerCommentDelete"></span>
                                            }

                                           
                                        </div>
                                     

                                </div>
                            }
                        }
                    </div>
                    <div>
                       @* <img src="@thumbnailOfCurrentUser" class="thaumbnail24">*@
                        <span class="btn @likeCssClass likeOffer">

                        </span>
                    
                        <input type="text" class="txtComment" data-offerId="@offer.OfferId" style="width:92%;" placeholder="Write a comment"/>
                    </div>
                </div>
                }
            }
        </div>
        </div>

    }
