﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionUrl = Url.Action("PostPhotoLoader", "Offer", new { area = "User" });

    string guid=Guid.NewGuid().ToString();
    string txtTitleId = "txtTitle" + guid;
    string txtDescriptionId = "txtDescriptionId" + guid;
    string btnSendId = "btnSend" + guid;
    string fileUploadId = "fileUpload" + guid;
        
}

   <script src="@Url.Content("~/Scripts/Local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>


<div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>بارگزاری عکس</h3>

                    </header>
                    <div>
                           <label for="@fileUploadId" class="btnB"> انتخاب عکس</label>
                            <br /> <br />
                            <img src="" id="imgFilePicture" style="max-height:160px;max-width:160px"  />
                            <input type="file" name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="Select File" style="display:none;"  accept="image/*" />
                            <div id="fileName"></div>
                            <div id="fileSize"></div>
                           <br />
                        @Html.TextBoxFor(e => e.Title, new { id = txtTitleId ,placeholder="Title:",@class="w-6"})
                            <br />
                        @Html.TextBoxFor(e => e.Description, new { id = txtDescriptionId ,placeholder="Say somethings about this picture:",@class="w-6"})

                        <br />
                        <input type="button" onclick="uploadFile()" value="Post" class="btnB w-1"  />
                        <br />
                        <div id="progressContainerUploadImageOffer" class="progress hide">
                          <div class="progress-bar progress-bar-success" role="progressbar" 
                          aria-valuemin="0" aria-valuemax="100" style="width:40%" id="uploadProgressBar">
                            
                          </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!--main-wrapper-->


    <script type="text/javascript">
        imageBeforeUploading("@fileUploadId", "imgFilePicture",false);

        function fileSelected() {
            var file = document.getElementById('@fileUploadId').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'File Name: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'File Size: ' + fileSize;
                
            }
        }

        function uploadFile() {
            if (document.getElementById('@fileUploadId').files.length == 0) {
                alert("فایل نمی تواند خالی باشد.");
                return;
            }
            $("#progressContainerUploadImageOffer").removeClass("hide");
            var fd = new FormData();
            fd.append("@fileUploadId", document.getElementById('@fileUploadId').files[0]);
            fd.append("Title", $("#@txtTitleId").val());
            fd.append("Description", $("#@txtDescriptionId").val());
         

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);
            
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                $("#uploadProgressBar").html(percentComplete + "% uploading");
                $("#uploadProgressBar").attr("aria-valuenow", percentComplete);
                $("#uploadProgressBar").css("width", percentComplete+"%");
               // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
           
            //alert(evt.target.responseText);
            var serverToClientResponse = JSON.parse( evt.currentTarget.response);
            if (serverToClientResponse) {
                if (serverToClientResponse.ResultStatus == "Success") {
                  
                    $("#fileName").empty();
                    $("#fileSize").empty();
                    $("#progressNumber").empty();
                    var redirectSuccessUrl = "@Url.Action("Wall","Profile",new {area="User"})";
                    $(location).attr('href', redirectSuccessUrl);
                }
                else {
                    alert("fail to upload offer"+ " " + serverToClientResponse.Error);
                }
            }
            else {
                alert("fail to upload offer, make sure you are logined and try again");
            }
           
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }
    </script>