﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer
@if(Model!=null)
{

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    var thumbnailOfCurrentUser = string.Empty;
    var currentUserName = string.Empty;
    if(currentUser!=null)
    {
        currentUserName = currentUser.UserName;
        thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
    }

 <!-- Modal -->
  <div class="modal fade" id="modalReportOffer" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 style="color:red;"><span class="glyphicon glyphicon-lock"></span>گزارش نقض قوانین</h6>
        </div>
        <div class="modal-body margin3 padding3">
            <input type="hidden" value="@Model.OfferId" id="hdnReportOfferId"/>
             <img src="@thumbnailOfCurrentUser" class="thaumbnail24">
            <br />
             <span>@Model.Title</span>
           

             <div class="panel panel-default text-right">
                <div class="panel-heading ">متن گزراش را وارد نمایید</div>
                <div class="panel-body ">
                    <div class="row">
                         <textarea class="text-right"  style="width:100%; resize: none;" id="txtReportOffer"></textarea>
                    </div>
       
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <span class="btn btn-default fa fa-floppy-o" id="btnModalReportOffer">
                    ارسال
                </span>
        </div>
      </div>
    </div>
  </div> 


}

