﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel 
@{
    if(string.IsNullOrEmpty( ViewBag.customLayout))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = ViewBag.customLayout;
    }
    string actionUrl = Url.Action("SendFeedback", "Offer", new { area = "User" });

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    string guid=Guid.NewGuid().ToString();
    string txtNameId = "txtName" + guid;
    string txtEmailAddressId = "txtEmail" + guid;
    string txtTitleId = "txtTitle" + guid;
    string txtFeedbackId = "txtFeedbackId" + guid;
    string btnSendId = "btnSend" + guid;
    string fileUploadId = "fileUpload" + guid;
        
}

   <script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>

<div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>ارسال یک مشکل یا پرسیدن یک سوال</h3>

                    </header>
                    <main class="article-body">
                     
                            

                                <div class="items-table-container">
		                            <table class="items-table">
			                            <tbody>
                                              @if (currentUser == null)
                                              {
                                                    <tr>
                                                        <td class="w-3"><input type="text" placeholder="Name:" id="@txtNameId" class = "w-0"/></td>
				                                    </tr>
                                                      <tr>
                                                        <td class="w-3"><input type="text" placeholder="Email Address:" id="@txtEmailAddressId" class = "w-0" /></td>
				                                    </tr>
                                                                      

                                              }
				                          
                                            <tr>
                                                <td class="w-3">@Html.TextBoxFor(e => e.Title, new { id = txtTitleId, placeholder = "عنوان:", @class = "w-0" })</td>
				                            </tr>
                                             <tr>
                                                <td class="w-3"> @Html.TextAreaFor(e => e.Description, new { id = txtFeedbackId, placeholder = "بازخورد خود را نوشته و یا یک سوال بپرسید", style = "width:100%;height:200px;" })</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label for="@fileUploadId" class="btnB">الحاق یک فایل</label>
                                                    <div id="fileName" class="col-md-4"></div>
                                                    <div id="fileSize" class="col-md-4"></div>
                                                    <input type="file"  name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="انتخاب فایل" style="display:none;"  accept="image/*" />
                                                </td>
                                            </tr>
				                            <tr>
                                                <td>
                                                     <input type="button" onclick="uploadFile()" value="ارسال" class="btnB"  />
                                                </td>
				                            </tr>
                                            <tr>
                                                <td>
                                                    <div id="progressContainerUploadImageOffer" class="progress hide">
                                                      <div class="progress-bar progress-bar-success" role="progressbar" 
                                                      aria-valuemin="0" aria-valuemax="100" style="width:40%" id="uploadProgressBar">
                                                        
                                                      </div>
                                                    </div>
                                                </td>
                                            </tr>
			                            </tbody>
		                            </table>
	                            </div>

                               
                            
                    </main>
                </article>
            </section>
        </div>



    <script type="text/javascript">
        imageBeforeUploading("@fileUploadId", "imgFilePicture");

        function fileSelected() {
            var file = document.getElementById('@fileUploadId').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'File Name: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'File Size: ' + fileSize;
                
            }
        }

        function uploadFile() {

            $("#progressContainerUploadImageOffer").removeClass("hide");
            var fd = new FormData();
            fd.append("@fileUploadId", document.getElementById('@fileUploadId').files[0]);
            fd.append("Title", $("#@txtTitleId").val());
            fd.append("Feedback", $("#@txtFeedbackId").val());
            if ($("#@txtEmailAddressId")) {
                fd.append("EmailAddress", $("#@txtEmailAddressId").val());
                fd.append("Name", $("#@txtNameId").val());
            }
            

         

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);
            
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                $("#uploadProgressBar").html(percentComplete + "% uploading");
                $("#uploadProgressBar").attr("aria-valuenow", percentComplete);
                $("#uploadProgressBar").css("width", percentComplete+"%");
               // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
           
            //alert(evt.target.responseText);
            var serverToClientResponse = JSON.parse( evt.currentTarget.response);
            if (serverToClientResponse) {
                if (serverToClientResponse.ResultStatus == "Success") {
                    $("#@txtTitleId").val("");
                    $("#@txtFeedbackId").val("");


                    $("#fileName").empty();
                    $("#fileSize").empty();
                    $("#progressNumber").empty();
                    alert("شکایت شما با موفقیت ثبت شد");
                }
                else {
                    alert("خطا در ارسال شکایت"+ " " + serverToClientResponse.Error);
                }
            }
            else {
                alert("خطا در ارسال شکایت، دوباره سعی نمایید");
            }
           
        }

        function uploadFailed(evt) {
            alert("خطا در ارسال شکایت، دوباره سعی نمایید.");
        }

        function uploadCanceled(evt) {
            alert("ارسال شکایت توسط کاربر لغو شد و یا یک مشکل در ارتباط با سرور به وجود آمده است.");
        }
    </script>