﻿

<script>
    $(function () {
       
       

        

        $("#btnLoadMoreSimularOffer").click(function () {
            
            var urlOfAction = "@Url.Action("SimularOffers", "Offer", new { area = "User", })";
            $("#hdnSimularOfferSkip").val(parseInt($("#hdnSimularOfferTake").val()) + parseInt($("#hdnSimularOfferSkip").val()));

            var offerTake = $("#hdnSimularOfferTake").val();
            var offerSkip = $("#hdnSimularOfferSkip").val();
           

                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({offerId:"@Model", take: offerTake, skip: offerSkip }),
                    dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#OfferSimularContainer").append(data);
                   
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });
    });
</script>

@model string
   <div class="main-wrapper">
         <h3 class="section-title"><span>آفرهای مشابه</span></h3>
        <div class="content-grids">
            <section class="layout" id="OfferSimularContainer">

                <input type="hidden" id="hdnSimularOfferTake" value="3" />
                <input type="hidden" id="hdnSimularOfferSkip" value="0"/>
                @Html.Action("SimularOffers","Offer",new {area="User",offerId=Model,take=3,skip=0})



            </section>
            <!--layout-->
                <div class="load-more-container">
                    <span id="btnLoadMoreSimularOffer" class="load-more-button">موارد بیشتر</span>
                </div>

        </div>
        <!--adds-grid-->

    </div>
    <!--main-wrapper-->