﻿





@model IList<Offtick.Data.Context.ExpertOnlinerContexts.Offer> 
@using Offtick.Core.Utility;

@{
          var foodOffers=Model;
          if(foodOffers != null)
          {
              
                  
                        int k = 0;
                        for (k = 0; k < foodOffers.Count;k++ )
                        {
                            var offer = foodOffers[k];

                            
                            var userNameOfOfferOwner = offer.MembershipUser.UserName;
                            var userIdOfOfferOwner = offer.MembershipUser.UserId;
                            var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                            string urlOfOfferImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, Offtick.Business.Services.Storage.File.ImageFileManager.ImageState.Thumbnail320);
                            string urlOfOwnerImage = offer.MembershipUser.Picture == null ? "/Content/images/user-avatar.png" : userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.MembershipUser.Picture, true);
                            
                            string urlOfAction = string.Empty;
                            string represantationTime = string.Empty;

                            var foodOffer = offer.OfferFoods.FirstOrDefault();
                            int countOfSoled = 0;
                            if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Food)
                            {
                               
                                 countOfSoled = foodOffer.OfferFoodOrders.Sum(e => e.Quantity);
                                represantationTime=Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetStringExpireTime(offer.DateTime, foodOffer.TimeToExpire);
                            }
                            else
                            {
                                urlOfAction = Url.Action("ShowOffer", "Gallery", new { area = "User", offerId = offer.OfferId });
                                represantationTime = @Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(offer.DateTime);
                            }
   
                            
                                 
                                     

                                       <article class="grid-item">
                                            <div class="item-header">
                                                <div class="user-avatar-container">
                                                     <a class="col-md-4" href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })" title="@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(offer.MembershipUser)">
                                                        <img src="@urlOfOwnerImage" alt="@userNameOfOfferOwner" class="user-avatar">
                                                    </a>
                                                    <span class="buyers">@countOfSoled خرید</span>
                                                </div>
                                                <div class="username-container">
                                                    <h3 class="offer-title">@offer.Title</h3>
                                                    <span class="counter">@represantationTime</span>
                                                    <span class="username">@userNameOfOfferOwner : </span>
                                                    <span class="useroffer"> رو دیروز تجربه کردم !!!</span>
                                                </div>
                                            </div>
                                            <!--item-header-->

                                            <main class="add-container">

                                                 @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Food)
                                                     {
                                                            if(Request.Browser.IsMobileDevice){
                                                                   <a href="@urlOfAction" target="_blank">
                                                                        <img src="@urlOfOfferImage" alt="" class="add-img">
                                                                    </a>
                                                                    <div class="sales-icon">
                                                                        <span class="discount-percent">@foodOffer.DiscountPercent %</span>
                                                                        <img src="/Content/images/offtick-off-110.png" alt=""/>
                                                                    </div>
                                                            }else{
                                                                <img src="@urlOfOfferImage" alt="" class="add-img">
                                     
                                                                <div class="sales-icon">
                                                                    <span class="discount-percent">@foodOffer.DiscountPercent %</span>
                                                                    <img src="/Content/images/offtick-off-110.png" alt=""/>
                                                                </div>
                                                                <div class="add-content">
                                                                    <ul class="content-list">
                                                                        <li><span class="item-discounted-price "> <i class="currencyFa"> @foodOffer.DiscountPrice</i>@foodOffer.DiscountPriceUnit </span> <em>@foodOffer.DiscountPriceTitle</em></li>
                                                                        <li>
                                                                            <div class="right-side">
                                                                                <span class="currencyFa">@foodOffer.OriginalPrice</span>
                                                                                <span>@foodOffer.OriginalPriceTitle</span>
                                                                            </div>
                                                                            <div class="left-side">
                                                                                <span>@foodOffer.DiscountPercent%</span>
                                                                                <span>تخفیف</span>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <a href="@urlOfAction" class="item-button" target="_blank">OffTick</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            }
                                                }
                                                @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Post)
                                                {
                                                    <a href="@urlOfAction" target="_blank">
                                                        <img src="@urlOfOfferImage" alt="" class="add-img">
                                                    </a>
                                                }
                                            </main>
                                            <!--add-container-->

                                            <footer class="item-footer">

                                              <span class="item-address">
                                                      @{
                                                        var lengthOfShortAddress = 12;
                                                        string address = string.Format("{0} - {1}", offer.MembershipCity != null ? offer.MembershipCity.CityName : " ", offer.LocationAddress);
                                                        bool hasFullAddress = address.Length > lengthOfShortAddress;
                                                        
                                                    }
                                                    @if(hasFullAddress){
                                                       <span class="full-address"><i class="fa fa-map-marker"></i>@address</span>
                                                        <i class="fa fa-map-marker"></i> @address.TruncateAtWord(lengthOfShortAddress);

                                                    }
                                                    else{
                                                        <i class="fa fa-map-marker"></i> @address 
                                                    }
                                                     
                                                </span>

                                                <!--comments-container-->
                                                <ul class="item-data">
                                                    @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Post)
                                                     {
                                                        
                                                        <li class="item-comments" data-offerId="@offer.OfferId">@offer.OfferComments.Count</li>
                                                        <li class="item-likes" data-offerId="@offer.OfferId">@offer.OfferLikes.Count</li>
                                                    }
                                                    
                                                    @*<li class="item-comments"  data-offerId="@offer.OfferId">@offer.OfferComments.Count</li>*@
                                                    @if (offer.OfferType == (short)Offtick.Core.EnumTypes.EnumOfferType.Food)
                                                     {
                                                        <li class="item-views" data-offerId="@offer.OfferId">@foodOffer.ViewCount</li>
                                                         <li class="item-sales" data-offerId="@offer.OfferId" >@foodOffer.OfferFoodOrders.Count</li>
                                                    }

                                                </ul>
                                          </footer>
                                            <!--item-footer-->

                                        </article>
                                        <!--add-item-->
                                      
                    }  
            }           
    }           
                                
                                  
                                        
              
                                    