﻿@model Offtick.Data.Context.ExpertOnlinerContexts.OfferComment
@{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    var currentUserName = string.Empty;
    string roleName = string.Empty;
    Offtick.Data.Context.ExpertOnlinerContexts.MembershipUsersInRole roleOfUser = null;
    var thumbnailOfCurrentUser = string.Empty;
    if (currentUser != null)
    {
        currentUserName = currentUser.UserName;
        roleOfUser = currentUser.MembershipUsersInRoles.FirstOrDefault();
        if (roleOfUser != null)
        {
            roleName = roleOfUser.MembershipRole.RoleName;
        }
        thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
    }
    var urlOfCurrentUserProfile = Url.Action("Index", "Profile", new { area = "User" });


 

            if (Model != null)
            {

               

                var offerComment =Model;
                
                    string userNameOfOfferOwner = offerComment.Offer.MembershipUser.UserName;
                    Guid userIdOfOfferOwner = offerComment.Offer.MembershipUser.UserId;
                    string nameOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(offerComment.Offer.MembershipUser);
                    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                    string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, offerComment.Offer.MembershipUser.Picture);
                    
                    var foodOffer = offerComment.Offer.OfferFoods.FirstOrDefault();

                    var offerOwnerCssClass = string.Empty;
                    if (currentUserName == userNameOfOfferOwner || roleName=="Administrator")
                    {
                        offerOwnerCssClass = "offerOwner";
                    }
                    
                    var offerCommenterCssClass = string.Empty;

                    string thumbnailOfOfferCommenter = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(offerComment.MembershipUser.UserId, offerComment.MembershipUser.Picture);
                    if (currentUserName == offerComment.MembershipUser.UserName || roleName == "Administrator")
                    {
                        offerCommenterCssClass = "offerCommenter";
                    }
                                    
                   
                
                
                <li class="single-comment  @offerCommenterCssClass @offerOwnerCssClass">
                     <a href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = offerComment.MembershipUser.UserName })">
                         <img src="@thumbnailOfOfferCommenter" alt="username" class="user-avatar">
                     </a>
                    
                    <div class="user-state one-hour">
                        <span class="user-state-title">Last seen 1 hour ago</span>
                    </div>
                    <div class="single-comment-content">
                        <h4 class="commentor-name"><a href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = offerComment.MembershipUser.UserName })" >@string.Format("{0} {1} ", offerComment.MembershipUser.FirstName, offerComment.MembershipUser.LastName) </a></h4>
                        <div class="comment-content">@offerComment.CommentText

                             <div class="invisible" data-commentId="@offerComment.OfferCommentId">
                                @if (!string.IsNullOrEmpty(offerCommenterCssClass))
                                {
                                        <span class="btn fa fa-times offerCommentDelete"></span>
                                         <span class="btn fa fa-pencil offerCommentEdit"></span>   
                                }
                                else
                                    if (!string.IsNullOrEmpty(offerOwnerCssClass))
                                    {
                                        <span class="btn fa fa-times offerCommentDelete"></span>
                                    }

                                        
                            </div>
                        </div>
                        
                    </div>
                </li>
                
            }
        
    
}