﻿@model Guid
@{
    ViewBag.Title = "  مشاهده فروش های آفر";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = 9;

}

<script>
    $(function () {
        LoadSoldOffersForOffer();

        function LoadSoldOffersForOffer() {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";
            var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
            offerGrid = $('#soldOffersForOfferGrid').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("SoldOfferForUserByOfferId", "Offer", new { area = "User"})",
                autoLoad: false,
                columns: [

                    { width: 200, field: 'DisplayName', title: 'نام خریدار', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{DisplayName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'UserName', title: 'نام کربری', sortable: true, align: 'center' },
                    { width: 120, field: 'PhoneNumber', title: 'شماره کاربر', sortable: true, align: 'center' },
                    { width: 120, field: 'DiscountPrice', title: 'قیمت تخفیف', sortable: true, align: 'center' },
                    { width: 120, field: 'Quantity', title: 'تعداد خرید', sortable: true, align: 'center' },
                    { width: 120, field: 'PaymentAmount', title: 'ارزش خرید', sortable: true, align: 'center' },
                    { width: 120, field: 'DateTime', title: 'زمان خرید', sortable: true, align: 'center' },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var offerName = $("#txtOfferName").val();
            offerGrid.reload({ offerId: "@Model" });
        }
        $(document).on('click', '#btnLoadSoldOffersForOffer', function (e) {
            LoadSoldOffersForOffer();

        });
    });
</script>

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3> گزارشات تراکنش های یک سفارش</h3>

            </header>
            <main class="article-body">
                <div class="items-table-container">
                    <table class="items-table">
                        <tbody>
                            <tr>
                                <td>نام خریدار </td>
                                <td>
                                    <input type="text" id="txtSallerDisplayName" />
                                </td>
                                <td>نام کاربری خریدار</td>
                                <td>
                                    <input type="text" id="txtSallerUserName" />
                                </td>
                                <td>شماره خریدار </td>
                                <td>
                                    <input type="text" id="txtSallerPhoneNumber" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadSoldOffersForOffer">
                بارگزاری مجدد
            </span>
        </p>


        <table id="soldOffersForOfferGrid"></table>

    </section>
</div>