﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.OfferFoodOrder>
@if (Model != null)
{
    foreach (var offtickOffer in Model)
    {
        string validFrom = Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(offtickOffer.OfferFood.Offer.DateTime);
        string validTo = string.Empty;
        string userNameOfOfferOwner = offtickOffer.OfferFood.Offer.MembershipUser.UserName;
        Guid userIdOfOfferOwner = offtickOffer.OfferFood.Offer.MembershipUser.UserId;

        string urlOfOfferImage = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, offtickOffer.OfferFood.Offer.FileName);
        if (offtickOffer.OfferFood.TimeToExpire.HasValue)
        {
            validTo = Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(offtickOffer.OfferFood.Offer.DateTime.AddHours(offtickOffer.OfferFood.TimeToExpire.Value));
        }
        @*<div style="outline: 1px solid orange;padding:5px;margin:5px;">
            <div class="row">
               <span class="col-md-1 bg-danger img-circle" style="margin-left:10px;">
                        <span>@offtickOffer.OfferFood.DiscountPercent%</span>
                        <br />
                        تخفیف
                </span>
                <div class="col-md-9 text-right" >
                    @offtickOffer.OfferFood.Offer.Body
                    <br />
                    @offtickOffer.PaymentAmount :پرداخت شما
                </div>
                
                 <span class="col-md-1"><a href="@Url.Action("OfferViewer", "Offer", new { area="User",offerId=offtickOffer.OfferFood.OfferId})"><img src="@urlOfOfferImage" /></a></span>
            </div>
          <div class="row">
                <span class="col-md-2 bg-info" style="margin-left:10px;">وضعیت</span>
                <span class="col-md-1 bg-info" >چاپ</span>
                <span class="col-md-4 bg-info">کد آفتیک</span>
                <span class="col-md-4 bg-info">اعتبار</span>
                 
            </div>
            @foreach(var detailOrder in offtickOffer.OfferFoodOrderDetails)
            {
                Offtick.Business.Services.Managers.FoodOfferOrderStatus status = (Offtick.Business.Services.Managers.FoodOfferOrderStatus)detailOrder.Status;
                <div class="row">
                    <span class="col-md-2" >@status</span>
                    <a href="@Url.Action("Pdf", "File", new {area="User",userName=offtickOffer.MembershipUser.UserName,fileName=detailOrder.FileName })"><span class="col-md-1 fa fa-print"></span></a>
                    <span class="col-md-5">@detailOrder.OrderCode</span>
                    <span class="col-md-4" >@string.Format("{0} - {1}",validTo,validFrom)</span>
                </div>
            }
        </div>*@
    
    
      <div class="basket-content">
                <section class="layout">
                    <div class="items-table-container">
                        <table class="items-table">
                            <tbody>
                            <tr>
                                <th>نام سرویس</th>
                                <th>شناسه خرید</th>
                                <th>شناسه پرداخت</th>
                                <th>کد سفارش</th>
                                <th>تخفیف</th>
                                <th>وضعیت</th>
                                <th>اعتبار</th>
                                <th>چاپ</th>
                                <th>قیمت</th>
                            </tr>
                               @foreach(var detailOrder in offtickOffer.OfferFoodOrderDetails)
                                {
                                    Offtick.Business.Services.Managers.FoodOfferOrderStatus status = (Offtick.Business.Services.Managers.FoodOfferOrderStatus)detailOrder.Status;
                                        <tr>
                                            <td>
                                                <div class="basket-item-wrapper">
                                                    <a target="_blank" href="@Url.Action("OfferViewer", "Offer", new { area="User",offerId=offtickOffer.OfferFood.OfferId})"><img src="@urlOfOfferImage" /></a>
                                            <span class="offer-desc">
                                                @offtickOffer.OfferFood.Offer.Body
                                            </span>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="col-md-5">@offtickOffer.SaleOrderId</span>
                                            </td>
                                            <td>
                                                <span class="col-md-5">@offtickOffer.SaleRefrenceId</span>
                                            </td>
                                            <td>
                                                <span class="col-md-5">@detailOrder.OrderCode</span>
                                            </td>
                                            <td>
                                                <span>@offtickOffer.OfferFood.DiscountPercent%</span>
                                            </td>
                                            <td>
                                                <span>@status</span>
                                            </td>
                                            <td>
                                                <span>@string.Format("{0} - {1}",validTo,validFrom)</span>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Pdf", "File", new {area="User",userName=offtickOffer.MembershipUser.UserName,fileName=detailOrder.FileName })"><span class="fa fa-print" style="font-size:xx-large"></span></a>
                                            </td>
                                             <td>
                                                
                                                 @detailOrder.OfferFoodOrder.OfferFood.DiscountPrice
                                                
                                            </td>
                                        </tr>

                                }
            

                            <tr class="table-bottom-detail">
                                <td style="text-align:right;" colspan="8">
                                    @*<div class="basket-social">
                                        <span>آفتیک را به دوستان خود معرفی کنید</span>
                                        <ul class="basket-social-list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>*@
                                </td>
                                <td style="text-align: center;">
                                    <span>مبلغ پرداخت شده</span><br>
                                    <span>@offtickOffer.PaymentAmount</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--items-table-container-->

                </section>
            </div>
    }
} 
