﻿@{
    ViewBag.Title = "مشاهده آفتیک های فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = 9;

}

<script>
    $(function () {
        
        $("#btnLoadMoreOffer").click(function () {
            
            var urlOfAction = "@Url.Action("SoldOffersFor", "Offer", new { area = "User", })";
            $("#hdnOfferSkip").val(parseInt($("#hdnOfferTake").val()) +parseInt( $("#hdnOfferSkip").val()));

            var offerTake=$("#hdnOfferTake").val();
            var offerSkip=$("#hdnOfferSkip").val();

                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ take: offerTake, skip: offerSkip }),
                    dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#OfferContainer").append(data);
                   
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $(document).on('click', '#btnLoadSoldOffersForUserGroupBy', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";
            var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
            offerGrid = $('#soldOffersForUserGroupByGrid').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("SoldOfferForUserGroupByOffer", "Offer", new { area = "User" })",
                autoLoad: false,
            columns: [

                { width: 200, field: 'Title', title: 'عنوان', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '">{Title}</a>', align: 'center', sortable: true },
                { width: 150, field: 'FileName', title: 'عکس', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{UserDisplayName}</a>', align: 'center', sortable: true },
                { width: 120, field: 'OriginalPrice', title: 'قیمت اصلی', sortable: true },
                { width: 120, field: 'DiscountPrice', title: 'قیمت تخفیف', sortable: true },
                { width: 120, field: 'DiscountPercent', title: 'درصد تخفیف', sortable: true },
                { width: 120, field: 'SoldCount', title: 'تعداد فروش', sortable: true },
                { width: 120, field: 'TotalSoldValue', title: 'ارزش فروش', sortable: true },
                { width: 120, field: 'DateTime', title: 'آخرین فروش', sortable: true },
                { width: 120, field: 'UserCount', title: 'تعداد خریدر', sortable: true },

                { title: 'نمایش', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'نمایش جزییات', events: { 'click': sendAdminMessageToAnother } },


            ],
            pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
        });
            var offerName = $("#txtOfferName").val();
      

            offerGrid.reload({ offerName: offerName });

    });
    });
</script>

<div class="row" style="min-height:400px;text-align:center;margin-top:30px; margin-left:5px;">
    <div class="col-md-12">
       <div id="OfferContainer">
            <input type="hidden" id="hdnOfferTake" value="@pageSize" />
            <input type="hidden" id="hdnOfferSkip" value="0"/>
       
            @Html.Action("SoldOffersFor","Offer",new {area="User",take=pageSize,skip=0})
        </div>
        <br />
        <span class="btn  btnB more-contents" id="btnLoadMoreOffer" data-appendcontrol="OfferContainer" data-emptycontrol="divEmptyOrder">
            بارگزاری تعداد بیشتر
        </span>
        <div class="main-wrapper single-page" id="divEmptyOrder" style="display:none">
            <section class="layout">
                <article>
                    <main class="article-body">
                        هنوز خریدی انجام نشده است.
                    </main>
                </article>
            </section>
        </div>
    </div>
</div>