﻿@model String
@{
    ViewBag.Title = "مشاهده آفتیک های فروش";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pageSize = 9;

}

<script>
    $(function () {
        LoadSoldOffersForUserGroupBy();

        function LoadSoldOffersForUserGroupBy() {
            var strUrlOfSoldOffer = "@Html.Raw(Url.Action("SoldOfferForUserOffer", "Offer", new { area = "user" }))" + "?offerId={OfferId}";
            var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
            offerGrid = $('#soldOffersForUserGroupByGrid').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("SoldOfferForUserGroupByOffer", "Offer", new { area = "User" })",
                autoLoad: false,
                columns: [

                    { width: 200, field: 'Title', title: 'عنوان', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '">{Title}</a>', align: 'center', sortable: true },
                    { width: 150, field: 'FileName', title: 'عکس', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '"><img src="{FileName}"/></a>', align: 'center', sortable: true },
                    { width: 120, field: 'OriginalPrice', title: 'قیمت اصلی', sortable: true },
                    { width: 120, field: 'DiscountPrice', title: 'قیمت تخفیف', sortable: true },
                    { width: 120, field: 'DiscountPercent', title: 'درصد تخفیف', sortable: true },
                    { width: 120, field: 'SoldCount', title: 'تعداد فروش', sortable: true },
                    { width: 120, field: 'TotalSoldValue', title: 'ارزش فروش', sortable: true },
                    { width: 120, field: 'DateTime', title: 'آخرین فروش', sortable: true },
                    { width: 120, field: 'UserCount', title: 'تعداد خریدار', sortable: true },

                    { width: 150, field: 'Title', title: '', tmpl: '<a target="_blank" href="' + strUrlOfSoldOffer + '">نمایش جزییات</a>', align: 'center', sortable: true },


                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var offerName = $("#txtOfferName").val();
            offerGrid.reload({ userName: "@Model", offerName: offerName });
        }

        $(document).on('click', '#btnLoadSoldOffersForUserGroupBy', function (e) {
            LoadSoldOffersForUserGroupBy();
        });
    });
</script>

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3> گزارشات فروش</h3>

            </header>
            <main class="article-body">
                <div class="items-table-container">
                    <table class="items-table">
                        <tbody>
                            <tr>
                                <td>نام </td>
                                <td>
                                    <input type="text" id="txtOfferName" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadSoldOffersForUserGroupBy">
                بارگزاری مجدد
            </span>
        </p>


        <table id="soldOffersForUserGroupByGrid"></table>

    </section>
</div>