﻿ @{
     Layout = "~/Views/Shared/_Layout.cshtml"; 
   
 }
<div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>سفارش درخواستی شما تا اطلاع ثانوی معلق گردیده است.</h3>

                        </header>
                        <main class="article-body">  
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->