﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.TourModel
@using Offtick.Core.Utility;

   <link rel="stylesheet" href="@Url.Content("/Content/bootstrap.min.css")">
 <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>



@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionUrl = Url.Action("TourOffer", "Offer", new { area = "User" });

    string guid=Guid.NewGuid().ToString();
    string txtTitleId = "txtTitle" + guid;
    string txtDescriptionId = "txtDescriptionId" + guid;
    string btnSendId = "btnSend" + guid;
    string fileUploadId = "mainImage";
    string tourImagesId = "tourImages";
    string menuImagesId = "menuImages";
    string offtickOfferTypeName =(string) ViewData["offtickOfferType"];
    Int16 offtickOfferTypeId = 1;
    var offtickOfferTypeEntity = Offtick.Business.Services.Managers.OfferManager.Instance.GetOfferOfftickTypeByName(offtickOfferTypeName);
    if (offtickOfferTypeEntity != null)
    {
        offtickOfferTypeId = offtickOfferTypeEntity.OfferOfftickTypeId;
    }
    
    
    
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var userCity = currentUser.MembershipLocations.FirstOrDefault();
    var cityName = userCity != null ? userCity.MembershipCity.CityName : "تهران";

        
}

   <script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>


 <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3> سفارش جدید</h3>

                        </header>
                        <main class="article-body">  
                            <div  >
                                    <div  class="row panel">
                                            <div class="col-md-3">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><label for="@fileUploadId" class="btn btn-primary" style="width:100%">تصویر اصلی</label></div>
                                                    <div class="panel-body">
                            
                             
                                                            <img src="" id="imgFilePicture" style="max-height:160px;max-width:160px"  />
                                                            <input type="file" name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="Select File" style="display:none;" multiple accept="image/jpeg,image/png,jpg|png" />
                                                            <div id="fileName"></div>
                                                            <div id="fileSize"></div>
                                                    </div>

                      
                                                </div>

                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><label for="@tourImagesId" class="btn btn-primary" style="width:100%">تصاویر گالری</label></div>
                                                    <div class="panel-body">
                            
                                                            <input type="file" name="@tourImagesId" id="@tourImagesId" onchange="tourImagesSelected();" title="Select File" style="display:none;"    accept="image/jpeg,image/png,jpg|png" multiple="multiple" />
                                                            <div id="tourImageFileNames"></div>
                                                            <div id="tourImageFileSizes"></div>
                            
                                                    </div>

                      
                                                </div>

                                                <div class="panel panel-default">
                                                    <div class="panel-heading"><label for="@menuImagesId" class="btn btn-primary" style="width:100%">تصاویر منو</label></div>
                                                    <div class="panel-body">
                            
                                                            <input type="file" name="@menuImagesId" id="@menuImagesId" onchange="menuImagesSelected();" title="Select File" style="display:none;"  accept="image/jpeg,image/png,jpg|png" multiple="multiple" />
                                                            <div id="menuImageFileNames"></div>
                                                            <div id="menuImageFileSizes"></div>
                            
                                                    </div>

                      
                                                </div>
                   
                   
                                            </div>

                                            <div class="col-md-9 " style="padding-top:50px;">
                                                <div class="h4 text-danger text-center">
                                                   @* @offtickOfferTypeEntity.TypeName*@
                                            </div>
                                            <div class="requiredField text-danger">
                                                تمامی فیلدهای زیر اختیاری می باشد، لطفا موارد را به دقت پر نمایید.
                                            </div>
                                                <div class="margin3">
                                                    <input type="text" id="tourTitle" placeholder="عنوان" class="width-x9" />
                                                </div>
                                                <div class="margin3">
                                                    <input type="text" id="tourTitleLong" placeholder="عنوان بلند" class="width-x9" />
                                                </div>
                                                <div class="row margin3">
                                                    <span class="col-md-2">
                                                        قیمت اصلی
                                                    </span>
                                                <input class="col-md-3" type="text" placeholder="20000" id="tourOriginalPrice"/>
                                                    <input class="col-md-3" type="text" placeholder="ارزش واقعی" id="tourOriginalTitle" value="ارزش واقعی" class="requiredField"/>
                                                    <input class="col-md-3" type="text" placeholder="تومان" id="tourUnit" value="تومان"/>


                                                </div>
                                                <div class="margin3">
                                                    <input type="text" placeholder="درصد%" id="tourDiscountPercent" class="width-x9"/>
                                                </div>
                                                <div class="row margin3">
                                                    <span class="col-md-2">
                                                        قیمت تخفیف
                                                    </span>
                                                <input class="col-md-3" type="text" placeholder="20000" id="tourDiscountPrice" disabled="disabled"/>
                                                    <input class="col-md-3" type="text" placeholder="پرداخت شما" id="tourDiscountTitle" value="پرداخت شما"/>
                                                </div>
               
                                                <div class="margin3">
                                                    <span>مالیات بر ارزش افزوده</span>
                                                    @{
                                                        IList<SelectListItem> addedValueTaxItems=new List<SelectListItem>();
                                                        addedValueTaxItems.Add(new SelectListItem() { Selected=true, Text="ندارد", Value="false"});
                                                        addedValueTaxItems.Add(new SelectListItem() { Selected=false, Text="دارد", Value="true"});
                                                    }
                                                    @Html.DropDownList("tourHasAddedValueTax", addedValueTaxItems, new { id="tourHasAddedValueTax"})
                                                </div>
                                                <div class="margin3">
                                                    <input type="text" placeholder="زمان انقضا( به ساعت):" id="tourExpireDate" class="width-x9" value="720"/>
                                                </div>
                                                <div class="margin3">
                                                    <input type="text" placeholder="تعداد:" id="tourQuantity" class="width-x9"/>
                                                </div>
                                                @*<div class="margin3">
                                                    <input type="text" placeholder="Audeiences:" id="tourAudeiences" />
                                                </div>*@
                                                <div class="margin3">
                                                    @Html.DropDownList("tourLocationCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(cityName), new { @class=Html.Encode("width-x9 text-right")})
                                                </div>
                                                <div class="margin3">
                                                    <input type="text" placeholder="مکان آفر" id="tourLocationAddress" class="width-x9 text-right"/>
                                                </div>
                                                <div class="margin3">
                                                    <input type="text" placeholder="لینک ارجاع" id="tourUrlAddress" class="width-x9 text-right"/>
                                                </div>
                                                <div class="margin3">
                                                    <label for="tourOfferShowBuyButton">نمایش دکمه خرید</label>
                                                    <input type="checkbox" id="tourOfferShowBuyButton" class="width-x9 text-right"/>
                                                </div>
                                                <div class="margin3">
                                                    <label for="tourOfferShowOffButton">نمایش دکمه تخفیف</label>
                                                    <input type="checkbox" id="tourOfferShowOffButton" class="width-x9 text-right"/>
                                                </div>
                                                <div class="margin3">
                                                    <label for="tourOfferShowInstantButton">نمایش دکمه فوری</label>
                                                    <input type="checkbox" id="tourOfferShowInstantButton" class="width-x9 text-right"/>
                                                </div>
                                                 <div class="margin3">
                                                    <label for="tourOfferShowBuyButton">شهر مبدا</label>
                                                    @Html.DropDownList("tourOfferSourceCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(cityName), new { @class=Html.Encode("width-x9 text-right")})
                                                </div>
                                                <div class="margin3">
                                                    <label for="tourOfferShowBuyButton">شهر مقصد</label>
                                                    @Html.DropDownList("tourOfferDestinationCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(cityName), new { @class=Html.Encode("width-x9 text-right")})
                                                </div>

                                                <div class="margin3">
                                                    <label for="tourOfferShowBuyButton"> تاریخ حرکت</label>
                                                        @Html.PersianCalender("tourOfferWentDateTime", "","/Content/Images/Calendar.gif")  

@*                                                    <input type="text"  id="tourOfferWentDateTime" class="width-x9 text-right"/>*@
                                                </div>
                                                <div class="margin3">
                                                    <label for="tourOfferShowBuyButton"> تاریخ برگشت</label>
                                                     @Html.PersianCalender("tourOfferReturnDateTime", "","/Content/Images/Calendar.gif")  

                                                   @* <input type="text"  id="tourOfferReturnDateTime" class="width-x9 text-right"/>*@
                                                </div>

                                                <div class="margin3">
                                                    <input type="text"  placeholder="نام آژانس مسافرتی" id="tourOfferAgancyName" class="width-x9 text-right"/>
                                                </div>
                                                 <div class="margin3">
                                                    <label for="tourOfferShowBuyButton">نوع سفر</label>
                                                    @Html.DropDownList("tourOfferTravelType", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getTravelTypeDropdownDataSource(true), new { @class=Html.Encode("width-x9 text-right")})
                                                </div>

                                                <div class="margin3">
                                                <ul class="nav nav-tabs">
                                                    <li><a data-toggle="tab" href="#tourTab1">مشخصات</a></li>
                                                    <li ><a data-toggle="tab" href="#tourTab2">شرایط</a></li>
                                                    <li ><a data-toggle="tab" href="#tourTab3">توضیحات</a></li>
                                                </ul>

                                                <div class="tab-content margin3">
                                                    <div id="tourTab1" class="tab-pane fade  in active">
                                                        <textarea style="height:150px;resize:none;width:100%;" id="tourSpecification" class="ckeditor" ></textarea>
                                                    </div>
                                                    <div id="tourTab2" class="tab-pane fade">
                                                        <textarea style="height:150px;resize:none;width:800px;"  id="tourConditions"  class="ckeditor"  ></textarea>
                                                    </div>
                                                    <div id="tourTab3" class="tab-pane fade">
                                                        <textarea style="height:150px;resize:none;width:800px;"  id="tourDescriptions" class="ckeditor" ></textarea>
                                                    </div>


                                                </div>
                                            </div>
                   
                                            </div>
                
                      
                            
                                        </div>
                  
                      
                   
                                <div>
                                    <input type="button" id="btnOfftickOfferUpload" value="ارسال" class="btn btn-primary"  />
                                </div>
   

                                <div id="progressContainerUploadImageOffer" class="progress hide">
                                    <div class="progress-bar progress-bar-success" role="progressbar" 
                                    aria-valuemin="0" aria-valuemax="100" style="width:40%" id="uploadProgressBar">
                                    40%
                                    </div>
                                </div>

                                @Html.ActionLink("انتخاب یک آفتیک دیگر","PlusAction","Profile",new {area="User"},new{})
                            </div>
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->


    <script type="text/javascript">
        var uploadingOfferInProgress=false;
        imageBeforeUploading("@fileUploadId", "imgFilePicture");

        function fileSelected() {
            var file = document.getElementById('@fileUploadId').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'File Name: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'File Size: ' + fileSize;
                
            }
        }

        function tourImagesSelected() {
            var files = document.getElementById('@tourImagesId').files;
            if (files) {
                var fileNames = "";
                var fileSizes = 0;
                for (var k = 0; k < files.length; k++) {
                    var file = files[0];
                    fileSizes += file.size;

                    var fileSize = 0;
                    if (file.size > 1024 * 1024)
                        fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                    else
                        fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                    fileNames += k+1 +". "+file.name + "(" + fileSize + ") <br/>";

                }

                if (fileSizes > 1024 * 1024)
                    document.getElementById('tourImageFileSizes').innerHTML = 'Total  Size: ' + (Math.round(fileSizes * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    document.getElementById('tourImageFileSizes').innerHTML = 'Total  Size: ' + (Math.round(fileSizes * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('tourImageFileNames').innerHTML = 'File Names: <br/>' + fileNames;
              

             }
        }

        function menuImagesSelected() {
            var files = document.getElementById('@menuImagesId').files;
             if (files) {
                 var fileNames = "";
                 var fileSizes = 0;
                 for (var k = 0; k < files.length; k++) {
                     var file = files[0];
                     fileSizes += file.size;

                     var fileSize = 0;
                     if (file.size > 1024 * 1024)
                         fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                     else
                         fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                     fileNames += k + 1 + ". " + file.name + "(" + fileSize + ") <br/>";

                 }

                 if (fileSizes > 1024 * 1024)
                     document.getElementById('menuImageFileSizes').innerHTML = 'Total  Size: ' + (Math.round(fileSizes * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                 else
                     document.getElementById('menuImageFileSizes').innerHTML = 'Total  Size: ' + (Math.round(fileSizes * 100 / 1024) / 100).toString() + 'KB';

                 document.getElementById('menuImageFileNames').innerHTML = 'File Names: <br/>' + fileNames;


             }
         }
        
        $("#btnOfftickOfferUpload").on("click", function (event) {
            $(this).attr('disabled', 'disabled');
            if(uploadingOfferInProgress==false)
            {
                uploadingOfferInProgress=true;
                uploadFile(event);
            }
        });
        $("#tourDiscountPercent").bind("change paste", checkDiscount);
        $("#tourOriginalPrice").bind("change paste", checkDiscount);

        function checkDiscount() {
            
            var stringPercent = $("#tourDiscountPercent").val();
            var stringValueOfOriginal = $("#tourOriginalPrice").val();
            if (!stringPercent || !stringValueOfOriginal)
                return false;

            if (Math.floor(stringPercent) == stringPercent && $.isNumeric(stringPercent)) {
                var intPercent = parseInt(stringPercent);
                if (intPercent > 99 || intPercent < 0) {
                    showMessage("درصد تخفیف باید بین صفر تا 99 باشد",true);
                    $(this).val(0);
                    return false;
                } else {
                    
                    if (Math.floor(stringValueOfOriginal) == stringValueOfOriginal && $.isNumeric(stringValueOfOriginal)) {
                        $("#tourDiscountPrice").fadeOut();
                        $("#tourDiscountPrice").val(parseInt(stringValueOfOriginal) - (parseInt(parseInt(stringValueOfOriginal) * intPercent / 100)));
                        $("#tourDiscountPrice").fadeIn();
                    } else {
                        showMessage("قیمت اصلی باید به صورت عدد وارد شود", true);
                        $("#tourOriginalPrice").val("");
                        return false;
                    }
                    
                }
            }
            else {
                showMessage("درصد تخفیف باید به صورت عدد بین صفر تا 99 وارد شود", true);
                $("#tourDiscountPercent").val(0);
                return false;
            }
            
        }
        function uploadFile(event) {
            
            $(this).attr("disabled", true);
            var messagesToShow = "";
            var checkDiscountStatus = checkDiscount();
            if (checkDiscountStatus == false) {
                messagesToShow+="مقادیر قیمت اصلی و یا تخفیف درست وارد نشده است"+"<br/>";
            }
            
            if (!document.getElementById('@fileUploadId').files[0]) {
                messagesToShow += "تصویر اصلی انتخاب نشده است" + "<br/>";
            }
            if (!document.getElementById('@tourImagesId').files[0]) {
                messagesToShow += "تصاویر نمایشی انتخاب نشده است" + "<br/>";
            }

            /**/ if (!$("#tourTitle").val()) {
                messagesToShow += "عنوان پر نشده است" + "<br/>";
            }

            //if (!$("#tourTitleLong").val()) {
            //    messagesToShow += "عنوان بلند پر نشده است" + "<br/>";
            //}
            if (!$("#tourOriginalPrice").val()) {
                messagesToShow += " قیمت اصلی پر نشده است" + "<br/>";
            }
            if (!$("#tourDiscountPrice").val()) {
                messagesToShow += " قیمت تخفیف پر نشده است" + "<br/>";
            } 
            if (!$("#tourDiscountPercent").val()) {
                messagesToShow += " درصد تخفیف پر نشده است" + "<br/>";
            }
            //if (!$("#tourExpireDate").val()) {
            //    messagesToShow += " زمان انقضا پر نشده است" + "<br/>";
            //}
            if (!$("#tourQuantity").val()) {
                messagesToShow += " تعداد تخفیف پر نشده است" + "<br/>";
            }
            //if (!$("#tourLocationAddress").val()) {
            //    messagesToShow += " مکان سفارش پر نشده است" + "<br/>";
            //}
            if (messagesToShow != "") {
                $("#btnOfftickOfferUpload").removeAttr("disabled");
                messagesToShow = "<B style='color:red;'>ابتدا خطاهای زیر را رفع نمایید</B>" + "<br/>" + messagesToShow;
                showMessage(messagesToShow, true);
                uploadingOfferInProgress = false;
                return;
            }

            $("#progressContainerUploadImageOffer").removeClass("hide");
            var fd = new FormData();
            fd.append("mainImage", document.getElementById('@fileUploadId').files[0]);
            $.each($('#@tourImagesId')[0].files, function (j, file) {
                fd.append('tourImages[' + j + ']', file);//i had to change "i" by "j"
            });
            $.each($('#@menuImagesId')[0].files, function (j, file) {
                fd.append('menuImages[' + j + ']', file);//i had to change "i" by "j"
            })
            
            if (!$("#tourTitle").val()) {
            }
            
            fd.append("tourTitle", $("#tourTitle").val());
            fd.append("tourTitleLong", $("#tourTitleLong").val());
            fd.append("tourOriginalPrice", $("#tourOriginalPrice").val());
            fd.append("tourOriginalTitle", $("#tourOriginalTitle").val());
            fd.append("tourUnit", $("#tourUnit").val());
            fd.append("tourDiscountPrice", $("#tourDiscountPrice").val());
            fd.append("tourDiscountTitle", $("#tourDiscountTitle").val());
            fd.append("tourDiscountPercent", $("#tourDiscountPercent").val());
            fd.append("tourExpireDate", $("#tourExpireDate").val());
            fd.append("tourQuantity", $("#tourQuantity").val());
            //fd.append("tourAudeiences", $("#tourAudeiences").val());
            fd.append("tourLocationCityId", $("#tourLocationCityId").val());
            fd.append("tourLocationAddress", $("#tourLocationAddress").val());
            fd.append("url", $("#tourUrlAddress").val());
            fd.append("offtickOfferTypeId", "@offtickOfferTypeId");
            fd.append("tourHasAddedValueTax", $("#tourHasAddedValueTax").val());

            fd.append("tourShowBuyButton", $("#tourOfferShowBuyButton").prop("checked"));
            fd.append("tourShowOffButton", $("#tourOfferShowOffButton").prop("checked"));
            fd.append("tourShowInstantButton", $("#tourOfferShowInstantButton").prop("checked"));
            fd.append("tourSourceCityId", $("#tourOfferSourceCityId").val());
            fd.append("tourDestinationCityId", $("#tourOfferDestinationCityId").val());
            fd.append("tourWentDate", $("#tourOfferWentDateTime").val());
            fd.append("tourReturnDate", $("#tourOfferReturnDateTime").val());
            fd.append("tourAgencyName", $("#tourOfferAgancyName").val());
            fd.append("tourTravelType", $("#tourOfferTravelType").val());

            
            
            var blob1 = new Blob([CKEDITOR.instances.tourSpecification.getData()], { type: "text/xml" });
            fd.append("tourSpecification", blob1);

            var blob2 = new Blob([CKEDITOR.instances.tourConditions.getData()], { type: "text/xml" });
            fd.append("tourConditions", blob2);

            var blob3 = new Blob([CKEDITOR.instances.tourDescriptions.getData()], { type: "text/xml" });
            fd.append("tourDescriptions", blob3);

            

         

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);
            
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                $("#uploadProgressBar").html(percentComplete + "% uploading");
                $("#uploadProgressBar").attr("aria-valuenow", percentComplete);
                $("#uploadProgressBar").css("width", percentComplete+"%");
               // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
           
            //alert(evt.target.responseText);
            var serverToClientResponse = JSON.parse( evt.currentTarget.response);
            if (serverToClientResponse) {
                if (serverToClientResponse.ResultStatus == "Success") {
                  
                    $("#fileName").empty();
                    $("#fileSize").empty();
                    $("#progressNumber").empty();
                    var redirectSuccessUrl = "@Url.Action("Wall","Profile",new {area="User"})";
                    $(location).attr('href', redirectSuccessUrl);
                }
                else {
                    alert("fail to upload offer"+ " " + serverToClientResponse.Error);
                }
            }
            else {
                alert("fail to upload offer, make sure you are logined and try again");
            }
           
        }

        function uploadFailed(evt) {
            $("#btnOfftickOfferUpload").removeAttr("disabled");
            uploadingOfferInProgress = false;
            showMessage("در ارسال آفر به سرور خطایی رخ داده است، لطفا ارتباط اینترنت خود را بررسی کرده و مجددا سعی نمایید", true);
        }

        function uploadCanceled(evt) {
            $("#btnOfftickOfferUpload").removeAttr("disabled");
            uploadingOfferInProgress = false;
            showMessage("ارسال سفارش به سرور توسط کاربر لغو شده است و یا سرور ارتباط را قطع نموده است", true);
        }
    </script>