﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer
@using Offtick.Core.Utility.PersianTools;
    
<link rel="stylesheet" href="@Url.Content("~/Content/css/slider-pro.min.css")">
<script type="text/javascript" src="@Url.Content("~/Content/js/lib/jquery.sliderPro.min.js")"></script>


@{
    var offer = Model;
    Layout = "~/Views/Shared/_Layout.cshtml";



    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    var currentUserName = string.Empty;
    string roleName = string.Empty;
    Offtick.Data.Context.ExpertOnlinerContexts.MembershipUsersInRole roleOfUser = null;
    var thumbnailOfCurrentUser = string.Empty;
    if (currentUser != null)
    {
        currentUserName = currentUser.UserName;
        roleOfUser = currentUser.MembershipUsersInRoles.FirstOrDefault();
        if (roleOfUser != null)
        {
            roleName = roleOfUser.MembershipRole.RoleName;
        }
        thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
    }




    //var offers = Offtick.Business.Services.Managers.OfferManager.Instance.getWallOffersForUser(currentUser, 0, 20);





    var urlOfCurrentUserProfile = Url.Action("Index", "Profile", new { area = "User" });


    string userNameOfOfferOwner = offer.MembershipUser.UserName;
    Guid userIdOfOfferOwner = offer.MembershipUser.UserId;
    string nameOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(offer.MembershipUser);
    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
    string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, offer.MembershipUser.Picture);
    var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, false);
    var tourOffer = offer.OfferTours.FirstOrDefault();
    var tourOfferImages = tourOffer != null ? tourOffer.OfferTourImages.Where(e => e.ImageType == (short)Offtick.Core.EnumTypes.OfferImageType.Image).ToList() : null;
    var statusRemainingTime = tourOffer.OfferStatusId == (int)Offtick.Business.Services.Managers.OfferExecutionStatus.Suspended ? "این سفارش معلق شده است" : @Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetStringExpireTime(offer.DateTime, tourOffer.TimeToExpire);

    bool isOfferLiked = Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, offer);
    var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";

    var countOfSoled = 0;// tourOffer.OfferFoodOrders.Sum(e => e.Quantity);
    var countOfOffer = tourOffer.Quantity;

    var remain = countOfOffer - countOfSoled;
    var lastComment = offer.OfferComments.LastOrDefault();
    string lastCommentTitle = lastComment != null ? lastComment.CommentText : string.Empty;
    var lastCommentUser = lastComment != null ? lastComment.MembershipUser.FirstName : string.Empty;
      
    string strReturnDateTime = tourOffer.ReturnDateTime.HasValue ? PersianDateConvertor.ToKhorshidiDate(tourOffer.ReturnDateTime.Value) : string.Empty;
    string strWentDateTime = tourOffer.ReturnDateTime.HasValue ? PersianDateConvertor.ToKhorshidiDate(tourOffer.WentDateTime.Value) : string.Empty;
    string strDurationTime = tourOffer.ReturnDateTime.HasValue && tourOffer.WentDateTime.HasValue ? (tourOffer.ReturnDateTime.Value - tourOffer.WentDateTime.Value).TotalDays.ToString() : string.Empty;
    
    
 
    
     
        <div class="main-wrapper single" >

            <div class="single-offer-content offerContainer" data-offerId="@Model.OfferId">
                <section class="layout">
                    <header class="offer-header">
                        <div class="timer-container">
                          @*  <span class="counter">1:59:0</span>*@
                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>

                            <div class="remaining-time ">@statusRemainingTime</div>
                        </div>

                        <div class="user-avatar-container">
                            <div class="user-state one-hour">
                                <span class="user-state-title">Last seen 1 hour ago</span>
                                
                            </div>
                            <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">   
                                <img src="@urlOfOfferOwner" alt="@nameOfOfferOwner" class="user-avatar">
                            </a>
                              @*<a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">   </a>*@
                        </div>
                        <div class="offer-title-container">
                            <span class="item-address"><i class="fa fa-map-marker"></i>
                                @*@offer.MembershipUser.Address*@
                                @string.Format("{0} - {1}", offer.MembershipCity != null ? offer.MembershipCity.CityName : " ", offer.LocationAddress)
                            </span>

                            <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">   
                                <h3 class="offer-title">@offer.Title</h3>        
                            </a>
                            
                             <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">
                                <h3 class="offer-title" style="margin-top:10px;">@nameOfOfferOwner  </h3>
                            </a>
                           @if(!string.IsNullOrEmpty(lastCommentTitle))
                           {
                                <span class="offer-desc">@lastCommentUser : @lastCommentTitle</span>
                           }
                        </div>

                        <div class="social-container">
                            <ul class="social-list">
                                <li>
                                    <a class="google" href="#">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </header>
                    <!--offer-header-->

                    <div class="primary" id="singleOfferPrimary">

                        <div class="buyers-avatar-container">
                            <span class="buyers-title">تعداد خریداران</span>
                            <span class="buyers-count">@countOfSoled</span>

                           @*@{   var buyOrders = tourOffer.OfferFoodOrders.OrderByDescending(e => e.DateTime).Take(7);
                                if (buyOrders != null && buyOrders.Count() > 0)
                                {
                                   <ul class="buyers-list">
                                    @foreach (var offerFoodOrder in buyOrders)
                                    {
                                        <li>
                                            @Html.Action("ShowUserStatus", "Profile", new { area = "User", user = offerFoodOrder.MembershipUser, maxWidth = 32 });
                                        </li>
                                    }
                                    </ul>
                                }
                            }*@
                        </div>
                        <!--buyers-avatar-container-->

                    


                        @if (tourOfferImages != null && tourOfferImages.Count > 0)
                        {
                          <div class="slider-container">
                            <div class="slider-pro" id="offer-slider">

                                <div class="sp-slides">
                                      @for (int i = 0; i < tourOfferImages.Count; i++)
                                      {
                                          var galleryImage = tourOfferImages[i];
                                          string imgUrl = Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(galleryImage.Name, userIdOfOfferOwner, false);
                                          
                                            <!-- Slide 1 -->
                                            <div class="sp-slide">
                                                <img src="@imgUrl" class="sp-image" title="@galleryImage.Description">
                                            </div>
                                      }
                                </div>
                                <div class="sales-icon">
                                    <span class="discount-percent"> @tourOffer.DiscountPercent %</span>
                                    <img src="@Url.Content("~/content/images/offtick-off-110.png")" alt=""/>
                                </div>


                                 @Html.Action("OfferManagementCombo", "Offer", new { area = "User", currentUserName = currentUserName, userNameOfOfferOwner = userNameOfOfferOwner })

                              

                            </div>

                         </div>
                         <!--slider-container-->
                        }

                        <div class="offer-likes-container">
                            <ul>
                                <li>
                                     @{
                                        string controlId = Guid.NewGuid().ToString();
                                    }
                                    <span class="item-views" data-offerId="@offer.OfferId">
                                        <i class="btn fa fa-eye " aria-hidden="true"     >@tourOffer.ViewCount</i>
                                    </span>
                                   
                                </li>
                                <li>
                                    <i class="fa fa-commenting commentOfferCount" aria-hidden="true">@offer.OfferComments.Count()</i>
                                </li>
                                 <li> 
                                     <span class="item-sales" data-offerId="@offer.OfferId">
                                         <i class="btn fa fa-shopping-cart">  @*@tourOffer.OfferFoodOrders.Count*@</i>
                                     </span>
                                 </li>
                                                    
                                <li class="date">
                                    
                                    <i class="fa fa-calendar" aria-hidden="true"></i>@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPersianDate(offer.DateTime)
                                </li>
                            </ul>
                        </div>
                        <!--offer-likes-container-->

                        <div class="secondary-mobile-place"></div>
                        <!--secondary-mobile-place-->
                         @Html.Action("CommentsForOffer", "Offer", new { area = "User", offer = @Model })

                       
                        <!--comments-container-->
                    </div>
                    <!--primary-->

                    <div class="secondary" id="singleOfferSecondary">
                        <div class="price-container">
                            <div class="your-pay">
                                <span class="your-pay-title">@tourOffer.DiscountPriceTitle :</span>
                                <span class="your-pay-price"><strong class="currencyFa">@tourOffer.DiscountPrice</strong>@tourOffer.DiscountPriceUnit</span>
                            </div>
                            <!--your-pay-->
                            <div class="discount-desc">
                                <div class="real-price">
                                    <span class="real-price-qty"><strong class="currencyFa"> @tourOffer.OriginalPrice</strong> @tourOffer.DiscountPriceUnit</span>
                                    <span class="real-price-title">@tourOffer.OriginalPriceTitle</span>
                                 </div>
                                <div class="discount-price">
                                    <span class="discount-price-qty"><strong class="currencyFa"> @Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetOfferIncomeValue(offer)</strong>
                                        @Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetOfferIncomeTitle(offer)</span>
                                    <span class="discount-price-title">سود شما</span>
                                </div>
                            </div>
                            <!--discount-desc-->
                             <div class="discount-desc">
                                <div class="real-price">
                                    <span class=""><strong > @strWentDateTime</strong> </span>
                                    <span class="real-price-title">تاریخ رفت</span>
                                 </div>
                                <div class="discount-price">
                                    <span class="real-price-qty"><strong > @strReturnDateTime</strong></span>
                                    <span class="discount-price-title">تاریخ برگشت </span>
                                </div>
                            </div>
                           
                             <div class="discount-desc">
                                <div class="real-price">
                                    <span class=""><strong > @tourOffer.MembershipCity.CityName</strong> </span>
                                    <span class="real-price-title"> مبدا</span>
                                 </div>
                                <div class="discount-price">
                                    <span class="real-price-qty"><strong >@tourOffer.MembershipCity.CityName</strong></span>
                                    <span class="discount-price-title"> مقصد</span>
                                </div>
                            </div>
                             <div class="discount-desc">
                                <div class="real-price">
                                    <span class=""><strong > @tourOffer.TravelType.Name</strong> </span>
                                    <span class="real-price-title"> طریقه سفر</span>
                                 </div>
                                <div class="discount-price">
                                    <span class="real-price-qty"><strong > @strDurationTime</strong></span>
                                    <span class="discount-price-title"> مدت زمان سفر</span>
                                </div>
                            </div>
                        </div>
                        <!--price-container-->


                         




                     

              
            
                
                


                    @if(tourOffer.ShowBuyButton){
                        <div class="order-form-container">
                            <div class="order-form" name="orderform">
                                <div >
                                  <span id="chkOfferCustomerPrivacyIsBuyingChecked" class=" fa  checkMark fa-check-square-o "  >نمایش در لیست خریداران </span>
                              </div>
                                <button class="add-to-cat" id="btnAddToBasketFoodOffer" name="btnAddToBasketFoodOffer">اضافه به سبد</button>
                                <button class="order-this-offer" id="btnAddToBasketAndSaleOffer" name="btnAddToBasketAndSaleOffer">خرید</button>
                             
                              
                                 
                                <div class="col-right">
                                    <span class="remaining-items">تعداد باقیمانده : </span>
                                    <span class="remainig-qty">@remain</span>
                                </div>
                                <div class="col-left">
                                    <span class="order-qty-label">تعداد سفارش : </span>
                                    <input type="number" name="cmbCountOfOffer" id="cmbCountOfOffer" min="1" max="100" value="1">
                                </div>

                            </div>
                        </div>
                    }
                      else{
                        if(!string.IsNullOrEmpty( offer.Url)){
                            <a href="@offer.Url" class="btnC w2" target="_self">نمایش و خرید</a>
                        }
                    }
                        <div class="offer-details">
                          <div class="features hidden-content">
                              <h4 class="info-title">ویژگی ها

                              </h4>
                              <ul class="info-desc">
                                  <li> @Html.Raw(tourOffer.Specifications) </li>

                              </ul>
                               <span class="slidetoggler">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div class="usage hidden-content">
                              <h4 class="info-title">شرایط استفاده
                              </h4>
                              <ul class="info-desc">
                                  <li> @Html.Raw(tourOffer.Conditions)</li>
                              </ul>
                               <span class="slidetoggler">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                          </div>
                             <div class="usage hidden-content">
                              <h4 class="info-title">توضيحات
                              </h4>
                              <ul class="info-desc">
                                  <li> @Html.Raw(tourOffer.Descriptions)</li>
                              </ul>
                               <span class="slidetoggler">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div class="seller-info hidden-content">
                              <h4 class="info-title">مشخصات فروشنده
                              </h4>
                              <ul class="info-desc">
                                 @{  var introduceInfo = offer.MembershipUser.MembershipIntroduceInfo;
                                     if (introduceInfo != null)
                                     {
                                         string ownerSpecification = introduceInfo.Specification;
                                          <li>@Resources.UICaptions.ResponsibleName :@introduceInfo.ResponsibleName</li>
                                          <li>@Resources.UICaptions.ResponsibleEmail :@introduceInfo.ResponsibleEmail</li>
                                          <li>@Resources.UICaptions.ResponsiblePhone :@introduceInfo.ResponsiblePhone</li>
                                          <li>@Html.Raw(introduceInfo.Specification) </li>
                                         }
                                  }
                                 
                                  
                              </ul>
                              <span class="slidetoggler">
                                <i class="fa fa-angle-down" aria-hidden="true"></i>

                              </span>
                          </div>
                        </div>
                        <!--offer-details-->
                    </div>
                    <!--secondary-->

                </section>
                <!--layout-->
            </div>
            <!--single-offer-content-->

        </div>
        <!--main-wrapper-->

     @Html.Action("SimularOffersContainer", "Offer", new { area = "User", offerId=offer.OfferId});
 
  
    
}



<script type="text/javascript">

    $(function () {

      

        $(document).on('dblclick click', '#btnAddToBasketFoodOffer', function (e) {
            var offerId = "@offer.OfferId";
            var urlOfAction = "@Url.Action("AddToBasket", "Basket", new { area = "User", })";
            var countOfOffer = $("#cmbCountOfOffer").val();
           // if (!"@currentUserName")
             //   return;
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: "@currentUserName", count: countOfOffer, isBuyingVisible: $("#chkOfferCustomerPrivacyIsBuyingChecked").hasClass("fa-check-square-o") }),
                  dataType: 'json',
                  processData: false,
                  contentType: 'application/json; charset:utf-8',
                  success: function (data, status) {
                      if (status == "success" && data && data.ResultStatus) {
                          if (data.ResultStatus == "Failed") {
                              showMessage(data.Error);
                          }
                          if (data.ResultStatus == "Success") {
                              var urlOfBasket = "@Url.Action("Index", "Basket", new { area = "User", })";
                              $(location).attr('href', urlOfBasket);

                          }

                          if (data.ResultStatus == "ExpiredSession") {
                              var urlOfLogin = "@Url.Action("Logon", "Account", new { area = "", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                  error: function (xhr, textStatus, error) {
                      var errorMessage = error || xhr.statusText;
                      showMessage(errorMessage + xhr.toString() + textStatus);
                  }
              });
        });


        $(document).on('dblclick click', '#btnAddToBasketAndSaleOffer', function (e) {
            var offerId = "@offer.OfferId";
              var urlOfAction = "@Url.Action("AddToBasket", "Basket", new { area = "User", })";
              var countOfOffer = $("#cmbCountOfOffer").val();
              // if (!"@currentUserName")
              //   return;
              $.ajax({
                  type: 'POST',
                  url: urlOfAction,
                  data: JSON.stringify({ offerId: offerId, userName: "@currentUserName", count: countOfOffer, isBuyingVisible: $("#chkOfferCustomerPrivacyIsBuyingChecked").hasClass("fa-check-square-o") }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            showMessage(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            var urlOfBasket = "@Url.Action("Index", "Basket", new { area = "User", step = "pay" })";
                              $(location).attr('href', urlOfBasket);

                          }

                          if (data.ResultStatus == "ExpiredSession") {
                              var urlOfLogin = "@Url.Action("Logon", "Account", new { area = "", })";
                              urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                              $(location).attr('href', urlOfLogin);
                          }
                      }
                  },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus);
                }
            });
          });

        $(document).on('dblclick click', '#btnSaleFoodOffer', function (e) {
            var offerId ="@offer.OfferId";
            @{
                Random r = new Random(int.Parse(string.Format("{0}{1}{2}", DateTime.Now.Year, DateTime.Now.Minute, DateTime.Now.Second)));
                int fakeSaleOrderId = r.Next(20000, 100000);
                }
            var urlOfAction = "@Url.Action("SaleFoodOffer", "Offer", new { area = "User", })";
            var countOfOffer = $("#cmbCountOfOffer").val();
            if (!"@currentUserName")
                return;
              $.ajax({
                  type: 'POST',
                  url: urlOfAction,
                  data: JSON.stringify({ offerId: offerId, userName: "@currentUserName", count: countOfOffer,saleOrderId:"@fakeSaleOrderId" }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            showMessage(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            showMessage(data.Message);
                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new { area = "", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

      

   
        
      
    });
</script>