﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer
@if(Model!=null)
{

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    var thumbnailOfCurrentUser = string.Empty;
    var currentUserName = string.Empty;
    bool isFoodOffer = false;
    if(currentUser!=null)
    {
        thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
    }

    var privacy = Model.OfferPrivacy;
    bool offerPrivacyIsBuyerChecked = privacy != null ? privacy.IsBuyerVisible : false;
    string offerPrivacyIsBuyerCheckedCssClass = offerPrivacyIsBuyerChecked ? "fa-check-square-o" : "fa-square-o";

    bool offerPrivacyIsViewerChecked = privacy != null ? privacy.IsViewerVisible : false;
    string offerPrivacyIsViewerCheckedCssClass = offerPrivacyIsViewerChecked ? "fa-check-square-o" : "fa-square-o";

    bool offerPrivacyIsOnlyVisibleForFollowersChecked = privacy != null ? privacy.IsOnlyVisibleForFollowers : false;
    string offerPrivacyIsOnlyVisibleForFollowersCheckedCssClass = offerPrivacyIsOnlyVisibleForFollowersChecked ? "fa-check-square-o" : "fa-square-o";

    var foodOffer=Model.OfferFoods.FirstOrDefault();
    isFoodOffer=foodOffer!=null;

 <!-- Modal -->
  <div class="modal fade" id="modalUpdateOffer" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
          <h6 style="color:red;"><span class="glyphicon glyphicon-lock"></span> ویرایش سفارش</h6>
        </div>
        <div class="modal-body margin3 padding3">
            <input type="hidden" value="@Model.OfferId" id="hdnUpdateOfferId"/>
             <img src="@thumbnailOfCurrentUser" class="thaumbnail24">
            <br />
             <input type="text"   style="width:92%;" value="@Model.Title" id="txtUpdateOfferTitle"/>
            <textarea  style="width:92%; resize: none;" id="txtUpdateOfferBody">@Model.Body</textarea>

            @if(isFoodOffer)
            {
                <input type="text"   style="width:92%;" value="@foodOffer.Quantity" id="txtUpdateOfferQuantity"/>
            }

             <div class="panel panel-default text-right">
                <div class="panel-heading ">تنظیمات نمایشی آفر</div>
                <div class="panel-body ">
                    <div class="row">
                        
                        <span id="chkOfferPrivacyIsViewingChecked" class="col-md-6 fa  checkMark @offerPrivacyIsViewerCheckedCssClass" >نمایش کاربر در لیست مشاهده کنندگان</span>
                        <span id="chkOfferPrivacyIsBuyingChecked" class="col-md-6 fa  checkMark @offerPrivacyIsBuyerCheckedCssClass" >نمایش کاربر در لیست خرید کنندگان</span>
                        <span id="chkOfferPrivacyIsOnlyVisibleForFollowersChecked" class="col-md-6 fa  checkMark @offerPrivacyIsOnlyVisibleForFollowersCheckedCssClass" >نمایش تنها برای دنبال کنندگان</span>

                    </div>
       
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <span class="fa fa-floppy-o btnB" id="btnModalUpdateOffer">
                    ذخیره
                </span>
        </div>
      </div>
    </div>
  </div> 


}

