﻿@model Offtick.Data.Context.ExpertOnlinerContexts.OfferComment
@{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    var thumbnailOfCurrentUser = string.Empty;
    if(currentUser!=null)
    {
        thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
    }
}  
@if(Model!=null){
 <!-- Modal -->
  <div class="modal fade" id="modalUpdateComment" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        @*<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h6 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Edit Comment</h6>
        </div>*@
        <div class="modal-body">
             <img src="@thumbnailOfCurrentUser" class="thaumbnail24">
             <input type="text" class="txtCommentEdit" data-offerCommentId="@Model.OfferCommentId" style="width:92%;" value="@Model.CommentText"/>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div> 
}



