﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string actionUrl = Url.Action("PostPhotoLoader", "Offer", new { area = "User" });
    string userIdOfOfferOwner = Model.MembershipUser.UserId.ToString();
    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner);
    var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner, Model.FileName, false);


    string guid=Guid.NewGuid().ToString();
    string txtTitleId = "txtUpgradeImageOfferTitle";
    string txtDescriptionId = "txtUpgradeImageOfferDescription";
 
        
}

   <script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>


<div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>ویرایش عکس</h3>

                    </header>
                    <div>
                          <input type="hidden" id="hdnUpgradeImageOfferOfferId" value="@Model.OfferId" />
                            <img src="@urlOfImage" id="imgFilePicture"   />
                          
                           <br />
                        @Html.TextBoxFor(e => e.Title, new { id = txtTitleId ,placeholder="عنوان:",@class="w-6"})
                            <br />
                        @Html.TextBoxFor(e => e.Body, new { id = txtDescriptionId ,placeholder="درباره عکس توضیح دهید:",@class="w-6"})

                       @* <div id="progressContainerUploadImageOffer" class="progress hide">
                          <div class="progress-bar progress-bar-success" role="progressbar" 
                          aria-valuemin="0" aria-valuemax="100" style="width:40%" id="uploadProgressBar">
                            
                          </div>
                        </div>*@
                        <div>
                            <input type="button" id="btnUpgradeImageOffer" value="به روز رسانی" class="btnB w-2"  />
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <!--main-wrapper-->

