﻿
<div class="main-wrapper single-page" style="min-height:250px;">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>وال خالی</h3>

            </header>
            <main class="article-body">  
               صفحه شما در حالی حاضر خالی است، می توانید افرادی رو فالو کرده و یا محتوایی بر روی سایت بارگزاری نمایید.
            </main>
        </article>
    </section>
</div>
<!--main-wrapper-->