﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Offer
@using Offtick.Core.EnumTypes;

<link rel="stylesheet" href="@Url.Content("~/Content/css/slider-pro.min.css")">
<script type="text/javascript" src="@Url.Content("~/Content/js/lib/jquery.sliderPro.min.js")"></script>

@{
    var offer = Model;

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = currentUser != null ? currentUser.UserName : string.Empty;
    string userNameOfOfferOwner = offer.MembershipUser.UserName;
    Guid userIdOfOfferOwner = offer.MembershipUser.UserId;
    string nameOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(offer.MembershipUser);
    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
    string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, offer.MembershipUser.Picture);
    var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, false);
    var tourOffer = offer.OfferTours.FirstOrDefault();
    var tourOfferImages = tourOffer != null ? tourOffer.OfferTourImages.Where(e => e.ImageType == (short)OfferImageType.Image).ToList() : null;
    bool isOfferLiked=Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, offer);
    var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";
    string tourCarouseId = "tourCarousel" + offer.OfferId;
    var urlOfCurrentUserProfile = Url.Action("Index", "Profile", new { area = "User" });
    var countOfSoled = 0;//tourOffer.OfferTourOrders.Sum(e => e.Quantity);
    var countOfOffer = tourOffer.Quantity;
    var remain = countOfOffer - countOfSoled;
    var lastComment = offer.OfferComments.LastOrDefault();
    string lastCommentTitle = lastComment != null ? lastComment.CommentText : string.Empty;
    var lastCommentUser = lastComment != null ? lastComment.MembershipUser.FirstName : string.Empty;
    
 
    
    
    
    
    
     
    
 @*
    url of owner of offer =Url.Action("OtherProfile","Profile",new {area="User",userName=userNameOfOfferOwner})
            <span class="btn btn-warning btn-xs fa fa-eye " data-toggle="modal" data-target="#@controlId2">@tourOffer.ViewCount</span>

                @Html.Action("OfferVisitedPresenter","Offer",new {area="User",offerId=offer.OfferId,controlId=controlId2,pictureSize=64,headerTitle="مشاهده اشخاص بازدیدکننده", modalMode=Offtick.Web.OfftickWeb.Areas.User.Models.ModalMode.Medium})
    
    
     
        *@
<div class="main-wrapper archive" >

            <div class="single-offer-content offerContainer" data-offerId="@Model.OfferId">
                <section class="layout">
                    <header class="offer-header">
                        @*<div class="timer-container">
                         
                            <i class="fa fa-hourglass-half" aria-hidden="true"></i>

                            <div class="remaining-time">@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetStringExpireTime(offer.DateTime, tourOffer.TimeToExpire)</div>
                        </div>*@

                        <div class="user-avatar-container">
                            <div class="user-state one-hour">
                                <span class="user-state-title">Last seen 1 hour ago</span>
                            </div>
                            
                            <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">   
                                <img src="@urlOfOfferOwner" alt="@nameOfOfferOwner" class="user-avatar">
                            </a>
                            <br />
                              
                        </div>
                        <div class="offer-title-container">
                            <a  href="@Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId })" target="_blank">   

                                <span class="item-address"><i class="fa fa-map-marker"></i>
                                    @*@offer.MembershipUser.Address*@
                                    @string.Format("{0} - {1}", offer.MembershipCity != null ? offer.MembershipCity.CityName : " ", offer.LocationAddress)
                                </span>
                            </a>
                            

                            <a  href="@Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId })" target="_blank">   
                                <h3 class="offer-title">@offer.Title</h3>
                            </a>
                            <a  href="@Url.Action("OtherProfile", "Profile", new { area = "User", userName = userNameOfOfferOwner })">
                                <h3 class="offer-title" style="margin-top:10px;">@nameOfOfferOwner  </h3>
                            </a>
                           @if(!string.IsNullOrEmpty(lastCommentTitle))
                           {
                                <span class="offer-desc">@lastCommentUser : @lastCommentTitle</span>
                           }
                        </div>

                        <div class="social-container">
                            <ul class="social-list">
                                <li>
                                    <a class="google" href="#">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="linkedin" href="#">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>

                            </ul>

                        </div>

                    </header>
                    <!--offer-header-->

                    <div class="primary" id="singleOfferPrimary">

                        <div class="buyers-avatar-container">
                            <span class="buyers-title">تعداد خریداران</span>
                            <span class="buyers-count">@countOfSoled</span>

                          @* @{   var buyOrders = tourOffer.OffertourOrders.OrderByDescending(e => e.DateTime).Take(7);
                                if (buyOrders != null && buyOrders.Count() > 0)
                                {
                                   <ul class="buyers-list">
                                    @foreach (var offertourOrder in buyOrders)
                                    {
                                        <li>
                                            @Html.Action("ShowUserStatus", "Profile", new { area = "User", user = offertourOrder.MembershipUser, maxWidth = 32 });
                                        </li>
                                    }
                                    </ul>
                                }
                            }*@
                        </div>
                        <!--buyers-avatar-container-->

                    


                        @if (tourOfferImages != null && tourOfferImages.Count > 0)
                        {
                          <div class="slider-container">
                            <div class="slider-pro" >

                                <div class="sp-slides">
                                      @for (int i = 0; i < tourOfferImages.Count; i++)
                                      {
                                          var galleryImage = tourOfferImages[i];
                                          string imgUrl = Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(galleryImage.Name, userIdOfOfferOwner, false);
                                          
                                            <!-- Slide 1 -->
                                            <div class="sp-slide">
                                                <img src="@imgUrl" class="sp-image" title="@galleryImage.Description">
                                            </div>
                                      }
                                        @Html.Action("OfferManagementCombo", "Offer", new { area = "User", currentUserName = currentUserName, userNameOfOfferOwner = userNameOfOfferOwner ,offerId=offer.OfferId})
                                </div>
                                <div class="sales-icon">
                                    <span class="discount-percent"> @tourOffer.DiscountPercent %</span>
                                    <img src="@Url.Content("~/content/images/offtick-off-110.png")" alt=""/>
                                </div>


                                 

                              

                            </div>

                         </div>
                         <!--slider-container-->
                        }

                        <div class="offer-likes-container">
                            <ul>
                                <li>
                                    <i class="btn fa fa-eye item-views" aria-hidden="true" data-offerId="@offer.OfferId">@tourOffer.ViewCount</i>
                                </li>
                                <li>
                                    <i class="btn fa fa-commenting commentOfferCount item-comments" data-offerId="@offer.OfferId" aria-hidden="true">@offer.OfferComments.Count()</i>
                                </li>
                                <li >
                                    <i class="btn fa fa-shopping-cart  item-sales" data-offerId="@offer.OfferId" aria-hidden="true">@*@tourOffer.OffertourOrders.Count*@</i>
                                </li>
                              
                                <li class="date">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPersianDate(offer.DateTime)
                                </li>
                                <li class="date">
                                    <a  href="@Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId })" target="_blank"  class="btnC">   
                                      نمایش جزییات و خرید
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--offer-likes-container-->

                        <div class="secondary-mobile-place"></div>
                        <!--secondary-mobile-place-->
                         @Html.Action("CommentsForOffer", "Offer", new { area = "User", offer = @Model })

                       
                        <!--comments-container-->
                    </div>
                    <!--primary-->

                 

                </section>
                <!--layout-->
            </div>
            <!--single-offer-content-->

        </div>
        <!--main-wrapper-->

 
  
    
}
