﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<Offtick.Web.OfftickWeb.Areas.User.Models.ControlItemModel> controlItems = ViewData["controlItems"] as IList<Offtick.Web.OfftickWeb.Areas.User.Models.ControlItemModel>;
}

<h2> @Resources.UILabels.ControlItemCollectionHeader</h2>

@Html.Partial("controlItemCollection",controlItems)

