﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Menu
@{
    bool commonCondition = Model != null && Model.MenuId != default(Guid);
    string menuTitle=commonCondition? Model.Title:" شما در منوی ریشه قرار دارید";
    string menuCreationDateTime = commonCondition ? Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDateTime(Model.LastDateTime) : "-";
    string parentTitle = commonCondition && Model.Menu2 != null ? Model.Menu2.Title : "-";
    int subMenuCount = commonCondition && Model.Menu1 != null ? Model.Menu1.Count : 0;
    string menuType = commonCondition ? Offtick.Web.OfftickWeb.Infrustracture.GlobalizationManager.GetMenuTypeCaptions((Offtick.Core.EnumTypes.MenuType)Model.MenuType) : "-";
}
<table>
    <tr>
        <td>
            عنوان منو: @menuTitle
        </td>
        <td >
            تاریخ ساخت: @menuCreationDateTime
        </td>
        <td>
            منوی پدر:@parentTitle
        </td>
        <td>
            تعداد زیر منو: @subMenuCount
        </td>
        <td>
            نوع منو: @menuType
        </td>
    </tr>
</table>