﻿@model Offtick.Business.Services.Domain.VirtualBasket.VirtualBasketOrderEntity

@if(Model!=null){
    var offerEntity=Offtick.Business.Services.Managers.OfferManager.Instance.GetOffer(Model.Entity.OfferId);
    var userIdOfOfferOwner = offerEntity.MembershipUser.UserId;
    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
    string urlOfOfferImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offerEntity.FileName, false);
    
<tr>
    <td>
         <img src="@urlOfOfferImage" style="max-width:300px;"/>
        @offerEntity.Title

    </td>
     <td>
        @Model.Count
    </td>
     <td>
        @Model.Entity.DiscountPrice
    </td>
    <td>
        @Model.TotalPrice
    </td>
     <td>
        <span class="btn fa fa-remove removeOfferFromBasket" data-offerId="@offerEntity.OfferId"> 

        </span>
    </td>
    
</tr>
}