﻿ 
@{
    var basketOrder = Offtick.Business.Services.Domain.VirtualBasket.VirtualBasketManager.Instance.GetListOfBasketEntitiesForCurrentUser();
    int basketOrderCounts = basketOrder != null && basketOrder.Entities != null ? basketOrder.Entities.Count : 0;
}
<div class="cart-wrapper">
    <a href="@Url.Action("Index", "Basket", new { area = "User" })"> 
        <i class="fa fa-shopping-cart"></i>
    </a>
    
    @if (basketOrderCounts > 0)
    {
    <span class="orders-qty">@basketOrderCounts</span>    
         <div class="cart-content">
            <ul class="cart-list">
                @foreach (var basketEntity in basketOrder.Entities)
                {
                    
                    var offerEntity = Offtick.Business.Services.Managers.OfferManager.Instance.GetOffer(basketEntity.Entity.OfferId);
                    var userIdOfOfferOwner = offerEntity.MembershipUser.UserId;
                    var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                    string urlOfOfferImage = "~/content/images/adds/item-thumb.png";
                    urlOfOfferImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offerEntity.FileName, false);
                    
                     <li>
                        <img src="@urlOfOfferImage" alt="" class="item-thumb"/>
                        <span class="item-name"> @offerEntity.Title</span>
                        <span class="order-qty">@basketEntity.Count</span>
                    </li>
                }
        </ul>
    </div>
    }
   
</div>
<!--cart-wrapper-->