﻿


	  <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">
                            <h3>سبد خرید شما خالی است !</h3>
                        </header>

                        <main class="article-body">  
                              برای خرید از طریق صفحه اصلی سایت، اقدام به انتخاب پیشنهاد مورد نظر خود نمایید.

                            <br />
                            <div>
                                <a href="@Url.Action("Index","Home",new{area=""})" class="btnB">
                                     <span class="fa fa-home">
                                        بازگشت به صفحه اصلی
                                    </span>
                                </a>
                            </div>

                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->

