﻿@*<script type="text/javascript" src="@Url.Content("~/Content/js/plugins/select-payment.js")"></script>*@


@{  
    Layout = "~/Views/Shared/_Layout.cshtml";
    var basketOrder = Offtick.Business.Services.Domain.VirtualBasket.VirtualBasketManager.Instance.GetListOfBasketEntitiesForCurrentUser();

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = currentUser != null ? currentUser.UserName : string.Empty;
    string stepOfBasket = Request.QueryString["step"];





    string bgClass1 = string.Empty;
    string bgClass2 = string.Empty;
    string bgClass3 = string.Empty;
    string bgClass4 = string.Empty;


    if (string.IsNullOrEmpty(stepOfBasket) || stepOfBasket == "show")
    {

        bgClass1 = "current";
        bgClass2 = "";
        bgClass3 = "";
        bgClass4 = "";
    }
    
    if (stepOfBasket == "pay")
    {
        bgClass1 = "passed";
        bgClass2 = "current";
        bgClass3 = "";
        bgClass4 = "";
    }
    
    if (stepOfBasket == "authorize")
    {
        bgClass1 = "passed";
        bgClass2 = "passed";
        bgClass3 = "current";
        bgClass4 = "";
    }
    
    if (stepOfBasket == "comeBackPgw")
    {
        bgClass1 = "passed";
        bgClass2 = "passed";
        bgClass3 = "passed";
        bgClass4 = "current";
    }
    
    
        <div class="main-wrapper buybasket">

            <div class="basket-header">
                <section class="layout">
                    <ul class="basket-steps-list">
                        @* current/passed/""*@
                        <li class="basket-step @bgClass1" style="z-index:10;">
                            <a href="#">
                                <span class="step-number">1</span>سبد خرید
                            </a>
                        </li>
                        <li class="basket-step @bgClass2" style="z-index:9;">
                            <a href="#">
                                <span class="step-number">2</span>پرداخت
                            </a>
                        </li>
                        <li class="basket-step @bgClass3" style="z-index:8;">
                            <a href="#">
                                <span class="step-number ">3</span>ورود
                            </a>
                        </li>
                        <li class="basket-step @bgClass4" style="z-index:7;">
                            <a href="#">
                                <span class="step-number ">4</span>نمایش خرید
                            </a>
                        </li>
                    </ul>
                </section>
            </div>
            <!--basket-header-->
       

             @if (basketOrder != null && basketOrder.Entities != null && basketOrder.Entities.Count > 0)
            {
                if (string.IsNullOrEmpty(stepOfBasket) || stepOfBasket == "show")
                {
                        @Html.Partial("ShowBasket");
                }
                    @*if (stepOfBasket == "login")
                    {
                        @Html.Action("LogOn", "Account", new { area = "", hasLayout = false, returnUrl = Url.Action("Index", "Basket", new { area="User",step = "login"}) })
                    }*@
           
                if (stepOfBasket == "pay")
                {
                        @Html.Partial("SelectPgw");
                }
                if (stepOfBasket == "comeBackPgw")
                {
                        @Html.Partial("showSaled");
                }
            }
            else
            {
                    @Html.Partial("EmptyBasket");
            }

        </div>
        <!--main-wrapper-->


    
   
}


 








