﻿@{
    PaymentGatewayService.PaymentGatewayEndpoint endPoint = new PaymentGatewayService.PaymentGatewayEndpoint();
    var basketOrder = Offtick.Business.Services.Domain.VirtualBasket.VirtualBasketManager.Instance.GetListOfBasketEntitiesForCurrentUser();

    
}
<script type="text/javascript">
    $(function () {
        
        urlOfActionPay = ' @Url.Action("PayRequest", "EPayment")';
        urlOfActionPayFake = ' @Url.Action("PayRequestFake", "EPayment")'; 
        urlOfActionOther = ' @Url.Action("OtherRequest", "EPayment")'; 
        

        $("#btnPayRequest").click(function () {
                $.ajax({
                    type: 'POST',
                    url: urlOfActionPay,
                    //data: JSON.stringify({ orderId: "@basketOrder.OrderId", amount: "@basketOrder.BasketPrice", date: $("#txtDate").val(), time: $("#txtTime").val(), additionalData: $("#txtAdditionalData").val(), payerId: $("#txtPayerId").val() }),
                    data: JSON.stringify({ orderId: "@basketOrder.OrderId", amount: "@basketOrder.BasketPrice", }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success") {
                            $("#divResult").html(data.Data);
                            if (data.isSuccess) {
                                postToPgwSite(data.Data, "@endPoint.pgwSite");
                            }
                            else {
                                showMessage("خطایی در سیستم رخ داده است، لطفا مجددا سعی نمایید", true);
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        $("#divResult").html(errorMessage + xhr.toString() + textStatus);
                        
                    }
                });


        });

        $("#btnPayRequestFake").click(function () {
            $.ajax({
                type: 'POST',
                url: urlOfActionPayFake,
                //data: JSON.stringify({ orderId: "@basketOrder.OrderId", amount: "@basketOrder.BasketPrice", date: $("#txtDate").val(), time: $("#txtTime").val(), additionalData: $("#txtAdditionalData").val(), payerId: $("#txtPayerId").val() }),
                    data: JSON.stringify({ orderId: "@basketOrder.OrderId", amount: "@basketOrder.BasketPrice", }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success") {
                            $("#divResult").html(data.Data);
                            if (data.isSuccess) {
                                window.location.href = "@Url.Action("ComebackPgw","EPayment",new{area="User"})";
                            }
                            else {
                                showMessage("خطایی در سیستم رخ داده است، لطفا مجددا سعی نمایید", true);
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        $("#divResult").html(errorMessage + xhr.toString() + textStatus);

                    }
                });


         });

        $("#btnDoAction").click(function () {
            $.ajax({
                type: 'POST',
                url: urlOfActionOther,
                data: JSON.stringify({ actionType: $("#slcActionType  option:selected").val(), OrderId: $("#txtOrderId").val(), SaleOrderId: $("#txtSaleOrderId").val(), SaleReferenceId: $("#txtSaleReferenceId").val() }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        $("#divResult").html(data.Data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    $("#divResult").html(errorMessage + xhr.toString() + textStatus);

                }
            });


        });

          
    });
</script>



  <div class="pay-container">
                <section class="layout">
                    <div class="bank-container">



                        <ul class="bank-handler" id="bankHandler">
                            <li id="melat" class="active" >
                                <img src="~/Content/Images/mellat-bank-100px.png" alt="">
                                <span>پرداخت اینترنتی - بانک ملت</span>
                                <span>[قابل پرداخت با تمامی کارتهای عضو شتاب]</span>
                            </li>
                            <li id="direct" class="double-col" style="visibility:hidden;">
                                <div class="right-half">
                                    <img src="~/Content/Images/credit-150px.png" alt="">
                                    <span>پرداخت کارت به کارت</span>
                                </div>
                                <div class="left-half">
                                    <span>بعد از کارت به کارت کردن مبلغ قابل پرداخت و ارسال شماره پیگریی آفرهای خریداری شده برای شما ارسال خواهد شد.</span>
                                    <span style="color:red;">در حال حاضر این امکان غیر فعال می باشد</span>

                                </div>

                            </li>
                        </ul>

                    </div>
                    <!--bank-container-->

                    <div class="payment-info">
                        <div class="payable">
                            <span>مبلغ قابل پرداخت</span>
                            <span class="payable-price"> <span class="currencyFa">@basketOrder.BasketPrice</span>تومان </span>
                        </div>
                        <form action="" class="payment_select_form" id="paymanetSelectForm">
                            <seclect name="paymanetmethod" id="paymentMethod" class="payment-method">
                                <option value="melat" id="melatBank" checked="checked">MelatBank</option>
                                <option value="direct" id="directBank">DirectTransfer</option>
                            </seclect>
                            <input type="submit">
                            <div style="visibility:hidden;">
                                <label>خرید از محل اعتبار : </label>
                            <input type="text" name="credit-qty">
                            </div>
                            
                        </form>
                        <div class="inform">
                            <i class="fa fa-info" aria-hidden="true"></i>
                            <span>با انتخاب نحوه پرداخت به صفحه بانک هدایت خواهید شد و بعد از پرداخت به آفتیک باز می گردید</span>
                        </div>

                    </div>
                    <!--payment-info-->

                    <div class="basket-title">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" class="home_button_handler">بازگشت به صفحه اصلی</a>
                        <div class="steps-nav">
                            <a href="@Url.Action("Index", "Basket", new { area = "User", step = "show" })" class="next-step">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                <span>قبلی</span>
                            </a>
                            <a href="#" class="previous-step" id="btnPayRequest">
                                <span>پرداخت</span>
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            @if (Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.IsFakePayment())
                            {
                                <a href="#" class="previous-step" id="btnPayRequestFake">
                                <span>پرداخت فیک</span>
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </a>
                            }
                        </div>
                    </div>

                </section>
            </div>
            <!--pay-container-->




  