﻿@{
    var basketOrder = Offtick.Business.Services.Domain.VirtualBasket.VirtualBasketManager.Instance.GetListOfBasketEntitiesForCurrentUser();
} 


     <div class="basket-content">
                <section class="layout">


                    <div class="items-table-container">


                        <table class="items-table">
                            <tbody>
                            <tr>
                                <th>نام آفر</th>
                                <th>ویژگی</th>
                                <th>تعداد</th>
                                <th>قیمت(تومان)</th>
                                <th>جمع کل (تومان)</th>
                                <th>حذف</th>
                            </tr>

                                  @foreach (var basketEntity in basketOrder.Entities)
                                    {
                
                                        var offerEntity=Offtick.Business.Services.Managers.OfferManager.Instance.GetOffer(basketEntity.Entity.OfferId);
                                        var userIdOfOfferOwner = offerEntity.MembershipUser.UserId.ToString();
                                        var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner);
                                        string urlOfOfferImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner, offerEntity.FileName, false);
                                        
                                        var urlActionOfOffer = Url.Action("OfferViewer", "Offer", new { offerId=offerEntity.OfferId,area="user"});
                                        var offtickOfferEntity = offerEntity.OfferFoods.FirstOrDefault();

                                        
                                        var entityPriceWithTax = basketEntity.TotalPrice;
                                        string moreSpec = "فاقد ویژگی";
                                        int addedValueTax = 0;
                                        if (offtickOfferEntity != null)
                                        {
                                             if( offtickOfferEntity.AddedValueTax.HasValue && offtickOfferEntity.AddedValueTax.Value > 0 )
                                             {
                                                 addedValueTax = offtickOfferEntity.AddedValueTax.Value;
                                                 moreSpec = string.Format("دارای {0}% ارزش افزوده", addedValueTax);
                                                 entityPriceWithTax += (basketEntity.TotalPrice * addedValueTax)/100;
                                             }
                                             else{
                                                  moreSpec = "ارزش افزوده ندارد";
                                             }
                                                 
                                        }
                                      
    
                                        <tr class="rowBasketItem">
                                            <td>
                                                 <div class="basket-item-wrapper">
                                                     <a href="@urlActionOfOffer" target="_blank">
                                                            <img src="@urlOfOfferImage" alt="" style="max-width:200px;"/>
                                                              <span class="offer-desc">
                                                                @offerEntity.Title
                                                            </span>
                                                        </a>
                                                   
                                                </div>
                                            </td>
                                            <td>@moreSpec</td>
                                             <td class="rowEntityCount">
                                                 <input type="number" name="orderQty" min="1" value="@basketEntity.Count" class="changableCount"  data-offerId="@offerEntity.OfferId">
                                            </td>
                                             <td class="rowEntityPrice currencyFa" data-entityPrice="@basketEntity.Entity.DiscountPrice" data-addedValueTax="@addedValueTax">
                                                @basketEntity.Entity.DiscountPrice
                                            </td>
                                            <td class="rowTotalPrice currencyFa">
                                                @entityPriceWithTax
                                            </td>
                                             <td>
                                                <span class="btn fa fa-times removeOfferFromBasket" data-offerId="@offerEntity.OfferId"> 

                                                </span>
                                            </td>
    
                                        </tr>

                                    }
                            <tr>
                                <td style="text-align:right;" colspan="4">مبلغ قابل پرداخت (تومان)</td>
                                <td colspan="2" id="sumOfTotalPrice" class="currencyFa">@basketOrder.BasketPrice</td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--items-table-container-->

                    <div class="basket-title">
                       <a href="@Url.Action("Index", "Home", new { area = "" })" class="home_button_handler">بازگشت به صفحه اصلی</a>

                        <div class="steps-nav">
                            
                                
                                <span class="btnB" id="btnUpdateBasket"> <i class="fa fa-arrow-left" aria-hidden="true"></i> بعدی</span>
                            
                           @* <a href="#" class="previous-step">
                                <span>قبلی</span>
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </a>*@
                        </div>
                    </div>
                    <!--basket-title-->

                    <p class="text-right">
                        هیچ هزینه دیگری غیر از هزینه پرداختی در این فاکتور اعم از هزینه حمل و تحویل کالا در محدود مشخص شده در جزییات اف تیک انتخاب شده، از خریدار اخذ نخواهد شد.
                    </p>


                </section>
            </div>
            <!--basket-content-->




   
          
        
