﻿@model string
@{
    Layout = "~/Views/Shared/_Layout.cshtml";}
  
 <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" ></script>
 <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
   <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>


 
     <script src="@Url.Content("~/Content/themes/Nictitate/js/superfish.js")"></script>
        <script src="@Url.Content("~/Content/themes/Nictitate/js/retina.js")"></script>
         <script src="@Url.Content("~/Content/themes/Nictitate/js/bootstrap.js")"></script> 
      <script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.hoverdir.js")"></script>       
		<script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.carouFredSel-6.0.4-packed.js")"></script>
         <script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.flexslider-min.js")"></script>
        <script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.prettyPhoto.js")"></script>
        <script src="@Url.Content("~/Content/themes/Nictitate/js/jflickrfeed.min.js")"></script>
       <script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.validate.min.js")"></script>
    	<script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.form.js")"></script>
        <script src="@Url.Content("~/Content/themes/Nictitate/js/jquery.isotope.min.js")"></script>
      <script src="@Url.Content("~/Content/themes/Nictitate/js/sequence.jquery-min.js")"></script>
           <script src="@Url.Content("~/Content/themes/Nictitate/js/classie.js")"></script>
    	<script src="@Url.Content("~/Content/themes/Nictitate/js/cbpAnimatedHeader.min.js")"></script>
        <script src="@Url.Content("~/Content/themes/Nictitate/js/styleswitch.js")"></script>
     
             <script src="@Url.Content("~/Content/themes/Nictitate/js/custom.js")" charset="utf-8"></script>
    
     <script src="@Url.Content("~/Scripts/galleria-1.3.2.min.js")"></script>
 <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>




