﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}


	  <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">
                            <h3>تغییر سبد خرید</h3>
                        </header>

                        <main class="article-body">  
                            سبد خرید شما در طول مدت خرید تغییر پیدا کرده است و دیگر معتبر نمی باشد، بدین منظور تا زمانی که خرید خود را در بانک تمام نکرده اید اقدام به تغییر سبد خرید ننمایید.

                            <br />
                            <div>
                                <a href="@Url.Action("Index","Home",new{area=""})" class="btnB">بازگشت به صفحه اصلی</a>
                            </div>

                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->

