﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

	
	  <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">
                            <h3>پایان جلسه کاری</h3>
                        </header>

                        <main class="article-body">  
                            جلسه کاری شما به پایان رسیده است. در صورت کسر شدن از حساب، در مدت 24 الی 72 ساعت مبلغ به حساب شما برگشت داده خواهد شد.

                            <br />
                            <div>
                                <a href="@Url.Action("Index","Home",new{area=""})" class="btnB">بازگشت به صفحه اصلی</a>
                            </div>

                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
