﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.PaymentResult
@{
    ViewBag.Title = "ShowResult";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>نتیجه خرید</h2>
@{
    if(Model!=null){
        PaymentGatewayService.PaymentGatewayEndpoint endpoint = new PaymentGatewayService.PaymentGatewayEndpoint();
        string stringError = endpoint.ParseResponseCode(Model.resCode);
        if(Model.resCode!=0 || !Model.isSucess){
            
            
            
            	
	  <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>
                                 خطا : @stringError
                            </h3>
                            <br />
                                در صورتیکه مبلغی از حساب شما کسر شده باشد حداکثر تا 72 ساعت به حساب برگشت داده خواهد شد
                        </header>
                        <main class="article-body">  
                            <table>
                            <tr>
                                <td>
                                    @Model.refId
                                </td>
                                <td>
                                    شناسه ارجا
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Model.saleOrderId
                                </td>
                                <td>
                                    شناسه خرید
                                </td>
                            </tr>
                        </table>
                        </main>
                    </article>
                </section>
            </div>
            
        }else
        {
            
            IList<Offtick.Data.Context.ExpertOnlinerContexts.OfferFoodOrder> offerOrders=null;
            if (Model.saleOrderId.HasValue) { offerOrders=Offtick.Business.Services.Managers.OfferManager.Instance.getAllOfSaledOfferBySaleOrderId(Model.saleOrderId.Value); }
            
            	
	          <div class="main-wrapper single-page">
                        <section class="layout">
                            <article>
                                <header class="article-header">
                                    <h3>خرید با موفقیت انجام شد</h3>
                                      <br />
                                        این صفحه را پرینت نموده و در هنگام دریافت سرویس به همراه خود داشته باشید.
                                </header>
                                <main class="article-body">  
                                        <table>
                                        <tr>
                                            <td>
                                                @Model.refId
                                            </td>
                                            <td>
                                                شناسه ارجا
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Model.saleOrderId
                                            </td>
                                            <td>
                                                شناسه خرید
                                            </td>
                                        </tr>
                                    </table>

                                    
                                    
                            </main>
                            </article>
                        </section>
                    </div>
                <!--main-wrapper-->
            <div>
                @if(offerOrders!=null)
                {
                    @Html.Partial("~/Areas/User/Views/Offer/GetOrderedOffersFor.cshtml" ,offerOrders)
                }
            </div>
        
        
       }
        
    }
    else
    {
        	
	  <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">
                            <h3>خطا در دریافت پارامتر، دوباره سعی نمایید</h3>
                        </header>
                        <main class="article-body">  
                            
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
    }
}

<br />
<div>
    <a href="@Url.Action("Index","Home",new{area=""})" class="btnB">بازگشت به صفحه اصلی</a>
</div>
