﻿
@{
    ViewBag.Title = "TestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PaymentGatewayService.PaymentGatewayEndpoint endPoint = new PaymentGatewayService.PaymentGatewayEndpoint();
    

}

<script type="text/javascript">
    $(function () {
        
        urlOfActionPay = ' @Url.Action("PayRequest", "EPayment")';
        urlOfActionOther = ' @Url.Action("OtherRequest", "EPayment")';

        $("#btnPayRequest").click(function () {
                $.ajax({
                    type: 'POST',
                    url: urlOfActionPay,
                    data: JSON.stringify({ orderId: $("#txtPayOrderId").val(), amount: $("#txtAmount").val(), date: $("#txtDate").val(), time: $("#txtTime").val(), additionalData: $("#txtAdditionalData").val(), payerId: $("#txtPayerId").val() }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success") {
                            $("#divResult").html(data.Data);
                            if (data.isSuccess) {
                                postToPgwSite(data.Data,"@endPoint.pgwSite");
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        $("#divResult").html(errorMessage + xhr.toString() + textStatus);
                        
                    }
                });


            });

        $("#btnDoAction").click(function () {
            $.ajax({
                type: 'POST',
                url: urlOfActionOther,
                data: JSON.stringify({ actionType: $("#slcActionType  option:selected").val(), OrderId: $("#txtOrderId").val(), SaleOrderId: $("#txtSaleOrderId").val(), SaleReferenceId: $("#txtSaleReferenceId").val() }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        $("#divResult").html(data.Data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    $("#divResult").html(errorMessage + xhr.toString() + textStatus);

                }
            });


        });

          
    });
</script>

<h2>TestPage</h2>
<div id="divResult">

</div>


<table>
   
    <tr>
        <td>
            Date
        </td>
        <td>
             <input type="text" id="txtDate" />
        </td>
    </tr>
    <tr>
        <td>
            Time
        </td>
        <td>
            <input type="text" id="txtTime" />
        </td>
    </tr>
    <tr>
        <td>
            Amount
        </td>
        <td>
            <input type="text" id="txtAmount" />
        </td>
    </tr>


     <tr>
        <td>
            OrderId
        </td>
        <td>
             <input type="text" id="txtPayOrderId" />
        </td>
    </tr>
    <tr>
        <td>
            AdditionalData
        </td>
        <td>
            <input type="text" id="txtAdditionalData" />
        </td>
    </tr>
    <tr>
        <td>
            CallbackUrl
        </td>
        <td>
            <input type="text" id="txtCallbackUrl" />
        </td>
    </tr>
       <tr>
        <td>
            PayerId
        </td>
        <td>
            <input type="text" id="txtPayerId" />
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input type="button" id="btnPayRequest" value="Pay Request"/>
        </td>
    </tr>
</table>


<table>
    <tr>
        <td>
            Function Type
        </td>
        <td>
           <select id="slcActionType">
               <option value="1">Verify</option>
               <option value="2">Inquery</option>
               <option value="3">Reversal</option>
               <option value="4">Settle</option>
           </select>
        </td>
    </tr>
    <tr>
        <td>
            orderId
        </td>
        <td>
             <input type="text" id="txtOrderId" />
        </td>
    </tr>
    <tr>
        <td>
            saleOrderId
        </td>
        <td>
            <input type="text" id="txtSaleOrderId" />
        </td>
    </tr>
    <tr>
        <td>
            saleReferenceId
        </td>
        <td>
            <input type="text" id="txtSaleReferenceId" />
        </td>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            <input type="button" id="btnDoAction" value="Do other action"/>
        </td>
    </tr>
</table>
