﻿@{
    Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.setFullSize(this,true);
    Layout = "~/Views/Shared/_Layout.cshtml";

    TempData["returnUrl"] = Url.Action("ComebackPgw", "EPayment", new { area = "User", passAuthority = true });

}
<div>
    <div class="well">
    خرید شما با موفقیت انجام گردید. برای نمایش محتوی خرید باید وارد حساب کاربری خود شوید، در صورتیکه قبلا حساب کاربری ایجاد نکرده اید تنهای اطلاعات مربوط به حساب جدید را پر نمایید. تا قادر به مشاهده خرید خود باشید.
</div>
    <div class="row">
        <div class="col-md-6 panel panel-default">
             <div class="panel-heading">ورود به حساب کاربری موجود</div>
             <div class="panel-body">
                 @{
                     TempData["HasLoginLayout"] = false;

                 }        
                         @Html.Action("LogOn", "Account", new { area = "", hasLayout = false })
              </div>

        </div>
        <div class="col-md-6 panel panel-default">
            <div class="panel-heading"> حساب جدید</div>
             <div class="panel-body">
                 @{
                     TempData["HasRegisterLayout"] = false;
                     TempData["registerMode"] = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal;
                 }
                     @Html.Action("Register", "Account", new { area = "", registerMode=Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal,hasLayout = false, returnUrl = Url.Action("ShowResult", "EPayment", new { area="User",step = "login"}) })

             </div>

        </div>
    </div>
</div>
