﻿@model IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.Menu>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
  <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >
  <link rel="stylesheet" href="@Url.Content("~/Content/AdminStyleSheet.css")" >
    
    
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    
     <link type="text/css" href="@Url.Content("~/Content/apycom/yellow-green/menu.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Content/apycom/yellow-green/menu.js")"></script>
    
    
     <link rel="stylesheet" href="@Url.Content("/Content/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("/Content/LayoutStyle.css")">

    <script src="@Url.Content("~/Scripts/purl.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

    
    var menuItem = Offtick.Business.Web.MvcMenu.MVCMenuBuilder.ConvertToMenuItem(Model);
}

<h2>Menu Builder</h2>
<style type="text/css">
    div#menu { margin:5px auto; }
</style>

<div id="MenuBuilderContainer">
    <div style="direction:ltr;text-align:left;">
         @Html.Raw(
        @Offtick.Business.Web.MvcMenu.MVCMenuBuilder.MvcMenuBuilder(menuItem,"parent","menu","","menu","DivMenuBuilderBody", Offtick.Business.Web.MvcMenu.MvcMenuType.JQueryDefault))
    </div>
    <div id="DivMenuBuilderBody">
        @Html.Partial("MenuBuilderBody", new Offtick.Data.Context.ExpertOnlinerContexts.Menu() { LastDateTime = DateTime.Now ,MenuType=(short)Offtick.Core.EnumTypes.MenuType.ParentMenu})
    </div>
</div>
