﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Menu
@{
    string menuId = Model != null ? Model.MenuId.ToString() : string.Empty;
    string sortableId="AddMenuBuilderEditMenuInfoSortable";
    IList<string> liCssClasses=new List<string>();
    liCssClasses.Add("ui-state-default");
    IList<string> liSpanContentCssClass=new List<string>();
    liSpanContentCssClass.Add("ui-icon ui-icon-arrowthick-2-n-s");
    string modelTitle = Model != null ? Model.Title : "";
    string actionUrl = Url.Action("Index", "MenuBuilder", new { area = "User" });
    
}
<style type="text/css">
     #@sortableId { list-style-type: none; margin: 0; padding: 0;  }
  #@sortableId li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #@sortableId li span { position: absolute; margin-left: -1.3em; }

</style>
<script type="text/javascript">
    $(function () {
        $("#btnMenuBuilderEditMenuInfoChangeOrder").click(function () {
            var sorted = $("#@sortableId").sortable("serialize", {expression: "(.+)_(.+)" });
            
            sorted = "{" + sorted.toString().split("&").join('",').split('Sort[]').join('"Sort').split("=").join('":"') + '"}';
            
            
            var jsonSorted = $.parseJSON(sorted);
            //alert(jsonSorted);
        });

        $("#btnMenuBuilderDeleteMenu").click(function (eventObj) {
            var postData = null;
            postData = {  MenuId: '@menuId' };

             showCommunicationPanelMessage('@Offtick.Web.OfftickWeb.Resources.UIMessages.Sending');

            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteMenu")',
                 data: JSON.stringify(postData),
                 dataType: 'json',
                 processData: false,
                 contentType: 'application/json; charset:utf-8',
                 success: function (data, status) {
                     if (status == "success") {
                         alert(data);
                         window.location.replace( "@actionUrl");
                         //showCommunicationPanelMessage(data, 4000);
                     }
                 },
                 error: function (xhr, textStatus, error) {
                     var errorMessage = error || xhr.statusText;
                     alert(errorMessage);
                   //  showCommunicationPanelMessage(errorMessage + xhr.toString() + textStatus, 4000);
                 }
                
             });
        });
        $("#btnMenuBuilderChangeTitle").click(function (eventObj) {
            var postData = null;
            postData = { Title: $('#txtMenuBuilderEditTitle').val(), MenuId: '@menuId' };

            showCommunicationPanelMessage('@Offtick.Web.OfftickWeb.Resources.UIMessages.Sending');

             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("EditMenuInfo")',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        window.location.replace("@actionUrl");

                        //showCommunicationPanelMessage(data, 4000);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showCommunicationPanelMessage(errorMessage + xhr.toString() + textStatus,4000);
                }
            });

        });
    });
</script>
<style type="text/css">
    table .ContainerTable{
        border-spacing:10px 10px;
        border-collapse: separate;
        border:1px solid black;
    }
      
</style>
<div >
    <div class="text-center">
        <h3 class="bg-primary">Edit Menu</h3> 
        
    </div>

    <div class="row">
        <div class="col-md-5">
             @if((Offtick.Core.EnumTypes.MenuType)Model.MenuType==  Offtick.Core.EnumTypes.MenuType.ParentMenu)
            {
                     <div class="TextHeaderL2">
                      Menu Orders
                    </div>
                      @Offtick.Web.OfftickWeb.Infrustracture.JQueryBuilder.SortableBuilder.GenerateSortable(
                        Model.Menu1.Select(e=> new Offtick.Web.OfftickWeb.Infrustracture.KeyValueItem(){Key=e.MenuId.ToString(),Value=e.Title}).ToList()
                        ,sortableId
                        ,liCssClasses
                        ,liSpanContentCssClass)
                     <script>
                         $(function () {
                             $("#@sortableId").sortable();
                             $("#@sortableId").disableSelection();
                         });
                     </script>

                     <button id="btnMenuBuilderEditMenuInfoChangeOrder" class="btn btn-default"  >
                         <span class="glyphicon glyphicon-sort-by-order"></span>Change Orders
                     </button>
                 
            }
        </div>

        <div class="col-md-3">
             <div class="TextHeaderL2">
                     Delete Menu
                </div>
                 <button  class="btn btn-default" id="btnMenuBuilderDeleteMenu">
                     <i class="glyphicon glyphicon-remove-circle"></i>Delete Current Menu
                 </button>
        </div>

         <div class="col-md-4">
             <div class="TextHeaderL2">
                     Edit Information
                </div>
             <p>
                 <span>Title:</span>
                  <input type="text" id="txtMenuBuilderEditTitle" value="@modelTitle" />
             </p>
               <button  id="btnMenuBuilderChangeTitle" class="btn btn-default" >
                                        <i class="glyphicon glyphicon-edit"></i>Change Title

                   </button>
             </div>

    </div>


    
   
</div>