﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Menu

@{
    string tab2Title = Model == null || (Offtick.Core.EnumTypes.MenuType)Model.MenuType == Offtick.Core.EnumTypes.MenuType.ChildMenu ? "Edit Content" : "New Menu";
    string tab2PartialView = "MenuBuilderAddNewMenu";
    object modelObj = null;
    Offtick.Core.EnumTypes.CommandType commandType = Model.MenuId != default(Guid) && Model.MenuContents.Count>0? Offtick.Core.EnumTypes.CommandType.Edit : Offtick.Core.EnumTypes.CommandType.Add;
    
   if(Model!=null)
   {
       switch ((Offtick.Core.EnumTypes.MenuType)Model.MenuType)
        {
            case Offtick.Core.EnumTypes.MenuType.ChildMenu:
                tab2PartialView = "MenuBuilderChildHtmlEditor";
                string valueToEditor = commandType == Offtick.Core.EnumTypes.CommandType.Add ? string.Empty : Model.MenuContents != null ? Model.MenuContents.First().Body : string.Empty;
                string entityId = commandType == Offtick.Core.EnumTypes.CommandType.Add ? Model.MenuId.ToString() :Model.MenuContents.First().ContentId.ToString();
                modelObj = new Offtick.Web.OfftickWeb.Areas.Dr.Models.TextAreaModel() { EntityId = entityId, Title = "Please Enter Content Of Menu", Value = valueToEditor, CommandType = commandType, ActionUrl = Url.Action("AdaptMenuContent") };
                break;
            case Offtick.Core.EnumTypes.MenuType.DirectLink:
                tab2PartialView = "MenuBuilderNoAddingMenuToDirectLink";
                modelObj = null;
                break;
            case Offtick.Core.EnumTypes.MenuType.ParentMenu:
                tab2PartialView = "MenuBuilderAddNewMenu";
                modelObj = Model;
                break;
        }
   }
    
}

 
<div id="MenuBuilderHeaderInfoDiv">
    @Html.Partial("MenuBuilderHeaderInfo",Model)
</div>

 

<div id="MenuBuilderBodyTabs">
    <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu_tab1">Edit Current menu</a></li>
    <li><a data-toggle="tab" href="#menu_tab2">@tab2Title</a></li>
  </ul>

      <div class="tab-content">
        <div id="menu_tab1" class="tab-pane fade in active">
            @Html.Partial("MenuBuilderEditMenuInfo",Model)
        </div>
        <div id="menu_tab2" class="tab-pane fade">
            @Html.Partial(tab2PartialView, modelObj)
        </div>
 
    </div>

 
</div>