﻿@model  Offtick.Data.Context.ExpertOnlinerContexts.Menu
@{
    string txtMenuBuilderAddTitle = "txtMenuBuilderAddTitle";
    string drpMenuBuilderAddLanguageId = "drpMenuBuilderAddLanguageId";
    string rbMenuBuilderAddMenuType = "rbMenuBuilderAddMenuType";
    string txtMenuBuilderAddUrl = "txtMenuBuilderAddUrl";
    string trMenuBuilderAddUrl = "trMenuBuilderAddUrl";
    string selectedMenuIconClass = "selectedMenuIconClass";
    string actionUrl = Url.Action("Index", "MenuBuilder", new { area = "User" });

    
    
}
<script type="text/javascript">
    $(function () {
        $(".@rbMenuBuilderAddMenuType").change(MenuBuilderAddMenuTypeChangedValue);
        $("#btnMenuBuilderAddNewMenu").click(function () {
            $(this).attr("disabled", true);

            var selectedVal = "";
            var selected = $("#divMenuBuilderAddNewMenu input[type='radio']:checked");
            if (selected.length > 0) {
                selectedVal = selected.val();
            }
//            alert( $('#@selectedMenuIconClass').val());
            postData = { ParentId: '@Model.MenuId',LangaugeId:"1", Title: $('#@txtMenuBuilderAddTitle').val(), MenuType: selectedVal, Url: $('#@txtMenuBuilderAddUrl').val(), IconUrl: $('#@selectedMenuIconClass').attr("class")};

           // showCommunicationPanelMessage("ارسال اطلاعات");
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AddMenu")',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        // showCommunicationPanelMessage(data, 4000);
                        alert(data);
                        window.location.replace("@actionUrl");

                        $(this).removeAttr("disabled");
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    //  showCommunicationPanelMessage(errorMessage + textStatus,4000);
                    alert(errorMessage);

                    $(this).removeAttr("disabled");
                }

            });

        });
    });
    function MenuBuilderAddMenuTypeChangedValue(eventObj) {
        if ($(this).is(":checked")) { // check if the radio is checked
            var val = $(this).val(); // retrieve the value
            if (val == "@((short)Offtick.Core.EnumTypes.MenuType.DirectLink)") {
                $("#@trMenuBuilderAddUrl").css("display", "");
            }
            else {
                $("#@trMenuBuilderAddUrl").css("display", "none");
            }
        }

        
    }

</script>
<style type="text/css">
    #divMenuBuilderAddNewMenu {
       
        min-height:180px;
        border:1px solid ;
    }
        #divMenuBuilderAddNewMenu table {
            border:none;
        }
      

        #divMenuBuilderAddNewMenu table td {
            width:200px;
             padding:3px 3px 3px 3px;
        margin:3px 3px 3px 3px;
        }
</style>
<div id="divMenuBuilderAddNewMenu">
    <div class="TextHeader">
         add new menu
    </div>
   
    <table>
        <tr>
            <td>
              <table>
                    <tr>
                          <td>
                           @*@Html.LabelFor(e=>e.Title)*@
                              عنوان
                       </td>
                       <td>
                           @*@Html.TextBoxFor(e=>e.Title,new {id=txtMenuBuilderAddTitle})*@
                           <input type="text" id="@txtMenuBuilderAddTitle" />
                       </td>
                    </tr>
                    <tr id="tr">
                        <td>
                             @Html.LabelFor(e=>e.MenuType)
                        </td>
                        <td>
                            @foreach (int value in Enum.GetValues(typeof(Offtick.Core.EnumTypes.MenuType)))
                            {
                                @Html.RadioButtonFor(e=>e.MenuType, value,new {id=rbMenuBuilderAddMenuType+value.ToString(),@class=rbMenuBuilderAddMenuType})
                                @Html.Label(Offtick.Web.OfftickWeb.Infrustracture.GlobalizationManager.GetMenuTypeCaptions((Offtick.Core.EnumTypes.MenuType)value))
                                <br />
                            }
                        </td>
                    </tr>
                    <tr  id="@trMenuBuilderAddUrl" style="display:none;min-height:30px;">       
                        <td>
                            @Html.LabelFor(e=>e.Url)
                        </td>
                        <td>
                            @Html.TextBoxFor(e=>e.Url,new {id=txtMenuBuilderAddUrl})
                        </td>
                    </tr>
                  <tr>
                      <td>
                            Icon:
                      </td>
                     <td>
                          <span id="@selectedMenuIconClass" class="fa"></span>
                     </td>
                  </tr>
                  <tr>
                      <td class="middleAlign">
                           <img   src='@Url.Content("~/Content/Images/save1.png")'  alt="Save" id="btnMenuBuilderAddNewMenu" class="img50px"/>
                      </td>
                  </tr>
                </table>
            </td>
          
            <td>
                     @{

                      //IConMoon //string[] icons = { "icon-home", "icon-home-2", "icon-office", "icon-newspaper", "icon-pencil", "icon-pencil-2", "icon-quill", "icon-pen", "icon-blog", "icon-droplet", "icon-paint-format", "icon-image", "icon-image-2", "icon-images", "icon-camera", "icon-music", "icon-headphones", "icon-play", "icon-film", "icon-camera-2", "icon-dice", "icon-pacman", "icon-spades", "icon-clubs", "icon-diamonds", "icon-pawn", "icon-bullhorn", "icon-connection", "icon-podcast", "icon-feed", "icon-book", "icon-books", "icon-library", "icon-file", "icon-profile", "icon-file-2", "icon-file-3", "icon-file-4", "icon-copy", "icon-copy-2", "icon-copy-3", "icon-paste", "icon-paste-2", "icon-paste-3", "icon-stack", "icon-folder", "icon-folder-open", "icon-tag", "icon-tags", "icon-barcode", "icon-qrcode", "icon-ticket", "icon-cart", "icon-cart-2", "icon-cart-3", "icon-coin", "icon-credit", "icon-calculate", "icon-support", "icon-phone", "icon-phone-hang-up", "icon-address-book", "icon-notebook", "icon-envelop", "icon-pushpin", "icon-location", "icon-location-2", "icon-compass", "icon-map", "icon-map-2", "icon-history", "icon-clock", "icon-clock-2", "icon-alarm", "icon-alarm-2", "icon-bell", "icon-stopwatch", "icon-calendar", "icon-calendar-2", "icon-print", "icon-keyboard", "icon-screen", "icon-laptop", "icon-mobile", "icon-mobile-2", "icon-tablet", "icon-tv", "icon-cabinet", "icon-drawer", "icon-drawer-2", "icon-drawer-3", "icon-box-add", "icon-box-remove", "icon-download", "icon-upload", "icon-disk", "icon-storage", "icon-undo", "icon-redo", "icon-flip", "icon-flip-2", "icon-undo-2", "icon-redo-2", "icon-forward", "icon-reply", "icon-bubble", "icon-bubbles", "icon-bubbles-2", "icon-bubble-2", "icon-bubbles-3", "icon-bubbles-4", "icon-user", "icon-users", "icon-user-2", "icon-users-2", "icon-user-3", "icon-user-4", "icon-quotes-left", "icon-busy", "icon-spinner", "icon-spinner-2", "icon-spinner-3", "icon-spinner-4", "icon-spinner-5", "icon-spinner-6", "icon-binoculars", "icon-search", "icon-zoom-in", "icon-zoom-out", "icon-expand", "icon-contract", "icon-expand-2", "icon-contract-2", "icon-key", "icon-key-2", "icon-lock", "icon-lock-2", "icon-unlocked", "icon-wrench", "icon-settings", "icon-equalizer", "icon-cog", "icon-cogs", "icon-cog-2", "icon-hammer", "icon-wand", "icon-aid", "icon-bug", "icon-pie", "icon-stats", "icon-bars", "icon-bars-2", "icon-gift", "icon-trophy", "icon-glass", "icon-mug", "icon-food", "icon-leaf", "icon-rocket", "icon-meter", "icon-meter2", "icon-dashboard", "icon-hammer-2", "icon-fire", "icon-lab", "icon-magnet", "icon-remove", "icon-remove-2", "icon-briefcase", "icon-airplane", "icon-truck", "icon-road", "icon-accessibility", "icon-target", "icon-shield", "icon-lightning", "icon-switch", "icon-power-cord", "icon-signup", "icon-list", "icon-list-2", "icon-numbered-list", "icon-menu", "icon-menu-2", "icon-tree", "icon-cloud", "icon-cloud-download", "icon-cloud-upload", "icon-download-2", "icon-upload-2", "icon-download-3", "icon-upload-3", "icon-globe", "icon-earth", "icon-link", "icon-flag", "icon-attachment", "icon-eye", "icon-eye-blocked", "icon-eye-2", "icon-bookmark", "icon-bookmarks", "icon-brightness-medium", "icon-brightness-contrast", "icon-contrast", "icon-star", "icon-star-2", "icon-star-3", "icon-heart", "icon-heart-2", "icon-heart-broken", "icon-thumbs-up", "icon-thumbs-up-2", "icon-happy", "icon-happy-2", "icon-smiley", "icon-smiley-2", "icon-tongue", "icon-tongue-2", "icon-sad", "icon-sad-2", "icon-wink", "icon-wink-2", "icon-grin", "icon-grin-2", "icon-cool", "icon-cool-2", "icon-angry", "icon-angry-2", "icon-evil", "icon-evil-2", "icon-shocked", "icon-shocked-2", "icon-confused", "icon-confused-2", "icon-neutral", "icon-neutral-2", "icon-wondering", "icon-wondering-2", "icon-point-up", "icon-point-right", "icon-point-down", "icon-point-left", "icon-warning", "icon-notification", "icon-question", "icon-info", "icon-info-2", "icon-blocked", "icon-cancel-circle", "icon-checkmark-circle", "icon-spam", "icon-close", "icon-checkmark", "icon-checkmark-2", "icon-spell-check", "icon-minus", "icon-plus", "icon-enter", "icon-exit", "icon-play-2", "icon-pause", "icon-stop", "icon-backward", "icon-forward-2", "icon-play-3", "icon-pause-2", "icon-stop-2", "icon-backward-2", "icon-forward-3", "icon-first", "icon-last", "icon-previous", "icon-next", "icon-eject", "icon-volume-high", "icon-volume-medium", "icon-volume-low", "icon-volume-mute", "icon-volume-mute-2", "icon-volume-increase", "icon-volume-decrease", "icon-loop", "icon-loop-2", "icon-loop-3", "icon-shuffle", "icon-arrow-up-left", "icon-arrow-up", "icon-arrow-up-right", "icon-arrow-right", "icon-arrow-down-right", "icon-arrow-down", "icon-arrow-down-left", "icon-arrow-left", "icon-arrow-up-left-2", "icon-arrow-up-2", "icon-arrow-up-right-2", "icon-arrow-right-2", "icon-arrow-down-right-2", "icon-arrow-down-2", "icon-arrow-down-left-2", "icon-arrow-left-2", "icon-arrow-up-left-3", "icon-arrow-up-3", "icon-arrow-up-right-3", "icon-arrow-right-3", "icon-arrow-down-right-3", "icon-arrow-down-3", "icon-arrow-down-left-3", "icon-arrow-left-3", "icon-tab", "icon-checkbox-checked", "icon-checkbox-unchecked", "icon-checkbox-partial", "icon-radio-checked", "icon-radio-unchecked", "icon-crop", "icon-scissors", "icon-filter", "icon-filter-2", "icon-font", "icon-text-height", "icon-text-width", "icon-bold", "icon-underline", "icon-italic", "icon-strikethrough", "icon-omega", "icon-sigma", "icon-table", "icon-table-2", "icon-insert-template", "icon-pilcrow", "icon-left-to-right", "icon-right-to-left", "icon-paragraph-left", "icon-paragraph-center", "icon-paragraph-right", "icon-paragraph-justify", "icon-paragraph-left-2", "icon-paragraph-center-2", "icon-paragraph-right-2", "icon-paragraph-justify-2", "icon-indent-increase", "icon-indent-decrease", "icon-new-tab", "icon-embed", "icon-code", "icon-console", "icon-share", "icon-mail", "icon-mail-2", "icon-mail-3", "icon-mail-4", "icon-google", "icon-google-plus", "icon-google-plus-2", "icon-google-plus-3", "icon-google-plus-4", "icon-google-drive", "icon-facebook", "icon-facebook-2", "icon-facebook-3", "icon-instagram", "icon-twitter", "icon-twitter-2", "icon-twitter-3", "icon-feed-2", "icon-feed-3", "icon-feed-4", "icon-youtube", "icon-youtube-2", "icon-vimeo", "icon-vimeo2", "icon-vimeo-2", "icon-lanyrd", "icon-flickr", "icon-flickr-2", "icon-flickr-3", "icon-flickr-4", "icon-picassa", "icon-picassa-2", "icon-dribbble", "icon-dribbble-2", "icon-dribbble-3", "icon-forrst", "icon-forrst-2", "icon-deviantart", "icon-deviantart-2", "icon-steam", "icon-steam-2", "icon-github", "icon-github-2", "icon-github-3", "icon-github-4", "icon-github-5", "icon-wordpress", "icon-wordpress-2", "icon-joomla", "icon-blogger", "icon-blogger-2", "icon-tumblr", "icon-tumblr-2", "icon-yahoo", "icon-tux", "icon-apple", "icon-finder", "icon-android", "icon-windows", "icon-windows8", "icon-soundcloud", "icon-soundcloud-2", "icon-skype", "icon-reddit", "icon-linkedin", "icon-lastfm", "icon-lastfm-2", "icon-delicious", "icon-stumbleupon", "icon-stumbleupon-2", "icon-stackoverflow", "icon-pinterest", "icon-pinterest-2", "icon-xing", "icon-xing-2", "icon-flattr", "icon-foursquare", "icon-foursquare-2", "icon-paypal", "icon-paypal-2", "icon-paypal-3", "icon-yelp", "icon-libreoffice", "icon-file-pdf", "icon-file-openoffice", "icon-file-word", "icon-file-excel", "icon-file-zip", "icon-file-powerpoint", "icon-file-xml", "icon-file-css", "icon-html5", "icon-html5-2", "icon-css3", "icon-chrome", "icon-firefox", "icon-IE", "icon-opera", "icon-safari", "icon-IcoMoon", "icon-fork", "icon-cloud-upload-2", "icon-cloud-download-2", "icon-upload-4", "icon-download-4", "icon-target-2", "icon-map-pin-alt", "icon-map-pin-fill", "icon-map-pin-stroke", "icon-star-4", "icon-umbrella", "icon-rain", "icon-cloud-2", "icon-moon-fill", "icon-moon-stroke", "icon-sun-fill", "icon-sun-stroke", "icon-tag-fill", "icon-tag-stroke", "icon-unlock-fill", "icon-unlock-stroke", "icon-lock-fill", "icon-lock-stroke", "icon-clock-3", "icon-home-3", "icon-user-5", "icon-eye-3", "icon-bars-alt", "icon-bars-3", "icon-chart-alt", "icon-chart", "icon-aperture-alt", "icon-aperture", "icon-camera-3", "icon-image-3", "icon-layers", "icon-layers-alt", "icon-eyedropper", "icon-brush-alt", "icon-brush", "icon-pen-alt2", "icon-pen-alt-fill", "icon-pen-alt-stroke", "icon-pen-2", "icon-book-alt2", "icon-book-alt", "icon-book-2", "icon-list-nested", "icon-list-3", "icon-read-more", "icon-article", "icon-right-quote-alt", "icon-left-quote-alt", "icon-right-quote", "icon-left-quote", "icon-hash", "icon-pilcrow-2", "icon-question-mark", "icon-info-3", "icon-ampersand", "icon-at", "icon-folder-fill", "icon-folder-stroke", "icon-box", "icon-compass-2", "icon-battery-charging", "icon-battery-full", "icon-battery-half", "icon-battery-empty", "icon-iphone", "icon-fullscreen-alt", "icon-fullscreen", "icon-fullscreen-exit-alt", "icon-fullscreen-exit", "icon-play-alt", "icon-last-2", "icon-first-2", "icon-eject-2", "icon-stop-3", "icon-pause-3", "icon-play-4", "icon-volume-mute-3", "icon-volume", "icon-headphones-2", "icon-microphone", "icon-steering-wheel", "icon-cd", "icon-arrow-down-alt2", "icon-arrow-down-alt1", "icon-arrow-down-4", "icon-arrow-up-alt2", "icon-arrow-up-alt1", "icon-arrow-up-4", "icon-arrow-right-alt2", "icon-arrow-right-alt1", "icon-arrow-right-4", "icon-arrow-left-alt2", "icon-arrow-left-alt1", "icon-arrow-left-4", "icon-move-horizontal-alt2", "icon-move-horizontal-alt1", "icon-move-horizontal", "icon-move-vertical-alt2", "icon-move-vertical-alt1", "icon-move-vertical", "icon-transfer", "icon-loop-alt4", "icon-loop-alt3", "icon-loop-alt2", "icon-loop-alt1", "icon-loop-4", "icon-reload-alt", "icon-reload", "icon-undo-3", "icon-curved-arrow", "icon-spin", "icon-spin-alt", "icon-lightbulb", "icon-new-window", "icon-key-fill", "icon-key-stroke", "icon-beaker", "icon-beaker-alt", "icon-trash-fill", "icon-trash-stroke", "icon-magnifying-glass", "icon-award-stroke", "icon-award-fill", "icon-equalizer-2", "icon-move-alt2", "icon-move-alt1", "icon-move", "icon-bolt", "icon-link-2", "icon-pin", "icon-minus-alt", "icon-minus-2", "icon-plus-alt", "icon-plus-2", "icon-document-fill", "icon-document-stroke", "icon-document-alt-fill", "icon-document-alt-stroke", "icon-movie", "icon-heart-fill", "icon-heart-stroke", "icon-mail-5", "icon-share-2", "icon-calendar-alt-fill", "icon-calendar-alt-stroke", "icon-calendar-3", "icon-cog-3", "icon-dial", "icon-wrench-2", "icon-rss-alt", "icon-rss", "icon-cursor", "icon-denied", "icon-x-altx-alt", "icon-x", "icon-check-alt", "icon-checkmark-3", "icon-comment-alt2-fill", "icon-comment-alt2-stroke", "icon-comment-fill", "icon-comment-stroke", "icon-comment-alt1-fill", "icon-comment-alt1-stroke", "icon-chat-alt-fill", "icon-chat-alt-stroke", "icon-chat", "icon-cloud-3", "icon-locked", "icon-inbox", "icon-comment", "icon-mic", "icon-envelope", "icon-briefcase-2", "icon-cart-4", "icon-contrast-2", "icon-clock-4", "icon-user-6", "icon-cog-4", "icon-music-2", "icon-twitter-4", "icon-pencil-3", "icon-frame", "icon-switch-2", "icon-star-5", "icon-key-3", "icon-chart-2", "icon-apple-2", "icon-file-5", "icon-plus-3", "icon-minus-3", "icon-picture", "icon-folder-2", "icon-camera-4", "icon-search-2", "icon-dribbble-4", "icon-forrst-3", "icon-feed-5", "icon-blocked-2", "icon-target-3", "icon-play-5", "icon-pause-4", "icon-bug-2", "icon-console-2", "icon-film-2", "icon-type", "icon-home-4", "icon-earth-2", "icon-location-3", "icon-info-4", "icon-eye-4", "icon-heart-3", "icon-bookmark-2", "icon-wrench-3", "icon-calendar-4", "icon-window", "icon-monitor", "icon-mobile-3", "icon-droplet-2", "icon-mouse", "icon-refresh", "icon-location-4", "icon-tag-2", "icon-phone-2", "icon-star-6", "icon-pointer", "icon-thumbs-up-3", "icon-thumbs-down", "icon-headphones-3", "icon-move-2", "icon-checkmark-4", "icon-cancel", "icon-skype-2", "icon-gift-2", "icon-cone", "icon-alarm-3", "icon-coffee", "icon-basket", "icon-flag-2", "icon-ipod", "icon-trashcan", "icon-bolt-2", "icon-ampersand-2", "icon-compass-3", "icon-list-4", "icon-grid", "icon-volume-2", "icon-volume-3", "icon-stats-2", "icon-target-4", "icon-forward-4", "icon-paperclip", "icon-keyboard-2", "icon-crop-2", "icon-floppy", "icon-filter-3", "icon-trophy-2", "icon-diary", "icon-address-book-2", "icon-stop-4", "icon-smiley-3", "icon-shit", "icon-bookmark-3", "icon-camera-5", "icon-lamp", "icon-disk-2", "icon-button", "icon-database", "icon-credit-card", "icon-atom", "icon-winsows", "icon-target-5", "icon-battery", "icon-code-2", "icon-sun", "icon-moon", "icon-sun-2", "icon-windy", "icon-wind", "icon-snowflake", "icon-cloudy", "icon-cloud-4", "icon-weather", "icon-weather-2", "icon-weather-3", "icon-lines", "icon-cloud-5", "icon-lightning-2", "icon-lightning-3", "icon-rainy", "icon-rainy-2", "icon-windy-2", "icon-windy-3", "icon-snowy", "icon-snowy-2", "icon-snowy-3", "icon-weather-4", "icon-cloudy-2", "icon-cloud-6", "icon-lightning-4", "icon-sun-3", "icon-moon-2", "icon-cloudy-3", "icon-cloud-7", "icon-cloud-8", "icon-lightning-5", "icon-rainy-3", "icon-rainy-4", "icon-windy-4", "icon-windy-5", "icon-snowy-4", "icon-snowy-5", "icon-weather-5", "icon-cloudy-4", "icon-lightning-6", "icon-thermometer", "icon-compass-4", "icon-none", "icon-Celsius", "icon-Fahrenheit", "icon-paperclip-2", "icon-sunrise", "icon-warning-2", "icon-home-5" };
                         string[] icons1 = { 
                                          "glyphicon-asterisk"
                                            ,"glyphicon-plus"
                                            ,"glyphicon-minus"
                                            ,"glyphicon-euro"
                                            ,"glyphicon-cloud"
                                            ,"glyphicon-envelope"
                                            ,"glyphicon-pencil"
                                            ,"glyphicon-glass"
                                            ,"glyphicon-music"
                                            ,"glyphicon-search"
                                            ,"glyphicon-heart"
                                            ,"glyphicon-star"
                                            ,"glyphicon-star-empty"
                                            ,"glyphicon-user"
                                            ,"glyphicon-film"
                                            ,"glyphicon-th-large"
                                            ,"glyphicon-th"
                                            ,"glyphicon-th-list"
                                            ,"glyphicon-ok"
                                            ,"glyphicon-remove"
                                            ,"glyphicon-zoom-in"
                                            ,"glyphicon-zoom-out"
                                            ,"glyphicon-off"
                                            ,"glyphicon-signal"
                                            ,"glyphicon-cog"
                                            ,"glyphicon-trash"
                                            ,"glyphicon-home"
                                            ,"glyphicon-file"
                                            ,"glyphicon-time"
                                            ,"glyphicon-road"
                                            ,"glyphicon-download-alt"
                                            ,"glyphicon-download"
                                            ,"glyphicon-upload"
                                            ,"glyphicon-inbox"
                                            ,"glyphicon-play-circle"
                                            ,"glyphicon-repeat"
                                            ,"glyphicon-refresh"
                                            ,"glyphicon-list-alt"
                                            ,"glyphicon-lock"
                                            ,"glyphicon-flag"
                                            ,"glyphicon-headphones"
                                            ,"glyphicon-volume-off"
                                            ,"glyphicon-volume-down"
                                            ,"glyphicon-volume-up"
                                            ,"glyphicon-qrcode"
                                            ,"glyphicon-barcode"
                                            ,"glyphicon-tag"
                                            ,"glyphicon-tags"
                                            ,"glyphicon-book"
                                            ,"glyphicon-bookmark"
                                            ,"glyphicon-print"
                                            ,"glyphicon-camera"
                                            ,"glyphicon-font"
                                            ,"glyphicon-bold"
                                            ,"glyphicon-italic"
                                            ,"glyphicon-text-height"
                                            ,"glyphicon-text-width"
                                            ,"glyphicon-align-left"
                                            ,"glyphicon-align-center"
                                            ,"glyphicon-align-right"
                                            ,"glyphicon-align-justify"
                                            ,"glyphicon-list"
                                            ,"glyphicon-indent-left"
                                            ,"glyphicon-indent-right"
                                            ,"glyphicon-facetime-video"
                                            ,"glyphicon-picture"
                                            ,"glyphicon-map-marker"
                                            ,"glyphicon-adjust"
                                            ,"glyphicon-tint"
                                            ,"glyphicon-edit"
                                            ,"glyphicon-share"
                                            ,"glyphicon-check"
                                            ,"glyphicon-move"
                                            ,"glyphicon-step-backward"
                                            ,"glyphicon-fast-backward"
                                            ,"glyphicon-backward"
                                            ,"glyphicon-play"
                                            ,"glyphicon-pause"
                                            ,"glyphicon-stop"
                                            ,"glyphicon-forward"
                                            ,"glyphicon-fast-forward"
                                            ,"glyphicon-step-forward"
                                            ,"glyphicon-eject"
                                            ,"glyphicon-chevron-left"
                                            ,"glyphicon-chevron-right"
                                            ,"glyphicon-plus-sign"
                                            ,"glyphicon-minus-sign"
                                            ,"glyphicon-remove-sign"
                                            ,"glyphicon-ok-sign"
                                            ,"glyphicon-question-sign"
                                            ,"glyphicon-info-sign"
                                            ,"glyphicon-screenshot"
                                            ,"glyphicon-remove-circle"
                                            ,"glyphicon-ok-circle"
                                            ,"glyphicon-ban-circle"
                                            ,"glyphicon-arrow-left"
                                            ,"glyphicon-arrow-right"
                                            ,"glyphicon-arrow-up"
                                            ,"glyphicon-arrow-down"
                                            ,"glyphicon-share-alt"
                                            ,"glyphicon-resize-full"
                                            ,"glyphicon-resize-small"
                                            ,"glyphicon-exclamation-sign"
                                            ,"glyphicon-gift"
                                            ,"glyphicon-leaf"
                                            ,"glyphicon-fire"
                                            ,"glyphicon-eye-open"
                                            ,"glyphicon-eye-close"
                                            ,"glyphicon-warning-sign"
                                            ,"glyphicon-plane"
                                            ,"glyphicon-calendar"
                                            ,"glyphicon-random"
                                            ,"glyphicon-comment"
                                            ,"glyphicon-magnet"
                                            ,"glyphicon-chevron-up"
                                            ,"glyphicon-chevron-down"
                                            ,"glyphicon-retweet"
                                            ,"glyphicon-shopping-cart"
                                            ,"glyphicon-folder-close"
                                            ,"glyphicon-folder-open"
                                            ,"glyphicon-resize-vertical"
                                            ,"glyphicon-resize-horizontal"
                                            ,"glyphicon-hdd"
                                            ,"glyphicon-bullhorn"
                                            ,"glyphicon-bell"
                                            ,"glyphicon-certificate"
                                            ,"glyphicon-thumbs-up"
                                            ,"glyphicon-thumbs-down"
                                            ,"glyphicon-hand-right"
                                            ,"glyphicon-hand-left"
                                            ,"glyphicon-hand-up"
                                            ,"glyphicon-hand-down"
                                            ,"glyphicon-circle-arrow-right"
                                            ,"glyphicon-circle-arrow-left"
                                            ,"glyphicon-circle-arrow-up"
                                            ,"glyphicon-circle-arrow-down"
                                            ,"glyphicon-globe"
                                            ,"glyphicon-wrench"
                                            ,"glyphicon-tasks"
                                            ,"glyphicon-filter"
                                            ,"glyphicon-briefcase"
                                            ,"glyphicon-fullscreen"
                                            ,"glyphicon-dashboard"
                                            ,"glyphicon-paperclip"
                                            ,"glyphicon-heart-empty"
                                            ,"glyphicon-link"
                                            ,"glyphicon-phone"
                                            ,"glyphicon-pushpin"
                                            ,"glyphicon-usd"
                                            ,"glyphicon-gbp"
                                            ,"glyphicon-sort"
                                            ,"glyphicon-sort-by-alphabet"
                                            ,"glyphicon-sort-by-alphabet-alt"
                                            ,"glyphicon-sort-by-order"
                                            ,"glyphicon-sort-by-order-alt"
                                            ,"glyphicon-sort-by-attributes"
                                            ,"glyphicon-sort-by-attributes-alt"
                                            ,"glyphicon-unchecked"
                                            ,"glyphicon-expand"
                                            ,"glyphicon-collapse-down"
                                            ,"glyphicon-collapse-up"
                                            ,"glyphicon-log-in"
                                            ,"glyphicon-flash"
                                            ,"glyphicon-log-out"
                                            ,"glyphicon-new-window"
                                            ,"glyphicon-record"
                                            ,"glyphicon-save"
                                            ,"glyphicon-open"
                                            ,"glyphicon-saved"
                                            ,"glyphicon-import"
                                            ,"glyphicon-export"
                                            ,"glyphicon-send"
                                            ,"glyphicon-floppy-disk"
                                            ,"glyphicon-floppy-saved"
                                            ,"glyphicon-floppy-remove"
                                            ,"glyphicon-floppy-save"
                                            ,"glyphicon-floppy-open"
                                            ,"glyphicon-credit-card"
                                            ,"glyphicon-transfer"
                                            ,"glyphicon-cutlery"
                                            ,"glyphicon-header"
                                            ,"glyphicon-compressed"
                                            ,"glyphicon-earphone"
                                            ,"glyphicon-phone-alt"
                                            ,"glyphicon-tower"
                                            ,"glyphicon-stats"
                                            ,"glyphicon-sd-video"
                                            ,"glyphicon-hd-video"
                                            ,"glyphicon-subtitles"
                                            ,"glyphicon-sound-stereo"
                                            ,"glyphicon-sound-dolby"
                                            ,"glyphicon-sound-5-1"
                                            ,"glyphicon-sound-6-1"
                                            ,"glyphicon-sound-7-1"
                                            ,"glyphicon-copyright-mark"
                                            ,"glyphicon-registration-mark"
                                            ,"glyphicon-cloud-download"
                                            ,"glyphicon-cloud-upload"
                                            ,"glyphicon-tree-conifer"
                                            ,"glyphicon-tree-deciduous"
                                          };

                         string[] icons = { 
                                                    "fa-glass"
,"fa-music"
,"fa-search"
,"fa-envelope-o"
,"fa-heart"
,"fa-star"
,"fa-star-o"
,"fa-user"
,"fa-film"
,"fa-th-large"
,"fa-th"
,"fa-th-list"
,"fa-check"
,"fa-remove"
,"fa-close"
,"fa-times"
,"fa-search-plus"
,"fa-search-minus"
,"fa-power-off"
,"fa-signal"
,"fa-gear"
,"fa-cog"
,"fa-trash-o"
,"fa-home"
,"fa-file-o"
,"fa-clock-o"
,"fa-road"
,"fa-download"
,"fa-arrow-circle-o-down"
,"fa-arrow-circle-o-up"
,"fa-inbox"
,"fa-play-circle-o"
,"fa-rotate-right"
,"fa-repeat"
,"fa-refresh"
,"fa-list-alt"
,"fa-lock"
,"fa-flag"
,"fa-headphones"
,"fa-volume-off"
,"fa-volume-down"
,"fa-volume-up"
,"fa-qrcode"
,"fa-barcode"
,"fa-tag"
,"fa-tags"
,"fa-book"
,"fa-bookmark"
,"fa-print"
,"fa-camera"
,"fa-font"
,"fa-bold"
,"fa-italic"
,"fa-text-height"
,"fa-text-width"
,"fa-align-left"
,"fa-align-center"
,"fa-align-right"
,"fa-align-justify"
,"fa-list"
,"fa-dedent"
,"fa-outdent"
,"fa-indent"
,"fa-video-camera"
,"fa-photo"
,"fa-image"
,"fa-picture-o"
,"fa-pencil"
,"fa-map-marker"
,"fa-adjust"
,"fa-tint"
,"fa-edit"
,"fa-pencil-square-o"
,"fa-share-square-o"
,"fa-check-square-o"
,"fa-arrows"
,"fa-step-backward"
,"fa-fast-backward"
,"fa-backward"
,"fa-play"
,"fa-pause"
,"fa-stop"
,"fa-forward"
,"fa-fast-forward"
,"fa-step-forward"
,"fa-eject"
,"fa-chevron-left"
,"fa-chevron-right"
,"fa-plus-circle"
,"fa-minus-circle"
,"fa-times-circle"
,"fa-check-circle"
,"fa-question-circle"
,"fa-info-circle"
,"fa-crosshairs"
,"fa-times-circle-o"
,"fa-check-circle-o"
,"fa-ban"
,"fa-arrow-left"
,"fa-arrow-right"
,"fa-arrow-up"
,"fa-arrow-down"
,"fa-mail-forward"
,"fa-share"
,"fa-expand"
,"fa-compress"
,"fa-plus"
,"fa-minus"
,"fa-asterisk"
,"fa-exclamation-circle"
,"fa-gift"
,"fa-leaf"
,"fa-fire"
,"fa-eye"
,"fa-eye-slash"
,"fa-warning"
,"fa-exclamation-triangle"
,"fa-plane"
,"fa-calendar"
,"fa-random"
,"fa-comment"
,"fa-magnet"
,"fa-chevron-up"
,"fa-chevron-down"
,"fa-retweet"
,"fa-shopping-cart"
,"fa-folder"
,"fa-folder-open"
,"fa-arrows-v"
,"fa-arrows-h"
,"fa-bar-chart-o"
,"fa-bar-chart"
,"fa-twitter-square"
,"fa-facebook-square"
,"fa-camera-retro"
,"fa-key"
,"fa-gears"
,"fa-cogs"
,"fa-comments"
,"fa-thumbs-o-up"
,"fa-thumbs-o-down"
,"fa-star-half"
,"fa-heart-o"
,"fa-sign-out"
,"fa-linkedin-square"
,"fa-thumb-tack"
,"fa-external-link"
,"fa-sign-in"
,"fa-trophy"
,"fa-github-square"
,"fa-upload"
,"fa-lemon-o"
,"fa-phone"
,"fa-square-o"
,"fa-bookmark-o"
,"fa-phone-square"
,"fa-twitter"
,"fa-facebook-f"
,"fa-facebook"
,"fa-github"
,"fa-unlock"
,"fa-credit-card"
,"fa-rss"
,"fa-hdd-o"
,"fa-bullhorn"
,"fa-bell"
,"fa-certificate"
,"fa-hand-o-right"
,"fa-hand-o-left"
,"fa-hand-o-up"
,"fa-hand-o-down"
,"fa-arrow-circle-left"
,"fa-arrow-circle-right"
,"fa-arrow-circle-up"
,"fa-arrow-circle-down"
,"fa-globe"
,"fa-wrench"
,"fa-tasks"
,"fa-filter"
,"fa-briefcase"
,"fa-arrows-alt"
,"fa-group"
,"fa-users"
,"fa-chain"
,"fa-link"
,"fa-cloud"
,"fa-flask"
,"fa-cut"
,"fa-scissors"
,"fa-copy"
,"fa-files-o"
,"fa-paperclip"
,"fa-save"
,"fa-floppy-o"
,"fa-square"
,"fa-navicon"
,"fa-reorder"
,"fa-bars"
,"fa-list-ul"
,"fa-list-ol"
,"fa-strikethrough"
,"fa-underline"
,"fa-table"
,"fa-magic"
,"fa-truck"
,"fa-pinterest"
,"fa-pinterest-square"
,"fa-google-plus-square"
,"fa-google-plus"
,"fa-money"
,"fa-caret-down"
,"fa-caret-up"
,"fa-caret-left"
,"fa-caret-right"
,"fa-columns"
,"fa-unsorted"
,"fa-sort"
,"fa-sort-down"
,"fa-sort-desc"
,"fa-sort-up"
,"fa-sort-asc"
,"fa-envelope"
,"fa-linkedin"
,"fa-rotate-left"
,"fa-undo"
,"fa-legal"
,"fa-gavel"
,"fa-dashboard"
,"fa-tachometer"
,"fa-comment-o"
,"fa-comments-o"
,"fa-flash"
,"fa-bolt"
,"fa-sitemap"
,"fa-umbrella"
,"fa-paste"
,"fa-clipboard"
,"fa-lightbulb-o"
,"fa-exchange"
,"fa-cloud-download"
,"fa-cloud-upload"
,"fa-user-md"
,"fa-stethoscope"
,"fa-suitcase"
,"fa-bell-o"
,"fa-coffee"
,"fa-cutlery"
,"fa-file-text-o"
,"fa-building-o"
,"fa-hospital-o"
,"fa-ambulance"
,"fa-medkit"
,"fa-fighter-jet"
,"fa-beer"
,"fa-h-square"
,"fa-plus-square"
,"fa-angle-double-left"
,"fa-angle-double-right"
,"fa-angle-double-up"
,"fa-angle-double-down"
,"fa-angle-left"
,"fa-angle-right"
,"fa-angle-up"
,"fa-angle-down"
,"fa-desktop"
,"fa-laptop"
,"fa-tablet"
,"fa-mobile-phone"
,"fa-mobile"
,"fa-circle-o"
,"fa-quote-left"
,"fa-quote-right"
,"fa-spinner"
,"fa-circle"
,"fa-mail-reply"
,"fa-reply"
,"fa-github-alt"
,"fa-folder-o"
,"fa-folder-open-o"
,"fa-smile-o"
,"fa-frown-o"
,"fa-meh-o"
,"fa-gamepad"
,"fa-keyboard-o"
,"fa-flag-o"
,"fa-flag-checkered"
,"fa-terminal"
,"fa-code"
,"fa-mail-reply-all"
,"fa-reply-all"
,"fa-star-half-empty"
,"fa-star-half-full"
,"fa-star-half-o"
,"fa-location-arrow"
,"fa-crop"
,"fa-code-fork"
,"fa-unlink"
,"fa-chain-broken"
,"fa-question"
,"fa-info"
,"fa-exclamation"
,"fa-superscript"
,"fa-subscript"
,"fa-eraser"
,"fa-puzzle-piece"
,"fa-microphone"
,"fa-microphone-slash"
,"fa-shield"
,"fa-calendar-o"
,"fa-fire-extinguisher"
,"fa-rocket"
,"fa-maxcdn"
,"fa-chevron-circle-left"
,"fa-chevron-circle-right"
,"fa-chevron-circle-up"
,"fa-chevron-circle-down"
,"fa-html5"
,"fa-css3"
,"fa-anchor"
,"fa-unlock-alt"
,"fa-bullseye"
,"fa-ellipsis-h"
,"fa-ellipsis-v"
,"fa-rss-square"
,"fa-play-circle"
,"fa-ticket"
,"fa-minus-square"
,"fa-minus-square-o"
,"fa-level-up"
,"fa-level-down"
,"fa-check-square"
,"fa-pencil-square"
,"fa-external-link-square"
,"fa-share-square"
,"fa-compass"
,"fa-toggle-down"
,"fa-caret-square-o-down"
,"fa-toggle-up"
,"fa-caret-square-o-up"
,"fa-toggle-right"
,"fa-caret-square-o-right"
,"fa-euro"
,"fa-eur"
,"fa-gbp"
,"fa-dollar"
,"fa-usd"
,"fa-rupee"
,"fa-inr"
,"fa-cny"
,"fa-rmb"
,"fa-yen"
,"fa-jpy"
,"fa-ruble"
,"fa-rouble"
,"fa-rub"
,"fa-won"
,"fa-krw"
,"fa-bitcoin"
,"fa-btc"
,"fa-file"
,"fa-file-text"
,"fa-sort-alpha-asc"
,"fa-sort-alpha-desc"
,"fa-sort-amount-asc"
,"fa-sort-amount-desc"
,"fa-sort-numeric-asc"
,"fa-sort-numeric-desc"
,"fa-thumbs-up"
,"fa-thumbs-down"
,"fa-youtube-square"
,"fa-youtube"
,"fa-xing"
,"fa-xing-square"
,"fa-youtube-play"
,"fa-dropbox"
,"fa-stack-overflow"
,"fa-instagram"
,"fa-flickr"
,"fa-adn"
,"fa-bitbucket"
,"fa-bitbucket-square"
,"fa-tumblr"
,"fa-tumblr-square"
,"fa-long-arrow-down"
,"fa-long-arrow-up"
,"fa-long-arrow-left"
,"fa-long-arrow-right"
,"fa-apple"
,"fa-windows"
,"fa-android"
,"fa-linux"
,"fa-dribbble"
,"fa-skype"
,"fa-foursquare"
,"fa-trello"
,"fa-female"
,"fa-male"
,"fa-gittip"
,"fa-gratipay"
,"fa-sun-o"
,"fa-moon-o"
,"fa-archive"
,"fa-bug"
,"fa-vk"
,"fa-weibo"
,"fa-renren"
,"fa-pagelines"
,"fa-stack-exchange"
,"fa-arrow-circle-o-right"
,"fa-arrow-circle-o-left"
,"fa-toggle-left"
,"fa-caret-square-o-left"
,"fa-dot-circle-o"
,"fa-wheelchair"
,"fa-vimeo-square"
,"fa-turkish-lira"
,"fa-try"
,"fa-plus-square-o"
,"fa-space-shuttle"
,"fa-slack"
,"fa-envelope-square"
,"fa-wordpress"
,"fa-openid"
,"fa-institution"
,"fa-bank"
,"fa-university"
,"fa-mortar-board"
,"fa-graduation-cap"
,"fa-yahoo"
,"fa-google"
,"fa-reddit"
,"fa-reddit-square"
,"fa-stumbleupon-circle"
,"fa-stumbleupon"
,"fa-delicious"
,"fa-digg"
,"fa-pied-piper"
,"fa-pied-piper-alt"
,"fa-drupal"
,"fa-joomla"
,"fa-language"
,"fa-fax"
,"fa-building"
,"fa-child"
,"fa-paw"
,"fa-spoon"
,"fa-cube"
,"fa-cubes"
,"fa-behance"
,"fa-behance-square"
,"fa-steam"
,"fa-steam-square"
,"fa-recycle"
,"fa-automobile"
,"fa-car"
,"fa-cab"
,"fa-taxi"
,"fa-tree"
,"fa-spotify"
,"fa-deviantart"
,"fa-soundcloud"
,"fa-database"
,"fa-file-pdf-o"
,"fa-file-word-o"
,"fa-file-excel-o"
,"fa-file-powerpoint-o"
,"fa-file-photo-o"
,"fa-file-picture-o"
,"fa-file-image-o"
,"fa-file-zip-o"
,"fa-file-archive-o"
,"fa-file-sound-o"
,"fa-file-audio-o"
,"fa-file-movie-o"
,"fa-file-video-o"
,"fa-file-code-o"
,"fa-vine"
,"fa-codepen"
,"fa-jsfiddle"
,"fa-life-bouy"
,"fa-life-buoy"
,"fa-life-saver"
,"fa-support"
,"fa-life-ring"
,"fa-circle-o-notch"
,"fa-ra"
,"fa-rebel"
,"fa-ge"
,"fa-empire"
,"fa-git-square"
,"fa-git"
,"fa-hacker-news"
,"fa-tencent-weibo"
,"fa-qq"
,"fa-wechat"
,"fa-weixin"
,"fa-send"
,"fa-paper-plane"
,"fa-send-o"
,"fa-paper-plane-o"
,"fa-history"
,"fa-genderless"
,"fa-circle-thin"
,"fa-header"
,"fa-paragraph"
,"fa-sliders"
,"fa-share-alt"
,"fa-share-alt-square"
,"fa-bomb"
,"fa-soccer-ball-o"
,"fa-futbol-o"
,"fa-tty"
,"fa-binoculars"
,"fa-plug"
,"fa-slideshare"
,"fa-twitch"
,"fa-yelp"
,"fa-newspaper-o"
,"fa-wifi"
,"fa-calculator"
,"fa-paypal"
,"fa-google-wallet"
,"fa-cc-visa"
,"fa-cc-mastercard"
,"fa-cc-discover"
,"fa-cc-amex"
,"fa-cc-paypal"
,"fa-cc-stripe"
,"fa-bell-slash"
,"fa-bell-slash-o"
,"fa-trash"
,"fa-copyright"
,"fa-at"
,"fa-eyedropper"
,"fa-paint-brush"
,"fa-birthday-cake"
,"fa-area-chart"
,"fa-pie-chart"
,"fa-line-chart"
,"fa-lastfm"
,"fa-lastfm-square"
,"fa-toggle-off"
,"fa-toggle-on"
,"fa-bicycle"
,"fa-bus"
,"fa-ioxhost"
,"fa-angellist"
,"fa-cc"
,"fa-shekel"
,"fa-sheqel"
,"fa-ils"
,"fa-meanpath"
,"fa-buysellads"
,"fa-connectdevelop"
,"fa-dashcube"
,"fa-forumbee"
,"fa-leanpub"
,"fa-sellsy"
,"fa-shirtsinbulk"
,"fa-simplybuilt"
,"fa-skyatlas"
,"fa-cart-plus"
,"fa-cart-arrow-down"
,"fa-diamond"
,"fa-ship"
,"fa-user-secret"
,"fa-motorcycle"
,"fa-street-view"
,"fa-heartbeat"
,"fa-venus"
,"fa-mars"
,"fa-mercury"
,"fa-transgender"
,"fa-transgender-alt"
,"fa-venus-double"
,"fa-mars-double"
,"fa-venus-mars"
,"fa-mars-stroke"
,"fa-mars-stroke-v"
,"fa-mars-stroke-h"
,"fa-neuter"
,"fa-facebook-official"
,"fa-pinterest-p"
,"fa-whatsapp"
,"fa-server"
,"fa-user-plus"
,"fa-user-times"
,"fa-hotel"
,"fa-bed"
,"fa-viacoin"
,"fa-train"
,"fa-subway"
,"fa-medium"
            
                                                             };
                       int counter = 0;
                       int max = icons.Count();
                       int columns = 35;
       
                    }
                 <table id="TableIconSelect">
                    @foreach (var icon in icons)
                    {
                       if(counter%columns==0)
                       {
                             @: <tr>
                                 }
                        counter++;
                               <td style="width:10px;height:10px;">
              
                                   <a  iconClass="fa @icon" href="#"><i class="fa @icon"></i></a>
                               </td>
   
                        if (counter % columns == 0 || counter == max)
                       {
                             @: </tr>
                                 }
         
       
                    }
                </table>
            </td>
        </tr>
    </table>
  
    <script type="text/javascript">
        $(function () {
            $("#TableIconSelect a").click(function () {
                
                $("#@selectedMenuIconClass").removeClass();
                $("#@selectedMenuIconClass").addClass("fa");
                $("#@selectedMenuIconClass").addClass($(this).attr("iconClass"));
            });
        });
    </script>

</div>