﻿.ControlItemCollectionTable{
   text-align:center;
}
.ControlItemCollectionTable td
{
    text-align:center;
    padding:5px 5px 5px 5px;
}
.ControlItemDivMain
{
    background-color:aliceblue;
   
    border-width:1px;
    border-style:solid;
    width:200px;
    border-radius:5px;
    direction:ltr;
    padding: 1px 1px 1px 1px;
}

.ContronItemDivTitle
{
    background-color:antiquewhite;
    font-size:large;
     text-align:center;
}

.ControlItemDivBody
{
    vertical-align:top;
    padding: 2px 2px 2px 2px;
}
    .ControlItemDivBody table,td
    {
        vertical-align:top;
    }

.ControlItemImage
{
    margin: 0px 0px 0px 5px;
}





/*Vertical Menu- start*/
.VerticalMenuDivContainer {
    border-width:1px;
     border-style:solid;
    width:140px;
    border-radius:2px;
    direction:ltr;
    padding: 1px 1px 1px 1px;
}

    .VerticalMenuDivContainer table,td {
         padding: 1px 1px 1px 1px;
         text-align:right;
    }
/*Vertical Menu- end*/



/* Start of Map*/


.img50px {
       width:50px;
    height:50px;
     cursor: pointer;
}

.leftAlign {
    text-align:left;
}
.middleAlign {
    text-align:center;
    
}
.TextHeader {
    background-color:AppWorkspace;
    padding:2px 2px 2px 2px;
    margin:2px 2px 2px 2px;
}
.TextHeaderL2 {
    background-color:antiquewhite;
    padding:2px 2px 2px 2px;
    margin:2px 2px 2px 2px;
}
/* End of Map*/



/*Start of editing table cell*/
.editableTable {
    border:solid 1px;
    width:100%
}
  
.editableTable td {
    border:solid 1px;
}
  
.editableTable .cellEditing {
    padding: 0;
}
  
.editableTable .cellEditing input[type=text]{
    width:100%;
    border:0;
    background-color:rgb(255,253,210); 
}


/*End of editing table cell*/