﻿#headerProfile {
    position:relative;
        width:1000px;
         height:135px;
            background-color:whitesmoke;
            margin:0px;
            padding:0px;
}

#headerProfileLeft {
            float:left;


}


#headerProfileRight {
    
    float:left;
    width:800px;
    
          background-color:ActiveCaption;

}
