﻿.body {
    background-color:aliceblue;
}

.searchBox {
    width:500px;
    font-size:16px;
    color:black;
   
}
.searchBox-min {
    width:300px;
    font-size:10px;
    color:black;
}


.footer-text {
	font-family: verdana;
	font-size: 11px;
	line-height: 22px;
	font-weight: bold;
	
	text-decoration: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
}
.footer-text a{ text-decoration:none;}
.footer-text a:hover{ text-decoration:underline;}

.footer-text1 {
	font-family: tahoma;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
}


.ControlItemCollectionTable{
   text-align:center;
}
.ControlItemCollectionTable td
{
    text-align:center;
    padding:2px 2px 2px 2px;
}


.loginForm {
    color:white;
    
}
.loginForm td {
        padding: 1px;
        margin:0px;
    }


    .loginForm a {
        color:white;
    }


    .link-lookalike {
    background: none;
    border: none;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.glyphicon-lg {
    font-size:48px;line-height:1.5em;
}

.width-lg {
        width:100px;
}
.width-md {
        width:80px;
}
.width-sm {
    width:60px;
}
.width-xs {
        width:40px;

}

.width-x5 {
        width:200px;

}
.width-x6 {
        width:240px;

}
.width-x7 {
        width:280px;

}
.width-x8 {
        width:320px;

}
.width-x9 {
        width:360px;

}


.legand-caption {
    color:blue;
    font-weight:bold;
    font-size:14px;
}

.dir-right {
    direction:rtl;
}



.rowTable{
		width:100%; 
		border-collapse:collapse; 
        border:#4e95f4 1px solid;
        
	}
	.rowTable td{ 
		padding:1px;
        
         
	}
	/* provide some minimal visual accomodation for IE8 and below */
	.rowTable tr{
		
	}
	/*  Define the background color for all the ODD background rows  */
	.rowTable tr:nth-child(odd){ 
		background: #b8d1f3;
	}
	/*  Define the background color for all the EVEN background rows  */
	.rowTable tr:nth-child(even){
		background: #dae5f4;
	}


.thaumbnail16 {
    max-height:16px;
    max-width:16px;
}
.thaumbnail24 {
    max-height:24px;
    max-width:24px;
}
.thaumbnail32{
    max-height:32px;
    max-width:32px;
}
.thaumbnail64 {
       max-height:64px;
    max-width:64px;
}
.thaumbnail128 {
       max-height:128px;
    max-width:128px;
}

.padding1 {
    padding:1px;
}

.padding2 {
    padding:2px;
}

.padding3 {
    padding:3px;
}

.padding4 {
    padding:4px;
}

.padding5 {
    padding:5px;
}
.margin1 {
    margin:1px;
}
.margin2 {
    margin:2px;
}
.margin3 {
    margin:3px;
}
.margin4 {
    margin:4px;
}
.margin5 {
    margin:5px;
}

.liked {
    font-size:24px;
    color:red;

}
.unLiked {
    font-size:24px;
    color:gray;
}

.MainBody {
    width:75%;
}
.MainHeader {
    width:15%;
}
.requiredField:after {
    content:"*";
    font-weight:bold;
    color:red;

}
.optionalField {
    font-weight:bold;
    color:red;

}


.footer-text {
    color:white;
    text-align:right;
}
.footer-text a{
    color:white;
}

.text-white *{
    color:white;
}
.text-white{
    color:white;
}

.vcenter {
    vertical-align: middle;   
     display: inline-block;
     float: none;
}

.dropdownRight {
    width:200px;
    direction:rtl;
}
 .text-red {
        color:indianred;
    }