﻿.PickerCSS
{
	background-color: #ffffff;
	border-right: #000000 2px solid;
	border-top: #000000 2px solid;
	border-left: #000000 2px solid;
	border-bottom: #000000 2px solid;
}
.PickerHeaderCSS
{
	background-color: lightgrey;
	height: 30px;
}
.PickerFooterCSS
{
	background-color: lightgrey;
}
.PickerWeekDayCSS
{
	background-color: lightgrey;
	text-align: center;
	font-size: 8pt;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	height: 19px;
}
.PickerCalendarCSS
{
	background-color: #e8f4ff;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	height: 19px;
}
.PickerWorkDayCSS
{
	background-color: #ffffff;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
A.PickerWorkDayCSS
{
	color: black;
	text-decoration: none;
	border: none;
}
.PickerForbidenCSS
{
	background-color: #e8f4ff;
	color: Red;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
	
}
.PickerSelectedCSS
{
	background-color: #e4e8ff;
	border-right: black 1px solid;
	border-top: black 1px solid;
	border-left: black 1px solid;
	border-bottom: black 1px solid;
}
A.PickerSelectedCSS
{
	
	color: #0066ff;
	text-decoration: underline;
	border: none;
}