﻿.search_box{
  margin:5px auto;
  width: 500px;
  height: 50px;
}

.search_container{
  width: 500px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}


.search_container input#search{
  width: 500px;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


.search_container input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.search_container input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.search_container input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.search_container input#search:-ms-input-placeholder {  
   color: #65737e;  
}


.search_container .search_icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}