﻿.col-container {
    clear: both; }

    /* line 2255, sass/layout/_main.scss */
    .col-container .col{

      padding: 10px 25px 20px;
      border: 1px dashed #FF585B;
      background-color: #F2F2F2;
      margin-top: 20px;
      margin-bottom: 30px; 

      display: block;
    }

 

    /* line 2255, sass/layout/_main.scss */
    .col-container .col-sm{

      padding: 2px 2px 2px;
      border: 1px dashed #FF585B;
      background-color: #F2F2F2;
      margin-top: 5px;
      margin-bottom: 5px; 

      display: block;
    }

    .steps-nav {
      position: relative; }

    .steps-nav i {
        padding: 5px 8px; }

     .steps-nav i:before {
          font-size: 130%;
          vertical-align: middle; }

     .steps-nav a.next-step,.steps-nav a.previous-step {
        padding: 7px 15px;
        margin-right: 5px;
        background-color: #125688;
        color: #FFFFFF;
        display: inline-block;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }

     .steps-nav a.next-step:hover,.steps-nav a.previous-step:hover {
          background-color: #FF585B; }

.btn {
    cursor:pointer;
}
.btnB {
    font-size: 130%;
    vertical-align: middle;
    padding: 7px 15px;
    margin-right: 5px;
    background-color: #125688;
    color: #FFFFFF;
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.btnB:hover {
          background-color: #FF585B;
          color:#FFFFFF;

}
.btnC {
    font-size: 100%;
    vertical-align: middle;
    padding: 2px 2px;
    margin-right: 5px;
    background-color: #125688;
    color: #FFFFFF;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.btnC:hover {
          background-color: #FF585B;
          color:#FFFFFF;

}

.text-danger {
  color: #a94442;
}
a.text-danger:hover {
  color: #843534;
}


    ul.listCols li.col-sm {
    display: inline-block;
    color: #4E4E4E;
    padding: 0px;
    position: relative;
    }

    
  
    /* line 1847, sass/layout/_main.scss */
    ul.listCols li.col-sm div {
      display: block;
      width: 100%;
      background-color: #E6E7E7;
      padding: 2px 2px; }


     ul.listCols li.col {
    display: inline-block;
    color: #4E4E4E;
    padding: 0px;
    position: relative;
    }

    
  
    /* line 1847, sass/layout/_main.scss */
    ul.listCols li.col div {
      display: block;
      width: 100%;
      background-color: #E6E7E7;
      padding: 10px 36px; }


    span.badge-number {
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
       
        float: right;
        padding: 0px 10px;
        margin-left: 5px; }

.defStyle1 {
    background-color:lightblue;
    border-color:blue;
    color:red;
}
.lblErrorMessage {
    background-color:lightblue;
    color:red;
}











    .items-table-container {
      width: 100%;
      clear: both;
      overflow-x: scroll; }
      @media (min-width: 45em) {
        /* line 1919, sass/layout/_main.scss */
          .items-table-container {
          overflow-x: hidden; } }
      /* line 1926, sass/layout/_main.scss */
        .items-table-container table.items-table {
        max-width: 100%;
        background-color: #F2F2F2;
        width: 100%;
        border: 1px solid #E6E7E7; }
        /* line 1932, sass/layout/_main.scss */
          .items-table-container table.items-table tr {
          text-align: center;
          width: 100%;
          border-bottom: 1px solid #E6E7E7; }
          /* line 1936, sass/layout/_main.scss */
            .items-table-container table.items-table tr th {
            padding: 3px 10px;
            max-width: 40%;
            background-color: #E6E7E7;
            border-left: 1px solid #F2F2F2;
            overflow: hidden; }
            /* line 1942, sass/layout/_main.scss */
              .items-table-container table.items-table tr th:last-child {
              border: 0px; }
          /* line 1946, sass/layout/_main.scss */
            .items-table-container table.items-table tr td {
            padding: 10px;
            overflow: hidden;
            border-left: 1px solid #E6E7E7;
            max-width: 40%; }
            /* line 1951, sass/layout/_main.scss */
              .items-table-container table.items-table tr td:last-child {
              border: 0px; }
            /* line 1955, sass/layout/_main.scss */
              .items-table-container table.items-table tr td a .fa-times {
              color: #FF585B; }
            /* line 1960, sass/layout/_main.scss */
              .items-table-container table.items-table tr td .basket-item-wrapper span.offer-desc {
              max-width: 48%;
              display: inline-block;
              float: right;
              text-align: right; }
            /* line 1966, sass/layout/_main.scss */
              .items-table-container table.items-table tr td .basket-item-wrapper img {
              max-width: 150px;
              margin-left: 4%;
              float: right; }
            /* line 1972, sass/layout/_main.scss */
              .items-table-container table.items-table tr td input[type="number"] {
              max-width: 70px; }
            /* line 1976, sass/layout/_main.scss */
              .items-table-container table.items-table tr td .basket-social span {
              color: #4E4E4E;
              display: inline-block;
              padding: 5px; }
            /* line 1981, sass/layout/_main.scss */
              .items-table-container table.items-table tr td .basket-social ul.basket-social-list {
              display: inline-block;
              margin: 5px;
              padding: 0px; }
              /* line 1985, sass/layout/_main.scss */
                .items-table-container table.items-table tr td .basket-social ul.basket-social-list li {
                display: inline-block; }
                /* line 1987, sass/layout/_main.scss */
                  .items-table-container table.items-table tr td .basket-social ul.basket-social-list li a {
                  display: block; }
                  /* line 1990, sass/layout/_main.scss */
                    .items-table-container table.items-table tr td .basket-social ul.basket-social-list li a i:before {
                    vertical-align: middle;
                    background-color: #4E4E4E;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    font-size: 120%;
                    padding: 5px 8px 7px;
                    color: #FFFFFF; }
                  /* line 2001, sass/layout/_main.scss */
                    .items-table-container table.items-table tr td .basket-social ul.basket-social-list li a:hover i:before {
                    background-color: #FF585B; }
          /* line 2012, sass/layout/_main.scss */
            .items-table-container table.items-table tr:last-child {
            border-bottom: 0px; }
          /* line 2015, sass/layout/_main.scss */
            .items-table-container table.items-table tr.table-bottom-detail {
            background-color: #E6E7E7; }
            /* line 2017, sass/layout/_main.scss */
              .items-table-container table.items-table tr.table-bottom-detail td {
              border-color: #F2F2F2; }







      /* line 1926, sass/layout/_main.scss */
        .items-table-container table.items-table-small {
        max-width: 100%;
        background-color: #F2F2F2;
        width: 100%;
        border: 1px solid #E6E7E7; 
        font-size:75%;

        }
        /* line 1932, sass/layout/_main.scss */
          .items-table-container table.items-table-small tr {
          text-align: center;
          width: 100%;
          border-bottom: 1px solid #E6E7E7; }
          /* line 1936, sass/layout/_main.scss */
            .items-table-container table.items-table-small tr th {
            padding: 3px 10px;
            max-width: 40%;
            background-color: #E6E7E7;
            border-left: 1px solid #F2F2F2;
            overflow: hidden; }
            /* line 1942, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr th:last-child {
                  
              border: 0px; }
          /* line 1946, sass/layout/_main.scss */
            .items-table-container table.items-table-small tr td {
           
            overflow: hidden;
           
            max-width: 40%; }
            /* line 1951, sass/layout/_main.scss */
           
            /* line 1955, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr td a .fa-times {
              color: #FF585B; }
            /* line 1960, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr td .basket-item-wrapper span.offer-desc {
              max-width: 48%;
              display: inline-block;
              float: right;
              text-align: right; }
            /* line 1966, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr td .basket-item-wrapper img {
              max-width: 150px;
              margin-left: 4%;
              float: right; }
            /* line 1972, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr td input[type="number"] {
              max-width: 70px; }
            /* line 1976, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr td .basket-social span {
              color: #4E4E4E;
              display: inline-block;
              padding: 5px; }
            /* line 1981, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr td .basket-social ul.basket-social-list {
              display: inline-block;
              margin: 5px;
              padding: 0px; }
              /* line 1985, sass/layout/_main.scss */
                .items-table-container table.items-table-small tr td .basket-social ul.basket-social-list li {
                display: inline-block; }
                /* line 1987, sass/layout/_main.scss */
                  .items-table-container table.items-table-small tr td .basket-social ul.basket-social-list li a {
                  display: block; }
                  /* line 1990, sass/layout/_main.scss */
                    .items-table-container table.items-table-small tr td .basket-social ul.basket-social-list li a i:before {
                    vertical-align: middle;
                    background-color: #4E4E4E;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    font-size: 120%;
                    padding: 5px 8px 7px;
                    color: #FFFFFF; }
                  /* line 2001, sass/layout/_main.scss */
                    .items-table-container table.items-table-small tr td .basket-social ul.basket-social-list li a:hover i:before {
                    background-color: #FF585B; }
          /* line 2012, sass/layout/_main.scss */
            .items-table-container table.items-table-small tr:last-child {
            border-bottom: 0px; }
          /* line 2015, sass/layout/_main.scss */
            .items-table-container table.items-table-small tr.table-bottom-detail {
            background-color: #E6E7E7; }
            /* line 2017, sass/layout/_main.scss */
              .items-table-container table.items-table-small tr.table-bottom-detail td {
              border-color: #F2F2F2; }


.font75 {
    font-size:75%;
}
.w-0 {
    width:100%;
}
.w-1 {
    width:100px;
}
.w-2 {
    width:200px;
}
.w-3 {
    width:300px;
}.w-4 {
    width:400px;
}.w-5 {
    width:500px;
}.w-6 {
    width:600px;
}.w-7 {
    width:700px;
}.w-8 {
    width:800px;
}














/* line 3729, sass/layout/_main.scss */
.chat-container {
  
  
  z-index: 999998;
  max-width: 100% !important; }
  /* line 3736, sass/layout/_main.scss */
  .chat-container .chat-box-wrapper {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden; }
    /* line 3744, sass/layout/_main.scss */
    .chat-container .chat-box-wrapper .chat-box-container {
      background-color: #FFFFFF;
      overflow-y: auto;
      width: 100%; }
      @media (min-width: 54em) {
        /* line 3744, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-box-container {
          width: 30%;
          height: 100%;
          float: right;
          border-left: 2px solid #E6E7E7; } }
      /* line 3755, sass/layout/_main.scss */
      .chat-container .chat-box-wrapper .chat-box-container .chat-box-header {
        background-color: #FFFFFF; }
        /* line 3757, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-box-container .chat-box-header form.search-chats-list {
          position: relative; }
          /* line 3760, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container .chat-box-header form.search-chats-list::before {
            content: "\f002";
            position: absolute;
            top: 16px;
            left: 15px;
            vertical-align: middle;
            color: #989c9c;
            font-size: 120%; }
          /* line 3769, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container .chat-box-header form.search-chats-list input {
            width: 96%;
            max-width: 100%;
            padding: 10px 10px 10px 30px;
            margin: 7px 2%;
            background-color: #E6E7E7;
            max-width: 100%;
            border: 1px solid #E6E7E7;
            outline: none;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px; }
            /* line 3783, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-box-container .chat-box-header form.search-chats-list input:focus {
              background-color: #F2F2F2;
              border-color: #ffd8d8; }
          /* line 3788, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container .chat-box-header form.search-chats-list input[type="submit"] {
            display: none; }
      /* line 3796, sass/layout/_main.scss */
      .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list {
        margin: 0px;
        padding: 0px; }
        /* line 3799, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li {
          position: relative;
          display: block;
          width: 100%;
          clear: both;
          margin: 0px;
          padding: 7px 10px;
          cursor: pointer;
          overflow: hidden; }
          /* line 3808, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li .user-avatar-container {
            width: 70px; }
            /* line 3810, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li .user-avatar-container img {
              width: 60px;
              height: auto;
              max-width: 100%;
              float: right;
              -moz-border-radius: 30px;
              -webkit-border-radius: 30px;
              border-radius: 30px;
              border: 2px solid #F2F2F2; }
          /* line 3819, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li span {
            float: right;
            display: block;
            padding: 3px 7px;
            text-align: right;
            width: calc(100% - 70px);
            line-height: 1.7; }
            /* line 3826, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li span.user-name {
              color: #125688;
              font-weight: 600; }
            /* line 3830, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li span.chat-excerpt {
              color: #686868;
              font-size: 84%; }
            /* line 3834, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li span.new-messages-count {
              position: absolute;
              bottom: 10px;
              left: 6px;
              right: auto;
              width: auto;
              padding: 3px 10px;
              background-color: #ff8b8d;
              -moz-border-radius: 20px;
              -webkit-border-radius: 20px;
              border-radius: 20px;
              color: #FFFFFF;
              font-size: 80%; }
            /* line 3847, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li span.last-message-date {
              width: auto;
              position: absolute;
              top: 6px;
              left: 0px;
              font-size: 90%;
              color: #989c9c; }
          /* line 3860, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li:hover {
            background-color: #F2F2F2; }
          /* line 3863, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-box-container ul.chat-box-list li.active {
            background-color: #ffd8d8; }
    /* line 3872, sass/layout/_main.scss */
    .chat-container .chat-box-wrapper .chat-content-container {
      background: url('/Content/images/background/chat-back.jpg?1470283162') top left repeat, #4E4E4E;
      width: 100%;
      background-position: center;
      background-attachment: fixed;
       }
      @media (min-width: 54em) {
        /* line 3872, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-content-container {
          width: 70%;
          height: 100%;
          float: left; } }
      /* line 3886, sass/layout/_main.scss */
      .chat-container .chat-box-wrapper .chat-content-container .chat-content-header {
        background-color: #FFFFFF;
        border-bottom: 1px solid #E6E7E7;
         }
        /* line 3890, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-content-container .chat-content-header span.list-toggler {
          
          top: 10px;
          right: 15px;
          cursor: pointer; }
          /* line 3895, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-header span.list-toggler i:before {
            font-size: 180%; }
          /* line 3899, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-header span.list-toggler:hover i:before {
            color: #FF585B; }
          @media (min-width: 54em) {
            /* line 3890, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-header span.list-toggler {
              display: none; } }
        /* line 3908, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-content-container .chat-content-header ul {
          padding-right: 30px;
          margin: 0px; }
          /* line 3911, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-header ul li {
            display: list-item;
            padding: 9px 10px 6px;
            line-height: 0.7; }
            /* line 3918, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-header ul li.userstate {
              color: #686868;
              font-size: 90%; }
      /* line 3927, sass/layout/_main.scss */
      .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper {
        overflow-y: scroll;
        height:500px;
        padding-bottom: 70px; }
        /* line 3932, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list {
          margin: 0px;
          padding: 0px; }
          /* line 3936, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li {
            display: block;
            width: 100%;
            clear: both;
            margin: 0px;
            padding: 10px 0px; }
            /* line 3942, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content {
              width: 80%;
              margin: auto;
              display: block;
              overflow: hidden; }
              /* line 3947, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .user-avatar-container {
                float: right;
                width: 60px;
                padding-left: 10px; }
                /* line 3951, sass/layout/_main.scss */
                .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .user-avatar-container img {
                  height: auto;
                  max-width: 100%;
                  width: 50px;
                  -moz-border-radius: 30px;
                  -webkit-border-radius: 30px;
                  border-radius: 30px; }
              /* line 3960, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                position: relative;
                padding: 5px 10px;
                background-color: #FFFFFF;
                color: #111;
                width: calc(100% - 65px);
                float: left; }
                /* line 3970, sass/layout/_main.scss */
                .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container .reply-to-this {
                  border-right: 3px solid #FF585B;
                  display: block;
                  margin: 5px 0px;
                  padding: 0px 10px;
                  line-height: 1.5; }
                  /* line 3977, sass/layout/_main.scss */
                  .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container .reply-to-this span.sender-user-name {
                    color: #FF585B;
                    display: block; }
                  /* line 3981, sass/layout/_main.scss */
                  .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container .reply-to-this span.message-excerpt {
                    color: #4E4E4E; }
                /* line 3986, sass/layout/_main.scss */
                .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.user-name {
                  color: #125688;
                  font-weight: 600;
                  width: 100%;
                  display: block; }
                /* line 3992, sass/layout/_main.scss */
                .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.message-date {
                  color: #989c9c;
                  font-size: 90%;
                  float: left;
                  display: inline-block;
                  padding: 0px 0px 2px 5px;
                  margin-right: 22px; }
                  .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.message-delete {
                  color: red;
                    float: left;
                  display: inline-block;
                  padding: 0px 0px 2px 5px;
                  margin-right: 22px; }
                  /* line 3999, sass/layout/_main.scss */
                  .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.message-date.sent {
                    position: relative; }
                    /* line 4001, sass/layout/_main.scss */
                    .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.message-date.sent::before {
                      content: "";
                      height: 12px;
                      width: 20px;
                      position: absolute;
                      top: 10px;
                      right: -22px;
                      background: url('/Content/images/icons/sent.png?1470283162') top left no-repeat; }
                  /* line 4012, sass/layout/_main.scss */
                  .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.message-date.checked {
                    position: relative; }
                    /* line 4014, sass/layout/_main.scss */
                    .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container span.message-date.checked::before {
                      content: "";
                      height: 12px;
                      width: 20px;
                      position: absolute;
                      top: 10px;
                      right: -22px;
                      background: url('/Content/images/icons/checked.png?1470283162') top left no-repeat; }
                /* line 4025, sass/layout/_main.scss */
                .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li .single-message-content .message-container::before {
                  content: '';
                  position: absolute;
                  top: 11px;
                  right: -9px;
                  width: 0;
                  height: 0;
                  border-top: 10px solid transparent;
                  border-left: 10px solid #FFFFFF;
                  border-bottom: 10px solid transparent; }
            /* line 4043, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li.my-message .single-message-content .user-avatar-container {
              padding-left: 0px;
              padding-right: 10px;
              float: left; }
            /* line 4048, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li.my-message .single-message-content .message-container {
              background-color: #ffd8d8;
              float: right; }
              /* line 4051, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li.my-message .single-message-content .message-container::before {
                top: 11px;
                right: auto;
                left: -9px;
                border-right: 10px solid #ffd8d8;
                border-left: 0px; }
              /* line 4059, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-wrapper ul.chat-content-list li.my-message .single-message-content .message-container span.user-name {
                text-align: left; }
      /* line 4074, sass/layout/_main.scss */
      .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer {
        min-width:70%;
        background-color: #FFFFFF;
        position: absolute;
        bottom: -20px;
        left: 0px; }
        /* line 4081, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr {
          position: relative;
          display: inline-block; }
          /* line 4085, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr i:before {
            font-size: 170%;
            color: #8e8e8e;
            width: 30px;
            display: inline-block;
            text-align: center;
            padding: 10px 10px;
            vertical-align: middle;
            cursor: pointer; }
          /* line 4098, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr i:hover:before {
            color: #FF585B; }
          /* line 4104, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr ul.chat-items {
            opacity: 0;
            visibility: hidden;
            background-color: #FFFFFF;
            position: absolute;
            bottom: 100%;
            right: 0px;
            margin: 5px;
            padding: 0px;
            width: 160px; }
            /* line 4117, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr ul.chat-items li {
              padding: 5px 10px;
              cursor: pointer;
              display: list-item;
              border-bottom: 1px solid #E6E7E7; }
              /* line 4125, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr ul.chat-items li span {
                padding: 5px 5px 5px 15px; }
              /* line 4128, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr ul.chat-items li:hover {
                background-color: #F2F2F2; }
                /* line 4130, sass/layout/_main.scss */
                .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr ul.chat-items li:hover i:before {
                  color: #FF585B; }
              /* line 4134, sass/layout/_main.scss */
              .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr ul.chat-items li:last-child {
                border: 0px; }
          /* line 4140, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer .chat-items-conatienr:hover ul.chat-items {
            opacity: 1;
            visibility: visible; }
        /* line 4148, sass/layout/_main.scss */
        .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form {
          position: relative;
          float: left;
          width: calc(100% - 50px);
          display: inline-block; }
          /* line 4153, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form #emojieButtonContainer {
            position: absolute;
            top: 0px;
            left: 45px; }
            /* line 4157, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form #emojieButtonContainer .emoji-menu {
              top: auto !important;
              bottom: 100% !important; }
            /* line 4163, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form #emojieButtonContainer i:before {
              font-size: 170%;
              color: #8e8e8e;
              width: 30px;
              display: inline-block;
              text-align: center;
              padding: 10px 10px;
              vertical-align: middle;
              cursor: pointer; }
            /* line 4173, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form #emojieButtonContainer i:hover {
              color: #FF585B; }
          /* line 4178, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form input[type="text"], .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form .emoji-wysiwyg-editor {
            border: 0px;
            outline: none;
            padding: 10px;
            margin: 0px;
            color: #4E4E4E;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
            width: calc(100% - 100px); }
          /* line 4188, sass/layout/_main.scss */
          .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form input[type="button"] {
            position: absolute;
            top: 0px;
            left: 0px;
            border: 0px;
            outline: none;
            color: #125688;
            background: none;
            padding: 5px 10px;
            color: #4E4E4E;
            font-size: 110%; }
            /* line 4199, sass/layout/_main.scss */
            .chat-container .chat-box-wrapper .chat-content-container .chat-content-footer form.chat-input-form input[type="button"]:hover {
              color: #FF585B; }



