﻿
@model Offtick.Web.OfftickWeb.Areas.Dr.Models.TextAreaModel
@{
    string modelValue = Model != null ? Model.Value : "";
}
<div class="AboutUs">


<p>
    در این قسمت اطلاعات رزومه ای دکتر باید پر گردد
    </p>


    @Html.TextArea("editor1",modelValue, new { @class = "ckeditor" })
 
            <script type="text/javascript">
                CKEDITOR.replace('editor1');


                $("#btnSave").click(function () {

                    var editor_data ={ Value:CKEDITOR.instances.editor1.getData()};
                    
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AboutUs")',
            data: JSON.stringify(editor_data),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                alert(data);
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                //  alert(errorMessage+ xhr.toString() + textStatus);
            }
        });
                 });
            </script>





<input type="button" id="btnSave" value="Save" />
    </div>