﻿@model  IList<Offtick.Data.Context.ExpertOnlinerContexts.MembershipLocation>

<script type="text/javascript" >
    var lastsel;
    function OnSucessLoaded(data) {
        
        $("#grid").jqGrid({
            colNames: ['Id', 'Name', 'Address'],
            colModel: [{
                name: 'Id', index: 'Id', sortable: true, width: 70
            },
                            {
                                name: 'Name', index: 'Name', sortable: true, width: 70
                            },
                            {
                                name: 'Name', index: 'Address', sortable: true, width: 60
                            }

            ],
            pager: "#pager",
            sortname: 'Id',
            rowNum: 10,
            rowList: [10, 20, 50],
            sortorder: "desc",
            height: 230,
            width: 800,
            url: "/Dr/Profile/Address/",
            datatype: 'json',
            mtype: 'POST',

        }


     );

        $("#grid").jqGrid(navGrid("#pager", { edit: true, add: false, del: false, search: false }));
        // jq("#grid").jqGrid('navGrid','#pager',{edit:false,add:false,del:false});

        //$("#search").filterGrid($("#grid"), {
        //    gridModel: false,
        //    filterModel: [{
        //        label: 'Search',
        //        name: 'search',
        //        stype: 'text'
        //    }]
        //});
    }
    $(function () {
        OnSucessLoaded();
     
    });
</script>
<div id="container">
    <table id="grid" >
        </table>
    <div id="pager" >
    </div>
    <div id="search" >
    </div>

    </div>





