﻿@model Offtick.Web.OfftickWeb.Models.ChangePasswordModel
<div class="ChangePassword">
   
@{
    ViewBag.Title = "Change Password";
    string guid=Guid.NewGuid().ToString();
    string txtOldPasswordId="txtOldPasswrod"+guid;
    string txtNewPasswrodId="txtNewPasswrod"+guid;
    string txtConfirmPasswordId="txtConfirmPasswrod"+guid;
}

<h2>Change Password</h2>
<p>
    Use the form below to change your password. 
</p>


    <script type="text/javascript">
        $(function () {
            $("#btnChangePassword").click(function (eventData) {


                var postData = null;

                postData = { OldPassword: $('#@txtOldPasswordId').val(), NewPassword: $('#@txtNewPasswrodId').val(), ConfirmPassword: $('#@txtConfirmPasswordId').val()};



                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("ChangePassword","Profile",new {area="DR"})',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        alert(data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });

            });
        });
    </script>

        <fieldset>
            <legend>Account Information</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword, new { id=txtOldPasswordId})
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword, new { id=txtNewPasswrodId})
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { id=txtConfirmPasswordId})
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                <input type="submit" value="Change Password" id="btnChangePassword" />
            </p>
        </fieldset>
    </div>