﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.TextAreaModel
@{
    var modelValue = Model != null ? Model.Value : "1";
}
<div class="ContactUs">

<p>
    در این قسمت اطلاعات ارتباطی با دکتر باید پر گردد
    </p>


   @* @Html.TextArea("editor1", modelValue, new { @class = "ckeditor" })*@
    <textarea name="editor1" id="editor1" class="ckeditor">@modelValue</textarea>
 
            <script type="text/javascript">
                CKEDITOR.replace('editor1');
               
                


                $("#btnSave").click(function () {

                    var editor_data = { Value: CKEDITOR.instances.editor1.getData() };
                 
                   
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("ContactUs")',
            data: JSON.stringify(editor_data),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                alert(data);
               
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                //  alert(errorMessage+ xhr.toString() + textStatus);
            }
        });
                 });
            </script>





<input type="button" id="btnSave" value="Save" />
    </div>