﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    
      <link rel="stylesheet" href="@Url.Content("~/Content/themes/Nictitate/css/icoMoon.css")"" media="all" />
      <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >

    <link href="@Url.Content("~/Content/AdminStyleSheet.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script type="text/javascript" src="@Url.Content("http://maps.google.com/maps/api/js?key=AIzaSyCBgXw4gzSI-1r8Mlqx1vZMuxa8TYTA-I4&sensor=false&language=fa")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
    <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/i18n/grid.locale-en.js")" type="text/javascript"></script>
    
}

<h2>Profile</h2>
<table>
    <tr>
        <td style="width:150px">
               @Html.Partial("ProfileMenu")
        </td>
        <td>
           
             @*<div id="updateDiv" style="width:800px;height:600px;"/>*@
            <div id="updateDiv" style="min-width:800px;min-height:600px;"/>
        </td>
    </tr>
</table>



