﻿@using Offtick.Core.Utility;
@model Offtick.Web.OfftickWeb.Models.RegisterModel
@{
    bool enableEdit = true;
} 

@using(Ajax.BeginForm( new AjaxOptions()
           {
               HttpMethod="post",
                Url=Url.Action("Information", new {model=Model  }),
                OnSuccess="",
                 
                
           }))
{
<table>
                    <tr>
                        <td>
                                @Html.TextBoxFor(m => m.FirstName,new { placeholder = Resources.UICaptions.FirstName})
                                <br /> @Html.ValidationMessageFor(m => m.FirstName)
                        </td>
                        </tr><tr>
                        <td>
                                 @Html.TextBoxFor(m => m.LastName,new { placeholder = Resources.UICaptions.LastName})
                               <br />  @Html.ValidationMessageFor(m => m.LastName)
                        </td>
                     </tr><tr>
                        <td>
                                 @{
                                      IList<SelectListItem> Genderls=new List<SelectListItem>();
                                      Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
                                      Genderls.Add(new SelectListItem() { Text = "مرد", Value = "M" });
                                      Genderls.Add(new SelectListItem() { Text = "زن", Value = "F" });
                                  }
                                @Html.DropDownListFor(m => m.Gender,Genderls)
                                <br />@Html.ValidationMessageFor(m => m.Gender)
                        </td>
                    </tr>
                    <tr>
                        <td>
                             @Html.TextBoxFor(m => m.UserName, new { placeholder = Resources.UICaptions.UserName})
                            <br /> @Html.ValidationMessageFor(m => m.UserName)
                        </td>
                    </tr><tr>
                        <td>
                             @Html.PasswordFor(m => m.Password, new { placeholder = Resources.UICaptions.Password })
                            <br />   @Html.ValidationMessageFor(m => m.Password)
                        </td>
                     </tr><tr>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Resources.UICaptions.ConfirmPassword })
                            <br /> @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                  <tr>
                        <td>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = Resources.UICaptions.Email })
                              <br />  @Html.ValidationMessageFor(m => m.Email)
                        </td>
                    </tr><tr>
                        <td>
                           
                             @Html.TextBoxFor(m => m.ConfirmEmail, new { placeholder = Resources.UICaptions.ConfirmEmail})
                            <br /> @Html.ValidationMessageFor(m => m.ConfirmEmail)
                        </td>
                       
                    </tr>
                  <tr>
                      <td>
                           @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = Resources.UICaptions.RegistrationNo })
                              <br />  @Html.ValidationMessageFor(m => m.RegistrationNo)
                      </td>
                  </tr>
                </table>


<input type="submit" value="submit" />
}