﻿
@{
    string updateManageAccountTargetId = "ManageAccountUpdateDiv";
}
<div class="ManageAccount">
    <table>
        <tr>
            <td>
                
                  @Ajax.ActionLink("Base Information", "", new { manageAccountViewName = "Information" }, new AjaxOptions()
                   {
                        UpdateTargetId=updateManageAccountTargetId,
                        Url=Url.Action("ManageAccount", new { manageAccountViewName = "Information" }),
                
                   })
            </td>
              <td>
                 @Ajax.ActionLink("Address", "", new { manageAccountViewName = "Address" }, new AjaxOptions()
                   {
                        UpdateTargetId=updateManageAccountTargetId,
                        Url=Url.Action("ManageAccount", new { manageAccountViewName = "Address" }),
                        OnSuccess="OnSucessLoaded",
                
                   })
            </td>
            <td>
                 @Ajax.ActionLink("Spatiality", "", new { manageAccountViewName = "Spatiality" }, new AjaxOptions()
                   {
                        UpdateTargetId=updateManageAccountTargetId,
                        Url=Url.Action("ManageAccount", new { manageAccountViewName = "Spatiality" }),
                
                   })
            </td>
            <td>
                 @Ajax.ActionLink("Contact Us", "", new { manageAccountViewName = "ContactUs" }, new AjaxOptions()
                   {
                        UpdateTargetId=updateManageAccountTargetId,
                        Url=Url.Action("ManageAccount", new { manageAccountViewName = "ContactUs" }),
                
                   })
            </td>
            <td>
                 @Ajax.ActionLink("About Us", "", new { manageAccountViewName = "AboutUs" }, new AjaxOptions()
                   {
                        UpdateTargetId=updateManageAccountTargetId,
                        Url=Url.Action("ManageAccount", new { manageAccountViewName = "AboutUs" }),
                
                   })
            </td>
            <td>
                 @Ajax.ActionLink("Change Password", "", new { manageAccountViewName = "ChangePassword" }, new AjaxOptions()
                   {
                        UpdateTargetId=updateManageAccountTargetId,
                        Url=Url.Action("ManageAccount", new { manageAccountViewName = "ChangePassword" }),
                
                   })
            </td>
        </tr>
    </table>
    <div id="ManageAccountUpdateDiv"/>
</div>