﻿ 
@model Offtick.Web.OfftickWeb.Areas.Dr.Models.MapModel
<script type="text/javascript">

    var map;
    var markersArray = [];

    function initMap() {
        var latlng = new google.maps.LatLng("@Model.Center.latitude", "@Model.Center.longitude");
       
        var myOptions = {
            zoom: @Model.DefaultZoom,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel: "@Model.Enable.ToString()",
            draggable:"@Model.Enable.ToString()",


        };
        
        map = new google.maps.Map(document.getElementById("OfftickGoogleMap"), myOptions);
      
        google.maps.event.addListener(map, 'click', function (event) {
            placeMarker(event.latLng);
        });
        //alert(map.toString());



    }
    function placeMarker(location) {
        var marker = new google.maps.Marker({
            position: location,
            map: map,
        });
        markersArray.push(marker);
        //map.setCenter(location);
    }



  
   
    function OnMapLoading(data) {
       // alert("OnMapLoading");
        initMap();
    }


    $("#btnSave").click(function () {
        var MarkersOfMap= [];
        var mapmodel = {
            Markers:Array,
            MapWidth:"@Model.MapWidth",
            MapHeight:"@Model.mapHeight",
        };
        if (markersArray) {
            for (i = 0; i < markersArray.length; i++) {
                var m = markersArray[i];
                MarkersOfMap.push({ "latitude": "" + m.position.lat() + "", "longitude": "" + m.position.lng() + "" });
            }
        }
        
        //mapmodel.Markers = '[' + MarkersOfMap.toString() + ']';
        mapmodel.Markers = MarkersOfMap;
       // alert(JSON.stringify(mapmodel));

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Map")',
            data: JSON.stringify(mapmodel),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                //alert(status);
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
              //  alert(errorMessage+ xhr.toString() + textStatus);
            }
        });
    });

    $("#btnClear").click(function () {
        if (markersArray) {
            for (i in markersArray) {
                markersArray[i].setMap(null);
            }
            markersArray.length = 0;
        }
    });

    </script>





<div  >
  
   @if(Model.Mode== Offtick.Web.OfftickWeb.Areas.Dr.Models.MapModelMode.Edit)
        {
            <img id="btnSave"  src='@Url.Content("~/Content/Images/save1.png")'  alt="Save" class="img50px"/>
            <img id="btnClear"  src='@Url.Content("~/Content/Images/clear.png")' alt="Clear" class="img50px"/>
        }
    
    <br />
    <div id="OfftickGoogleMap" style="width:100%; height:100%" />
    
</div>




