﻿@model int

@{
    string guid = Guid.NewGuid().ToString();
    string txtProfileItemTitleId =  "txtProfileItemId+"+guid;
    string selectedMenuIconClass = "selectedMenuIconClass" + guid;
    string txtProfileItemAbstractId = "txtProfileItemAbstract" + guid;
    string btnSaveId = "btnSave" + guid;
    string TableIconSelectId = "TableIconSelect" + guid;
    string divMenuBuilderAddNewMenuId = "divMenuBuilderAddNewMenu" + guid;
    string editorId = "editor" + guid;
    
    
    string actionUrl=Url.Action("");
}




<div id="@divMenuBuilderAddNewMenuId">
    <div class="TextHeader">
         ویرایش آیتم شماره @Model در پروفایل اصلی کاربر
    </div>
   
    <table>
        <tr>
            <td>
              <table>
                 @* <tr>
                        <td>
                           @Html.LabelFor(e=>e.LangaugeId)
                       </td>
                       <td>
                           @Html.DropDownListFor(e=>e.LangaugeId
                           ,  Offtick.Web.OfftickWeb.Infrustracture.LangaueUIHelper.GetMemberAllLangageList(Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser().UserId)
                           ,new {id=drpMenuBuilderAddLanguageId})
                       </td>
                    </tr>*@
                    <tr>
                          <td>
                           @*@Html.LabelFor(e=>e.Title)*@
                              عنوان
                       </td>
                       <td>
                           @*@Html.TextBoxFor(e=>e.Title,new {id=txtMenuBuilderAddTitle})*@
                           <input type="text" id="@txtProfileItemTitleId" />
                       </td>
                    </tr>
                  
                  <tr>
                      <td>
                            Icon:
                      </td>
                     <td>
                         <i id="@selectedMenuIconClass"></i>
                     </td>
                  </tr>
                 
                </table>
        
                     @{

                      string[] icons = { "icon-home", "icon-home-2", "icon-office", "icon-newspaper", "icon-pencil", "icon-pencil-2", "icon-quill", "icon-pen", "icon-blog", "icon-droplet", "icon-paint-format", "icon-image", "icon-image-2", "icon-images", "icon-camera", "icon-music", "icon-headphones", "icon-play", "icon-film", "icon-camera-2", "icon-dice", "icon-pacman", "icon-spades", "icon-clubs", "icon-diamonds", "icon-pawn", "icon-bullhorn", "icon-connection", "icon-podcast", "icon-feed", "icon-book", "icon-books", "icon-library", "icon-file", "icon-profile", "icon-file-2", "icon-file-3", "icon-file-4", "icon-copy", "icon-copy-2", "icon-copy-3", "icon-paste", "icon-paste-2", "icon-paste-3", "icon-stack", "icon-folder", "icon-folder-open", "icon-tag", "icon-tags", "icon-barcode", "icon-qrcode", "icon-ticket", "icon-cart", "icon-cart-2", "icon-cart-3", "icon-coin", "icon-credit", "icon-calculate", "icon-support", "icon-phone", "icon-phone-hang-up", "icon-address-book", "icon-notebook", "icon-envelop", "icon-pushpin", "icon-location", "icon-location-2", "icon-compass", "icon-map", "icon-map-2", "icon-history", "icon-clock", "icon-clock-2", "icon-alarm", "icon-alarm-2", "icon-bell", "icon-stopwatch", "icon-calendar", "icon-calendar-2", "icon-print", "icon-keyboard", "icon-screen", "icon-laptop", "icon-mobile", "icon-mobile-2", "icon-tablet", "icon-tv", "icon-cabinet", "icon-drawer", "icon-drawer-2", "icon-drawer-3", "icon-box-add", "icon-box-remove", "icon-download", "icon-upload", "icon-disk", "icon-storage", "icon-undo", "icon-redo", "icon-flip", "icon-flip-2", "icon-undo-2", "icon-redo-2", "icon-forward", "icon-reply", "icon-bubble", "icon-bubbles", "icon-bubbles-2", "icon-bubble-2", "icon-bubbles-3", "icon-bubbles-4", "icon-user", "icon-users", "icon-user-2", "icon-users-2", "icon-user-3", "icon-user-4", "icon-quotes-left", "icon-busy", "icon-spinner", "icon-spinner-2", "icon-spinner-3", "icon-spinner-4", "icon-spinner-5", "icon-spinner-6", "icon-binoculars", "icon-search", "icon-zoom-in", "icon-zoom-out", "icon-expand", "icon-contract", "icon-expand-2", "icon-contract-2", "icon-key", "icon-key-2", "icon-lock", "icon-lock-2", "icon-unlocked", "icon-wrench", "icon-settings", "icon-equalizer", "icon-cog", "icon-cogs", "icon-cog-2", "icon-hammer", "icon-wand", "icon-aid", "icon-bug", "icon-pie", "icon-stats", "icon-bars", "icon-bars-2", "icon-gift", "icon-trophy", "icon-glass", "icon-mug", "icon-food", "icon-leaf", "icon-rocket", "icon-meter", "icon-meter2", "icon-dashboard", "icon-hammer-2", "icon-fire", "icon-lab", "icon-magnet", "icon-remove", "icon-remove-2", "icon-briefcase", "icon-airplane", "icon-truck", "icon-road", "icon-accessibility", "icon-target", "icon-shield", "icon-lightning", "icon-switch", "icon-power-cord", "icon-signup", "icon-list", "icon-list-2", "icon-numbered-list", "icon-menu", "icon-menu-2", "icon-tree", "icon-cloud", "icon-cloud-download", "icon-cloud-upload", "icon-download-2", "icon-upload-2", "icon-download-3", "icon-upload-3", "icon-globe", "icon-earth", "icon-link", "icon-flag", "icon-attachment", "icon-eye", "icon-eye-blocked", "icon-eye-2", "icon-bookmark", "icon-bookmarks", "icon-brightness-medium", "icon-brightness-contrast", "icon-contrast", "icon-star", "icon-star-2", "icon-star-3", "icon-heart", "icon-heart-2", "icon-heart-broken", "icon-thumbs-up", "icon-thumbs-up-2", "icon-happy", "icon-happy-2", "icon-smiley", "icon-smiley-2", "icon-tongue", "icon-tongue-2", "icon-sad", "icon-sad-2", "icon-wink", "icon-wink-2", "icon-grin", "icon-grin-2", "icon-cool", "icon-cool-2", "icon-angry", "icon-angry-2", "icon-evil", "icon-evil-2", "icon-shocked", "icon-shocked-2", "icon-confused", "icon-confused-2", "icon-neutral", "icon-neutral-2", "icon-wondering", "icon-wondering-2", "icon-point-up", "icon-point-right", "icon-point-down", "icon-point-left", "icon-warning", "icon-notification", "icon-question", "icon-info", "icon-info-2", "icon-blocked", "icon-cancel-circle", "icon-checkmark-circle", "icon-spam", "icon-close", "icon-checkmark", "icon-checkmark-2", "icon-spell-check", "icon-minus", "icon-plus", "icon-enter", "icon-exit", "icon-play-2", "icon-pause", "icon-stop", "icon-backward", "icon-forward-2", "icon-play-3", "icon-pause-2", "icon-stop-2", "icon-backward-2", "icon-forward-3", "icon-first", "icon-last", "icon-previous", "icon-next", "icon-eject", "icon-volume-high", "icon-volume-medium", "icon-volume-low", "icon-volume-mute", "icon-volume-mute-2", "icon-volume-increase", "icon-volume-decrease", "icon-loop", "icon-loop-2", "icon-loop-3", "icon-shuffle", "icon-arrow-up-left", "icon-arrow-up", "icon-arrow-up-right", "icon-arrow-right", "icon-arrow-down-right", "icon-arrow-down", "icon-arrow-down-left", "icon-arrow-left", "icon-arrow-up-left-2", "icon-arrow-up-2", "icon-arrow-up-right-2", "icon-arrow-right-2", "icon-arrow-down-right-2", "icon-arrow-down-2", "icon-arrow-down-left-2", "icon-arrow-left-2", "icon-arrow-up-left-3", "icon-arrow-up-3", "icon-arrow-up-right-3", "icon-arrow-right-3", "icon-arrow-down-right-3", "icon-arrow-down-3", "icon-arrow-down-left-3", "icon-arrow-left-3", "icon-tab", "icon-checkbox-checked", "icon-checkbox-unchecked", "icon-checkbox-partial", "icon-radio-checked", "icon-radio-unchecked", "icon-crop", "icon-scissors", "icon-filter", "icon-filter-2", "icon-font", "icon-text-height", "icon-text-width", "icon-bold", "icon-underline", "icon-italic", "icon-strikethrough", "icon-omega", "icon-sigma", "icon-table", "icon-table-2", "icon-insert-template", "icon-pilcrow", "icon-left-to-right", "icon-right-to-left", "icon-paragraph-left", "icon-paragraph-center", "icon-paragraph-right", "icon-paragraph-justify", "icon-paragraph-left-2", "icon-paragraph-center-2", "icon-paragraph-right-2", "icon-paragraph-justify-2", "icon-indent-increase", "icon-indent-decrease", "icon-new-tab", "icon-embed", "icon-code", "icon-console", "icon-share", "icon-mail", "icon-mail-2", "icon-mail-3", "icon-mail-4", "icon-google", "icon-google-plus", "icon-google-plus-2", "icon-google-plus-3", "icon-google-plus-4", "icon-google-drive", "icon-facebook", "icon-facebook-2", "icon-facebook-3", "icon-instagram", "icon-twitter", "icon-twitter-2", "icon-twitter-3", "icon-feed-2", "icon-feed-3", "icon-feed-4", "icon-youtube", "icon-youtube-2", "icon-vimeo", "icon-vimeo2", "icon-vimeo-2", "icon-lanyrd", "icon-flickr", "icon-flickr-2", "icon-flickr-3", "icon-flickr-4", "icon-picassa", "icon-picassa-2", "icon-dribbble", "icon-dribbble-2", "icon-dribbble-3", "icon-forrst", "icon-forrst-2", "icon-deviantart", "icon-deviantart-2", "icon-steam", "icon-steam-2", "icon-github", "icon-github-2", "icon-github-3", "icon-github-4", "icon-github-5", "icon-wordpress", "icon-wordpress-2", "icon-joomla", "icon-blogger", "icon-blogger-2", "icon-tumblr", "icon-tumblr-2", "icon-yahoo", "icon-tux", "icon-apple", "icon-finder", "icon-android", "icon-windows", "icon-windows8", "icon-soundcloud", "icon-soundcloud-2", "icon-skype", "icon-reddit", "icon-linkedin", "icon-lastfm", "icon-lastfm-2", "icon-delicious", "icon-stumbleupon", "icon-stumbleupon-2", "icon-stackoverflow", "icon-pinterest", "icon-pinterest-2", "icon-xing", "icon-xing-2", "icon-flattr", "icon-foursquare", "icon-foursquare-2", "icon-paypal", "icon-paypal-2", "icon-paypal-3", "icon-yelp", "icon-libreoffice", "icon-file-pdf", "icon-file-openoffice", "icon-file-word", "icon-file-excel", "icon-file-zip", "icon-file-powerpoint", "icon-file-xml", "icon-file-css", "icon-html5", "icon-html5-2", "icon-css3", "icon-chrome", "icon-firefox", "icon-IE", "icon-opera", "icon-safari", "icon-IcoMoon", "icon-fork", "icon-cloud-upload-2", "icon-cloud-download-2", "icon-upload-4", "icon-download-4", "icon-target-2", "icon-map-pin-alt", "icon-map-pin-fill", "icon-map-pin-stroke", "icon-star-4", "icon-umbrella", "icon-rain", "icon-cloud-2", "icon-moon-fill", "icon-moon-stroke", "icon-sun-fill", "icon-sun-stroke", "icon-tag-fill", "icon-tag-stroke", "icon-unlock-fill", "icon-unlock-stroke", "icon-lock-fill", "icon-lock-stroke", "icon-clock-3", "icon-home-3", "icon-user-5", "icon-eye-3", "icon-bars-alt", "icon-bars-3", "icon-chart-alt", "icon-chart", "icon-aperture-alt", "icon-aperture", "icon-camera-3", "icon-image-3", "icon-layers", "icon-layers-alt", "icon-eyedropper", "icon-brush-alt", "icon-brush", "icon-pen-alt2", "icon-pen-alt-fill", "icon-pen-alt-stroke", "icon-pen-2", "icon-book-alt2", "icon-book-alt", "icon-book-2", "icon-list-nested", "icon-list-3", "icon-read-more", "icon-article", "icon-right-quote-alt", "icon-left-quote-alt", "icon-right-quote", "icon-left-quote", "icon-hash", "icon-pilcrow-2", "icon-question-mark", "icon-info-3", "icon-ampersand", "icon-at", "icon-folder-fill", "icon-folder-stroke", "icon-box", "icon-compass-2", "icon-battery-charging", "icon-battery-full", "icon-battery-half", "icon-battery-empty", "icon-iphone", "icon-fullscreen-alt", "icon-fullscreen", "icon-fullscreen-exit-alt", "icon-fullscreen-exit", "icon-play-alt", "icon-last-2", "icon-first-2", "icon-eject-2", "icon-stop-3", "icon-pause-3", "icon-play-4", "icon-volume-mute-3", "icon-volume", "icon-headphones-2", "icon-microphone", "icon-steering-wheel", "icon-cd", "icon-arrow-down-alt2", "icon-arrow-down-alt1", "icon-arrow-down-4", "icon-arrow-up-alt2", "icon-arrow-up-alt1", "icon-arrow-up-4", "icon-arrow-right-alt2", "icon-arrow-right-alt1", "icon-arrow-right-4", "icon-arrow-left-alt2", "icon-arrow-left-alt1", "icon-arrow-left-4", "icon-move-horizontal-alt2", "icon-move-horizontal-alt1", "icon-move-horizontal", "icon-move-vertical-alt2", "icon-move-vertical-alt1", "icon-move-vertical", "icon-transfer", "icon-loop-alt4", "icon-loop-alt3", "icon-loop-alt2", "icon-loop-alt1", "icon-loop-4", "icon-reload-alt", "icon-reload", "icon-undo-3", "icon-curved-arrow", "icon-spin", "icon-spin-alt", "icon-lightbulb", "icon-new-window", "icon-key-fill", "icon-key-stroke", "icon-beaker", "icon-beaker-alt", "icon-trash-fill", "icon-trash-stroke", "icon-magnifying-glass", "icon-award-stroke", "icon-award-fill", "icon-equalizer-2", "icon-move-alt2", "icon-move-alt1", "icon-move", "icon-bolt", "icon-link-2", "icon-pin", "icon-minus-alt", "icon-minus-2", "icon-plus-alt", "icon-plus-2", "icon-document-fill", "icon-document-stroke", "icon-document-alt-fill", "icon-document-alt-stroke", "icon-movie", "icon-heart-fill", "icon-heart-stroke", "icon-mail-5", "icon-share-2", "icon-calendar-alt-fill", "icon-calendar-alt-stroke", "icon-calendar-3", "icon-cog-3", "icon-dial", "icon-wrench-2", "icon-rss-alt", "icon-rss", "icon-cursor", "icon-denied", "icon-x-altx-alt", "icon-x", "icon-check-alt", "icon-checkmark-3", "icon-comment-alt2-fill", "icon-comment-alt2-stroke", "icon-comment-fill", "icon-comment-stroke", "icon-comment-alt1-fill", "icon-comment-alt1-stroke", "icon-chat-alt-fill", "icon-chat-alt-stroke", "icon-chat", "icon-cloud-3", "icon-locked", "icon-inbox", "icon-comment", "icon-mic", "icon-envelope", "icon-briefcase-2", "icon-cart-4", "icon-contrast-2", "icon-clock-4", "icon-user-6", "icon-cog-4", "icon-music-2", "icon-twitter-4", "icon-pencil-3", "icon-frame", "icon-switch-2", "icon-star-5", "icon-key-3", "icon-chart-2", "icon-apple-2", "icon-file-5", "icon-plus-3", "icon-minus-3", "icon-picture", "icon-folder-2", "icon-camera-4", "icon-search-2", "icon-dribbble-4", "icon-forrst-3", "icon-feed-5", "icon-blocked-2", "icon-target-3", "icon-play-5", "icon-pause-4", "icon-bug-2", "icon-console-2", "icon-film-2", "icon-type", "icon-home-4", "icon-earth-2", "icon-location-3", "icon-info-4", "icon-eye-4", "icon-heart-3", "icon-bookmark-2", "icon-wrench-3", "icon-calendar-4", "icon-window", "icon-monitor", "icon-mobile-3", "icon-droplet-2", "icon-mouse", "icon-refresh", "icon-location-4", "icon-tag-2", "icon-phone-2", "icon-star-6", "icon-pointer", "icon-thumbs-up-3", "icon-thumbs-down", "icon-headphones-3", "icon-move-2", "icon-checkmark-4", "icon-cancel", "icon-skype-2", "icon-gift-2", "icon-cone", "icon-alarm-3", "icon-coffee", "icon-basket", "icon-flag-2", "icon-ipod", "icon-trashcan", "icon-bolt-2", "icon-ampersand-2", "icon-compass-3", "icon-list-4", "icon-grid", "icon-volume-2", "icon-volume-3", "icon-stats-2", "icon-target-4", "icon-forward-4", "icon-paperclip", "icon-keyboard-2", "icon-crop-2", "icon-floppy", "icon-filter-3", "icon-trophy-2", "icon-diary", "icon-address-book-2", "icon-stop-4", "icon-smiley-3", "icon-shit", "icon-bookmark-3", "icon-camera-5", "icon-lamp", "icon-disk-2", "icon-button", "icon-database", "icon-credit-card", "icon-atom", "icon-winsows", "icon-target-5", "icon-battery", "icon-code-2", "icon-sun", "icon-moon", "icon-sun-2", "icon-windy", "icon-wind", "icon-snowflake", "icon-cloudy", "icon-cloud-4", "icon-weather", "icon-weather-2", "icon-weather-3", "icon-lines", "icon-cloud-5", "icon-lightning-2", "icon-lightning-3", "icon-rainy", "icon-rainy-2", "icon-windy-2", "icon-windy-3", "icon-snowy", "icon-snowy-2", "icon-snowy-3", "icon-weather-4", "icon-cloudy-2", "icon-cloud-6", "icon-lightning-4", "icon-sun-3", "icon-moon-2", "icon-cloudy-3", "icon-cloud-7", "icon-cloud-8", "icon-lightning-5", "icon-rainy-3", "icon-rainy-4", "icon-windy-4", "icon-windy-5", "icon-snowy-4", "icon-snowy-5", "icon-weather-5", "icon-cloudy-4", "icon-lightning-6", "icon-thermometer", "icon-compass-4", "icon-none", "icon-Celsius", "icon-Fahrenheit", "icon-paperclip-2", "icon-sunrise", "icon-warning-2", "icon-home-5" };
                       int counter = 0;
                       int max = icons.Count();
                       int columns = 35;
       
                    }
                 <table id="@TableIconSelectId">
                    @foreach (var icon in icons)
                    {
                       if(counter%columns==0)
                       {
                             @: <tr>
                                 }
                        counter++;
                               <td style="width:10px;height:10px;">
              
                                   <a  iconClass="@icon"><i class="@icon"></i></a>
                               </td>
   
                        if (counter % columns == 0 || counter == max)
                       {
                             @: </tr>
                                 }
         
       
                    }
                </table>
            </td>
        </tr>
        <tr>
            <td>
                خلاصه آیتم ( شامل چند خط)
           <br />
                <textarea id="@txtProfileItemAbstractId" style="width:600px;"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                متن کامل آیتم
           <br />
                   @Html.TextArea(editorId,"", new { @class = "ckeditor" })
            </td>
        </tr>
    </table>
    <input type="button" id="@btnSaveId" value="Save" />
  
    <script type="text/javascript">
        $(function () {
            CKEDITOR.replace('@editorId');
            $("#@TableIconSelectId a").click(function () {
                $("#@selectedMenuIconClass").removeClass();
                $("#@selectedMenuIconClass").addClass($(this).attr("iconClass"));
            });
        });
    </script>


     <script type="text/javascript">
         $(function () {
            
             $("#@btnSaveId").click(function () {

                 $(this).attr("disabled", true);
                 var editorObject=CKEDITOR.editor.replace("@editorId");
                 var abstractData=$("#@txtProfileItemAbstractId").val();
                 var postedData = { ItemNumber:"@Model", Body: editorObject.getData(), }
                 $.ajax({
                     type: 'POST',
                     url: '@Model.ActionUrl',
                     data: JSON.stringify(postedData),
                     dataType: 'json',
                     processData: false,
                     contentType: 'application/json; charset:utf-8',
                     success: function (data, status) {
                         showCommunicationPanelMessage(data, 4000);
                         $(this).removeAttr("disabled");
                     },
                     error: function (xhr, textStatus, error) {
                         var errorMessage = error || xhr.statusText;
                         showCommunicationPanelMessage(errorMessage + textStatus, 4000);
                         $(this).removeAttr("disabled");
                         //  alert(errorMessage+ xhr.toString() + textStatus);
                     }
                 });*@
             });
         });
            </script>

</div>