﻿
 <script>
             $(function () {
                 $("#ProfileItemCollectionTabs").tabs();
             });
  </script>

<div id="ProfileItemCollectionTabs">
    <ul>
        <li><a href="#tab1">آیتم اول</a></li>
        <li><a href="#tab2">آیتم دوم</a></li>
         <li><a href="#tab3">آیتم سوم</a></li>
    </ul>

     <div id="tab1">
           @Html.Action("PorfileItem", new {orderNumber=1})
     </div>
     <div id="tab2">
            @Html.Action("PorfileItem", new {orderNumber=2})
     </div>
      <div id="tab3">
            @Html.Action("PorfileItem", new {orderNumber=3})
     </div>
</div>