﻿@{
    string targetId = "updateDiv";
   string loadingElementId = "";
}
<div class="VerticalMenuDivContainer">
    <table class="VerticalMenuTableInner">
        <tr>
            <td>
                @Ajax.ActionLink("Manage Account", "", new { pss = "ManageAccount" }, new AjaxOptions()
           {
                UpdateTargetId=targetId,
                Url=Url.Action("ProfileControlPanel", new { pss = "ManageAccount" }),
                
           })
            </td>
        </tr>
        <tr>
            <td>
                  @Ajax.ActionLink("Location On Map", "", new { pss = "Map" }, new AjaxOptions()
           {
                UpdateTargetId=targetId,
                Url=Url.Action("ProfileControlPanel", new { pss = "Map" }),
                OnSuccess="OnMapLoading",
                
           })

            </td>
        </tr>
        <tr>
            <td>
                 @Ajax.ActionLink("Friends", "", new { pss = "Friends" }, new AjaxOptions()
                   {
                        UpdateTargetId=targetId,
                        Url=Url.Action("ProfileControlPanel", new { pss = "Friends" }),
                
                   })
                    
            </td>
        </tr>
        <tr>
            <td>
                 @Ajax.ActionLink("Domain", "", new { pss = "Domain" }, new AjaxOptions()
                   {
                        UpdateTargetId=targetId,
                        Url=Url.Action("ProfileControlPanel", new { pss = "Domain" }),
                         
                
                   })
                   
            </td>
        </tr>
        <tr>
            <td>
                 @Ajax.ActionLink("Profile Items", "", new { pss = "ProfileItemCollection" }, new AjaxOptions()
                   {
                        UpdateTargetId=targetId,
                        Url=Url.Action("ProfileControlPanel", new { pss = "ProfileItemCollection" }),
                         
                
                   })
            </td>
        </tr>
    </table>
</div>
