﻿
@model Offtick.Web.OfftickWeb.Models.ChangePasswordModel

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "تغییر کلمه عبور";
}







@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "تغییر کلمه عبور ناموفق می باشد، ابتدای خطاهای زیر را برطرف نمایید.")
   
    
    
        <div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>تغییر کلمه عبور</h3>

                    </header>
                    <main class="article-body">
                       <p>
                            کلمه عبور جدید باید حداقل 6 کاراکتر طول داشته باشد.
                       </p>
                            <fieldset>
                                <legend>اطلاعات حساب</legend>

                                <div class="items-table-container">
		                            <table class="items-table">
			                            <tbody>
				                            <tr>
                                                <td class="w-3">@Html.LabelFor(m => m.OldPassword)</td>
                                                <td>
                                                    @Html.PasswordFor(m => m.OldPassword, new { @Class = "w-0" })<br />
                                                    @Html.ValidationMessageFor(m => m.OldPassword)
                                                </td>
				                            </tr>
                                           <tr>
                                                <td class="w-3"> @Html.LabelFor(m => m.NewPassword)</td>
                                                <td>
                                                     @Html.PasswordFor(m => m.NewPassword, new { @Class = "w-0" })<br />
                                                     @Html.ValidationMessageFor(m => m.NewPassword)
                                                </td>
				                            </tr>
                                            <tr>
                                                <td class="w-3"> @Html.LabelFor(m => m.ConfirmPassword)</td>
                                                <td>
                                                     @Html.PasswordFor(m => m.ConfirmPassword, new { @Class = "w-0" })<br />
                                                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                                </td>
				                            </tr>
			                            </tbody>
		                            </table>
	                            </div>

                                <p>
                                    <input type="submit" value="تغییر کلمه عبور" />
                                </p>
                            </fieldset>
                    </main>
                </article>
            </section>
        </div>
        <!--main-wrapper-->
    
  
}

