﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>اتمام جلسه کاری</h3>

                        </header>
                        <main class="article-body">  
                            جلسه کاری شما به دلیل طولانی شدن فعالیت به پایان رسیده است، لطفا فرایند خود را مجددا انجام دهید
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->