﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

      <div class="main-wrapper single-page">
                <section class="layout">
                    <article>
                        <header class="article-header">
                            <h3>بازیابی کلمه عبور</h3>
                        </header>
                        <br />
                        برای بازیابی کلمه عبور خود ابتدا یکی از شیوه های زیر را انتخاب کرده و سپس در کار مقابل آن متناسب با شیوه انتخاب شده، شناسه صحیح را وارد نمایید.
                        <main class="article-body">  
                            	 <div class="col-container">
		                            <section class="layout">
			                            <div class="col">
                                            <span>انتخاب شیوه:</span>
                                            <select id="chkForgotPasswordMethod">
                                                <option value="UserName"> نام کاربری</option>
                                                <option value="Email"> ایمیل</option>
                                                <option value="PhoneNumber"> شماره تلفن همراه</option>
                                            </select>
                                            <input type="text" style="width:50%" id="txtForgotPassword"/>
                                             <span class="btn btnB" id="btnChangePassword" data-url="@Url.Action("ForgotPassword", "Account", new { area=""})">
                                                ادامه
                                            </span>
			                            </div>
                                        
                                         <div class="col">
                                            <span class="text-danger" id="txtMsgChangePassword" />
                                        </div>
                                        
		                              </section> 
	                            </div>
                        </main>
                    </article>
                </section>
            </div>
        <!--main-wrapper-->
	

</fieldset>
