﻿ <div class="well">
    به منظور انجام عمل درخواستی شما باید وارد حساب کاربری خود شوید، در صورتیکه قبلا حساب کاربری ایجاد نکرده اید تنهای اطلاعات مربوط به حساب جدید را پر نمایید. .
</div>
<div class="row">


      <div class="col-md-6 panel panel-default">
             <div class="panel-heading">ورود به حساب کاربری موجود</div>
             <div class="panel-body">
                 @{
                     TempData["HasLoginLayout"] = false;

                 }        
                         @Html.Action("LogOn", "Account", new { area = "", hasLayout = false })
              </div>

        </div>
        <div class="col-md-6 panel panel-default">
            <div class="panel-heading"> حساب جدید</div>
             <div class="panel-body">
                   @{
                     TempData["HasRegisterLayout"] = false;
                             TempData["registerMode"] = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal;
                         }
                @Html.Action( "RegisterStep1", "Account", new { area = "",RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal })
               
             </div>

        </div>

   

</div>