﻿@model Offtick.Web.OfftickWeb.Models.LogOnModel

@{
    bool? hasLayout = (bool?)TempData["HasLoginLayout"];

    if (hasLayout.HasValue && !hasLayout.Value)
    {
        Layout = "";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    string comment = Request.QueryString["comment"];
    string offerId = Request.QueryString["offerId"];
    string requestedAction = Request.QueryString["requestedAction"];
    
    string returnUrl = (string)TempData["returnUrl"] ;
    if(string.IsNullOrEmpty( returnUrl)){
       returnUrl= Request.QueryString["returnUrl"];
    }
    int applicationId = 0;
    if (!string.IsNullOrEmpty(returnUrl) && returnUrl.ToLower().Contains("MBTI".ToLower()))
    {
        applicationId = 1;
    }
    if (!string.IsNullOrEmpty(returnUrl) && returnUrl.ToLower().Contains("Holland".ToLower()))
    {
        applicationId = 2;
    }
    var application =applicationId != 0? Offtick.Business.Services.Managers.ApplicationManager.Instance.GetApplicationById(applicationId):null;

    ViewBag.Title = "ورود کاربر";
}




<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

 



  <div class="main-wrapper register login">


            <div class="login-wrapper">
                <section class="layout">

                    <div class="login-container">

                        <div class="login-title">
                            <h3>
                                ورود به سایت
                            </h3>
                        </div>
                        <!--basket-title-->

                        <div class="login-forms-container">


                         @using (Html.BeginForm("LogOn", "Account", new { returnUrl = returnUrl, requestedAction = requestedAction, comment = comment, offerId = offerId }, FormMethod.Post))
                            {
                                @Html.ValidationSummary(true, "ورود ناموفق، ابتدا خطاهای زیر را رفع نمایید.", new { @class="defStyle1"})

                                     <span class="login-desc">
                                        نام کاربری و کلمه عبور خود را وارد نمایید. اگر حساب کاربری ندارید
                                        @Html.ActionLink("ثبت نام", "RegisterStep1", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal })
                                        کنید
                                    </span>

                                   
                                    <div class="right-grid">
                                        <div class="label-wrapper">
                                            @Html.LabelFor(m => m.UserName, new { Class="required"})
                                        </div>
                                        @Html.TextBoxFor(m => m.UserName, new { placeholder="info@example.com"})
                                        @Html.ValidationMessageFor(m => m.UserName)

                                       


                                    </div>

                                    <div class="left-grid">
                                        <div class="label-wrapper">
                                             @Html.LabelFor(m => m.Password, new { Class="required"})
                                        </div>
                                          @Html.PasswordFor(m => m.Password, new {placeholder="12gheHJli"})
                                          @Html.ValidationMessageFor(m => m.Password)

                                         <div class="label-wrapper">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                    </div>
                                    if (application != null)
                                            {
                                                <div class="left-grid">
                                                    @Html.Partial("~/Areas/User/Views/Application/ApplicationItem.cshtml", application)
                                                </div>
                                            }

                                     <div class="login-buttons-container">

                                     <input type="submit" value="ورود" class="login-button next"/>
                             


                                    
                                   
                                            <div class="label-wrapper">
                                                <br />
                                                       @Html.ActionLink("کلمه عبور را فراموش کرده ام", "ForgotPassword", "Account")   
                                            </div>

                                </div>
                                <!--login-buttons-container-->
                              }


                         

                           

                        </div>
                        <!--login-forms-container-->



                    </div>

                </section>
            </div>
            <!--basket-content-->



        </div>
        <!--main-wrapper-->
        <!--main-wrapper-->




