﻿@model Offtick.Web.OfftickWeb.Models.RegisterModelConfirm
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;
@using Offtick.Web.OfftickWeb.Models;


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")"></script>

<link rel="stylesheet" href="@Url.Content("~/Content/jquery.Jcrop.min.css")" type="text/css" />

@{
    string registerMode = (string)Request.QueryString[Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode];
    ViewBag.Title = "ثبت نام- مرحله پایانی";
    Layout = "~/Views/Shared/_Layout.cshtml";


    string comment = Request.QueryString["comment"];
    string offerId = Request.QueryString["offerId"];
    string requestedAction = Request.QueryString["requestedAction"];
    string returnUrl = (string)TempData["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Request.QueryString["returnUrl"];
    }
    
}

<script >
    function showCoords(c) {
        // variables can be accessed here as
        // c.x, c.y, c.x2, c.y2, c.w, c.h
    };
   
</script>


@using (Html.BeginForm("RegisterConfirm3Steps", "Account", new { RegistrationMode = registerMode, returnUrl = returnUrl, requestedAction = requestedAction, comment = comment, offerId = offerId }, FormMethod.Post, new { id = "RegisterConfirm3Steps", enctype = "multipart/form-data" }))
{
        <input type="hidden" id="btnHiddenPreviousAction" value="@Url.Action("RegisterStep3","Account",new{RegistrationMode = registerMode})" />

    @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.")
    @Html.ValidationMessage("invalidAcceptRules", new { style="color:red"})

    <div>
        <fieldset style="padding-left:100px;">
        
                    <legend>تایید ثبت نام </legend>

                <hr />
        @{
             
           <div class="row" style="direction:rtl">
                <table class="table table-default col-md-8 text-right">

                         <tr>
                                 <td>
                                      <span >
                                        @Resources.UICaptions.UserName :
                                    </span>
                                    
                                </td>
                                <td>
                                       @Html.Label(Model.UserName)
                                </td>
                            </tr>
                           <tr>
                                 <td>
                                      <span >
                                        @Resources.UICaptions.Email :
                                    </span>
                                    
                                </td>
                                <td>z
                                       @Html.Label(Model.Email)
                                </td>
                            </tr>
                        
                        
                        
                            <tr>
                                <td>
                                    <span >
                                      @Resources.UICaptions.Picture :
                                </span>
                                    
                                    </td>
                                    <td>
                                           <img src="@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(Model.UserName,Model.inputFilePicture)" />
                                        @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors && !string.IsNullOrEmpty(Model.inputFileLisence))
                                        {
                                            <img src="@Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(Model.UserName,Model.inputFileLisence)" />
                                        }
                                    </td>
                            </tr>
                        



                       
                  

        @if ( registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
            {
                
           
                 
                    
               <tr>
                    <td>
                             @Resources.UICaptions.FirstName :

                    </td>
             
                    <td>
                            @Html.Label(Model.FirstName?? "-")

                    </td>
                </tr>@*
                if (registerMode != Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
                     {          
                       <tr>
                            <td>
                                    <span>
                                    @Resources.UICaptions.LastName :
                                </span>
                            </td>
                            <td>
                                    @Html.Label(Model.LastName?? "-")

                            </td>
                            </tr>
                    }      
               *@<tr>
                        <td>
                            <span >
                            @Resources.UICaptions.PhoneNumber :
                        </span>
                                    
                    </td>
                    <td>
                            @Html.Label(Model.PhoneNumber?? "-")
                    </td>
                </tr>
               <tr>
                        <td>
                            <span >
                            @Resources.UICaptions.Address :
                        </span>
                                    
                    </td>
                    <td>
                            @Html.Label(Model.Address?? "-")
                    </td>
                </tr>
               <tr>
                        <td>
                            <span >
                            @Resources.UICaptions.Gender :
                        </span>
                                    
                    </td>
                    <td>
                            @Html.Label(Model.Gender)
                    </td>
                </tr>
               <tr>
                        <td >
                            <span> @Resources.UICaptions.BirthDate :</span>

                    </td>
                    <td>
                            @Html.Label(Model.BirthDate?? "-")

                    </td>
                    </tr>
                    
                   
           
           
              
        
            }

            else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company)
            {
               
                       
                            <tr>
                                <td>
                                    @Resources.UICaptions.Company :
                                </td>
                                <td>
                                          @Html.Label(Model.FirstName?? "-")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.CompanyMotto :
                                </td>
                                <td>
                                        @Html.Label(Model.LastName?? "-")

                                </td>
                                </tr>
                        
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                     @Html.Label(Model.PhoneNumber?? "-")

                                </td>
                            </tr>
                    
                        
            }


            else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
            {
                
                      
                            <tr>
                                <td>
                                   Title :
                                </td>
                                <td>
                                     @Html.Label(Model.FirstName?? "-")

                                </td>
                            </tr>
                            <tr>
                                <td>
                                   Long Title :
                                </td>
                                <td>
                                        @Html.Label(Model.LastName?? "-")

                                </td>
                                </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                      @Html.Label(Model.PhoneNumber?? "-")

                                </td>
                            </tr>
                          
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                      @Html.Label(Model.Domain?? "-")

                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeAddress :
                                </td>
                                <td>
                                      @Html.Label(Model.Address?? "-")
                                </td>
                            </tr>
                  
                
            }

            else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors)
            {
              
           
                     
                            <tr>
                                <td>
                                    @Resources.UICaptions.FirstName :
                                </td>
                                <td>
                                     @Html.Label(Model.FirstName?? "-")

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.LastName :
                                </td>
                                <td>
                                        @Html.Label(Model.LastName?? "-")

                                </td>
                                </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.Label(Model.PhoneNumber?? "-")

                                </td>
                            </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.Gender :
                                </td>
                                <td>
                                     @Html.Label(Model.Gender?? "-")

                                </td>
                            </tr>
                            <tr>
                                 <td >
                                     <span> @Resources.UICaptions.BirthDate :</span>
                                </td>
                                <td>
                                     @Html.Label(Model.BirthDate?? "-")
                                </td>
                              </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeNumber :
                                </td>
                                <td>
                                    @Html.Label(Model.OfficeNumber?? "-")

                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.NezamPezeshkiNumber :
                                </td>
                                <td>
                                        @Html.Label(Model.RegistrationNo?? "-")
                                </td>
                            </tr>
                      
            }
                      
                </table>
            </div>

   
   
            
}
            <div class="row">
                <textarea rows="10" cols="120" readonly="readonly" class="text-right">
                    سیاست حفظ اطلاعات و حریم خصوصی کاربران در آف تیک
                 

                        سیاست حفظ اطلاعات و حریم خصوصی کاربران در آف تیک
                        آف تیک تاکید بسیاری بر اصول حفظ اطلاعات و حریم خصوصی کاربران این سایت دارد. این سند شامل توضیحی درباره اطلاعات خصوصی و نحوه استفاده از این اطلاعات است که آف تیک از کاربران سایت جمع آوری می کند. این اطلاعات شامل مواردی است که مخصوص هر کاربر بوده و به کمک آن ها می توان کاربران آف تیک را به صورت منحصر به فرد شناسایی نمود. برای نمونه می توان به نام، نشانی، نشانی الکترونیک (ایمیل)، شماره تلفن و سایر اطلاعاتی که به صورت عادی در دسترس عموم مردم نیست اشاره نمود.
                        اطلاعات جمع آوری شده و نحوه استفاده از آن ها
                        شما با ثبت نام در آف تیک مشخصات خود از قبیل نام و نام خانوادگی٬ ایمیل و … را در اختیار آف تیک قرار می دهید. در ادامه فعالیت در آف تیک و تقاضا برای ثبت سفارش٬ شما نیاز به اضافه کردن مشخصات آدرس خود و تلفن های تماس خواهید داشت.
                        شما پس از ورود به آف تیک٬ به عنوان کاربر آف تیک شناخته خواهید شد و کلیه اطلاعات مذکور و اطلاعاتی مانند تراکنش ها٬ پرداخت ها و اطلاعات فردی شما در اختیار آف تیک خواهد بود. لازم به ذکر است که این موارد تنها موارد مورد استفاده در آف تیک نخواهد بود.
                        آف تیک اطلاعاتی از قبیل IP شما٬ اطلاعات کوکی ها و صفحات مشاهده شده توسط شما را نیز نگهداری خواهد کرد. از اینگونه اطلاعات تنها در موارد تبلیغاتی و یا تحویه محتویات متناسب با شما استفاده خواهد شد و در اختیار سازمان ها و افراد غیر ازآف تیک  قرار نخواهد گرفت.
                        با ثبت نام در آف تیک و خرید از ان لوگوی شما به عنوان خریدار در پیشنهاد های تخفیف لیست می گردد که می تواند موجب ایده گرفتن سایر کاربران گردد. در صورتیکه می خواهید خریدتان مخفی بماند، می توانید در قسمت تنظیمات، تیک مربوط به "نمایش خرید یک آفر در لیست خرید کنندگان" را بردارید. همچنین با مشاهده یک پیشنهاد تخفیف، لوگوی کاربری شما در لیست مشاهده کنندگان ان پیشنهاد لیست می شود که درصورتیکه می خواهید بازدید شما مخفی بماند، می توانید تیک "نمایش مشاهده یک آفر در لیست مشاهده کنندگان" را بردارید.
                        آف تیک اطلاعات شما را اجاره نخواهد داد بجز در مواردی که شما از قوانین منعکس شده در بخش شرایط و ضوابط تخطی نموده و شاکی نسبت به عملکرد شما وجود داشته باشد.
                        ویرایش و تغییر اطلاعات شخصی
                        شما می توانید کلیه اطلاعات شخصی خود را در بخش مربوط به ویرایس پروفایلو همچنین ویرایش وب سایت، تغییر داده و ویرایش کنید. این اطلاعات شامل کلیه اطلاعاتی است که شما در سایت آف تیک  وارد کرده اید.
                        شما در هر زمانی که مایل باشید می توانید حساب خود را غعال نمایید و کاربری شما توسط شما قابل حذف شدن از سیستم می باشد و با روفتن در منوی تنظیمات می تواند گزینه غیرفعالسازی رو انتخاب نمایید. 

                        محدودیت دسترسی به اطلاعات
                        آف تیک دسترسی کارمندان خود به اطلاعات کاربران را محدود نموده و تنها کارمندانی که ارتباط مستقیم با کاربران دارند٬ دسترسی به کلیه اطلاعات خواهند داشت.
                        کلیه رمزهای عبور به صورت رمز شده در پایگاه داده های آف تیک  نگهداری شده و در فرآیند رمزگذاری بیشترین تلاش در استفاده از الگوریتم ها و روش های پیشرفته شده است.
                        کلیه اطلاعات مربوط به سیستم آف تیک در زیرساخت های محافظت شده و در مکان های امن نگهداری می شوند.

                        امیدواریم که با رعایت بیشترین میزان در حفاظت از اطلاعات شما٬‌ اطمینان خاطر لازم به شما مشتریان گرامی در استفاده از سیستم آف تیک را داده باشیم. در صورت هرگونه سوال و یا پرسشی٬ درخواست خود را تلفنی و یا از طریق بخش تماس با ما به اشتراک بگذارید.
                        لغو خبرنامه
                        برای لغو دریافت خبرنامه کافیست یکی از خبرنامه‌های روزانه ما را دریافت نمایید و در انتهای ایمیل لینک مربوط به لغو اشتراک خبرنامه را بزنید. توجه داشته باشید که در صورت علاقه به دریافت مجدد بایستی به تیم پشتییبانی ما به آدرس support@offtick.com ایمیل زده شود و با پرکردن ایمیل در فیلد مربوط به عضویت این کار انجام نخواهد شد
                        با ما با مشخصات زیر تماس بگیرید
                        ایمیل: support@offtick.com
                        آدرس: تهران- خیابان ستارخان- خیابان کوثر دوم- پلاک 6 
                        تلفن تماس: 66926648 

                </textarea>
                <br />
                متن قوانین را خوانده و با آن موافق هستم
                @Html.CheckBoxFor(e => e.AcceptRoles)


            </div>
             <div class="row">
                 <input  type="button"  class="btn btn-primary col-md-3 PreviousStep" value="اصلاح اطلاعات" />
                 <span  class="col-md-6"  >
                     &nbsp;
                     </span>
                 <input type="submit" class="btn btn-primary col-md-3" value="ثبت نهایی" />
                  
                       <br />
             </div>
              
                </fieldset>
    </div>
   
}


