﻿ <table>
                    <tr>
                        <td>
                                @Html.TextBoxFor(m => m.FirstName,new { placeholder = Resources.UICaptions.FirstName})
                                <br /> @Html.ValidationMessageFor(m => m.FirstName)
                        </td>
                        <td>
                                 @Html.TextBoxFor(m => m.LastName,new { placeholder = Resources.UICaptions.LastName})
                               <br />  @Html.ValidationMessageFor(m => m.LastName)
                        </td>
                        <td>
                                 @{
                                      IList<SelectListItem> Genderls=new List<SelectListItem>();
                                      Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
                                      Genderls.Add(new SelectListItem() { Text = "مرد", Value = "M" });
                                      Genderls.Add(new SelectListItem() { Text = "زن", Value = "F" });
                                  }
                                @Html.DropDownListFor(m => m.Gender,Genderls)
                                <br />@Html.ValidationMessageFor(m => m.Gender)
                        </td>
                    </tr>
                    <tr>
                        <td>
                             @Html.TextBoxFor(m => m.UserName, new { placeholder = Resources.UICaptions.UserName})
                            <br /> @Html.ValidationMessageFor(m => m.UserName)
                        </td>
                        <td>
                             @Html.PasswordFor(m => m.Password, new { placeholder = Resources.UICaptions.Password })
                            <br />   @Html.ValidationMessageFor(m => m.Password)
                        </td>
                        <td>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Resources.UICaptions.ConfirmPassword })
                            <br /> @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </td>
                    </tr>
                    <tr>
                         <td>
                             <table style="width:200px;">
                                 <tr>
                                     <td >
                                         تاریخ تولد
                                     </td>
                                     <td>
                                          @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                     </td>
                                 </tr>
                             </table>
                        </td>
                        <td>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = Resources.UICaptions.Email })
                              <br />  @Html.ValidationMessageFor(m => m.Email)
                        </td>
                        <td>
                           
                             @Html.TextBoxFor(m => m.ConfirmEmail, new { placeholder = Resources.UICaptions.ConfirmEmail})
                            <br /> @Html.ValidationMessageFor(m => m.ConfirmEmail)
                        </td>
                       
                    </tr>
                  <tr>
                      <td>
                           @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = Resources.UICaptions.RegistrationNo })
                              <br />  @Html.ValidationMessageFor(m => m.RegistrationNo)
                      </td>
                  </tr>
                </table>

