﻿@model Offtick.Web.OfftickWeb.Models.RegisterModelStep2
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;

@{
    string registerMode = (string)Request.QueryString[Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode];

}


@{
    ViewBag.Title = "ثبت نام کاربری جدید";
 

    bool? hasLayout = (bool?)TempData["HasRegisterLayout"];
    if (hasLayout.HasValue && !hasLayout.Value)
    {
        Layout = "";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    string comment = Request.QueryString["comment"];
    string offerId = Request.QueryString["offerId"];
    string requestedAction = Request.QueryString["requestedAction"];
    string returnUrl = (string)TempData["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Request.QueryString["returnUrl"];
    }


    var inputFilePictureUrl = "~/Content/Images/user-image-placeholder.png";
    var inputFileLisenceUrl = "~/Content/Images/user-image-placeholder.png";
    bool hasPicture = false;
    if (Model != null && !string.IsNullOrEmpty(Model.fileName))
    {
        inputFilePictureUrl = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnail256Of(Guid.Parse(Model.userId), Model.fileName);
        hasPicture = true;
    }
    if (Model != null && !string.IsNullOrEmpty(Model.lisenceFileName))
    {
        hasPicture = true;
        inputFileLisenceUrl = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnail256Of(Guid.Parse(Model.userId), Model.lisenceFileName);
    }
}     


@{
    
  
                 
  <script src="@Url.Content("~/Scripts/Local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>
      
             
   <div class="main-wrapper register register-p2">


            <div class="register-wrapper">
                <section class="layout">

                    <div class="register-container">

                        <div class="register-title">
                            @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company || registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
                            {
                                <h3>
                                    ثبت نام فروشنده
                                    <ul>
                                        <li class="passed"><span>1</span></li>
                                        <li class="current"><span>2</span></li>
                                        <li><span>3</span></li>
                                    </ul>
                                </h3>
                            }
                            else
                            {
                                <h3>
                                    ثبت نام کاربری جدید
                                    <ul>
                                        <li class="passed"><span>1</span></li>
                                        <li class="current"><span>2</span></li>
                                        <li><span>3</span></li>
                                    </ul>
                                </h3>
                            }
                        </div>
                        <!--basket-title-->

                        <div class="register-forms-container">
                            @using (Html.BeginForm("RegisterStep2", "Account", new { RegistrationMode = registerMode, returnUrl = returnUrl, requestedAction = requestedAction, comment = comment, offerId = offerId }, FormMethod.Post, new { id = "FormRegisterStep2", enctype = "multipart/form-data",@class="register-form" }))
                            {
                                @Html.HiddenFor(m=>m.userId)
                                @Html.HiddenFor(m=>m.FillLater)

                                <input type="hidden" id="btnHiddenPreviousAction" value="@Url.Action("RegisterStep1","Account",new{RegistrationMode = registerMode})" />
                                 @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.", new { @class = "defStyle1" })
                                <div class="right-grid">
                                    <div class="label-wrapper">
                                        <label class="required">نام کاربری </label>

                                    </div>
                                    @Html.TextBoxFor(m => m.UserName, htmlAttributes: new {placeholder="UserName" });
                                    <br />
                                     @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "defStyle1" })

                                    

                                </div>

                                <div class="left-grid">
                                     @*   <label>انتخاب عکس پروفایل</label>
                                    <div class="image-container" id="inputFilePictureHolder">
                                        <div class="image-grid" id="placeholderImageGrid">
                                            <img src="@Url.Content(inputFilePictureUrl)"  class="image-reader" >
                                        </div>
                                    </div>
                                    <div class="image-input-container" >
                                        <span>بارگذاری فایل</span>
                                        <input type="file" name="inputFilePicture" id="inputFilePicture" class="image-input" data-holderId="inputFilePictureHolder"
                                            
                                            accept="image/gif, image/jpeg, image/png"/>
                                    </div>*@
                                     @Html.ValidationMessageFor(m => m.inputFilePicture)
                                    
                                     <div id="divFilePicture" class="fileInput">انتخاب عکس پروفایل</div>
                                    
                                    
                                    <input type="file" id="inputFilePicture" name="inputFilePicture"   accept="image/jpeg,image/png,jpg|png"/> 
                                    <div>
                                        
                                         <img id="imgFilePicture" width="160px" height="160px"  src="@Url.Content(inputFilePictureUrl)"/>
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>


                                </div>
                                
                                
                                <div class="register-buttons-container">
                                <a href="#" class="register-button previous PreviousStep">
                                    <i class="fa fa-angle-right"></i>
                                    مرحله قبل
                                </a>
                                                    

                               
                                     @if ( registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
                                     {
                                        <input  type="button"  class="btn btn-primary  fillLater register-button fillLater_link" value="این اطلاعات را بعدا پر خواهم کرد" />
                                          @*<a href="#" class=" ">این اطلاعات را بعدا پر خواهم کرد</a>*@
                                     }
                                 else{
                                     <span>&nbsp;</span>
                                 }
                               
                                  
                                        <a href="#" class="register-button next submit_link">
                                           مرحله بعد
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                  
                                
                            </div>
                            <!--register-buttons-container-->
                            }


                            
                            

                        </div>
                        <!--register-forms-container-->



                    </div>

                </section>
            </div>
            <!--basket-content-->



        </div>
        <!--main-wrapper-->
        
          
     
            
}
          




         @*  if (string.IsNullOrEmpty(registerMode) || registerMode == "select")
           {

           }

           else
           {


               if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
               {
                   
                       <table class="table table-default col-md-8">
                       
                             <tr>
                                 <td>
                                     <span class="requiredField">
                                         @Resources.UICaptions.Picture :
                                     </span>
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput" >تصویر شما</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="@inputFilePictureUrl" id="imgFilePicture" width="160px" height="160px" />
                                        <input class="hidden" type="button" id="btnEditImage" value="ویرایش عکس"/>
                                    </div>
                                     <script>

                                         $(function () {
                                             imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                             $("#divFilePicture").click(function () {
                                                 $("#inputFilePicture").trigger("click");

                                             });
                                         });
                                         $("#btnEditImage").click(function () {
                                             $('#imgFilePicture').Jcrop(
                                              {
                                                  onSelect: showCoords,
                                                  onChange: showCoords,
                                                  bgColor: 'none',
                                                  bgOpacity: .4,
                                                  setSelect: [100, 100, 50, 50],
                                                  aspectRatio: 16 / 9
                                              });
                                         });
                                       </script>
                                </td>
                                 <td>
                                        @Html.ValidationMessageFor(m => m.inputFilePicture)

                                 </td>

                        
                            </tr>
                  
                        </table>
                      
                    
           
        
               }

               else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company)
               {
               
                        <table>
                       
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput">@Resources.UICaptions.CompanyLogo</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="@inputFilePictureUrl" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                           
                            
                                </td>
                                  <td>
                                        @Html.ValidationMessageFor(m => m.inputFilePicture)

                                 </td>
                            </tr>
                  
                        </table>
                       
   
                
               }


               else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
               {
              
                    <table>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput">تصویر یا لوگو</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="@inputFilePictureUrl" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                           
                            
                                </td>
                                  <td>
                                        @Html.ValidationMessageFor(m => m.inputFilePicture)

                                 </td>
                            </tr>
                  
                        </table>
                  
               }

               else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors)
               {
                
                        <table>
                       
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td >
                                    <table >
                                        <tr>
                                            <td>
                                                <div id="divFilePicture" class="fileInput">تصویر شما</div>
                                                 <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe" /> 
                                               <div>
                                                    <img src="@inputFilePictureUrl" id="imgFilePicture" width="160px" height="160px" />
                                               </div>
                                            </td>
                                            <td>
                                                        <div id="divFileLisence" class="fileInput">@Resources.UICaptions.OfficeLisence</div>

                                                            <input type="file" id="inputFileLisence" name="inputFileLisence" class="hideMe"  /> 
                                               <div>
                                                            <img src="@inputFileLisenceUrl" id="imgFileLisence" width="160px" height="160px" />
                                                    </div>
                                                </td>
                                  
                                        </tr>
                                    </table>
                                      <script>
                                          imageBeforeUploading("inputFilePicture", "imgFilePicture");
                                          imageBeforeUploading("inputFileLisence", "imgFileLisence");

                                          $("#divFilePicture").click(function () {
                                              $("#inputFilePicture").trigger("click");

                                          });
                                          $("#divFileLisence").click(function () {
                                              $("#inputFileLisence").trigger("click");

                                          });
                                       </script>
                                </td>
                                  <td>
                                        @Html.ValidationMessageFor(m => m.inputFilePicture)

                                 </td>
                            </tr>
                  
                        </table>
                   
        
               }
               else
               {
                <p>خطایی رخ داده است، لطفا فرایند ثبت نام را مجددا انجام دهید</p>
               }

           }*@
             
   

