﻿@model Offtick.Web.OfftickWeb.Models.RegisterModel
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;

@{
    ViewBag.Title = "ثبت نام کاربری جدید";
    
    bool? hasLayout = (bool?)TempData["HasRegisterLayout"];
    if (hasLayout.HasValue && !hasLayout.Value)
    {
        Layout = "";
        ViewBag.Title = "مرحله نهایی";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>
<style type="text/css">
    .fileInput {
  margin: 0em 0em 0em .2em;
  content: 'Import Settings';
  width:250px;
  
  border: 1px solid;
  border-color: #ddd #bbb #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font: bold 12px/1.2 Arial,sans-serif !important;
  /* fallback */
  background-color: #f9f9f9;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C2C1C1), to(#2F2727));
}
    .hideMe{
    display: none;
}
</style>

@{
    string registerMode = (string)TempData["registerMode"];
    if (string.IsNullOrEmpty(registerMode))
    {
        registerMode = (string)Request.QueryString[Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode];
    }

    string returnUrl = (string)TempData["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Request.QueryString["returnUrl"];
    }
    var inputFilePictureUrl = "~/Content/Images/user-image-placeholder.png";

}
@{
    
    
        
             
    if (string.IsNullOrEmpty(registerMode) || registerMode == "select")
    {  <fieldset >
           @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company || registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
           {
               <legend>ثبت نام فروشنده</legend>
           }
            else
           {
               <legend>ثبت نام کاربری جدید</legend>
           }
             <div>
                 لطفا نوع حساب کاربری خود را انتخاب نمایید.
                 <br />
             </div>
               
               @*<a href="@Url.Action("RegisterStep1", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal })">
                    <img  width="100px" height="100px"  title="User"  src="@Url.Content("~/Content/Images/personal128.png")"/>
                </a>*@
                        
               
               

             <a href="@Url.Action("RegisterStep1", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company })">
                    <img  width="100px" height="100px"  title="Company" src="@Url.Content("~/Content/Images/company128.png")"/>
                </a>

                @*<a href="@Url.Action("RegisterStep1", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors })">
                    <img  width="100px" height="100px"  title="Doctor" src="@Url.Content("~/Content/Images/dr.jpg")"/>
                </a>*@

            <a href="@Url.Action("RegisterStep1", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant })">
                    <img  width="100px" height="100px"  title="Resturant" src="@Url.Content("~/Content/Images/Resturant.png")"/>
                </a>


            
           </fieldset>
    }

    else
    {
        if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
        {
                
                
                   <div class="main-wrapper register register-p1">

                        <div class="register-wrapper">
                            <section class="layout">

                                <div class="register-container">

                                    <div class="register-title">
                                    <h3>
                                       @ViewBag.Title


                                    </h3>
                                </div>
                                    <!--basket-title-->

                                    <div class="register-forms-container">


                                        @using(Html.BeginForm("Register", "Account", new { RegistrationMode = registerMode, returnUrl = returnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                                @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.")

                       
                                     
                                            
                                            

                                                    <div class="right-grid boxed">
                                                     
                                                        <div class="label-wrapper">
                                                            <label class="required">@Resources.UICaptions.FirstName</label>
                                                        </div>
                                                         @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { id = "txtFirstName", name = "txtFirstName", placeholder = "" })
                                                         @Html.ValidationMessageFor(m => m.FirstName)


                                                          <div class="label-wrapper">
                                                            <label class="required"> @Resources.UICaptions.CityId</label>
                                                        </div>
                                                           @Html.DropDownListFor(e => e.CityId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource("تهران", false), new { @class = "dropdownRight" })
                                                           @Html.ValidationMessageFor(m => m.CityId)

                                                          <div class="label-wrapper">
                                                            <label class="required">@Resources.UICaptions.UserName</label>
                                                        </div>
                                                         @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { id = "txtUserName", name = "txtUserName", placeholder = "مثال: Abbas76" })
                                                         @Html.ValidationMessageFor(m => m.UserName)


                                                           <div class="label-wrapper">
                                                            <label class="required">@Resources.UICaptions.Password</label>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Password, htmlAttributes: new { id = "txtRegisterPassword", name = "txtRegisterPassword", placeholder = "12gheHJli" })
                                                        @Html.ValidationMessageFor(m => m.Password)


                                                        <div class="label-wrapper">
                                                            <label class="required">@Resources.UICaptions.PhoneNumber</label>
                                                        </div>
                                                         @Html.TextBoxFor(m => m.PhoneNumber, htmlAttributes: new { id = "txtPhoneNumber", name = "txtPhoneNumber", placeholder = "09123456789" })
                                                         @Html.ValidationMessageFor(m => m.PhoneNumber)
                                                        <br />
                                                        <div class="label-wrapper">
                                                            <label class="required">@Resources.UICaptions.Email</label>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.Email, htmlAttributes: new { id = "txtRegisterEmail", name = "txtRegisterEmail", type = "email", placeholder = "info@example.com" })
                                                        @Html.ValidationMessageFor(m => m.Email)
                                
                                                   </div>
                                                    <div class="left-grid">


                                                             @* <label>انتخاب عکس پروفایل</label>
                                                            <div class="image-container" id="inputFilePictureHolder">
                                                                <div class="image-grid" id="placeholderImageGrid">
                                                                    <img src="@Url.Content(inputFilePictureUrl)"  class="image-reader">
                                                                </div>
                                                            </div>
                                                            <div class="image-input-container" >
                                                                <span>بارگذاری فایل</span>
                                                                <input type="file" name="inputFilePicture" id="inputFilePicture" class="image-input" data-holderId="inputFilePictureHolder"/>
                                                            </div>*@

                                                        <div id="divFilePicture" class="fileInput">انتخاب عکس پروفایل</div>

                                                        <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe" accept="image/gif, image/jpeg, image/png" /> 
                                                        <div>
                                                             <img src="" id="imgFilePicture" width="160px" height="160px" />
                                                        </div>
                                                         <script>
                                                             imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                                             $("#divFilePicture").click(function () {
                                                                 $("#inputFilePicture").trigger("click");

                                                             });
                                                           </script>


                                                           <div class="label-wrapper">
                                                                <label>@Resources.UICaptions.Gender </label>
                                                                 @{
                                                                    IList<SelectListItem> Genderls = new List<SelectListItem>();
                                                                    Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
                                                                    Genderls.Add(new SelectListItem() { Text = "مرد", Value = "M" });
                                                                    Genderls.Add(new SelectListItem() { Text = "زن", Value = "F", Selected = true });
                                                                }
                                                                @Html.DropDownListFor(m => m.Gender, Genderls)
                                                                @Html.ValidationMessageFor(m => m.Gender)
                                                            </div>
                                       
                                                            <div class="label-wrapper">
                                                                <label>@Resources.UICaptions.BirthDate</label>
                                                                <div class="calendar-container">
                                                                   @* <input id="date_input" type="text" name="birthday" class="date_input">*@
                                                                    @Html.TextBoxFor(m => m.BirthDate,htmlAttributes:new {@class="date_input",name="birthday",id="date_input"})
                                                                    <input id="date_btn" type="button" class="date_btn">
                                                                </div>
                                                               @*  @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")*@
                                                            </div>
											
											
											
											                 <div class="label-wrapper">
                                                                <label>@Resources.UICaptions.Address</label>
                                                            </div>
                                                             @Html.TextAreaFor(m => m.Address, htmlAttributes: new {placeholder="No.1 Valiasr St.", rows="3" ,name="address"})
                                                            @Html.ValidationMessageFor(m => m.Address)
                                        
                                                        

                                                     
                                
                                                      
    
                                                    </div>


                       

                                                <div class="register-buttons-container">

                                                    <input type="submit" value="ذخیره" class="register-button next" />
                                            
                                        

                                                </div>
                                                <!--register-buttons-container-->
                                        }

                                </div>
                                <!--register-forms-container-->



                   

                            </section>
                        </div>
                        <div id="divResult">

                        </div>
                    </div>
                    <!--main-wrapper-->
             
        
        }

        else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company)
        {
                <fieldset>
        
                    <legend>Sign up ( Company )</legend>
                       It's free and always will be.
                    <hr />
                        <table>
                            <tr>
                                <td>
                                    @Resources.UICaptions.Company :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName)
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.CompanyMotto :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName)
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName)
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                            @*  <tr>
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber)
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.PasswordFor(m => m.Password)
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                           @* <tr>
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>
                            *@
                           @*  <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain)
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput">@Resources.UICaptions.CompanyLogo</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");
                              
                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                           
                            
                                </td>
                            </tr>
                  
                        </table>
                        <input type="submit" value="Sign Up" />
                       <br />
             
   
                </fieldset>
        }


        else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
        {
                <fieldset>
        
                    <legend>Sign up ( Resturant )</legend>
                       It's free and always will be.
                    <hr />
                        <table class="table table-default">
                            <tr>
                                <td>
                                   Title :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "width-x9" })
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   Long Title :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName, new { @class = "width-x9" })
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName, new { @class = "width-x9" })
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.PasswordFor(m => m.Password, new { @class = "width-x9" })
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                           @* <tr>
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>
                            *@
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                            @*  <tr>
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                          
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeAddress :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Address)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput">Logo or Picture</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                           
                            
                                </td>
                            </tr>
                  
                        </table>
                        <input type="submit" class="btn btn-default btn-xs " value="Sign Up" />
                       <br />
   
                </fieldset>
        }

        else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors)
        {
                <fieldset>
        
                      <legend>Sign Up ( Doctor )</legend>
                        It's free and always will be.
                    <hr />
           
                        <table>
                            <tr>
                                <td>
                                    @Resources.UICaptions.FirstName :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName)
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.LastName :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName)
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName)
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                              @*<tr>
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                           
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber)
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.PasswordFor(m => m.Password)
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                          @*  <tr>
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>*@
                             <tr>
                                  <td>
                                    @Resources.UICaptions.Gender :
                                </td>
                                <td>
                                         @{
            IList<SelectListItem> Genderls = new List<SelectListItem>();
            Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
            Genderls.Add(new SelectListItem() { Text = "Male", Value = "M" });
            Genderls.Add(new SelectListItem() { Text = "Female", Value = "F" });
                                          }
                                        @Html.DropDownListFor(m => m.Gender, Genderls)
                                        @Html.ValidationMessageFor(m => m.Gender)
                                </td>
                            </tr>
                            <tr>
                                 <td >
                                     <span> @Resources.UICaptions.BirthDate :</span>
                                </td>
                                <td>
                                    @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                </td>
                              </tr>
                            @* <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain)
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.OfficeNumber)
                                        @Html.ValidationMessageFor(m => m.OfficeNumber)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.NezamPezeshkiNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = "Major - Field - Pro Number" })
                                        @Html.ValidationMessageFor(m => m.RegistrationNo)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td >
                                    <table >
                                        <tr>
                                            <td>
                                                <div id="divFilePicture" class="fileInput">your picture</div>
                                                 <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe" /> 
                                               <div>
                                                    <img src="" id="imgFilePicture" width="160px" height="160px" />
                                               </div>
                                            </td>
                                            <td>
                                                        <div id="divFileLisence" class="fileInput">@Resources.UICaptions.OfficeLisence</div>

                                                            <input type="file" id="inputFileLisence" name="inputFileLisence" class="hideMe"  /> 
                                               <div>
                                                            <img src="" id="imgFileLisence" width="160px" height="160px" />
                                                    </div>
                                                </td>
                                  
                                        </tr>
                                    </table>
                                      <script>
                                          imageBeforeUploading("inputFilePicture", "imgFilePicture");
                                          imageBeforeUploading("inputFileLisence", "imgFileLisence");

                                          $("#divFilePicture").click(function () {
                                              $("#inputFilePicture").trigger("click");
                                      
                                          });
                                          $("#divFileLisence").click(function () {
                                              $("#inputFileLisence").trigger("click");

                                          });
                                       </script>
                                </td>
                            </tr>
                  
                        </table>
                        <input type="submit" value="Sign Up" />
                    <br />
                     
                </fieldset>
        
        }
        else
        {
                <p>No valid Registration Mode</p>
        }
             <br />
           
           

    }
    
            
}
    
   

