﻿@model Offtick.Web.OfftickWeb.Models.RegisterModelStep1
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;

@{
    string registerMode = (string)TempData["registerMode"];
    if (string.IsNullOrEmpty(registerMode))
    {
        registerMode = (string)Request.QueryString[Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode];
    }
    
    

}

<script type="text/javascript">
    $(function () {
        
        urlOfAction = ' @Url.Action("RegisterStep1", "Account")';

        $("#btnPayRequest").click(function () {
                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ UserName: $("txtRegisterUserName").val(), Password: $("txtRegisterEmail").val(), Email: $("txtRegisterPassword").val() }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success" && data && data.ResultStatus) {
                           

                            if (data.ResultStatus == "Failed") {
                                $("#divResult").html(data.Error);
                            }
                            if (data.ResultStatus == "Success") {
                                var urlOfBasket = "@Url.Action("Index", "Basket", new { area = "", })";
                                $(location).attr('href', urlOfBasket);

                        }
                            if (data.isSuccess) {

                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        $("#divResult").html(errorMessage + xhr.toString() + textStatus);
                        
                    }
                });


            });

        $("#btnRegisterStep1").click(function () {
            $("#FormRegisterStep1").submit();
        });
          
    });
 
</script>

@{
    ViewBag.Title = "ثبت نام کاربری جدید";

    bool? hasLayout = (bool?)TempData["HasRegisterLayout"];
    if (hasLayout.HasValue && !hasLayout.Value)
    {
        Layout = "";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }


    string comment = Request.QueryString["comment"];
    string offerId = Request.QueryString["offerId"];
    string requestedAction = Request.QueryString["requestedAction"];
    string returnUrl = (string)TempData["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Request.QueryString["returnUrl"];
    }
}     


      
           
              
                   @*    <tr>
                            <td>
                            @Resources.UICaptions.UserName  
                                <span class="h6 requiredField">(مثال:abbas76)</span>
                        </td>
                        <td>
                                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { id = "txtRegisterUserName", name = "txtRegisterUserName" })
                                @Html.ValidationMessageFor(m => m.UserName)
                        </td>
                   
                    
                    @{
                        string fTitle = string.Empty;
                        string lTitle = string.Empty;
                        if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
                        {
                            fTitle = Resources.UICaptions.FirstName;
                            lTitle=Resources.UICaptions.LastName;

                        }
                        if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company)
                        {
                            fTitle = Resources.UICaptions.Company;
                            lTitle = Resources.UICaptions.CompanyMotto;
                        }
                        if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
                        {
                            fTitle = "عنوان";
                            lTitle = "عنوان بلند";
                        }
                        if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors)
                        {
                            fTitle = Resources.UICaptions.FirstName;
                            lTitle = Resources.UICaptions.LastName;
                        }
                    }
                       
                
                            <tr>
                                <td>
                                    <span class="requiredField">
                                        @fTitle :
                                    </span>
                                    
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName)
                                            @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                     @if (registerMode != Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
                     {
                            <tr>
                                <td>
                                        <span class="requiredField">
                                        @lTitle :
                                    </span>
                                </td>
                                <td>
                                            @Html.TextBoxFor(m => m.LastName)
                                            @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                             </tr>
                     }
                       *@
                    
                  
                    
             
    
    
    
       <div class="main-wrapper register register-p1">


            <div class="register-wrapper">
                <section class="layout">

                    <div class="register-container">

                        <div class="register-title">
                        
                            @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company || registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
                            {
                                <h3>
                                    ثبت نام فروشنده
                                </h3>
                            }
                            else
                            {
                                <h3>
                                    ثبت نام کاربری جدید
                                </h3>
                            }
                        
                    </div>
                        <!--basket-title-->

                        <div class="register-forms-container">


                            @using (Html.BeginForm("RegisterStep1", "Account", new { RegistrationMode = registerMode, returnUrl = returnUrl, requestedAction = requestedAction, comment = comment, offerId = offerId }, FormMethod.Post, new { id = "FormRegisterStep1", enctype = "multipart/form-data", @class = "register-form" }))
                            {
                                    @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.", new { @class = "defStyle1" })

                       

                                        <div class="right-grid boxed">
                                            <span>حداقل یکی از موارد زیر را تکمیل نمایید : </span>
                                            <div class="label-wrapper">
                                                <label class="required">@Resources.UICaptions.PhoneNumber</label>
                                            </div>
                                             @Html.TextBoxFor(m => m.PhoneNumber, htmlAttributes: new { id = "txtPhoneNumber", name = "txtPhoneNumber", placeholder = "09123456789" })
                                             @Html.ValidationMessageFor(m => m.PhoneNumber, null, new { @class = "defStyle1" })

                                            <div class="label-wrapper">
                                                <label class="required">@Resources.UICaptions.Email</label>
                                            </div>
                                            @Html.TextBoxFor(m => m.Email, htmlAttributes: new { id = "txtRegisterEmail", name = "txtRegisterEmail", type = "email", placeholder = "info@example.com" })
                                            <br />
                                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "defStyle1" })
                                
                                       </div>
                                        <div class="left-grid">
                                            <div class="label-wrapper">
                                                <label class="required">@Resources.UICaptions.Password</label>
                                            </div>
                                            @Html.TextBoxFor(m => m.Password, htmlAttributes: new { id = "txtRegisterPassword", name = "txtRegisterPassword", placeholder = "12gheHJli" })
                                            @Html.ValidationMessageFor(m => m.Password, null, new { @class = "defStyle1" })
                                
                                            <div class="label-wrapper">
                                                <label class="required"> @Resources.UICaptions.CityId</label>
                                            </div>
                                               @Html.DropDownListFor(e => e.CityId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource("تهران", false), new { @class = "dropdownRight" })
                                               @Html.ValidationMessageFor(m => m.CityId, null, new { @class = "defStyle1" })
    
                                        </div>


                       

                                    <div class="register-buttons-container">

                                        <input type="submit" value="ذخیره" class="register-button next" />
                                            
                                        

                                    </div>
                                    <!--register-buttons-container-->
                            }

                    </div>
                    <!--register-forms-container-->



                   

                </section>
            </div>
            <div id="divResult">

            </div>



        </div>
        <!--main-wrapper-->

