﻿@model Offtick.Web.OfftickWeb.Models.RegisterModel
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>
<style type="text/css">
    .fileInput {
  margin: 0em 0em 0em .2em;
  content: 'Import Settings';
  width:250px;
  
  border: 1px solid;
  border-color: #ddd #bbb #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font: bold 12px/1.2 Arial,sans-serif !important;
  /* fallback */
  background-color: #f9f9f9;
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C2C1C1), to(#2F2727));
}
    .hideMe{
    display: none;
}
</style>

@{
    string registerMode = (string)Request.QueryString[Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode];

}


<div id="rootwizard">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="container">
	        <ul>
	  	<li><a href="#tab1" data-toggle="tab">First</a></li>
		<li><a href="#tab2" data-toggle="tab">Second</a></li>
		<li><a href="#tab3" data-toggle="tab">Third</a></li>
		<li><a href="#tab4" data-toggle="tab">Forth</a></li>
		<li><a href="#tab5" data-toggle="tab">Fifth</a></li>
		<li><a href="#tab6" data-toggle="tab">Sixth</a></li>
		<li><a href="#tab7" data-toggle="tab">Seventh</a></li>
	</ul>
	    </div>
	  </div>
	</div>
	<div class="tab-content">
	    <div class="tab-pane" id="tab1">
	      1
	    </div>
	    <div class="tab-pane" id="tab2">
	      2
	    </div>
		<div class="tab-pane" id="tab3">
			3
	    </div>
	
		<ul class="pager wizard">
		  	<li class="next"><a href="#">Next</a></li>
		</ul>
	</div>	
</div>

@using (Html.BeginForm("Register", "Account", new { RegistrationMode = registerMode }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.")
    <div>

        @{
             
    if (string.IsNullOrEmpty(registerMode) || registerMode == "select")
    {  <fieldset >
           
            <legend>Sign Up</legend>
             <div>
                 Please select your account type
                 <br />
             </div>
               
               <a href="@Url.Action("Register", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal })">
                    <img  width="100px" height="100px"  title="User"  src="@Url.Content("~/Content/Images/personal128.png")"/>
                </a>
                        
               
               

             <a href="@Url.Action("Register", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company })">
                    <img  width="100px" height="100px"  title="Company" src="@Url.Content("~/Content/Images/company128.png")"/>
                </a>

                <a href="@Url.Action("Register", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors })">
                    <img  width="100px" height="100px"  title="Doctor" src="@Url.Content("~/Content/Images/dr.jpg")"/>
                </a>

            <a href="@Url.Action("Register", new { RegistrationMode = Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant })">
                    <img  width="100px" height="100px"  title="Resturant" src="@Url.Content("~/Content/Images/Resturant.png")"/>
                </a>


            
           </fieldset>
    }

    else 
        {
            if ( registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
            {
                <fieldset style="padding-left:100px;">
        
        @*              <legend>Sign Up ( Personnal )</legend>*@
                        <legend>Sign Up </legend>

                        It's free and always will be.
                    <hr />
                   <div class="row col-md-9">
                        <table class="table table-default col-md-8">
                            <tr>
                                <td>
                                    @Resources.UICaptions.FirstName :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName)
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.LastName :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName)
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName  
                                      <span class="h6">(Example:abbas76)</span>
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName)
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                        <span class="h6">(Example:abbas76@yahoo.com)</span>

                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                           @*   <tr class="hide">
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                           
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber)
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.Password)
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                          @*  <tr class="hide">
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>*@
                             <tr>
                                  <td>
                                    @Resources.UICaptions.Gender :
                                </td>
                                <td>
                                         @{
                IList<SelectListItem> Genderls = new List<SelectListItem>();
                Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
                Genderls.Add(new SelectListItem() { Text = "Male", Value = "M" });
                Genderls.Add(new SelectListItem() { Text = "Female", Value = "F" });
                                          }
                                        @Html.DropDownListFor(m => m.Gender, Genderls)
                                        @Html.ValidationMessageFor(m => m.Gender)
                                </td>
                            </tr>
                            <tr>
                                 <td >
                                     <span> @Resources.UICaptions.BirthDate :</span>
                                    <span class="h6">(Example:1370/01/25)</span>

                                </td>
                                <td>
                                    @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                </td>
                              </tr>
                           @*  <tr class="hide">
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain)
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput" >Your Picture</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                                </td>


                        
                            </tr>
                  
                        </table>
                        <input type="submit" value="Sign Up" class="btn btn-primary col-md-3" />
                      <br />
                    </div>
           
                </fieldset>
        
            }

            else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company)
            {
                <fieldset>
        
                    <legend>Sign up ( Company )</legend>
                       It's free and always will be.
                    <hr />
                        <table>
                            <tr>
                                <td>
                                    @Resources.UICaptions.Company :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName)
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.CompanyMotto :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName)
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName)
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                            @*  <tr>
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber)
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.PasswordFor(m => m.Password)
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                           @* <tr>
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>
                            *@
                           @*  <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain)
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput">@Resources.UICaptions.CompanyLogo</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");
                              
                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                           
                            
                                </td>
                            </tr>
                  
                        </table>
                        <input type="submit" value="Sign Up" />
                       <br />
             
   
                </fieldset>
            }


            else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
            {
                <fieldset>
        
                    <legend>Sign up ( Resturant )</legend>
                       It's free and always will be.
                    <hr />
                        <table class="table table-default">
                            <tr>
                                <td>
                                   Title :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "width-x9" })
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   Long Title :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName, new { @class = "width-x9" })
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName, new { @class = "width-x9" })
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.PasswordFor(m => m.Password, new { @class = "width-x9" })
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                           @* <tr>
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>
                            *@
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                            @*  <tr>
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                          
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeAddress :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Address)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td>
                                     <div id="divFilePicture" class="fileInput">Logo or Picture</div>

                                    <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe"  /> 
                                    <div>
                                         <img src="" id="imgFilePicture" width="160px" height="160px" />
                                    </div>
                                     <script>
                                         imageBeforeUploading("inputFilePicture", "imgFilePicture");

                                         $("#divFilePicture").click(function () {
                                             $("#inputFilePicture").trigger("click");

                                         });
                                       </script>
                           
                            
                                </td>
                            </tr>
                  
                        </table>
                        <input type="submit" class="btn btn-default btn-xs " value="Sign Up" />
                       <br />
   
                </fieldset>
            }

            else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors)
            {
                <fieldset>
        
                      <legend>Sign Up ( Doctor )</legend>
                        It's free and always will be.
                    <hr />
           
                        <table>
                            <tr>
                                <td>
                                    @Resources.UICaptions.FirstName :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.FirstName)
                                         @Html.ValidationMessageFor(m => m.FirstName)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    @Resources.UICaptions.LastName :
                                </td>
                                <td>
                                         @Html.TextBoxFor(m => m.LastName)
                                         @Html.ValidationMessageFor(m => m.LastName)
                                </td>
                                </tr>
                             <tr>
                                  <td>
                                    @Resources.UICaptions.UserName :
                                </td>
                                <td>
                                     @Html.TextBoxFor(m => m.UserName)
                                     @Html.ValidationMessageFor(m => m.UserName)
                                </td>
                            </tr>
                             <tr>
                                   <td>
                                    @Resources.UICaptions.Email :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Email)
                                        @Html.ValidationMessageFor(m => m.Email)
                                </td>
                                </tr>
                              @*<tr>
                                    <td>
                                    @Resources.UICaptions.ConfirmEmail :
                                </td>
                                <td>
                           
                                     @Html.TextBoxFor(m => m.ConfirmEmail)
                                     @Html.ValidationMessageFor(m => m.ConfirmEmail)
                                </td>
                       
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.PhoneNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.PhoneNumber)
                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                </td>
                            </tr>
                            <tr>
                                 <td>
                                    @Resources.UICaptions.Password :
                                </td>
                                <td>
                                     @Html.PasswordFor(m => m.Password)
                                      @Html.ValidationMessageFor(m => m.Password)
                                </td>
                            </tr>
                          @*  <tr>
                                  <td>
                                    @Resources.UICaptions.ConfirmPassword :
                                </td>
                                <td>
                                    @Html.PasswordFor(m => m.ConfirmPassword)
                                     @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                </td>
                            </tr>*@
                             <tr>
                                  <td>
                                    @Resources.UICaptions.Gender :
                                </td>
                                <td>
                                         @{
                IList<SelectListItem> Genderls = new List<SelectListItem>();
                Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
                Genderls.Add(new SelectListItem() { Text = "Male", Value = "M" });
                Genderls.Add(new SelectListItem() { Text = "Female", Value = "F" });
                                          }
                                        @Html.DropDownListFor(m => m.Gender, Genderls)
                                        @Html.ValidationMessageFor(m => m.Gender)
                                </td>
                            </tr>
                            <tr>
                                 <td >
                                     <span> @Resources.UICaptions.BirthDate :</span>
                                </td>
                                <td>
                                    @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                </td>
                              </tr>
                            @* <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain)
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>*@
                             <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.OfficeNumber)
                                        @Html.ValidationMessageFor(m => m.OfficeNumber)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.NezamPezeshkiNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = "Major - Field - Pro Number" })
                                        @Html.ValidationMessageFor(m => m.RegistrationNo)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Picture :
                                </td>
                                <td >
                                    <table >
                                        <tr>
                                            <td>
                                                <div id="divFilePicture" class="fileInput">your picture</div>
                                                 <input type="file" id="inputFilePicture" name="inputFilePicture" class="hideMe" /> 
                                               <div>
                                                    <img src="" id="imgFilePicture" width="160px" height="160px" />
                                               </div>
                                            </td>
                                            <td>
                                                        <div id="divFileLisence" class="fileInput">@Resources.UICaptions.OfficeLisence</div>

                                                            <input type="file" id="inputFileLisence" name="inputFileLisence" class="hideMe"  /> 
                                               <div>
                                                            <img src="" id="imgFileLisence" width="160px" height="160px" />
                                                    </div>
                                                </td>
                                  
                                        </tr>
                                    </table>
                                      <script>
                                          imageBeforeUploading("inputFilePicture", "imgFilePicture");
                                          imageBeforeUploading("inputFileLisence", "imgFileLisence");

                                          $("#divFilePicture").click(function () {
                                              $("#inputFilePicture").trigger("click");
                                      
                                          });
                                          $("#divFileLisence").click(function () {
                                              $("#inputFileLisence").trigger("click");

                                          });
                                       </script>
                                </td>
                            </tr>
                  
                        </table>
                        <input type="submit" value="Sign Up" />
                    <br />
                     @*@Html.ActionLink("create a Web sites for a company,Doctors and other experts.", "Register", "Account", new { RegistrationMode = "select" }, new { })*@
                </fieldset>
        
            }
            else
            {
                <p>No valid Registration Mode</p>
            }
             <br />
          @Html.ActionLink("create a Web sites for a company,Doctors and other experts.", "Register", "Account", new { RegistrationMode = "select" }, new { })

     }
    
            
}
    </div>
   
}
