﻿@model Offtick.Web.OfftickWeb.Models.RegisterModelStep3
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.Jcrop.min.js")"></script>



<link rel="stylesheet" href="@Url.Content("~/Content/jquery.Jcrop.min.css")" type="text/css" />

@{
    string registerMode = (string)Request.QueryString[Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode];
    ViewBag.Title = "ثبت نام کاربری جدید";


    bool? hasLayout = (bool?)TempData["HasRegisterLayout"];
    if (hasLayout.HasValue && !hasLayout.Value)
    {
        Layout = "";

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    var confirmModel = (Offtick.Web.OfftickWeb.Models.RegisterModelConfirm)Session["RegisterConfirm3Steps"];



    string comment = Request.QueryString["comment"];
    string offerId = Request.QueryString["offerId"];
    string requestedAction = Request.QueryString["requestedAction"];
    string returnUrl = (string)TempData["returnUrl"];
    if (string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = Request.QueryString["returnUrl"];
    }
}

@if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
{
    
   <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/jalali.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar-setup.js")"></script>
<script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/lang/calendar-fa.js")"></script>

}

<script >
    function showCoords(c) {
        // variables can be accessed here as
        // c.x, c.y, c.x2, c.y2, c.w, c.h
    };
   
</script>



        
    
      <div class="main-wrapper register register-p3">


            <div class="register-wrapper">
                <section class="layout">

                    <div class="register-container">

                        <div class="register-title">
                            @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company || registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
                            {
                                <h3>
                                    ثبت نام فروشنده
                                    <ul>
                                        <li class="passed"><span>1</span></li>
                                        <li class="passed"><span>2</span></li>
                                        <li class="current"><span>3</span></li>
                                    </ul>
                                </h3>
                            }
                            else
                            {
                                <h3>
                                    ثبت نام کاربری جدید
                                    <ul>
                                        <li class="passed"><span>1</span></li>
                                        <li class="passed"><span>2</span></li>
                                        <li class="current"><span>3</span></li>
                                    </ul>
                                </h3>
                            }
                        </div>
                        <!--basket-title-->

                         @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
                         {
                            <div class="register-forms-container">
                                @using (Html.BeginForm("RegisterStep3", "Account", new { RegistrationMode = registerMode, returnUrl = returnUrl, requestedAction = requestedAction, comment = comment, offerId = offerId }, FormMethod.Post, new { id = "FormRegisterStep3", enctype = "multipart/form-data", @class = "register-form" }))
                                {
                                         <input type="hidden" id="btnHiddenPreviousAction" value="@Url.Action("RegisterStep2", "Account", new { RegistrationMode = registerMode })" />

                                            @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.", new { @class = "defStyle1" })
                            

                                        <div class="right-grid minimal">
                                            <div class="label-wrapper">
                                                <label class="required">@Resources.UICaptions.FirstName</label>
                                                @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { placeholder = "Name" })
                                                <br /> @Html.ValidationMessageFor(m => m.FirstName, null, new { @class = "defStyle1" })


                                            </div>
                                        
                                        
                                            <div class="label-wrapper">
                                                <label class="required">@Resources.UICaptions.Gender </label>
                                                 @{
                                    IList<SelectListItem> Genderls = new List<SelectListItem>();
                                    //Genderls.Add(new SelectListItem() { Text = " ", Value = "" });
                                    Genderls.Add(new SelectListItem() { Text = "مرد", Value = "M" });
                                    Genderls.Add(new SelectListItem() { Text = "زن", Value = "F", Selected = true });
                                                }
                                                @Html.DropDownListFor(m => m.Gender, Genderls)
                                                <br /> @Html.ValidationMessageFor(m => m.Gender, null, new { @class = "defStyle1" })
                                            </div>
                                       
                                            <div class="label-wrapper">
                                                <label>@Resources.UICaptions.BirthDate</label>
                                                <div class="calendar-container">
                                                   @* <input id="date_input" type="text" name="birthday" class="date_input">*@
                                                    @Html.TextBoxFor(m => m.BirthDate, htmlAttributes: new { @class = "date_input", name = "birthday", id = "date_input" })
                                                    <input id="date_btn" type="button" class="date_btn">

                                                </div>
                                                <label style="max-width: 100%; font-size: small; ">در صورت ورود تاریخ تولد خود، در این روز سوپرایز شوید</label>

                                                 @*@Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")*@
                                            </div>
                                          



                                        </div>

                                        <div class="left-grid">

                                            <div class="label-wrapper">
                                                <label>@Resources.UICaptions.Address</label>
                                            </div>
                                             @Html.TextAreaFor(m => m.Address, htmlAttributes: new { placeholder = "No.1 Valiasr St.", rows = "3", name = "address" })
                                           <br /> @Html.ValidationMessageFor(m => m.Address, null, new { @class = "defStyle1" })
                                        
                                        </div>

                                    <div class="register-buttons-container">


                                            <a href="#" class="register-button previous PreviousStep">
                                                <i class="fa fa-angle-right"></i>
                                                مرحله قبل
                                            </a>
                                            <a href="#" class="register-button next submit_link">
                                                ذخیره
                                            </a>
                                          @if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Personal)
                                          {
                                                    <a href="#" class="register-button fillLater submit_link">این اطلاعات را بعدا پر خواهم کرد</a>
                                          }
                                        

                                    </div>
                                    <!--register-buttons-container-->
                                }
                            </div>
                            <!--register-forms-container-->
                         }
                         else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Company ||
                         registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant
                         )
                         {
               
                              <div class="register-forms-container">
                                @using (Html.BeginForm("RegisterStep3", "Account", new { RegistrationMode = registerMode, returnUrl = returnUrl, requestedAction = requestedAction, comment = comment, offerId = offerId }, FormMethod.Post, new { id = "FormRegisterStep3", enctype = "multipart/form-data", @class = "register-form" }))
                                {
                                         <input type="hidden" id="btnHiddenPreviousAction" value="@Url.Action("RegisterStep2", "Account", new { RegistrationMode = registerMode })" />

                                            @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.")
                            

                                        <div class="right-grid minimal">
                                            <div class="label-wrapper">
                                                <label>@Resources.UICaptions.FirstName</label>
                                                @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { placeholder = "Name" })
                                                <br />
                                                @Html.ValidationMessageFor(m => m.FirstName)


                                            </div>
                                        

                                              <div class="label-wrapper">
                                                <label>@Resources.UICaptions.OfficeNumber</label>
                                            </div>
                                              @Html.TextBoxFor(m => m.OfficeNumber)
                                                @Html.ValidationMessageFor(m => m.OfficeNumber)

                                        </div>

                                        <div class="left-grid">

                                            <div class="label-wrapper">
                                                <label>@Resources.UICaptions.Address</label>
                                            </div>
                                             @Html.TextAreaFor(m => m.Address, htmlAttributes: new { placeholder = "No.1 Valiasr St.", rows = "3", name = "address" })
                                            @Html.ValidationMessageFor(m => m.Address)
                                        
                                        </div>

                                    <div class="register-buttons-container">


                                            <a href="#" class="register-button previous PreviousStep">
                                                <i class="fa fa-angle-right"></i>
                                                مرحله قبل
                                            </a>
                                            <a href="#" class="register-button next submit_link">
                                                ذخیره
                                            </a>
                                    </div>
                                    <!--register-buttons-container-->
                                }
                            </div>
                            <!--register-forms-container-->
                              
                        
                         }


                    </div>

                </section>
            </div>
            <!--basket-content-->



        </div>
        <!--main-wrapper-->

    
    
    
    
                   
       @{
             
            
  
                
                 
    @*

    else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Resturant)
    {
                
                        <table class="table table-default text-left">
                          
                          
                             <tr>
                                 <td>
                                    @Resources.UICaptions.Domain :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Domain, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Domain)
                                </td>
                            </tr>
                              <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeAddress :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.Address, new { @class = "width-x9" })
                                        @Html.ValidationMessageFor(m => m.Address)
                                </td>
                            </tr>
                  
                        </table>
                      
    }

    else if (registerMode == Offtick.Web.OfftickWeb.Infrustracture.Constants.RegistrationMode_Doctors)
    {
              
           
                      <table class="table table-default text-left">
                            
                             <tr>
                                  <td>
                                    @Resources.UICaptions.Gender :
                                </td>
                                <td>
                                         @{
        IList<SelectListItem> Genderls = new List<SelectListItem>();
        Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
        Genderls.Add(new SelectListItem() { Text = "مرد", Value = "M" });
        Genderls.Add(new SelectListItem() { Text = "زن", Value = "F" });
                                          }
                                        @Html.DropDownListFor(m => m.Gender, Genderls)
                                        @Html.ValidationMessageFor(m => m.Gender)
                                </td>
                            </tr>
                            <tr>
                                 <td >
                                     <span> @Resources.UICaptions.BirthDate :</span>
                                </td>
                                <td>
                                    @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                </td>
                              </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.OfficeNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.OfficeNumber)
                                        @Html.ValidationMessageFor(m => m.OfficeNumber)
                                </td>
                            </tr>
                             <tr>
                                 <td>
                                    @Resources.UICaptions.NezamPezeshkiNumber :
                                </td>
                                <td>
                                        @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = "Major - Field - Pro Number" })
                                        @Html.ValidationMessageFor(m => m.RegistrationNo)
                                </td>
                            </tr>
                        </table>
                      
    } *@
    
    
    
    
    
            
}
              
             
   
}



