﻿@model Offtick.Web.OfftickWeb.Models.LogOnModel

@{
    Layout = "";
    var returnUrl = Request.QueryString["returnUrl"];

}


<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@using (Html.BeginForm("Logon", "Account", new {id="SimpleLogin", returnUrl = returnUrl }, FormMethod.Post))
{

    <table class="loginForm">
        <tr>
            <td>
                <div >
                    @Html.LabelFor(m => m.UserName)
                   
                   
                </div>
            </td>
            <td>
                <div >
                    @Html.LabelFor(m => m.Password)
                </div>
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                 <div >
                        @Html.TextBoxFor(m => m.UserName, new { style="color:black;"})
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
            </td>
            <td>
                 <div >
                    @Html.PasswordFor(m => m.Password , new { style="color:black;"})
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </td>
            <td>
                <input type="submit" value="log In" class="btn btn-info btn-xs width-sm"/>
            </td>
        </tr>
        <tr>
            <td>
                 <div >
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
            </td>
            <td>
                @Html.ActionLink("Forgot your password", "ForgotPassword", "Account")
            </td>
            <td>
                 @Html.RouteLink(
                  "Sign Up",
                  "Default",
                  new
                  {
                      Action = "Register",
                      Controller = "Account"
                  }, new { Class="btn btn-info btn-xs width-sm"}) 
                
            </td>
        </tr>
    </table>    
        

            

            
            
            
        
    
}
