﻿

@model Offtick.Web.OfftickWeb.Models.SimpleRegisterModel
@using Offtick.Web.OfftickWeb;
@using Offtick.Core.Utility;

@{
    Layout = "";
}


@using (Html.BeginForm("SimpleRegister","Account")) {
    @Html.ValidationSummary(true, "تکمیل فرایند ثبت نام امکان پذیر نمی باشد، لطفا ابتدا خطاهای زیر را بر طرف نمایید.")

<h1><strong>Sign Up</strong><br />
	It's free and anyone can join</h1>
<img src="images/sign-up-line.jpg" alt="" width="321" height="1" vspace="10" /><br />
<table width="235" border="0" cellpadding="0" cellspacing="0">
	<tr>

        

		<td class="form-text">First Name :</td>
		<td align="left">
             @Html.TextBoxFor(m => m.FirstName,new { @class = "form-text-box"})
                                <br /> @Html.ValidationMessageFor(m => m.FirstName)

		</td>
	</tr>
	<tr>
		<td class="form-text">Last Name :</td>
		<td align="left">
			  @Html.TextBoxFor(m => m.LastName,new { @class = "form-text-box"})
                                <br /> @Html.ValidationMessageFor(m => m.LastName)
		</td>
	</tr>
	<tr>
		<td class="form-text">Your Email :</td>
		<td align="left">
			 @Html.TextBoxFor(m => m.Email,new { @class = "form-text-box"})
                                <br /> @Html.ValidationMessageFor(m => m.Email)
		</td>
	</tr>
	<tr>
		<td class="form-text">Password : </td>
		<td align="left">
			 @Html.PasswordFor(m => m.Password,new { @class = "form-text-box"})
                                <br /> @Html.ValidationMessageFor(m => m.Password)
		</td>
	</tr>
	@*<tr>
		<td class="form-text">Are You : </td>
		<td align="left">
			<select name="">
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="form-text">Date of Birth : </td>
		<td>
			<input name="textfield5" type="text" class="form-text-box" />
		</td>
	</tr>*@
	<tr>
		<td>&nbsp;</td>
		<td align="left">
             <input type="submit" value="Sing Up" />
			@*<div class="form-login"></div>*@
		</td>
	</tr>
</table>




            
    
       
}