﻿
@model  IEnumerable<Offtick.Web.OfftickWeb.Areas.Dr.Models.ControlItemModel>
<link href="@Url.Content("~/Content/AdminStyleSheet.css")" rel="stylesheet" type="text/css" />
   @{ int counter=0;
      int max = Model == null ? 0 : Model.Count();
      
      }
<table class="ControlItemCollectionTable">
   
  
@foreach (var controlItem in Model)
{
   if(counter%5==0)
   {
         @: <tr>
             }
    counter++;
           <td>
              
               @Html.Partial("ControlItem",controlItem)
           </td>
   
      if(counter%5==0 || counter==max)
   {
         @: </tr>
             }
         
       
}

</table>
