﻿@model string
@{
    Guid galleryId;
    string userName = string.Empty;
    Guid userId = Guid.Empty;
    IList<Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage> galleryImages = null;
                if (Guid.TryParse(Model, out galleryId))
                {
                    var gallery = Offtick.Business.Services.Managers.GalleryManager.Instance.GetGallery(galleryId);
                     galleryImages = gallery.GalleryImages.ToList();
                     userName = gallery.MembershipUser.UserName;
                     userId = gallery.MembershipUser.UserId;
                }
                string galleryWidth = !string.IsNullOrEmpty((string)ViewData["galleryWidth"]) ? (string)ViewData["galleryWidth"] : "100%";
                string galleryHeight = !string.IsNullOrEmpty((string)ViewData["galleryHeight"]) ? (string)ViewData["galleryHeight"] : "500px";
    
                
if(galleryImages!=null){
        <div class="profile-slider-container">
            <section id="dg-container" class="dg-container">
                <div class="dg-wrapper">  
                    @for (int i = 0; i < galleryImages.Count; i++)
                        {
                            var galleryImage=galleryImages[i];
                            string classStr = i == 0 ? "active" : string.Empty;
                            string imgUrl = Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(galleryImage.ImageUrl,userId, false);
                            string description=galleryImage.Description;
                                    <a href="#"><img src="@imgUrl" title="@galleryImage.Title"></a>


                        
                        }
                </div>

                <nav>
                   <span class="dg-prev">
                       <i class="fa fa-step-backward" aria-hidden="true"></i>
                   </span>



                   <span class="dg-start">
                       <i class="fa fa-play" aria-hidden="true"></i>
                   </span>

                   <span class="dg-stop">
                       <i class="fa fa-pause" aria-hidden="true"></i>
                   </span>

                    <span class="dg-next">
                       <i class="fa fa-step-forward" aria-hidden="true"></i>
                   </span>
                </nav>
            </section>

        </div>
    }
}



