﻿@model string
@{
    Guid galleryId;
    string userName = string.Empty;
    Guid userId=Guid.Empty;
    IList<Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage> galleryImages = null;
                if (Guid.TryParse(Model, out galleryId))
                {
                    var gallery = Offtick.Business.Services.Managers.GalleryManager.Instance.GetGallery(galleryId);
                     galleryImages = gallery.GalleryImages.ToList();
                     userName = gallery.MembershipUser.UserName;
                     userId = gallery.MembershipUser.UserId;
                    
                 
                }
                string galleryWidth = !string.IsNullOrEmpty((string)ViewData["galleryWidth"]) ? (string)ViewData["galleryWidth"] : "100%";
                string galleryHeight = !string.IsNullOrEmpty((string)ViewData["galleryHeight"]) ? (string)ViewData["galleryHeight"] : "500px";
    
                
}
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>

@if(galleryImages!=null && galleryImages.Count>0){
    <div id="myCarousel" class="carousel slide" data-ride="carousel" style="max-width:@galleryWidth;  max-height:@galleryHeight">
      <!-- Indicators -->
      <ol class="carousel-indicators">
          @for(int i=0;i<galleryImages.Count;i++){
              string classStr= i==0?"class='active'":string.Empty;
                <li data-target="#myCarousel" data-slide-to="@i" @classStr></li>
          }
      </ol>

      <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox"  >
    
     

            @for (int i = 0; i < galleryImages.Count; i++)
            {
                var galleryImage=galleryImages[i];
                string classStr = i == 0 ? "active" : string.Empty;
                string imgUrl = Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(galleryImage.ImageUrl, userId, false);


               <div class="item @classStr" style="max-width:@galleryWidth;  max-height:@galleryHeight">
                    <img src="@imgUrl" alt="@galleryImage.Title"  >
                      <div class="carousel-caption">
                        <h3>@galleryImage.Title</h3>
                        <p>@galleryImage.Description</p>
                      </div>
                 </div>
            }
   


          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
    </div>
}
