﻿@model string
@{
    string galleriaID = "galleria" + Model;
    string galleryWidth = !string.IsNullOrEmpty((string)ViewData["galleryWidth"]) ? (string)ViewData["galleryWidth"] : "1024px";
    string galleryHeight = !string.IsNullOrEmpty((string)ViewData["galleryHeight"]) ? (string)ViewData["galleryHeight"] : "500px";
}
<style>
      #@galleriaID{height:@galleryHeight;width: @galleryWidth; }
</style>


<div id="@galleriaID" style="" class=" "></div>
<script type="text/javascript">
    $(function () {

   

        $.getJSON("@Url.Action("GalleriaImages", "ImageGallery", new { galleryId = Model })"
            , function (receiveData) {
                var galleriaData = receiveData.GalleriaModels;
                console.log(JSON.stringify(galleriaData));
                Galleria.loadTheme('/scripts/themes/classic/galleria.classic.min.js');
                Galleria.run('#@galleriaID', {
                    dataSource: galleriaData,
                    autoplay: 3000
                });
                
            }).fail(function ( jqxhr, textStatus, error ) {
                alert(jqxhr.responseText);
            });

        });
   
</script>