﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Gallery
@{
    Layout = "";
}

  
    
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
    
     <script src="@Url.Content("~/Scripts/galleria-1.3.2.min.js")"></script>

  @Html.Partial("Slider",(object)"chaser603")