﻿@using Offtick.Core.Utility;

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل گزارش خرید به تفکیک خریدار</h3>

            </header>



            <div class="items-table-container">
                <table class="items-table">
                    <tbody>
                        <tr>
                             <td>نام خریدار:<input type="text" id="txtBuyerDisplayName" class="w-2" /> </td>
                            <td>
                               نام کاربری خریدار: <input type="text" id="txtBuyerUserName" class="w-2"/>
                            </td>
                            <td>
                                <label for="chkJustUsersHaveBuy">تنها کاربرانی که خرید داشته اند..</label>
                                <input type="checkbox" id="chkJustUsersHaveBuy" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadBuyesGroupByUser">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnuppExportToExcellBuyesGroupByUser">
                Excport To Excell
            </span>
        </p>


        <table id="BuysGroupByUserGrid"></table>

    </section>
</div>
<!--main-wrapper-->