﻿@model Object
@if(Model!=null)
{
    string caption = string.Empty;
    Guid entityId=Guid.Empty;
    string detailedCode=string.Empty;
    String typeOfEntity=string.Empty;
    
    if (Model is Offtick.Data.Context.ExpertOnlinerContexts.MembershipCountry)
    {
        var country = (Offtick.Data.Context.ExpertOnlinerContexts.MembershipCountry)Model;
         caption = country.CountryName;
         entityId = country.CountryId;
         detailedCode = country.DetailedCode.HasValue ? country.DetailedCode.Value.ToString() : String.Empty;
         typeOfEntity = "MembershipCountry";
    }
    if (Model is Offtick.Data.Context.ExpertOnlinerContexts.MembershipCity)
    {
        var city = (Offtick.Data.Context.ExpertOnlinerContexts.MembershipCity)Model;
        caption = city.CityName;
        entityId = city.CityId;
        detailedCode = city.DetailedCode.HasValue ? city.DetailedCode.Value.ToString() : String.Empty;
        typeOfEntity = "MembershipCity";
    }
    if (Model is Offtick.Data.Context.ExpertOnlinerContexts.MembershipState)
    {
        var state = (Offtick.Data.Context.ExpertOnlinerContexts.MembershipState)Model;
        caption = state.StateName;
        entityId = state.StateId;
        detailedCode = state.DetailedCode.HasValue ? state.DetailedCode.Value.ToString() : String.Empty;
        typeOfEntity = "MembershipState";
    }
    if (Model is Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser)
    {
        var user = (Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser)Model;
        caption = user.UserName;
        entityId = user.UserId;
        detailedCode = user.DetailedCode.HasValue ? user.DetailedCode.Value.ToString() : String.Empty;
        typeOfEntity = "MembershipUser";
    }
    if (Model is Offtick.Data.Context.ExpertOnlinerContexts.Offer)
    {
        var offer = (Offtick.Data.Context.ExpertOnlinerContexts.Offer)Model;
        caption = offer.Title;
        entityId = offer.OfferId;
        detailedCode = offer.DetailedCode.HasValue ? offer.DetailedCode.Value.ToString() : String.Empty;
        typeOfEntity = "Offer";
    }
   
  

 <!-- Modal -->
  <div class="modal fade" id="modalChangeDetailedCode" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h6 style="color:red;"><span class="glyphicon glyphicon-lock"></span>تغییر کد تفضیلی @caption</h6>
        </div>
        <div class="modal-body ">
            <input type="hidden" value="@typeOfEntity" id="hdnEntityType" />
            <input type="hidden" value="@entityId" id="hdnEntityId"/>
            
           

             <div class="panel panel-default text-right">
                <div class="panel-heading "> کد تفضیلی را وارد نمایید</div>
                <div class="panel-body ">
                    <div class="row">
                        <input type="text" id="txtDetailedCode"  value="@detailedCode"/>
                    </div>
       
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <span class="btn btn-default fa fa-floppy-o" id="btnChangeDetailedCode">
                    ارسال
                </span>
        </div>
      </div>
    </div>
  </div> 


}

