﻿@using Offtick.Core.Utility;

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت کد تفضیلی کشورها</h3>

            </header>



            <div class="items-table-container">
                <table class="items-table">
                    <tbody>
                        <tr>
                            <td>نام کشور:<input type="text" id="txtCountry" class="w-2" /> </td>
                            <td>
                                <label for="chkuppEmptyDetailedCode">تنها کشورهایی که کد تفضیلی ندارند.</label>
                                <input type="checkbox" id="chkuppEmptyDetailedCode" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnuppLoadCountries">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnuppExportToExcellCountries">
               Excport To Excell
            </span>
        </p>


        <table id="uppCountryGrid"></table>

    </section>
</div>
<!--main-wrapper-->