﻿@using Offtick.Web.OfftickWeb.Infrustracture 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
        

}
  <link rel="stylesheet" href="@Url.Content("/Content/grid/grid.min.css")">
    <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/grid/grid.min.js")"></script>


<script>
    $(function () {
        $("#menu").menu({
            items: "> :not(.ui-widget-header)"
        });

        $(".accountringPanelEvent").click(function () {
            var panel = $(this).attr('data-panel');
            var urlOfAction = "@Url.Action("LoadPanel","Home",new{area="Accounting"})";

            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ panel: panel, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        $("#adminPanelContainer").html(data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $(document).on('click', '#btnuppLoadCountries', function (e) {

            entityGrid = $('#uppCountryGrid').grid({
                primaryKey: 'CountryId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadCountryForDetailedCode","Home",new{area="Accounting"})",
                autoLoad: false,
                columns: [

                    { width: 200, field: 'CountryName', title: 'Title',sortable: true },
                    { width: 150, field: 'TellCode', title: 'Tell Code',  sortable: true },
                    { width: 120, field: 'DetailedCode', title: 'Detailed Code', sortable: true },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Change Detailed Code', events: { 'click': changeDetailedCode_Country } },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var cdpCountryName = $("#txtCountry").val();
            var cdpOnlyEmptydetailedCode = $("#chkuppEmptyDetailedCode").is(":checked");
            entityGrid.reload({ cdpCountryName: cdpCountryName, cdpOnlyEmptydetailedCode: cdpOnlyEmptydetailedCode });

        });

        $(document).on('click', '#btnuppExportToExcellCountries', function (e) {
            var cdpCountryName = $("#txtCountry").val();
            var cdpOnlyEmptydetailedCode = $("#chkuppEmptyDetailedCode").is(":checked");
            // var urlOfExportToExcell = window.location.host + "@Url.Action("ExportToExcellCountryForDetailedCode", "Home", new { area = "Accounting" })";
            var urlOfExportToExcell ="@Url.Action("ExportToExcellCountryForDetailedCode", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?cdpCountryName=" + cdpCountryName + "&cdpOnlyEmptydetailedCode=" + cdpOnlyEmptydetailedCode;
            window.location = urlOfExportToExcell;
            // window.location.href = urlOfExportToExcell;

          //  window.open(urlOfExportToExcell);
        });

        $(document).on('click', '#btnLoadStates', function (e) {

            entityGrid = $('#gridState').grid({
                primaryKey: 'StateId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadStateForDetailedCode","Home",new{area="Accounting"})",
                autoLoad: false,
                columns: [
                { width: 200, field: 'CountryName', title: 'CountryName', sortable: true },
                { width: 150, field: 'StateName', title: 'StateName', sortable: true },
                { width: 120, field: 'DetailedCode', title: 'Detailed Code', sortable: true },
                { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Change Detailed Code', events: { 'click': changeDetailedCode_State } },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var stateName = $("#txtStateName").val();
            var onlyEmptydetailedCode = $("#chkEmptyDetailedCode").is(":checked");
            entityGrid.reload({ stateName: stateName, onlyEmptydetailedCode: onlyEmptydetailedCode });

        });
        $(document).on('click', '#btnuppExportToExcellStates', function (e) {
            var stateName = $("#txtStateName").val();
            var onlyEmptydetailedCode = $("#chkEmptyDetailedCode").is(":checked");
            var urlOfExportToExcell = "@Url.Action("ExportToExcellStateForDetailedCode", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?stateName=" + stateName + "&onlyEmptydetailedCode=" + onlyEmptydetailedCode;
            window.location = urlOfExportToExcell;
        });

        $(document).on('click', '#btnLoadcities', function (e) {

            entityGrid = $('#gridCity').grid({
                primaryKey: 'CityId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadCityForDetailedCode","Home",new{area="Accounting"})",
                autoLoad: false,
                columns: [
                    { width: 150, field: 'StateName', title: 'StateName', sortable: true },
                     { width: 200, field: 'CityName', title: 'CityName', sortable: true },
                    { width: 120, field: 'DetailedCode', title: 'Detailed Code', sortable: true },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Change Detailed Code', events: { 'click': changeDetailedCode_City } },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var cdpCityName = $("#txtCityName").val();
            var cdpEmptyDetailedCode = $("#chkEmptyDetailedCode").is(":checked");
            entityGrid.reload({ cityName: cdpCityName, onlyEmptydetailedCode: cdpEmptyDetailedCode });

        });

        $(document).on('click', '#btnuppExportToExcellcities', function (e) {
            var cdpCityName = $("#txtCityName").val();
            var cdpEmptyDetailedCode = $("#chkEmptyDetailedCode").is(":checked");
            var urlOfExportToExcell = "@Url.Action("ExportToExcellCityForDetailedCode", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?cityName=" + cdpCityName + "&onlyEmptydetailedCode=" + cdpEmptyDetailedCode;
            window.location = urlOfExportToExcell;
        });

        $(document).on('click', '#btnudpLoadUsers', function (e) {

            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";

            entityGrid = $('#gridEntity').grid({
                primaryKey: 'UserId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadUserForDetailedCode", "Home", new { area = "Accounting" })",
                autoLoad: false,
                columns: [

                    { width: 150, field: 'FirstName', title: 'FirstName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{FirstName}</a>', align: 'center', sortable: true },
                    { width: 150, field: 'LastName', title: 'LastName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{LastName}</a>', align: 'center', sortable: true },
                    { width: 100, field: 'UserName', title: 'UserName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{UserName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'RegisterDateTime', sortable: true },
                    { width: 150, field: 'Email', sortable: true },
                    { width: 50, field: 'MBTI' },
                    { width: 100, field: 'PhoneNumber', sortable: true },
                    { width: 70, field: 'Status' },
                    { width: 120, field: 'DetailedCode', title: 'Detailed Code', sortable: true },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Change Detailed Code', events: { 'click': changeDetailedCode_User } },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var udpName = $("#txtudpName").val();
            var udpUserName = $("#txtudpUserName").val();
            var udpEmail = $("#txtudpEmail").val();
            var udpMBTI = $("#txtudpMBTI").val();
            var udpPhoneNumber = $("#txtudpPhoneNumber").val();
            var onlyEmptyDetailCode = $("#chkudpOnlyEmptyDetailedCode").is(":checked");

            entityGrid.reload({ udpName: udpName, udpUserName: udpUserName, udpEmail: udpEmail, udpMBTI: udpMBTI, udpPhoneNumber: udpPhoneNumber, onlyEmptyDetailCode: onlyEmptyDetailCode });
        });
        $(document).on('click', '#btnuppExportToExcellUsers', function (e) {
            var udpName = $("#txtudpName").val();
            var udpUserName = $("#txtudpUserName").val();
            var udpEmail = $("#txtudpEmail").val();
            var udpMBTI = $("#txtudpMBTI").val();
            var udpPhoneNumber = $("#txtudpPhoneNumber").val();
            var onlyEmptyDetailCode = $("#chkudpOnlyEmptyDetailedCode").is(":checked");

            var urlOfExportToExcell = "@Url.Action("ExportToExcellUserForDetailedCode", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?udpName=" + udpName + "&udpUserName=" + udpUserName + "&udpEmail=" + udpEmail + "&udpMBTI=" + udpMBTI + "&udpPhoneNumber=" + udpPhoneNumber + "&onlyEmptyDetailCode=" + onlyEmptyDetailCode;
            window.location = urlOfExportToExcell;
        });


       $(document).on('click', '#btnLoadOffersForDetailedCode', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";
            var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
           entityGrid = $('#gridEntity').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadOffersForDetailedCode", "Home", new { area = "Accounting" })",
            autoLoad: false,
            columns: [

                { width: 200, field: 'Title', title: 'Title', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '">{Title}</a>', align: 'center', sortable: true },
                { width: 100, field: 'Owner', title: 'Owner', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{UserDisplayName}</a>', align: 'center', sortable: true },
                { width: 120, field: 'DateTime', title: 'Send DateTime', sortable: true },
                { width: 120, field: 'ConfirmDateTime', title: 'Confirm DateTime', sortable: true },
                { width: 50, field: 'HasReport' },
                { width: 85, field: 'IsConfirm', sortable: true },
                { width: 75, field: 'Status' },
                { width: 120, field: 'DetailedCode', title: 'Detailed Code', sortable: true },

                { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Send Message', events: { 'click': changeDetailedCode_Offer } },


            ],
            pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
        });
           var offerType = $("#odpOfferType").val();
           var accountType = $("#odpAccountType").val();
           var confirmStatus = $("#odpConfirmType").val();
           var chkOnlyReported = $("#chkReportedOffer").is(":checked");
           var chkOnlyEmptyDetailedCode = $("#chkOnlyEmptyDetailedCode").is(":checked");

           

           entityGrid.reload({ offerType: offerType, roleType: accountType, confirmStatus: confirmStatus, chkOnlyReported: chkOnlyReported, onlyEmptyDetailCode: chkOnlyEmptyDetailedCode });

        });

        $(document).on('click', '#btnuppExportToExcellOffers', function (e) {
            var offerType = $("#odpOfferType").val();
            var accountType = $("#odpAccountType").val();
            var confirmStatus = $("#odpConfirmType").val();
            var chkOnlyReported = $("#chkReportedOffer").is(":checked");
            var chkOnlyEmptyDetailedCode = $("#chkOnlyEmptyDetailedCode").is(":checked");

            var urlOfExportToExcell = "@Url.Action("ExportToExcellOffersForDetailedCode", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?searchStr=" + "&offerType=" + offerType + "&roleType=" + accountType + "&confirmStatus=" + confirmStatus + "&chkOnlyReported=" + chkOnlyReported + "&onlyEmptyDetailCode=" + chkOnlyEmptyDetailedCode;
            window.location = urlOfExportToExcell;
        });





//start of SaleOffers
        $(document).on('click', '#btnLoadSalesGroupByUser', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={SallerUserName}";
            var strUrlOfAction = "@Url.Action("SoldOfferForUser", "Offer", new { area = "user" })" + "?userName={SallerUserName}";
            entityGrid = $('#SalesGroupByUserGrid').grid({
               primaryKey: 'OfferId',
               uiLibrary: 'jqueryui',
               dataSource: "@Url.Action("LoadSalesGroupByUser", "Home", new { area = "Accounting" })",
                autoLoad: false,
                columns: [
                    { width: 100, field: 'SallerDisplayName', title: 'مالک', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '"> <img src="{SallerFileName}"/></a>', align: 'center', sortable: true },
                    { width: 200, field: 'SallerDisplayName', title: 'مالک', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{SallerDisplayName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'SallerUserName', title: 'مالک', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{SallerUserName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'TotalOffers', title: 'تعداد آفرها', sortable: true, align: 'center' },
                    { width: 120, field: 'TotalSaleAmount', title: 'میزان کل فروش', sortable: true, align: 'center' },
                    { width: 120, field: 'TotalSaledOffersCount', title: 'تعدا کل فروش', sortable: true, align: 'center' },
                    { width: 100, field: '', title: 'جزییات', tmpl: '<a target="_blank" href="' + strUrlOfAction + '"> جزییات</a>', align: 'center', sortable: true },

                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
           });
           var sallerDisplayName = $("#txtSallerDisplayName").val();
           var sallerUserName = $("#txtSallerUserName").val();
           var justUsersHaveSale = $("#chkJustUsersHaveSale").is(":checked");
           entityGrid.reload({ sallerDisplayName: sallerDisplayName, sallerUserName: sallerUserName, justUsersHaveSale: justUsersHaveSale});
       });

        $(document).on('click', '#btnuppExportToExcellSalesGroupByUser', function (e) {
            var sallerDisplayName = $("#txtSallerDisplayName").val();
            var sallerUserName = $("#txtSallerUserName").val();
            var justUsersHaveSale = $("#chkJustUsersHaveSale").is(":checked");

            var urlOfExportToExcell = "@Url.Action("ExportToExcellSaleOffers", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?sallerDisplayName=" + sallerDisplayName + "&sallerUserName=" + sallerUserName + "&justUsersHaveSale=" + justUsersHaveSale;
            window.location = urlOfExportToExcell;
        });
//end of Sale Offers

        //start of BuyOffers
        $(document).on('click', '#btnLoadBuyesGroupByUser', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={BuyerUserName}";
            var strUrlOfAction = "@Url.Action("BuyedOffers", "Offer", new { area = "user" })" + "?userName={BuyerUserName}";
            entityGrid = $('#BuysGroupByUserGrid').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadBuysGroupByUser", "Home", new { area = "Accounting" })",
               autoLoad: false,
               columns: [
                   { width: 100, field: 'BuyerFileName', title: 'عکس خریدار', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '"> <img src="{BuyerFileName}"/></a>', align: 'center', sortable: true },
                   { width: 200, field: 'BuyerUserName', title: 'نام کاربری خریدار', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{BuyerUserName}</a>', align: 'center', sortable: true },
                   { width: 120, field: 'BuyerDisplayName', title: 'نام خریدار', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{BuyerDisplayName}</a>', align: 'center', sortable: true },
                   { width: 120, field: 'BuyerPhoneNumber', title: 'شماره خریدار', sortable: true, align: 'center' },
                   { width: 120, field: 'BuyerEmail', title: 'ایمیل خریدار', sortable: true, align: 'center' },
                    { width: 120, field: 'TotalBuyAmount', title: 'میزان کل خرید', sortable: true, align: 'center' },
                   { width: 120, field: 'TotalBuyOffersCount', title: 'تعداد کل خرید', sortable: true, align: 'center' },
                   { width: 100, field: '', title: 'جزییات', tmpl: '<a target="_blank" href="' + strUrlOfAction + '"> جزییات</a>', align: 'center', sortable: true },

               ],
               pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var buyerDisplayName = $("#txtBuyerDisplayName").val();
            var buyerUserName = $("#txtBuyerUserName").val();
            var justUsersHaveBuy = $("#chkJustUsersHaveBuy").is(":checked");
            entityGrid.reload({ buyerDisplayName: buyerDisplayName, buyerUserName: buyerUserName, justUsersHaveBuy: justUsersHaveBuy });
        });

        $(document).on('click', '#btnuppExportToExcellBuyesGroupByUser', function (e) {
            var buyerDisplayName = $("#txtBuyerDisplayName").val();
            var buyerUserName = $("#txtBuyerUserName").val();
            var justUsersHaveBuy = $("#chkJustUsersHaveBuy").is(":checked");

            var urlOfExportToExcell = "@Url.Action("ExportToExcellBuysOffers", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?buyerDisplayName=" + buyerDisplayName + "&buyerUserName=" + buyerUserName + "&justUsersHaveBuy=" + justUsersHaveBuy;
            window.location = urlOfExportToExcell;
        });
        //end of Buy Offers

        //start of Voucher
        $(document).on('click', '#btnLoadVoucher', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={BuyerUserName}";
            var strUrlOfAction = "@Url.Action("BuyedOffers", "Offer", new { area = "user" })" + "?userName={BuyerUserName}";
            entityGrid = $('#VouchersGrid').grid({
                primaryKey: 'SaleOrderId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadVouchers", "Home", new { area = "Accounting" })",
                autoLoad: false,
            columns: [
                { width: 120, field: 'AccountCode', title: 'کد حساب', sortable: true, align: 'center' },
                { width: 120, field: 'AccountName', title: 'نام حساب', sortable: true, align: 'center' },
                { width: 120, field: 'Credit', title: 'بستانکار', sortable: true, align: 'center' },
                { width: 120, field: 'Debit', title: 'بدهکار', sortable: true, align: 'center' },
                { width: 120, field: 'Description', title: 'شرح سند', sortable: true, align: 'center' },
                { width: 120, field: 'DetailedCodeLevel1', title: 'کد تفصیلی سطح یک', sortable: true, align: 'center' },
                { width: 120, field: 'DetailedCodeLevel2', title: 'کد تفصیلی سطح دو', sortable: true, align: 'center' },
                { width: 120, field: 'DetailedCodeLevel3', title: 'کد تفصیلی سطح سه', sortable: true, align: 'center' },
                { width: 120, field: 'EnDateTime', title: 'EnDateTime', sortable: true, align: 'center' },
                { width: 120, field: 'FaEnDateTime', title: 'FaEnDateTime', sortable: true, align: 'center' },


                { width: 100, field: '', title: 'جزییات', tmpl: '<a target="_blank" href="' + strUrlOfAction + '"> جزییات</a>', align: 'center', sortable: true },

            ],
            pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
        });
            var detailedCodeLevel1 = $("#txtDetailedCodeLevel1").val();
            var detailedCodeLevel2 = $("#txtDetailedCodeLevel1").val();
            var detailedCodeLevel3 = $("#txtDetailedCodeLevel1").val();
            entityGrid.reload({ detailedCodeLevel1: detailedCodeLevel1, detailedCodeLevel2: detailedCodeLevel2, detailedCodeLevel3: detailedCodeLevel3 });
    });

        $(document).on('click', '#btnExportToExcellVoucher', function (e) {
            var detailedCodeLevel1 = $("#txtDetailedCodeLevel1").val();
            var detailedCodeLevel2 = $("#txtDetailedCodeLevel1").val();
            var detailedCodeLevel3 = $("#txtDetailedCodeLevel1").val();

        var urlOfExportToExcell = "@Url.Action("ExportToExcellVouchers", "Home", new { area = "Accounting" })";
            urlOfExportToExcell = urlOfExportToExcell + "?detailedCodeLevel1=" + detailedCodeLevel1 + "&detailedCodeLevel2=" + detailedCodeLevel2 + "&detailedCodeLevel3=" + detailedCodeLevel3;
        window.location = urlOfExportToExcell;
    });
    //end of Voucher

        $(document).on('click', '#btnChangeDetailedCode', function (e) {
            var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";
        var entityType = "MembershipCountry";
        if ("" == currentUserName) {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }

        var entityType = $("#hdnEntityType").val();
        var entityId = $("#hdnEntityId").val();
        var entityDetailedCode = $("#txtDetailedCode").val();
        var urlOfAction = "@Url.Action("ChangeDetailedCode_JSON", "Home", new { area = "Accounting", })";

        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ entityType: entityType, entityId: entityId, entityDetailedCode: entityDetailedCode }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success" && data && data.ResultStatus) {
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }
                    if (data.ResultStatus == "Success") {
                        $("#modalChangeDetailedCode").parent().remove();
                        if (entityType == "MembershipCountry")
                        {
                            entityGrid.updateRow(entityId, {
                                'CountryName': entityGrid.getById(entityId).CountryName
                                , 'TellCode': entityGrid.getById(entityId).TellCode
                                , 'DetailedCode': entityDetailedCode
                            });
                        }
                        if (entityType == "MembershipCity") {
                            entityGrid.updateRow(entityId, {
                                'CityName': entityGrid.getById(entityId).CityName
                                , 'StateName': entityGrid.getById(entityId).StateName
                                , 'DetailedCode': entityDetailedCode
                            });
                        }
                        if (entityType == "MembershipState") {
                            entityGrid.updateRow(entityId, {
                                'CountryName': entityGrid.getById(entityId).CountryName
                                , 'StateName': entityGrid.getById(entityId).StateName
                                , 'DetailedCode': entityDetailedCode
                            });
                        }
                        if (entityType == "MembershipUser") {
                            entityGrid.updateRow(entityId, {
                                'LastName': entityGrid.getById(entityId).LastName
                                , 'UserName': entityGrid.getById(entityId).UserName
                                , 'RegisterDateTime': entityGrid.getById(entityId).RegisterDateTime
                                , 'Email': entityGrid.getById(entityId).Email
                                , 'MBTI': entityGrid.getById(entityId).MBTI
                                , 'PhoneNumber': entityGrid.getById(entityId).PhoneNumber
                                 , 'Status': entityGrid.getById(entityId).Status
                                , 'DetailedCode': entityDetailedCode
                            });
                        }
                        if (entityType == "Offer") {
                            entityGrid.updateRow(entityId, {
                                'Title': entityGrid.getById(entityId).Title
                                , 'Owner': entityGrid.getById(entityId).Owner
                                , 'DateTime': entityGrid.getById(entityId).DateTime
                                , 'ConfirmDateTime': entityGrid.getById(entityId).ConfirmDateTime
                                , 'HasReport': entityGrid.getById(entityId).HasReport
                                , 'IsConfirm': entityGrid.getById(entityId).IsConfirm
                                , 'Status': entityGrid.getById(entityId).Status
                                ,'DetailedCode': entityDetailedCode
                            });
                        }

                    }

                    if (data.ResultStatus == "ExpiredSession") {
                        var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                        urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                        $(location).attr('href', urlOfLogin);
                    }
                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
    });


    });



    var entityGrid, offerGrid, profileGrid;

    function changeDetailedCode_Country(e) {
        changeDetailedCode(e, "MembershipCountry");
    }
    function changeDetailedCode_City(e) {
        changeDetailedCode(e, "MembershipCity");
    }
    function changeDetailedCode_State(e) {
        changeDetailedCode(e, "MembershipState");
    }
    function changeDetailedCode_User(e) {
        changeDetailedCode(e, "MembershipUser");
    } 
    function changeDetailedCode_Offer(e) {
        changeDetailedCode(e, "Offer");
    }


    function changeDetailedCode(e,typeOfEntity) {
        var  entityId = e.data.id;
        var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";
        var entityType = typeOfEntity;
        if ("" == currentUserName) {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        var urlOfAction = "@Url.Action("ChangeDetailedCode", "Home", new { area = "Accounting", })";


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ entityId: entityId, entityType: entityType }),
            dataType: 'html',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    showMessage(data);
                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                showMessage(errorMessage + xhr.toString() + textStatus);
            }
        });
    }
    function ConfirmOffer(e) {

        var offerId = e.data.record.OfferId;
        var IsConfirm = e.data.record.IsConfirm;

        var urlOfAction = "@Url.Action("ToggleConfirmOffer","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ offerId: offerId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var isConfirm = "NotConfirmed";
                        if (e.data.record.IsConfirm == "NotConfirmed" || e.data.record.IsConfirm == "NotDecide")
                            isConfirm = "Confirmed";
                        offerGrid.updateRow(offerId, {
                            'OfferId': offerId
                            , 'Title': e.data.record.Title
                            , 'UserName': e.data.record.UserName
                            , 'UserDisplayName': e.data.record.UserDisplayName
                            , 'DateTime': e.data.record.DateTime
                            , 'HasReport': e.data.record.HasReport
                            , 'IsConfirm': isConfirm
                            , 'Status': e.data.record.Status
                        });
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
    }

    function SuspendReleaseOffer(e) {
        //  if (confirm('Are you sure?')) {
        var offerId = e.data.record.OfferId;
        var IsConfirm = e.data.record.IsConfirm;


        var urlOfAction = "@Url.Action("ToggleSuspendOffer","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ offerId: offerId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var offerStatus = "Running";
                        if (e.data.record.Status == "Running")
                            offerStatus = "Suspended";
                        offerGrid.updateRow(offerId, {
                            'OfferId': offerId
                            , 'Title': e.data.record.Title
                            , 'UserName': e.data.record.UserName
                            , 'UserDisplayName': e.data.record.UserDisplayName
                            , 'DateTime': e.data.record.DateTime
                            , 'HasReport': e.data.record.HasReport
                            , 'IsConfirm': e.data.record.IsConfirm
                            , 'Status': offerStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }


    function SuspendReleaseUser(e) {
        //  if (confirm('Are you sure?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("ToggleUserStatus","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ UserId: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var userStatus = "Active";
                        if (e.data.record.Status == "Active")
                            userStatus = "InActive";
                        userGrid.updateRow(userId, {
                            'UserId':e.data.record.UserId
                            , 'FirstName': e.data.record.FirstName
                            , 'LastName': e.data.record.LastName
                            , 'UserName': e.data.record.UserName
                            , 'RegisterDateTime': e.data.record.RegisterDateTime
                            , 'Email': e.data.record.Email
                            , 'MBTI': e.data.record.MBTI
                            , 'PhoneNumber': e.data.record.PhoneNumber
                            , 'Status': userStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }

    function SuspendReleaseProfile(e) {
        //  if (confirm('Are you sure?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("ToggleProfileStatus","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ UserId: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var profileStatus = "Confirmed";
                        if (e.data.record.ProfileStatus == "Confirmed")
                            profileStatus = "NotConfirmed";
                        profileGrid.updateRow(userId, {
                            'UserId': e.data.record.UserId
                            , 'FirstName': e.data.record.FirstName
                            , 'LastName': e.data.record.LastName
                            , 'UserName': e.data.record.UserName
                            , 'RegisterDateTime': e.data.record.RegisterDateTime
                            , 'Email': e.data.record.Email
                            , 'MBTI': e.data.record.MBTI
                            , 'PhoneNumber': e.data.record.PhoneNumber
                            , 'Status': e.data.record.Status
                            , 'ProfileStatus': profileStatus
                            , 'MainPagePublishStatus': e.data.record.MainPagePublishStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }
    function ConfirmNotConfirmPublishOnMainPage(e) {
        //  if (confirm('Are you sure?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("TogglePublishOnMainPageStatus","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ UserId: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var mainPagePublishStatus = "Confirmed";
                        if (e.data.record.MainPagePublishStatus == "Confirmed")
                            mainPagePublishStatus = "NotConfirmed";
                        profileGrid.updateRow(userId, {
                            'UserId': e.data.record.UserId
                            , 'FirstName': e.data.record.FirstName
                            , 'LastName': e.data.record.LastName
                            , 'UserName': e.data.record.UserName
                            , 'RegisterDateTime': e.data.record.RegisterDateTime
                            , 'Email': e.data.record.Email
                            , 'MBTI': e.data.record.MBTI
                            , 'PhoneNumber': e.data.record.PhoneNumber
                            , 'Status': e.data.record.Status
                            , 'ProfileStatus': e.data.record.ProfileStatus
                            , 'MainPagePublishStatus': mainPagePublishStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }


</script>

<script src="@Url.Content("~/Content/js/adminPanelScript.js")"></script>
  <style>
  .ui-menu { width: 200px; }
  .ui-widget-header { padding: 0.2em; }
  </style>


@* <div class="col-container">
		<section class="layout">
			<div class="col">
                <ul id="menu">
                  <li class="ui-widget-header"><div>مدیریت</div></li>
                  <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="UserManagementPanel"> کاربران</div></li>
  
                  <li class="ui-widget-header"><div>سرویس</div></li>
                  <li><div>پیام کوتاه</div></li>
                </ul>
			</div>
            <div class="col">
                    <div id="adminPanelContainer" class="text-right"/>
            </div>

		  </section> 
	</div>*@



	 <div class="items-table-container">
		<table class="items-table">
			<tbody>
				<tr>
                    <td style="width:10%">
                          <ul id="menu">
                              <li class="ui-widget-header"><div>کد تفضیلی</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="CountryDetailedPanel"> کشور</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="StateDetailedPanel"> استان</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="CityDetailedPanel"> شهر</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="UserDetailedPanel"> کاربران</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="OfferDetailedPanel"> آفرها</div></li>
  
                              <li class="ui-widget-header"><div>گزارشات</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="SalesPanel">فروش ها</div></li>
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="BuysPanel">خرید ها</div></li>
@*                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="AccountsPanel">حساب ها</div></li>*@
                              <li><div class="btn btn-primary accountringPanelEvent" data-panel="VoucherPanel"> تراکنش های Voucher</div></li>
                            @*  <li><div>ایمیل</div></li>
                              <li><div>بانک</div></li>*@
                            </ul>
                    </td>
                    <td style="text-align:right;">
                         <div id="adminPanelContainer" class="text-right"/>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>


