﻿@using Offtick.Core.Utility;

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت  کد های تفصیلی آفرهای سامانه</h3>

            </header>
            <main class="article-body">
                <div class="items-table-container">
                    <table class="items-table">
                        <tbody>
                            <tr>
                                <td>نوع </td>
                                <td>
                                    <select id="odpOfferType" class="w-0">
                                        <option selected="selected" value="0">تمامی آفرها</option>
                                        <option value="5">آفر عکس</option>
                                        <option value="7">آفر فیلم</option>
                                        <option value="6">آفر فروش</option>
                                        <option value="8">آفر تور</option>
                                    </select>
                                </td>

                                <td>شخص</td>
                                <td>
                                    <select id="odpAccountType" class="w-0">
                                        <option selected="selected" value="0">تمامی اشخاص</option>
                                        <option value="1"> شخصی</option>
                                        <option value="2">شرکت</option>
                                        <option value="9">رستوران</option>
                                        <option value="8">کاربر گزارشات</option>
                                        <option value="64">کاربر مدیر</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>وضعیت</td>
                                <td>
                                    <select id="odpConfirmType" class="w-0">
                                        <option selected="selected" value="0">تمامی آفرها</option>
                                        <option value="1"> تصمیم گیری نشده</option>
                                        <option value="2"> تایید شده</option>
                                        <option value="3">تایید نشده</option>
                                    </select>
                                </td>
                                <td>
                                    <label for="chkReportedOffer">تنها آفرهایی که گزارش شده اند</label>
                                    <input type="checkbox" id="chkReportedOffer" />
                                </td>
                                <td>
                                    <label for="chkOnlyEmptyDetailedCode">تنها آفرهایی که کد تفصیلی ندارند.</label>
                                    <input type="checkbox" id="chkOnlyEmptyDetailedCode" />
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadOffersForDetailedCode">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnuppExportToExcellOffers">
                Excport To Excell
            </span>
        </p>
      
        <table id="gridEntity"></table>

    </section>
</div>
<!--main-wrapper-->