﻿@using Offtick.Core.Utility;

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل گزارش فروش به تفکیک فروشنده ها</h3>

            </header>



            <div class="items-table-container">
                <table class="items-table">
                    <tbody>
                        <tr>
                             <td>نام فروشنده:<input type="text" id="txtSallerDisplayName" class="w-2" /> </td>
                            <td>
                               نام کاربری فروشنده: <input type="text" id="txtSallerUserName" class="w-2"/>
                            </td>
                            <td>
                                <label for="chkJustUsersHaveSale">تنها کاربرانی که فروش داشته اند..</label>
                                <input type="checkbox" id="chkJustUsersHaveSale" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadSalesGroupByUser">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnuppExportToExcellSalesGroupByUser">
                Excport To Excell
            </span>
        </p>


        <table id="SalesGroupByUserGrid"></table>

    </section>
</div>
<!--main-wrapper-->