﻿@using Offtick.Core.Utility;

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت کد تفضیلی استانها</h3>

            </header>



            <div class="items-table-container">
                <table class="items-table">
                    <tbody>
                        <tr>
                            <td>نام استان:<input type="text" id="txtStateName" class="w-2" /> </td>
                            <td>
                                <label for="chkEmptyDetailedCode">تنها شهرهایی که کد تفضیلی ندارند.</label>
                                <input type="checkbox" id="chkEmptyDetailedCode" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadStates">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnuppExportToExcellStates">
                Excport To Excell
            </span>
        </p>


        <table id="gridState"></table>

    </section>
</div>
<!--main-wrapper-->