﻿@using Offtick.Core.Utility;

<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت کد تفصیلی کاربران</h3>

            </header>
            <div class="items-table-container">
                <table class="items-table">
                    <tbody>
                        <tr>
                            <td>نام شخص یا شرکت:<input type="text" id="txtudpName" class="w-2" /> </td>
                            <td>نام کاربری:<input type="text" id="txtudpUserName" class="w-2" /> </td>
                            <td>ایمیل:<input type="text" id="txtudpEmail" class="w-2" /> </td>
                        </tr>
                        <tr>
                            <td>مشخصه MBTI: <input type="text" id="txtudpMBTI" class="w-1" /></td>
                            <td> شماره تلفن: <input type="text" id="txtudpPhoneNumber" class="w-2" /></td>
                            <td>
                                <label for="chkudpOnlyEmptyDetailedCode">تنها کاربرانی که کد تفصیلی ندارند</label>
                                <input type="checkbox" id="chkudpOnlyEmptyDetailedCode" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnudpLoadUsers">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnuppExportToExcellUsers">
                Excport To Excell
            </span>
        </p>


        <table id="gridEntity"></table>

    </section>
</div>
<!--main-wrapper-->