﻿<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل گزارش تراکنش های حسابداری دوبل</h3>

            </header>



            <div class="items-table-container">
                <table class="items-table">
                    <tbody>
                        <tr>
                            <td> کد تفصیلی سطح یک:<input type="text" id="txtDetailedCodeLevel1" class="w-1" /> </td>
                            <td> کد تفصیلی سطح دو:<input type="text" id="txtDetailedCodeLevel2" class="w-1" /> </td>
                            <td> کد تفصیلی سطح سه:<input type="text" id="txtDetailedCodeLevel3" class="w-1" /> </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </article>

        <p>
            <span class="btn btnC w-1" id="btnLoadVoucher">
                بارگزاری مجدد
            </span>
            <span class="btn btnC w-2" id="btnExportToExcellVoucher">
                Excport To Excell
            </span>
        </p>


        <table id="VouchersGrid"></table>

    </section>
</div>
<!--main-wrapper-->