﻿
@model Offtick.Web.OfftickWeb.Areas.User.Models.ChangeUserNameModel 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "تغییر نام کاربری ناموفق می باشد، ابتدای خطاهای زیر را برطرف نمایید.")
<div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>تغییر کلمه عبور</h3>

                    </header>
                    <main class="article-body">
                       <p>
                            کلمه عبور جدید باید حداقل 6 کاراکتر طول داشته باشد.
                       </p>
                            <fieldset>
                                <legend>اطلاعات حساب</legend>

                                <div class="items-table-container">
		                            <table class="items-table">
			                            <tbody>
				                            <tr>
                                                <td class="w-3">@Html.LabelFor(m => m.UserName)</td>
                                                <td>
                                                    @Html.TextBoxFor(m => m.UserName, new { @Class = "w-0" ,id="txtUserName",disabled="disabled"})<br />
                                                    @Html.ValidationMessageFor(m => m.UserName)
                                                </td>
				                            </tr>
                                           <tr>
                                                <td class="w-3"> @Html.LabelFor(m => m.NewUserName)</td>
                                                <td>
                                                     @Html.TextBoxFor(m => m.NewUserName, new { @Class = "w-0",id="txtNewUserName" })<br />
                                                     @Html.ValidationMessageFor(m => m.NewUserName)
                                                </td>
				                            </tr>
                                            <tr>
                                                <td class="w-3"> @Html.LabelFor(m => m.ReNewUserName)</td>
                                                <td>
                                                     @Html.TextBoxFor(m => m.ReNewUserName, new { @Class = "w-0",id="txtReNewUserName" })<br />
                                                    @Html.ValidationMessageFor(m => m.ReNewUserName)
                                                </td>
				                            </tr>
			                            </tbody>
		                            </table>
	                            </div>

                                <p>
                                    <input type="button" class="btnB" value="تغییر کلمه کاربری" id="btnChangeUserName"/>
                                </p>
                            </fieldset>
                    </main>
                </article>
            </section>
        </div>
    
}