﻿@{
    ViewBag.Title = "غیر فعال سازی اکانت";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userName=Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetUserNameOfCurrentUser();
}
<script>
    $(document).on('dblclick click', '#btnDisableAccount', function (e) {
        var offerId = $(this).parents('div[class="offerContainer"]').first().attr("data-offerId");
        var urlOfAction = "@Url.Action("DisableAccount", "Profile", new { area = "User", })";
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({userName: "@userName" }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            alert(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            $(location).attr('href', urlOfLogin);


                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
       });

</script>

  <div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">
                <h3>غیر فعال سازی اکانت</h3>
            </header>
            <main class="article-body"> 
                        <div class="col-container">
		                <section class="layout">
			                <div class="col">
                                    شما در هر زمانی که مایل باشید می توانید حساب خود را فعال نمایید. برای این منظور تنها کافی است که مرتبه بعد به صورت موفق وارد پنل کاربری خود شوید. وقتی که حساب کاربری خود را غیر فعال میکنید سفارشات شما از صفحه نمایش سامانه برداشته می شوند ولی حذف نمی شوند تا زمانیکه شما مجددا پنل خود را فعال نماییید.
			                </div>
		                    </section> 
	                </div>
                <span class="btn btnB" id="btnDisableAccount" >غیر فعال سازی</span>
            </main>
        </article>
    </section>
</div>
<!--main-wrapper-->
