﻿@model Offtick.Web.OfftickWeb.Models.EditProfileBaseInfoModel
@using Offtick.Core.Utility;

@{
    
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var roleName = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetRoleName(currentUser);
    var configManager = Offtick.Core.Utility.ConfigFactory.GetConfigManager(Offtick.Core.Utility.ConfigManagerType.WebConfig);
    
    }
<script>
    function onSuccessAction(data) {
        if (data.ResultStatus == "Success")
                showMessage("تغییر اطلاعات با موقیت انجام گردید");
            else
             showMessage(data.Error);

    }
    function onFailAction() {
        showMessage('بروز خطا، مجددا سعی نمایید')
    }

</script>
  @using (Ajax.BeginForm("EditProfileChangeInfo", "Profile", new AjaxOptions
  {
      OnSuccess = "onSuccessAction",
      OnFailure = "onFailAction",
  }))
  {
      
      
        <div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>ویرایش اطلاعات پایه کاربر ( این اطلاعات برای سایر کاربران قابل نمایش می باشد)</h3>

                    </header>
                    @if (roleName == configManager.ReadSetting(Offtick.Web.OfftickWeb.Infrustracture.Constants.PersonalNameKey))
                    {

                           <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/jalali.js")"></script>
                        <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar.js")"></script>
                        <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/calendar-setup.js")"></script>
                        <script type="text/javascript" src="@Url.Content("/Content/js/lib/jalali/lang/calendar-fa.js")"></script>



                           <div class="items-table-container">
                                    <table class="items-table">
                                        <tbody>
                                            <tr>
                                                <td><span class="requiredField">
                                                    @Resources.UICaptions.FirstName :
                                                    </span>
                                                </td>
                                                <td> 
                                                     @Html.TextBoxFor(m => m.FirstName, new { @Class = "w-0" })<br />
                                                     @Html.ValidationMessageFor(m => m.FirstName)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                     <span class="requiredField">
                                                        @Resources.UICaptions.LastName :
                                                    </span>
                                                </td>
                                                <td>
                                                         @Html.TextBoxFor(m => m.LastName, new { @Class = "w-0" })
                                                         @Html.ValidationMessageFor(m => m.LastName)
                                                </td>
                                            </tr>
                                            <tr>
                                               <td>
                                                    <span >
                                                        @Resources.UICaptions.PhoneNumber :
                                                    </span>
                                    
                                                </td>
                                                <td>
                                                        @Html.TextBoxFor(m => m.PhoneNumber, new { @Class = "w-0" })
                                                        @Html.ValidationMessageFor(m => m.PhoneNumber)
                                                </td>
                                            </tr>
                                             <tr>
                                                 <td>
                                                    @Resources.UICaptions.Email :
                                                </td>
                                                <td>
                                                        @Html.TextBoxFor(m => m.Email, new { @Class = "w-0" })
                                                        @Html.ValidationMessageFor(m => m.Email)
                                                </td>
                                            </tr>
                                             <tr>
                                                 <td>
                                                    @Resources.UICaptions.Address :
                                                </td>
                                                <td>
                                                        @Html.TextBoxFor(m => m.Address, new { @Class = "w-0" })
                                                        @Html.ValidationMessageFor(m => m.Address)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                      <span >
                                                        @Resources.UICaptions.Gender :
                                                    </span>
                                    
                                                </td>
                                                <td>
                                                        @{
IList<SelectListItem> Genderls = new List<SelectListItem>();
Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
Genderls.Add(new SelectListItem() { Text = "Male", Value = "M" });
Genderls.Add(new SelectListItem() { Text = "Female", Value = "F" });
                                                        }
                                                    @Html.DropDownListFor(m => m.Gender, Genderls, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Gender)
                                                </td>
                                            </tr>
                                           <tr>
                                               <td >
                                                    <span> @Resources.UICaptions.BirthDate :</span>
                                                     <span class="h6">(Example:1370/01/25)</span>
                                                </td>
                                                <td>
                                                      @*<div class="calendar-container">
                                                   <input id="date_input" type="text" name="birthday" class="date_input">
                                                    @Html.TextBoxFor(m => m.BirthDate, htmlAttributes: new { @class = "date_input", name = "birthday", id = "date_input" })
                                                    <input id="date_btn" type="button" class="date_btn">
                                                </div>*@

                                                    @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        <span class="requiredField">
                                                        @Resources.UICaptions.CityId :
                                                    </span>
                                                </td>
                                                <td>
                                                        @Html.DropDownListFor(e => e.CityId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(selectedCityName: string.Empty, allCities: false), new { @class = "dropdownRight w-0", @id = "EditProfileChangeInfoCityId" })
                                                        @Html.ValidationMessageFor(m => m.CityId)
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--items-table-container-->
                    }

                    else if (roleName == configManager.ReadSetting(Offtick.Web.OfftickWeb.Infrustracture.Constants.CompanyNameKey))
                    {
                            <div class="items-table-container">
                                    <table class="items-table">
                                        <tr>
                                            <td>
                                                @Resources.UICaptions.Company :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.FirstName, new { @Class = "w-0" })
                                                     @Html.ValidationMessageFor(m => m.FirstName)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.UICaptions.CompanyMotto :
                                            </td>
                                            <td>
                                                     @Html.TextBoxFor(m => m.LastName, new { @Class = "w-0" })
                                                     @Html.ValidationMessageFor(m => m.LastName)
                                            </td>
                                            </tr>
                        
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.PhoneNumber :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                            </td>
                                        </tr>
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.Email :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.Email, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Email)
                                            </td>
                                        </tr>
                                         <tr>
                                                 <td>
                                                    @Resources.UICaptions.Address :
                                                </td>
                                                <td>
                                                        @Html.TextBoxFor(m => m.Address, new { @Class = "w-0" })
                                                        @Html.ValidationMessageFor(m => m.Address)
                                                </td>
                                            </tr>
                                        <tr>
                                                <td>
                                                    <span class="requiredField">
                                                    @Resources.UICaptions.CityId :
                                                </span>
                                            </td>
                                            <td>
                                            @Html.DropDownListFor(e => e.CityId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(selectedCityName: string.Empty, allCities: false), new { @class = "dropdownRight w-0", @id = "EditProfileChangeInfoCityId" })
                                                    @Html.ValidationMessageFor(m => m.CityId)
                                            </td>
                                        </tr>
                                    </table>
                            </div>                        
                    }


                    else if (roleName == configManager.ReadSetting(Offtick.Web.OfftickWeb.Infrustracture.Constants.ResturantNameKey))
                    {
                            <div class="items-table-container">
                                    <table class="items-table">
                                        <tr>
                                            <td>
                                               Title :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.FirstName, new { @Class = "w-0" })
                                                     @Html.ValidationMessageFor(m => m.FirstName)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                               Long Title :
                                            </td>
                                            <td>
                                                     @Html.TextBoxFor(m => m.LastName, new { @Class = "w-0" })
                                                     @Html.ValidationMessageFor(m => m.LastName)
                                            </td>
                                            </tr>
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.PhoneNumber :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                            </td>
                                        </tr>
                                        <tr>
                                             <td>
                                                @Resources.UICaptions.Email :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.Email, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Email)
                                            </td>
                                        </tr>
                          
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.Domain :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.Domain, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Domain)
                                            </td>
                                        </tr>
                                          <tr>
                                             <td>
                                                @Resources.UICaptions.OfficeAddress :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.Address, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Address)
                                            </td>
                                        </tr>
                                          <tr>
                                                <td>
                                                    <span class="requiredField">
                                                    @Resources.UICaptions.CityId :
                                                </span>
                                            </td>
                                            <td>
                                            @Html.DropDownListFor(e => e.CityId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(selectedCityName: string.Empty, allCities: false), new { @class = "dropdownRight w-0", @id = "EditProfileChangeInfoCityId" })
                                                    @Html.ValidationMessageFor(m => m.CityId)
                                            </td>
                                        </tr>
                  
                                    </table>
                                  </div>
                    }

                    else if (roleName == configManager.ReadSetting(Offtick.Web.OfftickWeb.Infrustracture.Constants.DoctorNameKey))
                    {
              
                            <div class="items-table-container">
                                    <table class="items-table">
                                        <tr>
                                            <td>
                                                @Resources.UICaptions.FirstName :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.FirstName, new { @Class = "w-0" })
                                                     @Html.ValidationMessageFor(m => m.FirstName)
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @Resources.UICaptions.LastName :
                                            </td>
                                            <td>
                                                     @Html.TextBoxFor(m => m.LastName, new { @Class = "w-0" })
                                                     @Html.ValidationMessageFor(m => m.LastName)
                                            </td>
                                            </tr>
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.PhoneNumber :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.PhoneNumber)
                                            </td>
                                        </tr>
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.Email :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.Email, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Email)
                                            </td>
                                        </tr>
                                         <tr>
                                                 <td>
                                                    @Resources.UICaptions.Address :
                                                </td>
                                                <td>
                                                        @Html.TextBoxFor(m => m.Address, new { @Class = "w-0" })
                                                        @Html.ValidationMessageFor(m => m.Address)
                                                </td>
                                            </tr>
                                         <tr>
                                              <td>
                                                @Resources.UICaptions.Gender :
                                            </td>
                                            <td>
                                                     @{
                        IList<SelectListItem> Genderls = new List<SelectListItem>();
                        Genderls.Add(new SelectListItem() { Text = " ", Value = Resources.UICaptions.Gender });
                        Genderls.Add(new SelectListItem() { Text = "Male", Value = "M" });
                        Genderls.Add(new SelectListItem() { Text = "Female", Value = "F" });
                                                      }
                                                    @Html.DropDownListFor(m => m.Gender, Genderls, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.Gender)
                                            </td>
                                        </tr>
                                        <tr>
                                             <td >
                                                 <span> @Resources.UICaptions.BirthDate :</span>
                                            </td>
                                            <td>
                                                @Html.PersianCalenderFor(m => m.BirthDate, "/Content/Images/Calendar.gif")
                                            </td>
                                          </tr>
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.OfficeNumber :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.OfficeNumber, new { @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.OfficeNumber)
                                            </td>
                                        </tr>
                                         <tr>
                                             <td>
                                                @Resources.UICaptions.NezamPezeshkiNumber :
                                            </td>
                                            <td>
                                                    @Html.TextBoxFor(m => m.RegistrationNo, new { placeholder = "Major - Field - Pro Number", @Class = "w-0" })
                                                    @Html.ValidationMessageFor(m => m.RegistrationNo)
                                            </td>
                                        </tr>
                                          <tr>
                                                <td>
                                                    <span class="requiredField">
                                                    @Resources.UICaptions.CityId :
                                                </span>
                                            </td>
                                            <td>
                                            @Html.DropDownListFor(e => e.CityId, Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(selectedCityName: string.Empty, allCities: false), new { @class = "dropdownRight w-0", @id = "EditProfileChangeInfoCityId" })
                                                    @Html.ValidationMessageFor(m => m.CityId)
                                            </td>
                                        </tr>
                                    </table>
                              </div>    
                    }
                     <div >
                      <input type="submit" class="btn btn-primary" value="ثبت مشخصات" />
                    </div>
                </article>
            </section>
        </div>

      
      
     
        
        
           
  }

         

