﻿

@{   
    string actionUrl = Url.Action("EditProfileChangePhotoUploader", "Profile", new { area = "User" });
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    string userImg = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser);

    string fileUploadId = "fileUpload" + Guid.NewGuid().ToString();

  
   
                    
           <div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>@Resources.UICaptions.Picture :</h3>

                    </header>
                    <div>
                           <label for="@fileUploadId" class="btnB"> انتخاب عکس</label>
                            <br /> <br />
                            <img src="@userImg" id="imgFilePicture" style="max-height:160px;max-width:160px" class="btn" />
                            <input type="file" name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="Select File" style="display:none;"  accept="image/*" />
                            <div id="fileName"></div>
                            <div id="fileSize"></div>
                           <br />
                     
                        <br />
                        <span><i class="btn fa fa-upload btnB" onclick="uploadFile()" >   ثبت عکس جدید</i></span>
                        
                        <br />
                        <div id="progressContainerUploadImageOffer" class="progress hide">
                          <div class="progress-bar progress-bar-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="width:40%" id="uploadProgressBar">
                            
                          </div>
                        </div>
                    </div>
                </article>
            </section>
        </div>
          
    }


 <script type="text/javascript">

     $(function () {
         imageBeforeUploading("@fileUploadId", "imgFilePicture");
         $("#divFilePicture").click(function () {
             $("#@fileUploadId").trigger("click");
         });
         $("#imgFilePicture").click(function () {
             $("#@fileUploadId").trigger("click");
         });

     });

        function uploadFile() {

            $("#progressContainerUploadImageOffer").removeClass("hide");
            var fd = new FormData();
            fd.append("@fileUploadId", document.getElementById('@fileUploadId').files[0]);
          

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);

            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                $("#uploadProgressBar").html(percentComplete + "% uploading");
                $("#uploadProgressBar").attr("aria-valuenow", percentComplete);
                $("#uploadProgressBar").css("width", percentComplete + "%");
                // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */

            //alert(evt.target.responseText);
            var serverToClientResponse = JSON.parse(evt.currentTarget.response);
            if (serverToClientResponse) {
                if (serverToClientResponse.ResultStatus == "Success") {

                    $("#fileName").empty();
                    $("#fileSize").empty();
                    $("#uploadProgressBar").empty();
                    
                    showMessage("عکس ذخیره شد");
                }
                else {
                    showMessage("خطا در ارسال عکس به سرور:" + " " + serverToClientResponse.Error);
                }
            }
            else {
                showMessage("خطا در ارسال عکس به سرور، لطفا اتمام جلسه کاری را بررسی نموده و دوباره سعی نمایید.");
            }

        }

        function uploadFailed(evt) {
            showMessage("خطایی در هنگام آپلود عکس رخ داده است، لطفا مجدد سعی نمایید.");
        }

        function uploadCanceled(evt) {
            showMessage("ارسال فایل توسط کاربر کنسل شده است و یا مرورگر قادر به ارسال عکس نمی باشد.");
        }
    </script>