﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.OwnerSpecificationModel

<script>
    $(function () {
         CKEDITOR.replace('txtOwnerSpecification');


         $(document).on('dblclick click', '#btnChangeOwnerSpecification', function (e) {
            
             var urlOfAction = "@Url.Action("EditProfileChangeSpecification", "Profile", new { area = "User", })";
             if (!"@Model.UserName")
                 return;
             $.ajax({
                 type: 'POST',
                 url: urlOfAction,
                 data: JSON.stringify({ specification: CKEDITOR.instances.txtOwnerSpecification.getData(), userName: "@Model.UserName", ResponsibleName: $("#ResponsibleName").val(), ResponsibleEmail: $("#ResponsibleEmail").val(), ResponsiblePhone: $("#ResponsiblePhone").val() }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            showMessage(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            showMessage("به روز رسانی انجام گردید");
                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus);
                }
            });
         });
    });
   

</script>


    



     <div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3> ویرایش اطلاعات مالک، این مشخصات در هر آفر ارسالی از سوی شما برای سایر کاربران نشان داده خواهد شد.</h3>

                    </header>
                    <div class="items-table-container">
                        <table class="items-table">
                            <tbody>
                            <tr>
                                <td> @Resources.UICaptions.ResponsibleName :</td>
                                <td> 
                                    @Html.TextBoxFor(m => m.ResponsibleName, new {@Class="w-3" })<br />
                                    @Html.ValidationMessageFor(m => m.ResponsibleName)

                                </td>
                            </tr>
                            <tr>
                                <td> @Resources.UICaptions.ResponsibleEmail : </td>
                                <td> 
                                        @Html.TextBoxFor(m => m.ResponsibleEmail ,new {@Class="w-3" })<br />
                                    @Html.ValidationMessageFor(m => m.ResponsibleEmail)
                                </td>
                            </tr>
                            <tr>
                                <td> @Resources.UICaptions.ResponsiblePhone :</td>
                                <td> 
                                        @Html.TextBoxFor(m => m.ResponsiblePhone ,new {@Class="w-3" })<br />
                                        @Html.ValidationMessageFor(m => m.ResponsiblePhone)
                                </td>
                            </tr>
                                <tr>
                                    <td colspan="2">
                                        @Html.TextAreaFor(m=>m.Specification, new {id = "txtOwnerSpecification",  @class="ckeditor",placeholder = "مشخصات مالک", style = "width:100%;height:200px;" })
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--items-table-container-->
                     <div >
                      <input type="button"  id="btnChangeOwnerSpecification" value="ثبت مشخصات" class="btn"  />
                    </div>
                </article>
            </section>
        </div>

