﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
  <link rel="stylesheet" href="@Url.Content("~/Content/AdminStyleSheet.css")" >
    
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    
  
    string updateManageAccountTargetId = "ManageAccountUpdateDiv";
    
}
<script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>



 <div class="main-wrapper single-page">
                <section class="layout">
                     <header class="article-header">

                        <h3> پنل ویرایش اطلاعات </h3>

                    </header>
                   
                <ul class="listCols">
                    <li class="col">
                        <div>
                            @Ajax.ActionLink("ویرایش اطلاعات پایه", "", new {area="User", manageAccountViewName = "Information" }, new AjaxOptions()
                            {
                                InsertionMode= System.Web.Mvc.Ajax.InsertionMode.Replace,
                                UpdateTargetId=updateManageAccountTargetId,
                                Url=Url.Action("EditProfileChangeInfo","Profile", new {area="User", manageAccountViewName = "Information" }),
                
                            })
                        </div>
                        
                    </li>

                    <li class="col">
                         <div>
                               @Ajax.ActionLink("ویرایش عکس", "", new { manageAccountViewName = "Picture" }, new AjaxOptions()
                               {
                                    InsertionMode= System.Web.Mvc.Ajax.InsertionMode.Replace,
                                    UpdateTargetId=updateManageAccountTargetId,
                                    Url=Url.Action("EditProfileChangePhoto", "Profile", new {area="User" }),
                        
                
                               })            
                        </div>
                    </li>
                    <li class="col">
                        <div>
                            @Ajax.ActionLink("ویرایش مشخصات مالک", "", new { manageAccountViewName = "Sepecification" }, new AjaxOptions()
                           {
                                InsertionMode= System.Web.Mvc.Ajax.InsertionMode.Replace,
                                UpdateTargetId=updateManageAccountTargetId,
                                Url=Url.Action("EditProfileChangeSpecification", "Profile", new {area="User" }),
                        
                
                           })
                        </div>
                    </li>
                 </ul>
    
                <div id="@updateManageAccountTargetId">
                    @Html.Action("EditProfileChangePhoto")

                </div>
                    
                   
                </section>
            </div>
        <!--main-wrapper-->
<div style="width:100%;padding-top:10px;" class="text-right">
    <div class="wall text-info h4">
        
    </div>

      
</div>