﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.PersonalModel

@using Offtick.Core.Utility;
@{
    string name=Model!=null? Model.firstName +" "+ Model.lastName:string.Empty;
    
    var otherImgUrlDefault = "/Content/Images/personal128.png";

    string imgUrl = Model != null && !string.IsNullOrEmpty(Model.imageThumbnail) ? Model.imageThumbnail : otherImgUrlDefault;

}
<div style="width:155px;border:1px solid #46464f;flex-align:center;text-align:center;">
    <div>
        @Model.userName
    </div>
    <div style="min-height:128px;min-width:128px">
         <a href="@Url.Action("OtherProfile", "Profile", new { userName=Model.userName})">
             <img src="@imgUrl" />
         </a>
    </div>
    <div>
       <span>@name</span>
       <br />
        <span>@Offtick.Business.Services.Managers.FollowManager.Instance.getFollowTitleForFollowStatus(Model.fallowStatus)</span>
    </div>

</div>

