﻿@model IList<Offtick.Web.OfftickWeb.Areas.User.Models.PersonalModel>

@{ int counter=0;
      int max = Model == null ? 0 : Model.Count();
      
      }

<table class="ControlItemCollectionTable">

@if (Model!=null)
{
        foreach (var controlItem in Model)
            {
                if(counter%5==0)
                {
                        @: <tr>
                            }
                counter++;
                        <td>
              
                            @Html.Partial("FollowerForUserName",controlItem)
                        </td>
   
                    if(counter%5==0 || counter==max)
                {
                        @: </tr>
                            }
         
       
            }
}
    </table>