﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultGallery = Model != null ? Offtick.Business.Services.Managers.GalleryManager.Instance.GetDefaultGallery(Model.UserName) : null;
    var defaultGalleryId = defaultGallery != null ? defaultGallery.GalleryId.ToString() : string.Empty;
    string otherUserName = Model != null ? Model.UserName : string.Empty;
    string queryStringFollow = Request.QueryString["Follow"];
    int tabIndex = string.IsNullOrEmpty(queryStringFollow) || queryStringFollow == "Followers" ? 0 : 1;
    string followerCssClass = tabIndex == 0 ? "class=\"active\"" : string.Empty;
    string followingCssClass = tabIndex == 1 ? "class=\"active\"" : string.Empty;

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    string currentUserName = currentUser != null ? currentUser.UserName : string.Empty;

    
}
<div>
    @Html.Action("ProfileInfoForUserName", "Profile", new { userName =otherUserName, followerUserName = currentUserName })
</div>

<div style="direction:ltr; padding:0px;margin:0px; ">

<ul class="nav nav-tabs">
  <li @Html.Raw(followerCssClass)><a data-toggle="tab" href="#tab1">Followers</a></li>
  <li @Html.Raw(followingCssClass)><a data-toggle="tab" href="#tab2">Followings</a></li>
</ul>

<div class="tab-content">
    @{
        var cssClass = tabIndex == 0 ? " in active" : string.Empty;
    }
  <div id="tab1" class="tab-pane fade  @cssClass">
   @Html.Action("FollowersForUserName", "Profile",new {userName=otherUserName})
  </div>
    @{
        cssClass = tabIndex == 1 ? " in active" : string.Empty;
    }
  <div id="tab2" class="tab-pane fade @cssClass">
          @Html.Action("FollowingsForUserName", "Profile",new {userName=otherUserName})
  </div>

</div>


 </div>