﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser

@{
    string name=string.Empty;
    string addressAgeSex = string.Empty;
    string btnFollowTitle = "Follow";
    if(Model!=null){
        name=Model.FirstName + " " + Model.LastName;
        string gender=string.IsNullOrEmpty( Model.Gender)?" ":Model.Gender.ToUpper().Equals("M")?" ,Male":" ,Female";
        addressAgeSex = string.Format("{0}{1}", Model.BirthDate.HasValue ? ((int)(DateTime.Now.Subtract(Model.BirthDate.Value).Days / 365.2425)).ToString() : "", gender);
        var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
        if(currentUser.Follows.FirstOrDefault(e=>e.UserId==Model.UserId)!=null)
        {
            btnFollowTitle = "Following";
        }
        
    }
        
}
<div id="headerProfile">
    <div id="headerProfileLeft">
        <img src="~/Content/Images/personal128.png" id="imgOtherProfileImg"/>
        <br />
    </div>
    <div id="headerProfileRight">
        <div id="headerProfileNavigator">
            <span>@name</span>
            <br />
            MBTI: INTj
            <br />
            @addressAgeSex
        </div>
        <div>
           
            <button type="button">@btnFollowTitle</button>
            <button type="button" >Send Message</button>

            <table style="float:right">
                <tr>
                    <td>
                        322 photos
                    </td>
                     <td>
                         133 Following
                    </td>
                     <td>
                         143333 Follower
                    </td>
                </tr>
            </table>
        </div>

    </div>
            


  

</div>
 http://www.fypad.com @Url.Action("OtherProfile" ,"Profile",new {userName=Model.UserName})