﻿
   @model string



@{
    ViewBag.Title = "Index";
    TempData["HasApplicationBar"] = false;

    Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser otherUser = null;
    if (Model != null)
    {
        otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(Model);
    }
  

  
}


@if (otherUser != null)
{
    string roleName = string.Empty;
    var roleOfUser = otherUser != null ? otherUser.MembershipUsersInRoles.FirstOrDefault() : null;
    if (roleOfUser != null)
    {
        roleName = roleOfUser.MembershipRole.RoleName;
    }

    var defaultGallery = otherUser != null ? Offtick.Business.Services.Managers.GalleryManager.Instance.GetDefaultGallery(otherUser.UserName) : null;
    var defaultGalleryId = defaultGallery != null ? defaultGallery.GalleryId.ToString() : string.Empty;
    string currentUserName = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUserName();

    bool isSuspend = otherUser.ProfileSetting != null ? otherUser.ProfileSetting.ProfileConfirmStatusId == (int)Offtick.Core.EnumTypes.ConfirmStatus.NotConfirmed : false;

    if (!isSuspend)
    {
        Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.SetOtherUserName(this, Model);

        Layout = "~/Views/Shared/_Layout.cshtml";

        <div id="WallOfferContainer" style="min-height:400px;">
            <input type="hidden" id="hdnProfileOfferTake" value="9" />
            <input type="hidden" id="hdnProfileOfferSkip" value="0" />
            @Html.Action("ProfileOffers", "Offer", new { area = "User", userName = Model, take = 9, skip = 0 })



        </div>




     <div class="more-container">
         <span class="more-contents" id="btnLoadMoreProfileOffers" data-username="@Model" data-appendcontrol="WallOfferContainer">
             موارد بیشتر<i class="fa fa-angle-down" aria-hidden="true"></i>
         </span>
     </div>
    }
    else{
        Layout = "~/Views/Shared/_Layout.cshtml";
            <div class="main-wrapper single-page" style="min-height:400px;">
                    <section class="layout">
                        <article>
                            <header class="article-header">

                                <h3>این سایت تا اطلاع ثانوی معلق گردیده است.</h3>

                            </header>
                            <main class="article-body">  
                            </main>
                        </article>
                    </section>
                </div>
    }

    @*
    <div style="direction:ltr; padding:0px;margin:0px; ">

     
    <fieldset>
        <legend class="legand-caption">گالری</legend>
        <div >
            @Html.Action("ShowGallery", "Gallery", new { area = "User", galleryId = defaultGalleryId })
        </div>
    </fieldset>

    <fieldset>
        <legend class="legand-caption">ارتباطات</legend>
        <div >
           @Html.Action("FollowersForUserName", "Profile",new {userName=otherUser.UserName})

        </div>
    </fieldset>

    <fieldset>
        <legend class="legand-caption">برنامه ها</legend>
        <div >
             @Html.Action("Index", "Application",new {area="User"})
        </div>
    </fieldset>
 
     </div>*@
}






