﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var defaultGallery = Model != null ? Offtick.Business.Services.Managers.GalleryManager.Instance.GetDefaultGallery(Model.UserName) : null;
    var defaultGalleryId = defaultGallery != null ? defaultGallery.GalleryId.ToString() : string.Empty;
    string otherUserName = Model != null ? Model.UserName : string.Empty;

    string roleName = string.Empty;
    var roleOfUser =Model!=null? Model.MembershipUsersInRoles.FirstOrDefault():null;
    if (roleOfUser != null)
    {
        roleName = roleOfUser.MembershipRole.RoleName;
    }

   var currentUser= Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
   string currentUserName=currentUser!=null?currentUser.UserName:string.Empty;
   
       
    
}

@if(Model!=null){
<script>
    $(function () {
        $("#btnLoadMoreOtherWallOffers").click(function () {

            var urlOfAction = "@Url.Action("OtherWallOffers", "Offer", new { area = "User", })";
            $("#hdnOtherWallOfferSkip").val(parseInt($("#hdnOtherWallOfferTake").val()) + parseInt($("#hdnOtherWallOfferSkip").val()));

            var offerTake = $("#hdnOtherWallOfferTake").val();
            var offerSkip = $("#hdnOtherWallOfferSkip").val();

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ userName:"@otherUserName", take: offerTake, skip: offerSkip }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#OtherWallOfferContainer").append(data);

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });
    });
</script>
<div>
    @Html.Action("ProfileInfoForUserName", "Profile", new { userName =otherUserName, followerUserName = currentUserName })
</div>
<div style="direction:ltr; padding:0px;margin:0px; ">
@if (roleName == "Company")
{
    <div>
       @* @Html.Action("GalleriaViewer","ImageGallery",new {area="",galleryId=defaultGalleryId})*@

        @Html.Action("CarouselViewer", "ImageGallery", new { area = "", galleryId = defaultGalleryId })
    </div>
} 
</div>      
<fieldset>
    <legend class="legand-caption">Gallery</legend>
    <div >
        @Html.Action("GalleryImageWrapperCollectionOtherProfile", "Gallery",new {userName=otherUserName,galleryId=defaultGalleryId})
    </div>
</fieldset>
 
  <div class="panel panel-default">
      <div class="panel-body">
          <div class="row" style="min-height:400px;text-align:center;">
            <div class="col-md-12">
      
               <div id="OtherWallOfferContainer">
                <input type="hidden" id="hdnOtherWallOfferTake" value="9" />
                <input type="hidden" id="hdnOtherWallOfferSkip" value="0"/>
                @Html.Action("OtherWallOffers","Offer",new {area="User",userName=otherUserName, take=9,skip=0})
            </div>
            <br />
            <span class="btn btn-default" id="btnLoadMoreOtherWallOffers">
                بارگزاری بیشتر
            </span>
 
        </div>

      </div>
    </div>
     <fieldset>
        <legend class="legand-caption">Connections</legend>
        <div >
           @Html.Action("FollowersForUserName", "Profile",new {userName=Model.UserName})

        </div>
    </fieldset>

    <fieldset>
        <legend class="legand-caption">Applications</legend>
        <div >
              @Html.Action("Index", "Application",new {area="User"})
        </div>
    </fieldset>
 
 </div>
    }