﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    $(function () {
        $(".plusAction").click(function () {
            $(".plusAction").removeClass("btn-info active");
            $(".plusAction").addClass("btn-default");
            $(this).addClass("btn-info active");
        });


        $("#btnPlusAction").click(function () {
            var plusSelectedAction = $(".plusAction.active").data("action");
            var newUrl = "@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_" })" + plusSelectedAction;
            $(location).attr('href', newUrl);

        });
    });


</script>

<div class="row center-block" style="width:30%;">
    <div class="col-md-2">
        <a href="#" class="btn btn-success"  id="btnPlusAction">
            <div>
                <span class="glyphicon glyphicon-ok-sign glyphicon-lg" ></span>
            </div>
        </a>

    </div>
</div>
<br />


@{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    if (currentUser != null)
    {
        var roleEntity = currentUser.MembershipUsersInRoles.FirstOrDefault();
        var configManager = Offtick.Core.Utility.ConfigFactory.GetConfigManager(Offtick.Core.Utility.ConfigManagerType.WebConfig);
        string resuturantRoleName = configManager.ReadSetting(Offtick.Web.OfftickWeb.Infrustracture.Constants.ResturantNameKey);
        string companyRoleName = configManager.ReadSetting(Offtick.Web.OfftickWeb.Infrustracture.Constants.CompanyNameKey);
            
            
         <div class="main-wrapper single-page">
                <section class="layout">
                    <ul class="listCols">
                        @{
                                int counter = 50;
                     
                                <li class="col" style="z-index:@counter;">
                               
                                    <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_photo" })" class="plusAction" data-action="photo">
                                        <div>
                                            <span class="fa fa-picture-o" ></span>
                                            <br /><span class="text-center">عکس</span>
                                        </div>
                                    </a>
                             
                                </li>
                                counter--;
                                
                                 <li class="col" style="z-index:@counter;">
                               
                                    <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_video" })" class="plusAction" data-action="photo">
                                        <div>
                                            <span class="fa fa-film btn-lg" ></span>
                                            <br /><span class="text-center">فیلم</span>
                                        </div>
                                    </a>
                             
                                </li>
                                counter--;
                            
                                <li class="col" style="z-index:@counter;">
                                    <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_snap" })" class="plusAction btn btn-info active " data-action="photo">
                                        <div>
                                            <span class="fa fa-clock-o" ></span>
                                            <br /><span class="text-center"> عکس موقت</span>
                                        </div>
                                    </a>
                                </li>
                                counter--;
                            
                            
                                <li class="col" style="z-index:@counter;">
                                    <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_gallery" })" class="plusAction btn btn-info active " data-action="gallery">
                                        <div>
                                            <span class="fa fa-folder-open" ></span>
                                            <br /><span class="text-center">گالری</span>
                                        </div>
                                    </a>
                             
                                </li>
                                counter--;
                            
                            
                                <li class="col" style="z-index:@counter;">
                                    <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_file" })" class="plusAction btn btn-info active " data-action="file">
                                        <div>
                                            <span class="fa fa-file-text-o" ></span>
                                            <br /><span class="text-center"> فایل</span>
                                        </div>
                                    </a>
                             
                                </li>
                                counter--;
                            
                            
                              

                                
                                
                         if (roleEntity != null && roleEntity.MembershipRole.RoleName.Equals(resuturantRoleName))
                        {
                             
                            @* if (applications != null)
                             {
                                 foreach (var controlItem in applications)
                                 {
                                           
                                                     @Html.Partial("~/Areas/User/Views/Application/ApplicationItemAbstract.cshtml", controlItem)
                                           
                                 }
                             }*@
                             
                                <li class="col" style="z-index:@counter;">
                                    <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_food" })" class="plusAction " data-action="food">
                                        <div>
                                            <span class="glyphicon glyphicon-cutlery glyphicon-lg" ></span>
                                            <br /><span class="text-center"> رستوران و کافه</span>
                                        </div>
                                    </a>
                             
                                </li>
                             counter--;

                        }
                         if (roleEntity != null && roleEntity.MembershipRole.RoleName.Equals(companyRoleName))
                         {
                        <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_tour" })" class="plusAction " data-action="tour">
                                <div>
                                    <span class="fa fa-plane glyphicon-lg" ></span>
                                    <br /><span class="text-center"> تور مسافرتی</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
                        
                         <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_theather" })" class="plusAction" data-action="theather">
                                <div>
                                   <img src="/Content/Images/Applications/theather.png" />
                                    <br /><span class="text-center">تئاتر و هنر</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
                        
                         <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_intertainment" })" class="plusAction" data-action="intertainment">
                                <div>
                                     <img src="/Content/Images/Applications/Intertainment.jpg" />
                                    <br /><span class="text-center">تفریحی و ورزشی</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
               
                         <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_health" })" class="plusAction" data-action="health">
                                <div>
                                     <img src="/Content/Images/Applications/health.jpg" />
                                    <br /><span class="text-center">سلامتی و پزشکی</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
        
                 <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_stuff" })" class="plusAction" data-action="stuff">
                                <div>
                                       <img src="/Content/Images/Applications/stuff.jpg" />
                                    <br /><span class="text-center">کالا</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
                
                    <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_learning" })" class="plusAction" data-action="learning">
                                <div>
                                       <img src="/Content/Images/Applications/learning.jpg" />
                                    <br /><span class="text-center">آموزشی</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
       
                      <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_beauty" })" class="plusAction" data-action="beauty">
                                <div>
                                      <img src="/Content/Images/Applications/beauty.jpg" />
                                    <br /><span class="text-center">زیبایی و آرایشی</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
       
                     <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_service" })" class="plusAction" data-action="service">
                                <div>
                                       <img src="/Content/Images/Applications/service.jpg" />
                                    <br /><span class="text-center">خدمات</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
                        
                          <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_builing" })" class="plusAction" data-action="builing">
                                <div>
                                         <img src="/Content/Images/Applications/builing.jpg" />
                                    <br /><span class="text-center">مسکن</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
    
                          <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_car" })" class="plusAction" data-action="car">
                                <div>
                                         <img src="/Content/Images/Applications/car.png" />
                                        <br /><span class="text-center">ماشین</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;
                        
                         <li class="col" style="z-index:@counter;">
                            <a href="@Url.Action("PlusAction", "Profile", new { area = "User", selectedAction = "plus_special" })" class="plusAction" data-action="special">
                                <div>
                                        <img src="/Content/Images/Applications/spetial.jpg" />
                                    <br /><span class="text-center">ویژه</span>
                                </div>
                            </a>
                             
                        </li>
                             counter--;




                         }
                }
            </ul>
                   
        </section>
         </div>
<!--main-wrapper-->
    }
}
  
   
