﻿@model Offtick.Web.OfftickWeb.Areas.User.Models.ProfileHeaderInfo

@{
    string name=string.Empty;
    string addressAgeSex = string.Empty;
    string btnFollowTitle = "Follow";
    string currentUserName = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser()!=null?Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser().UserName:string.Empty;
    string imgUrl="/Content/Images/personal128.png";
    string mbtiResult = string.Empty;
    Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser otherUser = null;
    string roleName = string.Empty;
    string userName =  string.Empty;         

    Offtick.Business.Web.MvcMenu.MenuItem menuItem = null;

    
    if(Model!=null){

        userName = Model.userName;
        btnFollowTitle = Model.fallowStatus == 0 ? @"Follow" : "Following";
        addressAgeSex = string.Format("{0} {1}", Model.age>0?Model.age.ToString(): " ",!string.IsNullOrEmpty(Model.gender)?","+Model.gender: " ");
        if (!string.IsNullOrEmpty(Model.imageThumbnail))
        {
            imgUrl = Model.imageThumbnail;
        }


        otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(Model.userName);
         var mbtiObject=Offtick.Business.Services.Managers.ApplicationManager.Instance.GetMBTIResultForUser(otherUser);

         if (Offtick.Business.Services.Managers.ApplicationManager.Instance.isValidAnswersForMBTI(otherUser))
            {
             mbtiResult = mbtiObject!=null?mbtiObject.Result:string.Empty;
            }
        var roleOfUser = otherUser.MembershipUsersInRoles.FirstOrDefault();
        if (roleOfUser != null)
        {
            roleName = roleOfUser.MembershipRole.RoleName;
        }

        if (roleName == "Resturant" || roleName == "Company")
        {
            name = Model.lastName;
        }
        else
        {
            name =  Model.firstName + " " + Model.lastName;
        }


      
    }
        
}

<script >
   

   
    var followStatus = "@(Model!=null ?(short)Model.fallowStatus:0)"; 

     function fillWithProfileInfo(profileInfo) {
         followStatus = profileInfo.fallowStatus;
            $("#lblNameOfProfile").text(profileInfo.firstName + " " + profileInfo.lastName);
            $("#addressAgeSex").text(profileInfo.sex);
            $("#btnFollowOtherTitle").text(getFollowTitleForFollowStatus(profileInfo.fallowStatus));
            $("#btnPostCounts").text(profileInfo.countOfPost);
            $("#btnFollowingCounts").text(profileInfo.countOfFollowing);
            $("#btnFollowerCounts").text(profileInfo.countOfFollower);
        }
    function getFollowTitleForFollowStatus(fStatus){
        switch (fStatus)
        {
            case 2:
                return "Following";
            case 3:
                return "Rejected";
            case 1:
                return "Requested";
            case 0:
            default:
                return "Follow";
        }
    }
    $(function () {
        $("#btnFollowOther").click(function () {
            var urlOfAction = "";
            if (followStatus ==0 ) 
                urlOfAction = ' @Url.Action("RequestAFollowFor", "Profile")'
            else if (followStatus == 2) 

                urlOfAction = ' @Url.Action("RemoveAFollowFor", "Profile")'

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ userName:"@currentUserName", followingUserName:"@userName" }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data && data.ResultStatus) {
                            if (data.ResultStatus == "ExpiredSession") {
                                var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                                urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                                $(location).attr('href', urlOfLogin);
                            }
                            if (data.ResultStatus == "Success") {
                                var profileInfo = data.DataObject.Data;
                                fillWithProfileInfo(profileInfo);
                            }
                        }
                        
                    }
                    
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
                
        });


    });

</script>

  
                                


    
         @*<a href="@Url.Action("OtherProfile", "Profile", new {area="User", userName = userName })" style="text-decoration:none">
        <img src="@imgUrl" id="imgOtherProfileImg" style="max-height:64px;max-width:64px;"/>
             </a>*@
         

    
        
        @*<a href="@Url.Action("FollowsForUserName", "Profile", new { userName = userName, follow = "Followings" })" class="btn btn-default" id="lnkViewFollowingsForuserName" ><div  > ) <br /> دنبال شونده</div></a>
        <a href="@Url.Action("FollowsForUserName", "Profile", new { userName = userName, follow = "Followers" })" class="btn btn-default" id="lnkViewFollowerForuserName"><div  >  <br /> دنبال کننده</div></a>
    *@






 
         <div class="followers-container">
            <section class="layout">

                <div class="followers-count-container">
                    <ul>
                        <li>
                            @Html.Label(Model.countOfFollower.ToString(), new { id = "btnFollowerCounts",Class="counter" })
                            <span class="title">Followers</span>
                        </li>
                        <li>
                            @Html.Label(Model.countOfFollowing.ToString(), new { id = "btnFollowingCounts",Class="counter" })
                            <span class="title">Followings</span>
                        </li>
                        <li>
                            @Html.Label(Model.countOfPost.ToString(), new { id = "btnPostCounts",Class="counter" })
                            <span class="title">Photos</span>
                        </li>
                    </ul>
                </div>
                <!--followers-count-coontainer-->

                 @if (currentUserName != userName)
                    {
                            
                        <div class="followers-button-container">
                            <a href="@Url.Action("Index", "Conversation", new { otherUserName = otherUser.UserName })" class="send-message-button">
                                Send Message
                                <i class="fa fa-commenting" aria-hidden="true"></i>
                            </a>
                    
                    
                            <a href="#" class="follow-button" id="btnFollowOther">
                                <span id="btnFollowOtherTitle"> @btnFollowTitle</span>
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--followers-button-coontainer-->
                    }
                

                <div class="slider-title-container">
                    <h4 class="slider-title">@name</h4>
                </div>

            </section>
        </div>
        <!--followers-container-->
   