﻿
   @model string


@{
    ViewBag.Title = "Index";
    
    Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser otherUser = null;
    if(Model!=null){
        otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(Model);
        string logoUrl = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(otherUser.UserId, otherUser.Picture);


        


    

      

           <div class="profile-menu-bar">
                <section class="layout">
                    <div class="company-logo-container">
                        <img src="@logoUrl" alt="company-logo" style="max-width:69px;max-height:50px">
                    </div>
                    <!--company-logo-container-->


                    <div class="slider-title-container">
                        <h4 class="slider-title">@otherUser.FirstName</h4>
                    </div>
                    <!--slider-title-container-->
                    <!--profile-links-->

                    @Html.Partial("~/Areas/User/Views/Profile/ProfileMenu.cshtml",otherUser)
               


                </section>
            </div>
            <!--profile-menu-->
    }
}

     


       
