﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@{
    Offtick.Business.Web.MvcMenu.MenuItem menuItem = null;
    string userName = string.Empty;
    if(Model!=null)
    {
        userName = Model.UserName;
        menuItem = Offtick.Business.Web.MvcMenu.MVCMenuBuilder.ConvertToMenuItem(((ICollection<Offtick.Data.Context.ExpertOnlinerContexts.Menu>)(Model.Menus)).Where(e => e.ParentId == null && !e.IsSystemMenu).ToList());
        
    }
}

@functions{
    public string createMenu(Offtick.Business.Web.MvcMenu.MenuItem mnu,string userName)
    {
        string result = string.Empty;
        if(mnu.IsRoot)
        {
            foreach(var childMenu in mnu.MenuChilds)
            {
                if (childMenu.IsParent)
                {
                    result += "<div class=\"btn-group\">" +
                         "<button type=\"button\" class=\"btn btn-default dropdown-toggle\" data-toggle=\"dropdown\">"
                            +childMenu.Title+ " <span class=\"caret\"></span></button>"
                          + "<ul class=\"dropdown-menu\" role=\"menu\">";

                    foreach (var mn in childMenu.MenuChilds)
                    {
                        if (mn.IsParent)
                            result += createMenu(mn,userName);
                        else
                        {
                            string href = mn.IsDirectLink ? mn.LinkUrl : "/User/Profile/ShowContent?menuId=" + mn.MenuId + "&userName=" + userName;
                                string glyphIcon = !string.IsNullOrEmpty(mn.ImageUrl) ? "<i class=\"fa " + mn.ImageUrl + "\"></i>" : string.Empty;
                                result += "<li><a class=\"btn btn-default\" target=\"_blank\" href=\"" + href + "\">" + glyphIcon + mn.Title + "</a></li>";
                        }

                    }
                    result += "</ul>"
                   + "</div>";
                }
                else
                {
                    string href = childMenu.IsDirectLink ? childMenu.LinkUrl : "/User/Profile/ShowContent?menuId=" + childMenu.MenuId + "&userName=" + userName;
                    string glyphIcon = !string.IsNullOrEmpty(childMenu.ImageUrl) ? "<i class=\"fa " + childMenu.ImageUrl + "\"></i>" : string.Empty;
                    result += "<a type=\"button\"  target=\"_blank\" class=\"btn btn-default\" href=\""+href+"\">" +glyphIcon+ childMenu.Title + "</a>";

                }
            }
        }
       
        return result;
    }

    public string createMenu2(Offtick.Business.Web.MvcMenu.MenuItem mnu, string userName)
    {
        string result = string.Empty;
       
        if (mnu.IsParent)
        {
            result += "<li class=\"has-children\">" +
            "<a href=\"#\">" + mnu.Title + "</a>" +
            "<ul class=\"submenu\">";
            foreach(var subMenu in mnu.MenuChilds)
            {
                result += createMenu2(subMenu, userName);
            }
            result += "</ul>" +
                        "</li>";
                            
        }
        else
        {
            string href = mnu.IsDirectLink ? mnu.LinkUrl : "/User/Profile/ShowContent?menuId=" + mnu.MenuId + "&userName=" + userName;
            string glyphIcon = !string.IsNullOrEmpty(mnu.ImageUrl) ? "<i class=\"fa " + mnu.ImageUrl + "\"></i>" : string.Empty;
            result += "<li><a target=\"_blank\" href=\"" + href + "\">" + glyphIcon + mnu.Title + "</a></li>";
        }
        return result;
    }
    
    
}

@if(menuItem!=null)
{
        
   @* <div class="btn-group">
        @Html.Raw(createMenu(menuItem,userName))
    </div>*@
    
    <nav class="company-nav" id="companyNav">
    <ul class="company-menu">
      @foreach (var item in menuItem.MenuChilds)
      {
          @Html.Raw(createMenu2(item, userName));
      }
    </ul>
</nav>
<!--company-nav-->
}



 

@* 
    Template
<nav class="company-nav" id="companyNav">
    <ul class="company-menu">
        <li><a href="#">item</a></li>
        <li class="has-children">
            <a href="#">item</a>
            <ul class="submenu">
                <li><a href="#">sub-item</a></li>
                <li class="has-children">
                    <a href="#">sub-item</a>
                </li>
                <li><a href="#">sub-item</a></li>
                <li><a href="#">sub-item</a></li>
            </ul>
        </li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
        <li><a href="#">item</a></li>
    </ul>
</nav>
<!--company-nav-->*@