﻿@using Offtick.Web.OfftickWeb.Infrustracture 
<script type="text/javascript">
    var adminPanelSmsSend = "@Url.Action("MagfaSmsSendTextMessage", "Home", new { area="Admin"})";
    var loginUserName= "@GeneralHelper.GetUserNameOfCurrentUser()";

    function showMessage(messageText,showOkBtn) {
        var divAlert = document.createElement("div");
        $(divAlert).html(messageText);
        if (showOkBtn == true) {
            $(divAlert).dialog({
                buttons: {
                    OK: function () {
                        $(this).dialog("close");
                    }
                }
            });
        } else {
            $(divAlert).dialog();
        }
       
    }
    function showMessageModal(htmlText) {
        var divAlert = document.createElement("div");
        
        $(divAlert).html(htmlText);
        
        $(divAlert).dialog({
            resizable: false,
            zIndex: 9999,
            modal: true,
            open: function (event, ui) {
                //do nothing
                $(".ui-dialog").css("z-index", 9999);
            },
            buttons: {
                OK: function () {
                    $(this).dialog("close");
                }
            }
        });
        $(divAlert).dialog("moveToTop");
    }

    function formatMoney(n, currency) {// example: formatMoney(1234, "$")
        return currency + " " + n.toFixed(0).replace(/./g, function (c, i, a) {
            return i > 0 && c !== "." && (a.length - i) % 3 === 0 ? "," + c : c;
        });
    }

    function postAction(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key) && (typeof params[key] !== "undefined")) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }

    function getFollowTitleForFollowStatus(fStatus) {
        switch (fStatus) {
            case 2:
                return "Following";
            case 3:
                return "Rejected";
            case 1:
                return "Requested";
            case 0:
            default:
                return "Follow";
        }
    }

    $.singleDoubleClick = function (singleClk, doubleClk) {
        return (function () {
            var alreadyclicked = false;
            var alreadyclickedTimeout;

            return function (e) {
                if (alreadyclicked) {
                    // double
                    alreadyclicked = false;
                    alreadyclickedTimeout && clearTimeout(alreadyclickedTimeout);
                    doubleClk && doubleClk(e);
                } else {
                    // single
                    alreadyclicked = true;
                    
                    alreadyclickedTimeout = setTimeout(function () {
                        alreadyclicked = false;
                        singleClk && singleClk(e);
                    }, 300);
                }
            }
        })();
    }

    $(function () {
        initializeLibrary();
        loadTextModeOffers();

        function initializeLibrary() {
            //this coindition checks if content of offer in wall page bellow that 10, then hide show more buttons
            if ($("#WallOfferContainer").children("div").length < 10) {
                $("#btnLoadMoreWallOffers").toggle(false);
            }
        }

        function loadTextModeOffers() {
            var $myDiv = $('#mainPageTextOffers');

            if ($myDiv.length) {
                var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";
                var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
                offerGrid = $('#mainPageTextOffers').grid({
                        primaryKey: 'OfferId',
                        uiLibrary: 'jqueryui',
                        dataSource: "@Url.Action("LoadTourOffersForMainPage","Offer",new{area="User"})",
                    autoLoad: false,
                    columns: [

                        { width: 200, field: 'Title', title: 'عنوان', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '">{Title}</a>', align: 'center', sortable: true },
                        { width: 150, field: 'SourceCity', title: 'شهر مبدا', align: 'center', sortable: true },
                        { width: 120, field: 'DestinationCity', title: 'شهر مقصد',  align: 'center',sortable: true },
                        { width: 50, field: 'AgancyName', title: 'آژانس', align: 'center', sortable: true },
                        { width: 85, field: 'WentDateTime', title: 'تاریخ رفت', align: 'center', sortable: true },
                        { width: 75, field: 'ReturnDateTime', title: 'تاریخ برگشت', align: 'center', sortable: true },
                        { width: 75, field: 'Status', title: 'مدت', align: 'center'},
                        { width: 75, field: 'DiscountPrice', title: 'قیمت', align: 'center', sortable: true },
                        { width: 75, field: 'TravelType', title: 'نوع سفر', align: 'center', sortable: true },
                        { width: 75, field: 'Icon', title: 'آیکون', },
                        { width: 75, field: 'Grade', title: 'رتبه', },
                       
                    ],
                    pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
                });
                
                //var chkOnlyReported = $("#chkReportedOffer").is(":checked");

                offerGrid.reload();
            }
        }
        

       

        function changeValueWithAnimation(elementId, valueOfElement) {
            $(elementId).fadeOut();
            $(elementId).html(valueOfElement);
            $(elementId).fadeIn();
        }
        $(document).ajaxStart(function () {
            //$("#loading").show();
            $("#LoadingIndicator").qspin({
                task: 'add',
                spinnerImage: '@Url.Content("/Content/Images/indicator1.gif")',
                background: 'rgba(255,255,255,1)'
            });
        });
        $(document).ajaxStop(function () {
            $("#LoadingIndicator").qspin({
                task: 'rem',
             });
            //$("#loading").hide();
        });



        $(document).on('dblclick click', '.checkMark', function (e) {
            $(this).toggleClass("fa-square-o");
            $(this).toggleClass("fa-check-square-o");
        });
       
        $(document).on('click', '.item-sales,.item-comments,.item-views,.item-likes', function (e) {
            var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";

            var offerId = $(this).attr("data-offerId");
            var urlOfAction = "";
            if ($(this).hasClass("item-sales"))
                urlOfAction = "@Url.Action("OfferSoldPresenter", "Offer", new { area = "User", })";
            if ($(this).hasClass("item-comments"))
                urlOfAction = "@Url.Action("OfferCommentorPresenter", "Offer", new { area = "User", })";
            if ($(this).hasClass("item-views"))
                urlOfAction = "@Url.Action("OfferVisitedPresenter", "Offer", new { area = "User", })";
            if ($(this).hasClass("item-likes"))
                urlOfAction = "@Url.Action("OfferLikersPresenter", "Offer", new { area = "User", })";


            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        showMessageModal(data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    //showMessageModal(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $(".currencyFa").each(function () {//for each span or entity that has currencyFa class, present currency format
            
            var currencyVal = parseFloat($(this).html());
            var strCurrency = formatMoney(currencyVal, "");

            $(this).html(strCurrency);
        });

        
            $(document).on('click', '.follow-link', function (e) {
            var urlOfAction = "";
            var otherUserName = $(this).attr("data-userName");
            var followStatus = parseInt( $(this).attr("data-followStatus"));

            if (followStatus == 0)
                urlOfAction = ' @Url.Action("RequestAFollowFor", "Profile", new { area="User"})';
            else if (followStatus == 2)

                urlOfAction = ' @Url.Action("RemoveAFollowFor", "Profile",new { area="User"})';
            var follow_linkButton = this;

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ userName: "@GeneralHelper.GetUserNameOfCurrentUser()", followingUserName: otherUserName }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data && data.ResultStatus) {
                            if (data.ResultStatus == "ExpiredSession") {
                                var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                                urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                                $(location).attr('href', urlOfLogin);
                            }
                            if (data.ResultStatus == "Success") {
                                var profileInfo = data.DataObject.Data;
                                followStatus = profileInfo.fallowStatus;
                                $(follow_linkButton).attr("data-followStatus",followStatus);
                                 var statusText = getFollowTitleForFollowStatus(followStatus);
                                //$(follow_linkButton).find("span:first-child").text(getFollowTitleForFollowStatus(followStatus));
                                $(follow_linkButton).find("span:first-child").html(statusText);
                            }
                        }

                    }

                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });

        });

        $(".PreviousStep").click(function () {
            // history.back();
            var previousUrl = $("#btnHiddenPreviousAction").val();
            $(location).attr('href', previousUrl);

        });
        $(".fillLater").click(function (e) {
            
            e.preventDefault();
            var urlOfAction = "@Url.Action("RegisterConfirm3StepsFinal", "Account", new { area=""})";
            var comment = $.url().param('comment');
            var offerId = $.url().param('offerId');
            var requestedAction = $.url().param('requestedAction');
            var returnUrl = $.url().param('returnUrl');
            postAction(urlOfAction, { comment: comment,offerId:offerId,requestedAction:requestedAction, returnUrl: returnUrl }, "post");
          

            
            
           

        });


        $(document).on('onEnter', '.txtComment', function (e) {
            var commentText = $(this).val();
            var offerId = $(this).attr('data-OfferId');


            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                //                alert("ابتدا باید وارد سایت شوید");
                var returnUrl =window.location.href;
                var urlOfAction = "@Url.Action("LoginRegister", "Account", new { area=""})";
                urlOfAction += "?returnUrl=" + returnUrl;
                urlOfAction += "&comment=" + commentText;
                urlOfAction += "&offerId=" + offerId;
                urlOfAction += "&requestedAction=comment";
                e.preventDefault();
                window.open(urlOfAction, "_self", "");
                return;
            }
            if (!commentText || !commentText.trim() ) {
               return;
            }
            var urlOfAction = "@Url.Action("AddCommentForOffer", "Offer", new { area = "User" })";
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", comment: commentText }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        console.log(data);
                        if (data.ResultStatus == "Success") {
                            var commentContainer = $.find('ul.OfferCommentsContainer[data-offerId="' + JSON.parse(this.data).offerId + '"]')[0];
                            //commentSliceContainer = $(commentContainer).find('.OfferCommentsSliceContainer')[0];
                            //



                            var urlOfAction1 = "@Url.Action("SliceCommentForOffer", "Offer", new { area = "User"})";
                            var offerCommentIdToServer=data.DataObject.OfferCommentId;


                            $.ajax({
                                type: 'POST',
                                url: urlOfAction1,
                                data: JSON.stringify({ offerCommentId: offerCommentIdToServer }),
                                dataType: 'html',
                                processData: false,
                                contentType: 'application/json; charset:utf-8',
                                success: function (data1, status1) {
                                    if (status1 == "success" && data1) {
                                        $(commentContainer).append(data1);
                                    }
                                },
                                error: function (xhr, textStatus, error) {
                                    var errorMessage = error || xhr.statusText;
                                    alert(errorMessage + xhr.toString() + textStatus);
                                }
                            });

                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .likeOfferCount').html(data.DataObject.likeCount);
                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .commentOfferCount').html(data.DataObject.commentCount);

                            $(commentContainer).parent().find(".txtComment").val("");
                            
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });



        $(document).on('click', '.btnLoadMoreOfferComments', function (e) {

            var urlOfAction = "@Url.Action("SliceCommentsForOffer", "Offer", new { area = "User", })";

            var offerCommentsContainer = $(this).parents().find(".OfferCommentsContainer")[0];
            
            var hdnOfferCommentsTake =$(this).parents().find(".hdnOfferCommentsTake")[0];
            var hdnOfferCommentsSkip = $(this).parents().find(".hdnOfferCommentsSkip")[0];

            $(hdnOfferCommentsSkip).val(parseInt($(hdnOfferCommentsTake).val()) + parseInt($(hdnOfferCommentsSkip).val()));

            var offerTake = $(hdnOfferCommentsTake).val();
            var offerSkip = $(hdnOfferCommentsSkip).val();
            var offerId=$(offerCommentsContainer).attr('data-OfferId');
            

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ take: offerTake, skip: offerSkip, offerId: offerId }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $(offerCommentsContainer).append(data);

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


      
        $(document).on('click', '.btnStartChat', $.singleDoubleClick(function(e){
            var urlOfAction = $(e.currentTarget).attr("data-href");
            var urlOfAction = "@Url.Action("OtherProfile", "Profile", new { area="User"})";
            var otherUserName = $(e.toElement.parentElement).attr("data-userName");

            urlOfAction += "?userName=" + otherUserName;
           
            e.preventDefault();
            window.open(urlOfAction, "", "");
        }, function(e){
            var urlOfAction = "@Url.Action("ConversationFor", "Conversation", new { area = "User", })";
            var otherUserName = $(e.currentTarget).attr("data-userName");

            urlOfAction += "?otherUserName=" + otherUserName;
            e.preventDefault();
            window.open(urlOfAction, "", "");
        }));



        // Start of offer management
        $(document).on('click', '.reportOffer', function (e) {
            var currentUserName="@GeneralHelper.GetUserNameOfCurrentUser()";
                 
            if ("" == currentUserName) {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            var offerId = $(this).parents().find('div.offerContainer').first().attr("data-offerId");
            var urlOfAction = "@Url.Action("ReportOffer", "Offer", new { area = "User", })"

            
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId}),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        showMessage(data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        $(document).on('click', '#btnModalReportOffer', function (e) {
            var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";
            if ("" == currentUserName) {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            var offerId = $("#hdnReportOfferId").val();
            var urlOfAction = "@Url.Action("ReportOffer_JSON", "Offer", new { area = "User", })";
            
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: currentUserName, reportBody: $("#txtReportOffer").val() }),
                  dataType: 'json',
                  processData: false,
                  contentType: 'application/json; charset:utf-8',
                  success: function (data, status) {
                      if (status == "success" && data && data.ResultStatus) {
                          if (data.ResultStatus == "Failed") {
                              alert(data.Error);
                          }
                          if (data.ResultStatus == "Success") {
                              alert("گزارش شما ثبت شده است");
                              $("#modalReportOffer").modal("hide");
                          }

                          if (data.ResultStatus == "ExpiredSession") {
                              var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                  error: function (xhr, textStatus, error) {
                      var errorMessage = error || xhr.statusText;
                      alert(errorMessage + xhr.toString() + textStatus);
                  }
              });
        });


        $(document).on('click', '#btnModalUpdateOffer', function (e) {
            var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";

            if ("" == currentUserName) {
                   alert("ابتدا باید وارد سایت شوید");
                   return;
               }

               var offerId = $("#hdnUpdateOfferId").val();
               var urlOfAction = "@Url.Action("UpdateOffer_JSON", "Offer", new { area = "User", })";
            var offerPrivacyIsViewingChecked = $("#chkOfferPrivacyIsViewingChecked").hasClass("fa-check-square-o");
            var offerPrivacyIsBuyingChecked = $("#chkOfferPrivacyIsBuyingChecked").hasClass("fa-check-square-o");
            var offerPrivacyIsOnlyVisibleForFollowersChecked = $("#chkOfferPrivacyIsOnlyVisibleForFollowersChecked").hasClass("fa-check-square-o");
            var quantity = $("#txtUpdateOfferQuantity").length > 0 ? $("#txtUpdateOfferQuantity").val() : 0;
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: currentUserName, title: $("#txtUpdateOfferTitle").val(), description: $("#txtUpdateOfferBody").val(), quantity: quantity, isBuyerVisible: offerPrivacyIsBuyingChecked, isViewerVisible: offerPrivacyIsViewingChecked, IsOnlyVisibleForFollowers: offerPrivacyIsOnlyVisibleForFollowersChecked }),
                  dataType: 'json',
                  processData: false,
                  contentType: 'application/json; charset:utf-8',
                  success: function (data, status) {
                      if (status == "success" && data && data.ResultStatus) {
                          if (data.ResultStatus == "Failed") {
                              alert(data.Error);
                          }
                          if (data.ResultStatus == "Success") {

                              $('div[data-offerId="' + JSON.parse(this.data).offerId + '"]').find('.offerTitle').html(JSON.parse(this.data).title);
                              $('div[data-offerId="' + JSON.parse(this.data).offerId + '"]').find('.offerDescription').html(JSON.parse(this.data).description);
                              
                              showMessage("سفارش به روز رسانی گردید");
                          }

                          if (data.ResultStatus == "ExpiredSession") {
                              var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                  error: function (xhr, textStatus, error) {
                      var errorMessage = error || xhr.statusText;
                      alert(errorMessage + xhr.toString() + textStatus);
                  }
              });
        });


        $(document).on('click', '#btnUpgradeImageOffer', function (e) {
            var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";
             if ("" == currentUserName) {
                 alert("ابتدا باید وارد سایت شوید");
                 return;
             }

             var offerId = $("#hdnUpgradeImageOfferOfferId").val();
             var offerTitle = $("#txtUpgradeImageOfferTitle").val();
             var offerDescription = $("#txtUpgradeImageOfferDescription").val();

             var urlOfAction = "@Url.Action("UpgradeImageOffer_JSON", "Offer", new { area = "User", })";

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: currentUserName, title: offerTitle, description: offerDescription }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            alert(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            showMessage("با موفقیت به روزرسانی گردید");
                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                              urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                              $(location).attr('href', urlOfLogin);
                          }
                      }
                  },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
         });





        //start of edit/delete/like/dislike offers

        $(document).on('click', '.deleteOffer', function (e) {
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                   alert("ابتدا باید وارد سایت شوید");
                   return;
               }

               if (confirm("آیا می خواهید این سفارش را حذف نمایید؟")) {

                   var offerId = $(this).closest('div.offerContainer').attr("data-offerId");

                   var urlOfAction = "@Url.Action("DeleteOffer_JSON", "Offer", new { area = "User", })";
                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ offerId: offerId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success" && data && data.ResultStatus) {
                            if (data.ResultStatus == "Failed") {
                                alert(data.Error);
                            }
                            if (data.ResultStatus == "Success") {
                                var container = $.find('div[data-offerId="' + JSON.parse(this.data).offerId + '"]')[0];
                                $(container).remove();
                                showMessage("سفارش با موفقیت حذف گردید");


                            }

                            if (data.ResultStatus == "ExpiredSession") {
                                var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                                urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                                $(location).attr('href', urlOfLogin);
                            }
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        alert(errorMessage + xhr.toString() + textStatus);
                    }
                });
            }
           });
       

        $(document).on('click', '.editOffer', function (e) {
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }
            var offerId = $(this).closest('div.offerContainer').attr("data-offerId");

            //var offerId = $(this).parents("ul").attr("data-offerId");
            var urlOfAction = "@Url.Action("UpdateOffer", "Offer", new { area = "User", })"

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        showMessage(data,false);
                    //    $(document.body).append(data);
                       // $("#modalUpdateOffer").modal();

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        $(document).on('click', '.upgradeOffer', function (e) {
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }
            var offerId = $(this).closest('div.offerContainer').attr("data-offerId");
            var urlOfAction = "@Url.Action("UpgradeOffer", "Offer", new { area = "User", })"
            urlOfAction += "?offerId=" + offerId;
            $(location).attr('href', urlOfAction);
            
        });


        $(document).on('dblclick click', '.likeOffer', function (e) {
            var offerId = $(this).closest('div.offerContainer').attr("data-offerId");

            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                // alert("ابتدا باید وارد سایت شوید");
                var returnUrl = window.location.href;
                var urlOfAction = "@Url.Action("LoginRegister", "Account", new { area=""})";
                urlOfAction += "?returnUrl=" + returnUrl;
                urlOfAction += "&offerId=" + offerId;
                urlOfAction += "&requestedAction=like";
                e.preventDefault();
                window.open(urlOfAction, "_self", "");
                return;
            }
           var urlOfAction = "@Url.Action("LikeToggleForOffer", "Offer", new { area = "User", })";
           $.ajax({
               type: 'POST',
               url: urlOfAction,
               data: JSON.stringify({ offerId: offerId, likerUserName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            alert(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .likeOffer').toggleClass("liked unLiked fa-heart fa-heart-o");
                            changeValueWithAnimation('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .likeOfferCount', data.DataObject.likeCount);
                            //$('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .likeOfferCount').html(data.DataObject.likeCount);
                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .commentOfferCount').html(data.DataObject.commentCount);



                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
       });



        $(document).on('click', '.offerCommentEdit', function (e) {
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            var offerCommentId = $(this).parent().attr("data-commentId");

            var urlOfAction = "@Url.Action("UpdateCommentForOffer", "Offer", new { area = "User", })";
            $("#modalUpdateComment").remove();
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerCommentId: offerCommentId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
                 dataType: 'html',
                 processData: false,
                 contentType: 'application/json; charset:utf-8',
                 success: function (data, status) {
                     if (status == "success") {
                        // $(document.body).append(data);
                         //$("#modalUpdateComment").modal();
                         showMessage(data,false);
                     }
                 },
                 error: function (xhr, textStatus, error) {
                     var errorMessage = error || xhr.statusText;
                     alert(errorMessage + xhr.toString() + textStatus);
                 }
             });
        });

        $(document).on('click', '.offerCommentDelete', function (e) {
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            var offerCommentId = $(this).parent().attr("data-commentId");

            var urlOfAction = "@Url.Action("RemoveCommentForOffer", "Offer", new { area = "User", })";

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerCommentId: offerCommentId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
               dataType: 'json',
               processData: false,
               contentType: 'application/json; charset:utf-8',
               success: function (data, status) {
                   if (status == "success" && data && data.ResultStatus) {
                       if (data.ResultStatus == "Failed") {
                           alert(data.Error);
                       }
                       if (data.ResultStatus == "Success") {
                           var senderObject = $.find("[data-commentId='" + JSON.parse(this.data).offerCommentId + "']");
                           if (senderObject) {

                               $(senderObject).parent().remove();
                               $('div[data-offerId="' + data.DataObject.offerId + '"] .likeOfferCount').html(data.DataObject.likeCount);
                               $('div[data-offerId="' + data.DataObject.offerId + '"] .commentOfferCount').html(data.DataObject.commentCount);

                           }
                       }

                       if (data.ResultStatus == "ExpiredSession") {
                           var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
               error: function (xhr, textStatus, error) {
                   var errorMessage = error || xhr.statusText;
                   alert(errorMessage + xhr.toString() + textStatus);
               }
           });
        });


        $(document).on('mouseenter', '.offerOwner, .offerCommenter', function (e) {
            $(this).children("div").last().removeClass("invisible");
        });

        $(document).on('mouseleave', '.offerOwner, .offerCommenter', function (e) {
            $(this).children("div").last().addClass("invisible");
        });
        $(document).on('onEnter', '.txtCommentEdit', function (e) {
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            var commentText = $(this).val();
            if (!commentText && !commentText.trim())
                return;

            var offerCommentId = $(this).attr('data-offerCommentId');
            var urlOfAction = "@Url.Action("UpdateCommentForOffer_JSON", "Offer", new { area = "User" })";
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerCommentId: offerCommentId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", comment: commentText }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        console.log(data);
                        if (data.ResultStatus == "Success") {

                            var senderObject = $.find("[data-commentId='" + JSON.parse(this.data).offerCommentId + "']");
                            $(senderObject).parent().find("span").first().html(JSON.parse(this.data).comment);


                          //  $("#modalUpdateComment").modal("hide");
                             $("#modalUpdateComment").parent().remove();

                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });



        $(document).on('dblclick', '.likeOfferOnImage', function (e) {
            var offerId = $(this).closest('div.offerContainer').attr("data-offerId");
            if ("" == "@GeneralHelper.GetUserNameOfCurrentUser()") {
            // alert("ابتدا باید وارد سایت شوید");
            var returnUrl = window.location.href;
            var urlOfAction = "@Url.Action("LoginRegister", "Account", new { area=""})";
            urlOfAction += "?returnUrl=" + returnUrl;
            urlOfAction += "&offerId=" + offerId;
            urlOfAction += "&requestedAction=like";
            e.preventDefault();
            window.open(urlOfAction, "_self", "");


            return;
        }
        var urlOfAction = "@Url.Action("LikeToggleForOffer", "Offer", new { area = "User", })";
        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ offerId: offerId, likerUserName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            alert(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .likeOffer').toggleClass("liked unLiked fa-heart fa-heart-o");

                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .likeOfferCount').html(data.DataObject.likeCount);
                            $('div[data-offerId="' + JSON.parse(this.data).offerId + '"] .commentOfferCount').html(data.DataObject.commentCount);



                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
         });

        //end of edit/delete offers


        //start of loading more elements
        $("#btnLoadMoreWallOffers").click(function () {

            var urlOfAction = "@Url.Action("WallOffers", "Offer", new { area = "User", })";
             $("#hdnWallOfferSkip").val(parseInt($("#hdnWallOfferTake").val()) + parseInt($("#hdnWallOfferSkip").val()));

             var offerTake = $("#hdnWallOfferTake").val();
             var offerSkip = $("#hdnWallOfferSkip").val();

             $.ajax({
                 type: 'POST',
                 url: urlOfAction,
                 data: JSON.stringify({ userName: "@GeneralHelper.GetUserNameOfCurrentUser()", take: offerTake, skip: offerSkip }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#WallOfferContainer").append(data);

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        $("#btnLoadMoreProfileOffers").click(function () {

            var urlOfAction = "@Url.Action("ProfileOffers", "Offer", new { area = "User", })";
             $("#hdnProfileOfferSkip").val(parseInt($("#hdnProfileOfferTake").val()) + parseInt($("#hdnProfileOfferSkip").val()));
             var userNameOfWatchedProfile = $(this).attr("data-offerId");

             var offerTake = $("#hdnProfileOfferTake").val();
             var offerSkip = $("#hdnProfileOfferSkip").val();

             $.ajax({
                 type: 'POST',
                 url: urlOfAction,
                 data: JSON.stringify({ userName: userNameOfWatchedProfile, take: offerTake, skip: offerSkip }),
                 dataType: 'html',
                 processData: false,
                 contentType: 'application/json; charset:utf-8',
                 success: function (data, status) {
                     if (status == "success" && data) {
                         $("#WallOfferContainer").append(data);

                     }
                 },
                 error: function (xhr, textStatus, error) {
                     var errorMessage = error || xhr.statusText;
                     alert(errorMessage + xhr.toString() + textStatus);
                 }
             });
         });
        //end of loading more

        //start of basket 
        $(document).on('dblclick click', '.removeOfferFromBasket', function (e) {
            var offerId = $(this).attr("data-offerId");
            var urlOfAction = "@Url.Action("RemoveFromBasket", "Basket", new { area = "User", })";

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ offerId: offerId, userName: "@GeneralHelper.GetUserNameOfCurrentUser()" }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            alert(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            var urlOfBasket = "@Url.Action("Index", "Basket", new { area = "User", })";
                            $(location).attr('href', urlOfBasket);

                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new { area = "", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $(".changableCount").change(function () {//when counf of order changed
            updateTotalPrice();
        });

        function updateTotalPrice() {
            var sumOfTotal = 0;
            $(".rowBasketItem").each(function () {
                var countOfEntity = parseInt($(this).find("td.rowEntityCount input:first").val());
                var priceOfEntity = parseInt($(this).find("td.rowEntityPrice:first").attr("data-entityPrice"));
                var addedValueTaxOfEntity = parseInt($(this).find("td.rowEntityPrice:first").attr("data-addedValueTax"));
                var rowTotalPrice = countOfEntity * priceOfEntity + (countOfEntity * priceOfEntity*addedValueTaxOfEntity /100);
                sumOfTotal += rowTotalPrice;
                $(this).find("td.rowTotalPrice ").fadeOut();
                $(this).find("td.rowTotalPrice ").html(formatMoney(rowTotalPrice, ""));
                $(this).find("td.rowTotalPrice ").fadeIn();
            });
            $("#sumOfTotalPrice").fadeOut();
            $("#sumOfTotalPrice").html(formatMoney(sumOfTotal, ""));
            $("#sumOfTotalPrice").fadeIn();
        }


        $("#btnUpdateBasket").click(function (e) {//update counf of offer ordered in basket and then redirect it to select payment way

            var otherUserName = $(this).attr("data-userName");
            var followStatus = parseInt($(this).attr("data-followStatus"));


            var urlOfSuccessAction = ' @Url.Action("Index", "Basket", new { area = "User", step = "pay" })';

            var urlOfUpdateAction = ' @Url.Action("UpdateBasket", "Basket",new { area="User"})';

            var orders = [];
            $(".rowBasketItem").each(function () {

                var countOfEntity = parseInt($(this).find("td.rowEntityCount input:first").val());
                var offerId = $(this).find("td.rowEntityCount input:first").attr("data-offerId");
                orders.push({ OfferId: offerId, OfferCount: countOfEntity });
            });


            $.ajax({
                type: 'POST',
                url: urlOfUpdateAction,
                data: JSON.stringify(orders),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data && data.ResultStatus) {
                            if (data.ResultStatus == "Success") {
                                $(location).attr('href', urlOfSuccessAction);
                            }
                            else {
                                showMessage(data.Error);
                            }
                        }

                    }

                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus);
                }
            });

        });

        //end of basket


        //start of profile and account management
        $(document).on('click', '#btnChangeUserName', function (e) {
            var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";
               if ("" == currentUserName) {
                   showMessage("ابتدا باید وارد سایت شوید", true);
                   return;
               }

               var offerId = $("#hdnReportOfferId").val();
               var urlOfAction = "@Url.Action("ChangeUserName", "Profile", new { area = "User", })";
            var newUserName = $("#txtNewUserName").val();
            var reNewUserName = $("#txtReNewUserName").val();
            if (newUserName != reNewUserName) {
                showMessage("نام کاربری جدید و تکرار آن با هم منطبق نیستند", true);
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ UserName: currentUserName, NewUserName: newUserName, ReNewUserName: reNewUserName }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            showMessage(data.Error, true);
                        }
                        if (data.ResultStatus == "Success") {
                            showMessage("نام کاربری شما با موفقیت تغییر کرد");
                            var urlOfLogin = "@Url.Action("LogOff", "Account", new {area="", })";
                            $(location).attr('href', urlOfLogin);
                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                              urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                              $(location).attr('href', urlOfLogin);
                          }
                      }
                  },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    showMessage(errorMessage + xhr.toString() + textStatus,true);
                }
            });
           });
        
        //end of profile and account management
    });

</script>