﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Menu

@if(Model!=null)
{

    ViewBag.Title = "Index";
    string title = Model.Title;
    string body = string.Empty;

    string dateTime = string.Empty;
    
    TempData["HasApplicationBar"] = false;
    if (Model != null)
    {

        dateTime = Model.LastDateTime.ToString("MMMM dd, yyyy");
        if (Model != null && Model.MenuContents.Count != 0)
        {
            var content = Model.MenuContents.First();
            body = content.Body;
        }
        var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
        string currentUserName = currentUser != null ? currentUser.UserName : string.Empty;

         Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.SetOtherUserName( this,Model.MembershipUser.UserName);
         Layout = "~/Views/Shared/_Layout.cshtml";
        
          <div class="main-wrapper single-page">
            <section class="layout">
                <article>
                    <header class="article-header">

                        <h3>  @Html.Raw(title)</h3>

                    </header>
                    <main class="article-body">
                        <p style="text-align:justify;"> @Html.Raw(body)</p>
                    </main>
                </article>
            </section>
        </div>
        <!--main-wrapper-->

    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    

    
    


    


    

    
  

    
}