﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@if (Model != null)
{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    string imgSrc = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnail32Of(Model.UserId, Model.Picture);
    bool isConnected = Offtick.Business.Services.RealtimeSearvices.OnlineConnectionsService.Instance.isOnlineByUserName(Model.UserName);
    string colorOnlineStatus = isConnected ? "online" : "one-hour";//"recently"
    var followStatus = (int)Offtick.Business.Services.Managers.FollowManager.Instance.GetFollowStatusFor(currentUser, Model);
    

    string btnFollowTitle = "Follow";
    btnFollowTitle = followStatus == 0 ? @"Follow" : "Following";

    //string maxPicSize = string.Format("{0}px", ViewBag.maxWidth);
    //bool? showNameAndFamily = (bool?)ViewBag.showNameAndFamily;
    <td>
         <a href="#" class="btnC follow-link" style="color:white;min-width:100px;"
            data-userName="@Model.UserName" 
            data-followStatus="@followStatus"
            >
            <span >@btnFollowTitle</span>
            <i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
    </td>
    <td>
        <span  style="width:250px;">@Model.UserName</span>
    </td>    
    <td>
        <a href="#" class="user-avatar-container btnStartChat" style="float:left;"
            data-href="@Url.Action("OtherProfile", "Profile", new { area="User",userName=Model.UserName})" 
            data-userName="@Model.UserName" 
            data-followStatus="1"
            >
           @* <div class="user-state online">
                <span class="user-state-title">online</span>
            </div>*@
            <img src="@imgSrc" alt="@Model.UserName" class="user-avatar">
        </a>
    </td>
    
   
}
