﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@if (Model != null)
{
    string userName = Model.UserName;
    string imgSrc = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(Model.UserId, Model.Picture);
    bool isConnected = Offtick.Business.Services.RealtimeSearvices.OnlineConnectionsService.Instance.isOnlineByUserName(userName);
    string colorOnlineStatus = isConnected ? "online" : "one-hour";//"recently"
    string statusText=isConnected? "آنلاین": "کمی قبل";
    
    <li>
        <a href="@Url.Action("Index", "Profile", new { area="User",userName=Model.UserName})">
            <img src="@imgSrc" alt="@userName"  title="@userName" class="user-avatar">
        </a>
        <div class="user-state @colorOnlineStatus">
            <span class="user-state-title">@statusText</span>
        </div>
    </li>
}    
