﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@if(Model!=null){
    string imgSrc = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(Model.UserId, Model.Picture);
    bool isConnected=Offtick.Business.Services.RealtimeSearvices.OnlineConnectionsService.Instance.isOnlineByUserName(Model.UserName);
    string colorOnlineStatus = isConnected ? "online" : "one-hour";//"recently"
    string maxPicSize = string.Format("{0}px", ViewBag.maxWidth);
    bool? showNameAndFamily=(bool?)ViewBag.showNameAndFamily;
    

      <div class="user-avatar-container btnStartChat" data-href="@Url.Action("OtherProfile", "Profile", new { area="User",userName=Model.UserName})" data-userName="@Model.UserName" >
        <div class="user-state @colorOnlineStatus">
            <span class="user-state-title">Last seen 1 hour ago</span>
        </div>
        <img src="@imgSrc" alt="@Model.UserName" class="user-avatar">
    </div>
    
}