﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cities=Offtick.Business.Services.Domain.SubsciptionService.Instance.ListofCities();
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    
    int k = 0;

    <script type="text/javascript">
        $(function () {
            $("#btnContineHolland").click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AdaptGallery")',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        showCommunicationPanelMessage(data, 4000);
                        reloadGalleryMenu();
                        reloadGalleryHeader();
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
                    });
            });

        });
</script>

<div class="panel">
     <div class="panel-heading">اشتراک در خبرنامه</div>
  <div class="panel-body">
   @* @while (k < cities.Count)
        {
            var city = cities[k];
            var cssClassForCity = currentUser.SubscriptionInterests.FirstOrDefault(e => e.CityId.Equals(city.CityId)) != null ? "fa-check-square-o" : "fa-square-o";            
                if (k %4 == 0)
                {
                    @: <div class="row">
                }
                 <div class="col-md-4 " style="padding:10px;">
                    <span class="col-md-1 fa  selectableItem @cssClassForCity" data-cityId="@city.CityId">@city.CityName</span>
                </div>

                    k++;
                if (k %4 == 0 || k==cities.Count)
                {
                    @: </div>
                }
        }*@

    <select class="form-control">
        @foreach(var city in cities)
        {
            <option value="@city.CityId">@city.CityName</option>
        }
</select>

     
       <div class="row ">
            <a class="btn btn-primary col-md-2 col-md-offset-3" id="btnUpdateSubscriber">
                ثبت و به روز رسانی
            </a>
        </div>
    </div>
</div>
}