﻿@{
    ViewBag.Title = "Index";
    Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.SetHasMembershipHeader(this, false);
    Layout = "~/Views/Shared/_Layout.cshtml";

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = currentUser.UserName;
    
    
}


       <div id="WallOfferContainer" >
            <input type="hidden" id="hdnWallOfferTake" value="9" />
            <input type="hidden" id="hdnWallOfferSkip" value="0"/>
            @Html.Action("WallOffers","Offer",new {area="User",userName=currentUserName, take=9,skip=0})


           @{
               Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.SetOtherUserName(this,currentUserName);
           }
            @Html.Partial("_SideColumnsContainer")

        </div>
        <br />
        <div class="more-container" id="btnLoadMoreWallOffers">
                <span  class="more-contents"> موارد بیشتر<i class="fa fa-angle-down" aria-hidden="true"></i>
                </span>
        </div>



 



