﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.ControlItemModel
 
<div class="ControlItemDivMain">
    <div class="ContronItemDivTitle">
        <span>@Model.Title</span>
    </div>
    <div class="ControlItemDivBody">
        <table >
            <tbody>
                <tr>
                    <td style="text-align:right;padding-top:10px;">
                    @if(string.IsNullOrEmpty(Model.ControlLabel)){
                        
                        <a href="@Model.ControlAddress.ToString()">@Resources.UILabels.ControlItemManage</a>
                      
                    }
                    else
                    {
                        <a href="@Model.ControlAddress.ToString()">@Resources.UILabels.ControlItemManage</a>
                    }
                        
                        <br />
                        <a href="@Url.Action(Model.EventAddress.ToString())">
                            @if(string.IsNullOrEmpty(Model.EventLabel)){
                            @Resources.UILabels.ControlItemEvent }
                            else
                            {
                                @Model.EventLabel
                            }
                            
                            ( <span style="color:red">@Model.EventCount</span>)
                        </a>
                    
                    </td>
                     <td style="width:100px;">
                         <div class="ControlItemImage">
                             <img src="@Url.Content(Model.ImageUrl)"  width="100px" height="100px"/>
                         </div>
                    
                   
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>