﻿@using Offtick.Web.OfftickWeb.Infrustracture 

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
        

}
  <link rel="stylesheet" href="@Url.Content("/Content/grid/grid.min.css")">
    <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/grid/grid.min.js")"></script>


<script>
    $(function () {
        $("#menu").menu({
            items: "> :not(.ui-widget-header)"
        });

        $(".adminManagementPanelEvent").click(function () {
            var panel = $(this).attr('data-panel');
            var urlOfAction = "@Url.Action("LoadPanel","Home",new{area="Admin"})";

            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ panel: panel, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        $("#adminPanelContainer").html(data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });





        $(document).on('click', '#btnAdminSmsPanelSendSms', function (e) {

            var endPoint = $("#txtSendSmsEndPoint").val();
            var domainName = $("#txtSendSmsDomainName").val();
            var userName = $("#txtSendSmsUserName").val();
            var password = $("#txtSendSmsPassword").val();
            var sender = $("#txtSendSmsSender").val();
            var receipt = $("#txtSendSmsReceipt").val();
            var text = $("#txtSendSmsText").val();

            //var adminPanelSmsSend = "@Url.Action("MagfaSmsSendTextMessage", "Home", new { area="Admin"})"; set on script file before
            var urlOfAction = adminPanelSmsSend;

            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }
            if (!endPoint || !domainName || !userName || !password || !sender || !receipt || !text) {
                alert("تمام فیلدها اجباری هستند و باید بر اساس تنظیمات قرارداد تنظیم شوند.");
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ endPoint: endPoint, domainName: domainName, userName: userName, password: password, sender: sender, receipt: receipt, text: text }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data.ResultStatus == "Success") {
                            $("#lblSmsSendResult").html(data.Message);
                        }
                        if (data.ResultStatus == "Failed") {
                            $("#lblSmsSendResult").html(data.Error);
                        }

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $(document).on('click', '#btnCheckUserNameStatus', function (e) {
            var panel = $(this).attr('data-panel');
            var checkUserName = $("#txtCheckUserNameStatus").val();
            var urlOfAction = "@Url.Action("CheckUserNameStatus","Home",new{area="Admin"})";

            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }
            if (!checkUserName) {
                alert("فیلد نام کاربری خالی است");
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ checkUserName: checkUserName, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data.ResultStatus == "Success") {
                            $("#lblCheckUserNameStatus").html(data.Message);
                        }
                        if (data.ResultStatus == "Failed") {
                            $("#lblCheckUserNameStatus").html(data.Error);
                        }

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        $(document).on('click', '#btnSuspendUserNameStatus', function (e) {
            var panel = $(this).attr('data-panel');
            var checkUserName = $("#txtSuspendUserNameStatus").val();
            var urlOfAction = "@Url.Action("SuspendUserNameStatus","Home",new{area="Admin"})";

            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }
            if (!checkUserName) {
                alert("فیلد نام کاربری خالی است");
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ checkUserName: checkUserName, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data.ResultStatus == "Success") {
                            $("#lblSuspendUserNameStatus").html(data.Message);
                        }
                        if (data.ResultStatus == "Failed") {
                            $("#lblSuspendUserNameStatus").html(data.Error);
                        }

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        $(document).on('click', '#btnActiveUserNameStatus', function (e) {
            var panel = $(this).attr('data-panel');
            var checkUserName = $("#txtActiveUserNameStatus").val();
            var urlOfAction = "@Url.Action("ActiveUserNameStatus","Home",new{area="Admin"})";

            if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }
            if (!checkUserName) {
                alert("فیلد نام کاربری خالی است");
                return;
            }

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ checkUserName: checkUserName, userName: "@GeneralHelper.GetUserNameOfCurrentUser()", }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        if (data.ResultStatus == "Success") {
                            $("#lblActiveUserNameStatus").html(data.Message);
                        }
                        if (data.ResultStatus == "Failed") {
                            $("#lblActiveUserNameStatus").html(data.Error);
                        }

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        $(document).on('click', '#btnLoadOffersForConfirm', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";
            var strUrlOfOffer = "@Url.Action("OfferViewer", "Offer", new { area = "user" })" + "?offerId={OfferId}";
            offerGrid = $('#offerGridForConfirm').grid({
                primaryKey: 'OfferId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadOffersForConfirm","Home",new{area="Admin"})",
                autoLoad: false,
                columns: [

                    { width: 200, field: 'Title', title: 'Title', tmpl: '<a target="_blank" href="' + strUrlOfOffer + '">{Title}</a>', align: 'center', sortable: true },
                    { width: 150, field: 'Owner', title: 'Owner', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{UserDisplayName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'DateTime', title: 'Send DateTime', sortable: true },
                    { width: 120, field: 'ConfirmDateTime', title: 'Confirm DateTime', sortable: true },
                    { width: 50, field: 'HasReport' },
                    { width: 85, field: 'IsConfirm', sortable: true },
                    { width: 75, field: 'Status' },
                   // { width: 70, tmpl: '<a href="#/">confirm</a>', align: 'center', events: { 'click': Confirm } },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-power', tooltip: 'Confirm / NotConfirm', events: { 'click': ConfirmOffer } },
                   // { width: 100, tmpl: '<a href="#/">(Un)Suspend</a>', align: 'center', events: { 'click': SuspendRelease }}
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-unlocked', tooltip: 'Suspend / Running', events: { 'click': SuspendReleaseOffer } },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Send Message', events: { 'click': sendAdminMessageToAnother } },


                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var offerType = $("#cmpOfferType").val();
            var accountType = $("#cmpAccountType").val();
            var confirmStatus = $("#cmpConfirmType").val();
            var chkOnlyReported = $("#chkReportedOffer").is(":checked");

            offerGrid.reload({ offerType: offerType, roleType: accountType, confirmStatus: confirmStatus, isOnlyReported: chkOnlyReported });

        });


        $(document).on('click', '#btnumpLoadUsers', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";

            userGrid = $('#umpUserGrid').grid({
                primaryKey: 'UserId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadUsers","Home",new{area="Admin"})",
                autoLoad: false,
                columns: [

                    { width: 150, field: 'FirstName', title: 'FirstName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{FirstName}</a>', align: 'center', sortable: true },
                    { width: 150, field: 'LastName', title: 'LastName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{LastName}</a>', align: 'center', sortable: true },
                    { width: 100, field: 'UserName', title: 'UserName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{UserName}</a>', align: 'center', sortable: true },
                    { width: 120, field: 'RegisterDateTime', sortable: true },
                    { width: 150, field: 'Email', sortable: true },
                    { width: 50, field: 'MBTI' },
                     { width: 100, field: 'PhoneNumber', sortable: true },
                      { width: 70, field: 'Status' },
                   // { width: 70, tmpl: '<a href="#/">confirm</a>', align: 'center', events: { 'click': Confirm } },
                    //{ title: '', width: 36, type: 'icon', icon: 'ui-icon-power', tooltip: 'Confirm / NotConfirm', events: { 'click': Confirm } },
                   // { width: 100, tmpl: '<a href="#/">(Un)Suspend</a>', align: 'center', events: { 'click': SuspendRelease }}
                   { title: '', width: 36, type: 'icon', icon: 'ui-icon-unlocked', tooltip: 'Reset Password', events: { 'click': resetUserPassword } },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-unlocked', tooltip: 'Active / InActive', events: { 'click': SuspendReleaseUser } },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Send Message', events: { 'click': sendAdminMessageToAnother } },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var umpName = $("#txtumpName").val();
            var umpUserName = $("#txtumpUserName").val();
            var umpEmail = $("#txtumpEmail").val();
            var umpMBTI = $("#txtumpMBTI").val();
            var umpDateFrom = $("#txtumpDateFrom").val();
            var umpDateTo = $("#txtumpDateTo").val();
            var umpPhoneNumber = $("#txtumpPhoneNumber").val();
            var umpSuspendedUser = $("#chkumpSuspendedUser").is(":checked");

            userGrid.reload({ umpName: umpName, umpUserName: umpUserName, umpEmail: umpEmail, umpMBTI: umpMBTI, umpDateFrom: umpDateFrom, umpDateTo: umpDateTo, umpPhoneNumber: umpPhoneNumber, umpSuspendedUser: umpSuspendedUser });

        });


        $(document).on('click', '#btnuppLoadProfiles', function (e) {
            var strUrlOfProfile = "@Html.Raw(Url.Action("OtherProfile", "Profile", new { area = "user"}))" + "?userName={UserName}";

            profileGrid = $('#uppProfileGrid').grid({
                primaryKey: 'UserId',
                uiLibrary: 'jqueryui',
                dataSource: "@Url.Action("LoadSites","Home",new{area="Admin"})",
                autoLoad: false,
                columns: [

                    { width: 150, field: 'FirstName', title: 'FirstName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{FirstName}</a>', align: 'center', sortable: true },
                    //{ width: 150, field: 'LastName', title: 'LastName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{LastName}</a>', align: 'center', sortable: true },
                    { width: 100, field: 'UserName', title: 'UserName', tmpl: '<a target="_blank" href="' + strUrlOfProfile + '">{UserName}</a>', align: 'center', sortable: true },
                    //{ width: 120, field: 'RegisterDateTime', sortable: true },
                    { width: 150, field: 'Email', sortable: true },
                    //{ width: 50, field: 'MBTI' },
                     { width: 100, field: 'PhoneNumber', sortable: true },
                     { width: 70, field: 'Status' },
                      { width: 70, field: 'ProfileStatus' },
                      { width: 70, field: 'MainPagePublishStatus' },
                      //{ width: 70, field: 'IndividualPublish' },
                   // { width: 70, tmpl: '<a href="#/">confirm</a>', align: 'center', events: { 'click': Confirm } },
                   { title: '', width: 36, type: 'icon', icon: 'ui-icon-power', tooltip: 'Profile (Confirm / NotConfirm)', events: { 'click': SuspendReleaseProfile } },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-unlocked', tooltip: 'Main Page Publish (Confirm / NotConfirm)', events: { 'click': ConfirmNotConfirmPublishOnMainPage } },
                    { title: '', width: 36, type: 'icon', icon: 'ui-icon-pencil', tooltip: 'Send Message', events: { 'click': sendAdminMessageToAnother } },
                ],
                pager: { limit: 15, sizes: [10, 15, 20, 30, 40, 50] }
            });
            var uppName = $("#txtuppName").val();
            var uppUserName = $("#txtuppUserName").val();
            var uppEmail = $("#txtuppEmail").val();
            var uppDateFrom = $("#txtuppDateFrom").val();
            var uppDateTo = $("#txtuppDateTo").val();
            var uppPhoneNumber = $("#txtuppPhoneNumber").val();
            var uppSuspendedSite = $("#chkuppSuspendedSite").is(":checked");
            var uppPermitToDistributeOnMainSite = $("#chkuppPermitToDistributeOnMainSite").is(":checked");

            profileGrid.reload({ uppName: uppName, uppUserName: uppUserName, uppEmail: uppEmail, uppDateFrom: uppDateFrom, uppDateTo: uppDateTo, uppPhoneNumber: uppPhoneNumber, uppSuspendedSite: uppSuspendedSite, uppPermitToDistributeOnMainSite: uppPermitToDistributeOnMainSite });

        });




        $(document).on('click', '#btnSendMessageToAnotherUser', function (e) {
            var senderUserName = $("#hdnSendMessageSenderUserName").val();
            if ("" == senderUserName) {
                alert("ابتدا باید وارد سایت شوید");
                return;
            }

            var receiverUserName = $("#hdnSendMessageReceiverUserName").val();
            var urlOfAction = "@Url.Action("SendMessageToUser_JSON", "Home", new { area = "Admin", })";

            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ senderUserName: senderUserName, receiverUserName: receiverUserName, messageBody: $("#txtSendMessageToAnother").val(), methodType: $("#drpMethodType").val() }),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && data.ResultStatus) {
                        if (data.ResultStatus == "Failed") {
                            alert(data.Error);
                        }
                        if (data.ResultStatus == "Success") {
                            alert("ارسال شد");
                            // $("#modalSendMessage").modal("hide");
                            $("#modalSendMessage").parent().remove();

                        }

                        if (data.ResultStatus == "ExpiredSession") {
                            var urlOfLogin = "@Url.Action("Logon", "Account", new {area="", })";
                            urlOfLogin += "?returnUrl=" + $(location).attr('pathname') + $(location).attr('search');
                            $(location).attr('href', urlOfLogin);
                        }
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


    });



    var userGrid, offerGrid, profileGrid;

    function sendAdminMessageToAnother(e) {
        var receiverUserId = e.data.record.UserId;
        var currentUserName = "@GeneralHelper.GetUserNameOfCurrentUser()";
        if ("" == currentUserName) {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        var urlOfAction = "@Url.Action("SendMessageToUser", "Home", new { area = "Admin", })"


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ receiverUserId: receiverUserId }),
            dataType: 'html',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    showMessage(data);
                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                showMessage(errorMessage + xhr.toString() + textStatus);
            }
        });
    }
    function ConfirmOffer(e) {

        var offerId = e.data.record.OfferId;
        var IsConfirm = e.data.record.IsConfirm;

        var urlOfAction = "@Url.Action("ToggleConfirmOffer","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ offerId: offerId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var isConfirm = "NotConfirmed";
                        if (e.data.record.IsConfirm == "NotConfirmed" || e.data.record.IsConfirm == "NotDecide")
                            isConfirm = "Confirmed";
                        offerGrid.updateRow(offerId, {
                            'OfferId': offerId
                            , 'Title': e.data.record.Title
                            , 'UserName': e.data.record.UserName
                            , 'UserDisplayName': e.data.record.UserDisplayName
                            , 'DateTime': e.data.record.DateTime
                            , 'HasReport': e.data.record.HasReport
                            , 'IsConfirm': isConfirm
                            , 'Status': e.data.record.Status
                        });
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
    }

    function SuspendReleaseOffer(e) {
        //  if (confirm('Are you sure?')) {
        var offerId = e.data.record.OfferId;
        var IsConfirm = e.data.record.IsConfirm;


        var urlOfAction = "@Url.Action("ToggleSuspendOffer","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ offerId: offerId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var offerStatus = "Running";
                        if (e.data.record.Status == "Running")
                            offerStatus = "Suspended";
                        offerGrid.updateRow(offerId, {
                            'OfferId': offerId
                            , 'Title': e.data.record.Title
                            , 'UserName': e.data.record.UserName
                            , 'UserDisplayName': e.data.record.UserDisplayName
                            , 'DateTime': e.data.record.DateTime
                            , 'HasReport': e.data.record.HasReport
                            , 'IsConfirm': e.data.record.IsConfirm
                            , 'Status': offerStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }
    

    function resetUserPassword(e) {
         if (confirm('Are you sure want to reset user password?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("ResetPasswordByAdmin", "Home", new { area = "Admin" })";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ userIdToResetPass: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                       alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
       }
    }

    function SuspendReleaseUser(e) {
        //  if (confirm('Are you sure?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("ToggleUserStatus","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ UserId: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var userStatus = "Active";
                        if (e.data.record.Status == "Active")
                            userStatus = "InActive";
                        userGrid.updateRow(userId, {
                            'UserId': e.data.record.UserId
                            , 'FirstName': e.data.record.FirstName
                            , 'LastName': e.data.record.LastName
                            , 'UserName': e.data.record.UserName
                            , 'RegisterDateTime': e.data.record.RegisterDateTime
                            , 'Email': e.data.record.Email
                            , 'MBTI': e.data.record.MBTI
                            , 'PhoneNumber': e.data.record.PhoneNumber
                            , 'Status': userStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }

    function SuspendReleaseProfile(e) {
        //  if (confirm('Are you sure?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("ToggleProfileStatus","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ UserId: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var profileStatus = "Confirmed";
                        if (e.data.record.ProfileStatus == "Confirmed")
                            profileStatus = "NotConfirmed";
                        profileGrid.updateRow(userId, {
                            'UserId': e.data.record.UserId
                            , 'FirstName': e.data.record.FirstName
                            , 'LastName': e.data.record.LastName
                            , 'UserName': e.data.record.UserName
                            , 'RegisterDateTime': e.data.record.RegisterDateTime
                            , 'Email': e.data.record.Email
                            , 'MBTI': e.data.record.MBTI
                            , 'PhoneNumber': e.data.record.PhoneNumber
                            , 'Status': e.data.record.Status
                            , 'ProfileStatus': profileStatus
                            , 'MainPagePublishStatus': e.data.record.MainPagePublishStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }
    function ConfirmNotConfirmPublishOnMainPage(e) {
        //  if (confirm('Are you sure?')) {
        var userId = e.data.record.UserId;


        var urlOfAction = "@Url.Action("TogglePublishOnMainPageStatus","Home",new{area="Admin"})";

        if (!"@GeneralHelper.GetUserNameOfCurrentUser()") {
            alert("ابتدا باید وارد سایت شوید");
            return;
        }


        $.ajax({
            type: 'POST',
            url: urlOfAction,
            data: JSON.stringify({ UserId: userId }),
            dataType: 'json',
            processData: false,
            contentType: 'application/json; charset:utf-8',
            success: function (data, status) {
                if (status == "success") {
                    if (data.ResultStatus == "Success") {
                        var mainPagePublishStatus = "Confirmed";
                        if (e.data.record.MainPagePublishStatus == "Confirmed")
                            mainPagePublishStatus = "NotConfirmed";
                        profileGrid.updateRow(userId, {
                            'UserId': e.data.record.UserId
                            , 'FirstName': e.data.record.FirstName
                            , 'LastName': e.data.record.LastName
                            , 'UserName': e.data.record.UserName
                            , 'RegisterDateTime': e.data.record.RegisterDateTime
                            , 'Email': e.data.record.Email
                            , 'MBTI': e.data.record.MBTI
                            , 'PhoneNumber': e.data.record.PhoneNumber
                            , 'Status': e.data.record.Status
                            , 'ProfileStatus': e.data.record.ProfileStatus
                            , 'MainPagePublishStatus': mainPagePublishStatus
                        });

                        //alert(data.Message);
                    }
                    if (data.ResultStatus == "Failed") {
                        alert(data.Error);
                    }

                }
            },
            error: function (xhr, textStatus, error) {
                var errorMessage = error || xhr.statusText;
                alert(errorMessage + xhr.toString() + textStatus);
            }
        });
        //  }
    }


</script>

<script src="@Url.Content("~/Content/js/adminPanelScript.js")"></script>
  <style>
  .ui-menu { width: 200px; }
  .ui-widget-header { padding: 0.2em; }
  </style>


@* <div class="col-container">
		<section class="layout">
			<div class="col">
                <ul id="menu">
                  <li class="ui-widget-header"><div>مدیریت</div></li>
                  <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="UserManagementPanel"> کاربران</div></li>
  
                  <li class="ui-widget-header"><div>سرویس</div></li>
                  <li><div>پیام کوتاه</div></li>
                </ul>
			</div>
            <div class="col">
                    <div id="adminPanelContainer" class="text-right"/>
            </div>

		  </section> 
	</div>*@



	 <div class="items-table-container">
		<table class="items-table">
			<tbody>
				<tr>
                    <td style="width:10%">
                          <ul id="menu">
                              <li class="ui-widget-header"><div>مدیریت</div></li>
                              <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="UserManagementPanel"> کاربران</div></li>
                              <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="UserProfilePanel"> سایت کاربران</div></li>
                              <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="OfferPanel"> آفر</div></li>
                            @*  <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="MagfaSmsPanel"> فروشنده گان</div></li>
                              <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="UserManagementPanel"> آفرهای صفحه اول</div></li>*@
                              
  
                              <li class="ui-widget-header"><div>سرویس</div></li>
                              <li><div class="btn btn-primary adminManagementPanelEvent" data-panel="MagfaSmsPanel">پیام کوتاه</div></li>
                            @*  <li><div>ایمیل</div></li>
                              <li><div>بانک</div></li>*@
                            </ul>
                    </td>
                    <td style="text-align:right;">
                         <div id="adminPanelContainer" class="text-right"/>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>


