﻿@using Offtick.Core.Utility;
@{
    
    var configManager = ConfigFactory.GetConfigManager(ConfigManagerType.WebConfig);

    var smsMagfaEndpint = configManager.ReadSetting("smsMagfaEndpint");
    var smsMagfaSender = configManager.ReadSetting("smsMagfaSender");
    var smsMagfaUserName = configManager.ReadSetting("smsMagfaUserName");
    var smsMagfaPassword = configManager.ReadSetting("smsMagfaPassword");
    var smsMagfaDomain = configManager.ReadSetting("smsMagfaDomain");
    
} 
<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت پیام کوتاه</h3>

            </header>
            <main class="article-body">  
                 <div class="items-table-container">
		            <table class="items-table">
			            <tbody>
                            <tr>
                                <td>آدرس</td>
                                <td><input type="text" id="txtSendSmsEndPoint" class="w-0" value="@smsMagfaEndpint"/></td>
				            </tr>
				            <tr>
                                <td>دامنه</td>
                                <td><input type="text" id="txtSendSmsDomainName" class="w-0" value="@smsMagfaDomain"/></td>
				            </tr>
                            <tr>
                                <td>نام کاربری</td>
                                <td><input type="text" id="txtSendSmsUserName" class="w-0" value="@smsMagfaUserName"/></td>
				            </tr>
                            <tr>
                                <td>پسورد</td>
                                <td><input type="text" id="txtSendSmsPassword" class="w-0" value="@smsMagfaPassword"/></td>
				            </tr>
                            <tr>
                                <td>شماره ارسال</td>
                                <td><input type="text" id="txtSendSmsSender" class="w-0" value="@smsMagfaSender"/></td>
				            </tr>
                            <tr>
                                <td>شماره گیرنده</td>
                                <td><input type="text" id="txtSendSmsReceipt" class="w-0"/></td>
				            </tr>
                            <tr>
                                <td>متن پیام</td>
                                <td><input type="text" id="txtSendSmsText" class="w-0" /></td>
				            </tr>
                             <tr>
                                <td><span class="btn btnC" id="btnAdminSmsPanelSendSms" >ارسال پیام</span></td>
                                <td><span id="lblSmsSendResult" style="direction:rtl"></span></td>
				            </tr>
			            </tbody>
		            </table>
	            </div>
            </main>
        </article>
    </section>
</div>
<!--main-wrapper-->