﻿<div>
    پنل مدیریت کاربران
</div>
<div style="padding:2px;">
    <input type="text" id="txtCheckUserNameStatus" />
     <span class="btn btnC" id="btnCheckUserNameStatus">
        بررسی وضعیت کاربر
    </span>
    
    <span class="text-info" id="lblCheckUserNameStatus">

    </span>
   
</div>


<div style="padding:2px;">

    <input type="text" id="txtSuspendUserNameStatus" />
     <span class="btn btnC" id="btnSuspendUserNameStatus">
        معلق کردن کاربر
    </span>

     <span class="text-info" id="lblSuspendUserNameStatus">

    </span>
    
    
   
   
</div>


<div style="padding:2px;">
    <input type="text" id="txtActiveUserNameStatus" />
     <span class="btn btnC" id="btnActiveUserNameStatus">
        فعال کردن کاربر
    </span>
     <span class="text-info" id="lblActiveUserNameStatus">

    </span>
    
    
   
   
</div>