﻿@using Offtick.Core.Utility;
@{
    
    var configManager = ConfigFactory.GetConfigManager(ConfigManagerType.WebConfig);

    var smsMagfaEndpint = configManager.ReadSetting("smsMagfaEndpint");
    var smsMagfaSender = configManager.ReadSetting("smsMagfaSender");
    var smsMagfaUserName = configManager.ReadSetting("smsMagfaUserName");
    var smsMagfaPassword = configManager.ReadSetting("smsMagfaPassword");
    var smsMagfaDomain = configManager.ReadSetting("smsMagfaDomain");
    
} 
<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت آفرهای سامانه</h3>

            </header>
            <main class="article-body">  
                 <div class="items-table-container">
		            <table class="items-table">
			            <tbody>
                            <tr>
                                <td>نوع </td>
                                <td>
                                    <select id="cmpOfferType" class="w-0" >
                                        <option selected="selected" value="0">تمامی آفرها</option>
                                        <option value="5">آفر عکس</option>
                                        <option value="7">آفر فیلم</option>
                                        <option value="6">آفر فروش</option>
                                         <option value="8">آفر تور</option>
                                    </select>
                                </td>
				            
                                <td>شخص</td>
                                <td>
                                    <select id="cmpAccountType"  class="w-0" >
                                        <option selected="selected" value="0">تمامی اشخاص</option>
                                        <option value="1"> شخصی</option>
                                        <option value="2">شرکت</option>
                                        <option value="9">رستوران</option>
                                        <option value="8">کاربر گزارشات</option>
                                        <option value="64">کاربر مدیر</option>
                                    </select>
                                </td>
				            </tr>
                            <tr>
                                   <td>وضعیت</td>
                                  <td>
                                    <select id="cmpConfirmType"  class="w-0" >
                                        <option selected="selected" value="0">تمامی آفرها</option>
                                        <option value="1"> تصمیم گیری نشده</option>
                                        <option value="2"> تایید شده</option>
                                        <option value="3">تایید نشده</option>
                                    </select>
                                </td>
                                <td> 
                                     <label for="chkReportedOffer" >تنها آفرهایی که گزارش شده اند</label> 
                                      <input type="checkbox" id="chkReportedOffer"/>
                                   
                                  
                                </td>
                                
                                 <td></td>
                                 <td></td>
				            </tr>
			            </tbody>
		            </table>
	            </div>
            </main>


        </article>

    <p>
        <span class="btn btnC w-1" id="btnLoadOffersForConfirm">
         بارگزاری مجدد
        </span>
    </p>
   @* <div class="items-table-container">
		<table class="items-table">
            <thead>
                <tr>
                    <td>
                       نام آفر
                    </td>
                    <td>
                        عکس آفر
                    </td>
                    <td>
                        نام مالک
                    </td>
                    <td>
                        زمان ارسال
                    </td>
                    <td>
                       وضعیت تایید
                    </td>
                    <td>
                        وضعیت گزارش
                    </td>
                    <td>عملیت</td>
                </tr>
            </thead>
			<tbody>
				<tr>
                    <td>field 1</td>
                    <td>field 2</td>
                    <td>field 3</td>
                    <td>field 4</td>
                     <td>field 4</td>
                     <td>field 4</td>
                     <td>field 4</td>
				</tr>
                <tr>
                    <td>field 11</td>
                    <td>field 12</td>
                    <td>field 13</td>
                    <td>field 14</td>
                     <td>field 4</td>
                     <td>field 4</td>
                     <td>field 4</td>
				</tr>
			</tbody>
		</table>
	</div>*@

     <table id="offerGridForConfirm"></table>

    </section>
</div>
<!--main-wrapper-->