﻿@model Offtick.Data.Context.ExpertOnlinerContexts.MembershipUser
@if(Model!=null)
{

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    var thumbnailOfOtherUser = string.Empty;
    var currentUserName = string.Empty;
    if(currentUser!=null)
    {
        currentUserName = currentUser.UserName;
        thumbnailOfOtherUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(Model.UserId, Model.Picture);
    }

 <!-- Modal -->
  <div class="modal fade" id="modalSendMessage" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h6 style="color:red;"><span class="glyphicon glyphicon-lock"></span>ارسال پیام مدیر به @Model.UserName</h6>
        </div>
        <div class="modal-body ">
            <input type="hidden" value="@Model.UserName" id="hdnSendMessageReceiverUserName"/>
            <input type="hidden" value="@currentUser.UserName" id="hdnSendMessageSenderUserName"/>
             @*<img src="@thumbnailOfOtherUser" class="thaumbnail24">*@
             <select id="drpMethodType">
                 <option value="Email">Email</option>
                 <option value="DomainMessage">Message</option>
                 <option value="SMS">SMS</option>
             </select>
           

             <div class="panel panel-default text-right">
                <div class="panel-heading ">متن پیام را وارد نمایید</div>
                <div class="panel-body ">
                    <div class="row">
                         <textarea class="text-right"  style="width:100%; resize: none;" id="txtSendMessageToAnother"></textarea>
                    </div>
       
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <span class="btn btn-default fa fa-floppy-o" id="btnSendMessageToAnotherUser">
                    ارسال
                </span>
        </div>
      </div>
    </div>
  </div> 


}

