﻿@using Offtick.Core.Utility;
@{
    string dateTo = "";//Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(DateTime.Now);
    string dateFrom = "";//Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(DateTime.Now.Subtract(TimeSpan.FromDays(30)));
}
<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت کاربران</h3>

            </header>
      

            
	         <div class="items-table-container">
		        <table class="items-table">
			        <tbody>
				        <tr>
                                <td>نام شخص یا شرکت:<input type="text" id="txtumpName" class="w-2" /> </td>
                             <td>نام کاربری:<input type="text" id="txtumpUserName" class="w-2"/> </td>
                                 <td>ایمیل:<input type="text" id="txtumpEmail" class="w-2"/> </td>

				            
                                <td>مشخصه MBTI: <input type="text" id="txtumpMBTI" class="w-1"/></td>
                               
				            </tr>
                            <tr>
                                 <td>زمان ساخت:
                                    <input type="text" id="txtumpDateFrom" class="w-1" value="@dateFrom" />
                                     @*@Html.PersianCalender("txtumpDateFrom","","/Content/Images/Calendar.gif")*@
                                      تا 
                                    <input type="text" id="txtumpDateTo" class="w-1" value="@dateTo"/>
                                </td>
                                <td> شماره تلفن: <input type="text" id="txtumpPhoneNumber"  class="w-2"/></td>
                                <td> 
                                     <label for="chkumpSuspendedUser" >تنها کاربرانی که فعال نیستند</label> 
                                      <input type="checkbox" id="chkumpSuspendedUser"/>
                                   
                                  
                                </td>
                                
                               
				            </tr>
			        </tbody>
		        </table>
	        </div>


        </article>

    <p>
        <span class="btn btnC w-1" id="btnumpLoadUsers">
         بارگزاری مجدد
        </span>
    </p>
 

     <table id="umpUserGrid"></table>

    </section>
</div>
<!--main-wrapper-->