﻿@using Offtick.Core.Utility;
@{
    string dateTo=Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(DateTime.Now);
    string dateFrom = Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDate(DateTime.Now.Subtract(TimeSpan.FromDays(30)));
}
<div class="main-wrapper single-page">
    <section class="layout">
        <article>
            <header class="article-header">

                <h3>پنل مدیریت سایت کاربران</h3>

            </header>
      

            
	         <div class="items-table-container">
		        <table class="items-table">
			        <tbody>
				        <tr>
                                <td>نام وب سایت:<input type="text" id="txtuppName" class="w-2" /> </td>
                             <td>نام کاربری:<input type="text" id="txtuppUserName" class="w-2"/> </td>
                                 <td> پست الکترونیک کاربر:<input type="text" id="txtuppEmail" class="w-2"/> </td>
                             <td> شماره تلفن: <input type="text" id="txtuppPhoneNumber"  class="w-2"/></td>
				            </tr>
                            <tr>
                                 <td colspan="2">زمان ساخت:
                                    <input type="text" id="txtuppDateFrom" class="w-1" value="@dateFrom" />
                                     @*@Html.PersianCalender("txtuppDateFrom","","/Content/Images/Calendar.gif")*@
                                      تا 
                                    <input type="text" id="txtuppDateTo" class="w-1" value="@dateTo"/>
                                </td>
                               
                                <td> 
                                     <label for="chkuppSuspendedSite" >تنها سایت هایی که فعال نیستند</label> 
                                      <input type="checkbox" id="chkuppSuspendedSite"/>
                                </td>
                                <td> 
                                     <label for="chkuppPermitToDistributeOnMainSite" >تنها سایت هایی که اجازه انتشار در صفحه اصلی را ندارند</label> 
                                      <input type="checkbox" id="chkuppPermitToDistributeOnMainSite"/>
                                </td>
                               
				            </tr>
			        </tbody>
		        </table>
	        </div>


        </article>

    <p>
        <span class="btn btnC w-1" id="btnuppLoadProfiles">
         بارگزاری مجدد
        </span>
    </p>
 

     <table id="uppProfileGrid"></table>

    </section>
</div>
<!--main-wrapper-->