﻿@model  IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.File>
@{
    Layout = "";
    int counter = 0;
    int max = Model == null ? 0 : Model.Count();
    int columnsCount = 5;
} 
<table>
    @if(Model!=null)
    {
            foreach (var item in Model)
            {
                if (counter % columnsCount == 0)
               {
                     @: <tr>
                         }
                counter++;
                       <td>
              
                           @Html.Partial("ContentPresentationItem",item)
                       </td>
   
                if (counter % columnsCount == 0 || counter == max)
               {
                     @: </tr>
                         }
            }
    }
        </table>