﻿@model Offtick.Data.Context.ExpertOnlinerContexts.File
@using Offtick.Core.Utility;
@{
    string controlId = "ContentPresentationItem" + Model.FileId.ToString();
    string modelTitle = Model != null && Model.FileCultures.Count > 0 ? Model.FileCultures.First().Title : string.Empty;
    //bool isImage = Offtick.Business.Services.Managers.ContentManager.Instance.IsImage(Model.FileType.Mime);
    var fileSearchItem = Offtick.Business.Services.Managers.ContentManager.Instance.GetVirtualPathOfFile(Model.Url, Model.FileType.Mime, Model.MembershipUser.UserName);
}
<div style="width:155px;border:1px solid #46464f;flex-align:center;text-align:center;" id="@controlId">
    <div>
        @modelTitle
    </div>
    <div style="min-height:128px;min-width:128px">
        <img src="@fileSearchItem.ThumbnailAddress" />
    </div>
    <div>
        <table>
            <tr>
                <td>
                    
                    @Ajax.ImageActionLink("/Content/Images/delete16.png","حذف","DeleteFile",new {galleryImageId=Model.FileId},new AjaxOptions()
               {
                    Confirm="آیا می خواهید این فایل را حذف نمایید؟",
                    OnSuccess="reloadContentPresentationItemCollection",
                    HttpMethod="post",
                    Url=Url.Action("DeleteFile",new {FileId=Model.FileId}),
                    OnFailure="",
                    

               })
                </td>
                <td>
                     <a href="#" galleryImageControlId="@controlId" galleryImageId="@Model.FileId" class="EditInfoGalleryImageWrapper"> <img src="~/Content/Images/edit16.png" /></a>
                </td>
                <td>
                     <a href="@fileSearchItem.FullAddress" galleryId="@Model.FileId" galleryImageId="@Model.FileId" class="ViewGalleryViewerImageWrapper">
                        <img src="~/Content/Images/view16.png"  />
                    </a>
                </td>
                
            </tr>
        </table>
    </div>
    <div style="display:inline-block;width:150px; word-break:break-all;font-size:smaller;direction:ltr;">
        @fileSearchItem.FullAddress
        </div>
</div>