﻿@model  IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.File>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminStyleSheet.css")" >
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
  
<script type="text/javascript">
    function reloadContentPresentationItemCollection() {
        $.get('@Url.Action("ContentPresentationItemCollection")', function (data) {
            $("#GalleryBodyContainerDiv").html(data);
         });
    }

    $(function () {
        reloadContentPresentationItemCollection();
    });
   
</script>
<div >
        
    <div id="GalleryBodyContainerDiv">
       
    </div>
        @Html.Partial("AddContent")
</div>