﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Gallery
@{
    string galleryId = Model!=null?Model.GalleryId.ToString():string.Empty;
}

   <script>
             $(function () {
                 $("#tabs").tabs();
             });
             function reloadGalleryHeader() {
                 $.get('@Url.Action("GalleryHeaderInfo",new {galleryObjectId=galleryId})', function (data) {
                     $("#GalleryHeaderInfoDivContainer").html(data);
                 });
             }

       function reloadGalleryImageWrapperCollection() {
           $.get('@Url.Action("GalleryImageWrapperCollection",new {galleryId=galleryId})', function (data) {
               $("#tabs-1").children().remove();
               $("#tabs-1").html(data);
           });
       }

       function reloadGalleryImageWrapperById(galleryImageWrapperControlId,galleryImageId) {
           
           $.get('@Url.Action("GalleryImageWrapper")' + "?galleryImageId=" + galleryImageId, function (data) {
               var parent = $("#" + galleryImageWrapperControlId).parent().get(0);
               $("#" + galleryImageWrapperControlId).remove();
               $(parent).html(data);
               $(parent).find(".EditInfoGalleryImageWrapper").each(function (index, element) {
                   EditInfoGalleryImageWrapperClick(element);
               });
               $(parent).find(".ViewGalleryViewerImageWrapper").each(function (index, element) {
                   ViewGalleryViewerImageWrapperClick(element);
               });
               
           });
       }
     

        </script>

        <div class="GalleryHeader" id="GalleryHeaderInfoDivContainer">
            @Html.Action("GalleryHeaderInfo",new {galleryObjectId=galleryId})
        </div>
        <div id="GalleryContent">

            <div id="tabs">
                  <ul>
                    @*<li><a href="@Url.Action("GalleryImageWrapperCollection",new {galleryId=galleryId})">پیمایش تصاویر</a></li>*@
                      <li><a href="#tabs-1">پیمایش تصاویر</a></li>
                    <li><a href="#tabs-2">ویرایش</a></li>
                    <li><a href="#tabs-3">انتقال</a></li>
                    <li><a href="#tabs-4">  آلبوم جدید</a></li>
                      <li><a href="#tabs-5"> عکس جدید</a></li>
                  </ul>
            <div id="tabs-1">
                <div id="galleriaInstance1">
                    @Html.Partial("GalleryImageWrapperCollection",Model!=null?Model.GalleryImages:null)
                </div>
            </div>
            <div id="tabs-2">
                 @{
                    var editGalleryModel = new Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel();
                    if (Model != null)
                    {
                       
                            editGalleryModel.Title = Model.Title;
                            editGalleryModel.Description =  Model.Description;
                       
                        editGalleryModel.Id = Model.GalleryId;
                      
                        editGalleryModel.IsDefault = Model.IsDefault.HasValue? Model.IsDefault.Value:false;
                        editGalleryModel.AdaptMode = Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryMode.Edit;
                    }
                }
                @Html.Partial("AdaptGallery",editGalleryModel)
            </div>
            <div id="tabs-3">
                   
            </div>
            <div id="tabs-4">
                @{
                    var addGalleryModel = new Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel();
                    if (Model != null)
                    {
                        addGalleryModel.Id = null;
                        addGalleryModel.ParentId = Model.GalleryId;
                        addGalleryModel.AdaptMode = Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryMode.Add;
                    }
                }
                @Html.Partial("AdaptGallery",addGalleryModel)
            </div>
            <div id="tabs-5">
                @Html.Partial("UploadFile",editGalleryModel)
            </div>
        </div>
             
        </div>
    