﻿@model IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage>
  
<script type="text/javascript">
   

    function ViewGalleryViewerImageWrapperClick(clickerObj) {
        $(clickerObj).click(function () {
            var galleryImageId = $(clickerObj).attr("galleryImageId");
            var galleryId = $(clickerObj).attr("galleryId");
            var urlOfAction = "@Url.RouteUrl("Default",new {Controller="ImageGallery",Action="GalleriaViewer"})" + "?galleryId=" + galleryId;
            window.location.href = urlOfAction;


        });
    }

    $(function () {
        $(".ViewGalleryViewerImageWrapper").each(function (index, element) {
            ViewGalleryViewerImageWrapperClick(this);
        });


    });

</script>
@{ int counter=0;
      int max = Model == null ? 0 : Model.Count();
      
      }
<table class="ControlItemCollectionTable">

@if (Model!=null)
{
        foreach (var controlItem in Model)
            {
                if(counter%5==0)
                {
                        @: <tr>
                            }
                counter++;
                        <td>
              
                            @Html.Partial("GalleryIMageWrapperOtherProfile",controlItem)
                        </td>
   
                    if(counter%5==0 || counter==max)
                {
                        @: </tr>
                            }
         
       
            }
}
    </table>