﻿@model Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage
@using Offtick.Core.Utility;
@{
    string controlId = "GalleryImageWrapper"+Model.ImageId.ToString();
    string modelTitle=Model!=null ? Model.Title:string.Empty;
    string imgUrl=Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(Model.ImageUrl,Model.Gallery.MembershipUser.UserId,true);
}
<div style="width:155px;border:1px solid #46464f;flex-align:center;text-align:center;" id="@controlId">
    <div>
        @modelTitle
    </div>
    <div style="min-height:128px;min-width:128px">
        <img src="@imgUrl" />
    </div>
    <div>
        <table>
            <tr>
                <td>
                    
                    @Ajax.ImageActionLink("/Content/Images/delete16.png","حذف","DeleteGalleryImage",new {galleryImageId=Model.ImageId},new AjaxOptions()
               {
                    Confirm="آیا می خواهید این عکس را حذف نمایید؟",
                    OnSuccess=string.Format("SuccessDeletingImageGallery('{0}')",controlId),
                    HttpMethod="post",
                    Url=Url.Action("DeleteGalleryImage",new {galleryImageId=Model.ImageId}),
                    OnFailure="",
                    

               })
                </td>
                <td>
                     <a href="#" galleryImageControlId="@controlId" galleryImageId="@Model.ImageId" class="EditInfoGalleryImageWrapper"> <img src="~/Content/Images/edit16.png" /></a>
                </td>
                <td>
                     <a href="#" galleryId="@Model.GalleryId" galleryImageId="@Model.ImageId" class="ViewGalleryViewerImageWrapper">
                        <img src="~/Content/Images/view16.png"  />
                    </a>
                </td>
                <td>
                    <img src="~/Content/Images/like16.png" />
                    <br />@Model.GalleryImageVotes.Count()
                </td>
                <td>
                    <img src="~/Content/Images/comment16.png" />
                      <br />@Model.GalleryImageComments.Count()
                </td>
                <td>
                    <img src="~/Content/Images/location16.png" />
                </td>
            </tr>
        </table>

    </div>
</div>
