﻿@model Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage
@using Offtick.Core.Utility;
@{
    string controlId = "GalleryImageWrapper"+Model.ImageId.ToString();
    string modelTitle=Model!=null ? Model.Title:string.Empty;
    string userName = Model.Gallery.MembershipUser.UserName;
    Guid userId = Model.Gallery.MembershipUser.UserId;
    string imgUrl = Offtick.Business.Services.Managers.GalleryManager.Instance.GetVirtualPathOfGalleryImage(Model.ImageUrl, userId, true);
}
<div style="width:155px;border:1px solid #46464f;flex-align:center;text-align:center;" id="@controlId">
    <div>
        @modelTitle
    </div>
    <div style="min-height:128px;min-width:128px">
         <a href="@Url.Action("ImageViewer", "Gallery", new {userName=userName, galleryImageId=Model.ImageId.ToString()})">
             <img src="@imgUrl" />
         </a>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <img src="~/Content/Images/like16.png" />
                    <br />@Model.GalleryImageVotes.Count()
                </td>
                <td>
                    <img src="~/Content/Images/comment16.png" />
                      <br />@Model.GalleryImageComments.Count()
                </td>
               
            </tr>
        </table>

    </div>
</div>
