﻿@model IList<Offtick.Data.Context.ExpertOnlinerContexts.GalleryOffer> 
<div >
      @{
         
          if (Model != null)
          {
              
                  
                        int k = 0;
                        while (k < Model.Count)
                        {
                            var offer = Model[k].Offer;
                           
                              if (k %5 == 0)
                                {
                                    @: <div class="row">
                                  }
                            var userNameOfOfferOwner = offer.MembershipUser.UserName;
                            var userIdOfOfferOwner = offer.MembershipUser.UserId;
                            var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                            string urlOfOfferImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.FileName, false);
                            string urlOfOwnerImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), offer.MembershipUser.Picture, true);
                              
                            <div class="col-md-2" style="padding:10px;">
                                
                                        <div style="position:relative;">
                                            <a href="@Url.Action("ShowOffer","Gallery",new{area="User",offerId=offer.OfferId})">
                                                <img src="@urlOfOfferImage" style="width:100%;height:100%"/>
                                            </a>
                                             <span style="position:absolute; top:5px;right:20px; direction:rtl;background-color:whitesmoke;padding:1px;">
                                                    @Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetStringPastFormOfTime(offer.DateTime)
                                             </span>
                                             <div style="position:absolute; bottom:5px;left:20px;background-color:whitesmoke;padding:1px;">
                                                 <span class="fa fa-heart likeOfferCount">@offer.OfferLikes.Count()</span>
                                                 <span class="fa fa-comment commentOfferCount">@offer.OfferComments.Count()</span>

                                             </div>
                                      
                                              <div style="left:80%;top:30px;position:absolute;padding:2px;"> @*Showing visitors*@
                                                    @foreach(var  entity in offer.OfferVisiteds.OrderByDescending(e=>e.DateTime).Take(5))
                                                    {
                                                        @Html.Action("ShowUserStatus", "Profile", new { area = "User", user = entity.MembershipUser ,maxWidth=32});
                                                    }
                                            </div>
                                        </div>
                                       
                            
                                      <div class="row">
                                            <div class="col-md-2  row">

                                                <a class="col-md-4" href="@Url.Action("OtherProfile","Profile",new {area="User",userName=userNameOfOfferOwner})">
                                                    <img src="@urlOfOwnerImage" class="thaumbnail32" />
                                              </a>
                                             
                            

                                            </div>
                                            <span class="col-md-10  text-primary offerTitle text-right">@offer.Body</span>
                                        
                                        </div>
                                 
                                  
                            </div>
                            k++;
                           if (k %5 == 0 || k==Model.Count)
                                {
                                    @: </div>
                                  }
                           


                        }
                    
           
                       
          }
      }
    </div>