﻿@model Offtick.Data.Context.ExpertOnlinerContexts.GalleryImage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

   string urlOfImage=string.Empty;
   string userName=string.Empty;
   string commenterUserName = string.Empty;

   if(Model!=null)
   {
       userName=Model.Gallery.MembershipUser.UserName;
       var userId = Model.Gallery.MembershipUser.UserId;
       var commenter= Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
       commenterUserName =commenter!=null? commenter.UserName:string.Empty;
       var fileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userId.ToString());
       urlOfImage = fileManager.GetRelativeFullFileName(userId.ToString(), Model.ImageUrl, false);
      
            
   }
   
 }

<script type="text/javascript">
    $(function () {
        var urlOfAction = "";
        urlOfAction = ' @Url.Action("PostACommentForGalleryImage", "Gallery")';
        var urlOfLikeDislikeAction = ' @Url.Action("LikeToggleForGalleryImage", "Gallery")';
        var commenter="@commenterUserName";
        if (commenter != "" && commenter != null) {
            $("#btnSendCommentForGalleryImage").click(function () {
                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ galleryImageId: "@Model.ImageId", commenterUserName: "@commenterUserName", commentBody: $("#txtCommentForImageGallery").val() }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success") {
                            alert("success");
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        alert(errorMessage + xhr.toString() + textStatus);
                    }
                });


            });


            $("#btnLikeDislikeForGalleryImage").click(function () {
                $.ajax({
                    type: 'POST',
                    url: urlOfLikeDislikeAction,
                    data: JSON.stringify({ galleryImageId: "@Model.ImageId", likerUserName: "@commenterUserName" }),
                    dataType: 'json',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success") {
                            alert("success");

                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        alert(errorMessage + xhr.toString() + textStatus);
                    }
                });
            });
        }
    });
</script>
<style type="text/css">
    tr td{
    vertical-align:top;
}

div.blue{
    width:50px;
    height:50px;
    background:blue;
    float:left;
}
div.yellow{
    width:50px;
    height:50px;
    background:yellow;
    float:left;
    clear:both;
    margin-top:100px;
}
</style>
<table>
    <tr>
        <td>
            <img src="@urlOfImage" id="imgImageGalleryId" style="max-height:1024px;max-width:1024px;"/>
        </td>
        <td>
            <div>
                <a href="#" style="text-decoration:none">
                   <span style="">
                        @Model.GalleryImageVotes.Count()
                         <img src="~/Content/Images/like16.png" /> |
                   </span>
                </a>
                @{
                    if(Model.GalleryImageVotes.Count()>0){
                        var last5Votes = Model.GalleryImageVotes.OrderByDescending(e => e.DateTime).Take(6);
                        foreach(var vote in last5Votes){
                            var fileManagerOfVoter = new Offtick.Business.Services.Storage.File.ImageFileManager(vote.MembershipUser.UserId.ToString());
                            var urlOfImageOfVoter = fileManagerOfVoter.GetRelativeFullFileName(vote.MembershipUser.UserId.ToString(), vote.MembershipUser.Picture, true);
                            if (!fileManagerOfVoter.IsExit(urlOfImageOfVoter))
                            {
                                urlOfImageOfVoter = "/Content/images/personal16.png";
                            }
                            @:<a title="@vote.MembershipUser.UserName" href="@Url.Action("OtherProfile", "Profile", new { userName=vote.MembershipUser.UserName})"><img src="@urlOfImageOfVoter" /></a>
                        }
                    }
                }
            <div>
                <hr />
                </div>
                <div >
                    <div style="min-height:80px;">
                          @{
                            if(Model.GalleryImageComments.Count()>0){
                                var lastEntities = Model.GalleryImageComments.OrderByDescending(e => e.DateTime).Take(10);
                                foreach (var entity in lastEntities)
                                {
                                    var fileManagerOfVoter = new Offtick.Business.Services.Storage.File.ImageFileManager(entity.MembershipUser.UserId.ToString());
                                    var urlOfImageOfVoter = fileManagerOfVoter.GetRelativeFullFileName(entity.MembershipUser.UserId.ToString(), entity.MembershipUser.Picture, true);
                                    if(!fileManagerOfVoter.IsExit(urlOfImageOfVoter))
                                    {
                                        urlOfImageOfVoter = "/Content/images/personal16.png";
                                    }
                                  
                                    @:<a href="@Url.Action("OtherProfile", "Profile", new { userName=entity.MembershipUser.UserName})"><img src="@urlOfImageOfVoter" /></a>
                                    @:<a href="@Url.Action("OtherProfile", "Profile", new { userName=entity.MembershipUser.UserName})">@entity.MembershipUser.UserName</a>
                                    @:<br /><label >@entity.Text</label>
                                @:<hr />
                        }
                    }
                }
                    </div>
                    @Html.TextBox("txtCommentForImageGallery", null)
                    <input type="button" id="btnSendCommentForGalleryImage" value="ارسال"/>
                </div>
            </div>
        </td>
        <td style="background-color:aliceblue;min-width:30px">

             <a href="#" style="text-decoration:none" id="btnLikeDislikeForGalleryImage">
                    <div>
                         <img src="~/Content/Images/like16.png" />
                    </div>
                </a>
            <br />
             <a href="#" style="text-decoration:none">
                 <img src="~/Content/Images/comment16.png" />
                      <br />@Model.GalleryImageComments.Count()
                 </a>
        </td>
    </tr>
</table>
@Html.Label(Model.Description)
<hr />