﻿@model  IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.Gallery>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
  
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminStyleSheet.css")" >
    
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.0.min.js")"></script>
    
     <script src="@Url.Content("~/Scripts/galleria-1.3.2.min.js")"></script>
    
}

 @{
     var imageGalleryMenuID = "imageGalleryMenu";
     var updateTargetID = "GalleryBodyContainerDiv";
     var urlOfAction = Html.Raw(Url.Action("GalleryMenu", new { imageGalleryMenuID = imageGalleryMenuID, updateTargetId = updateTargetID }));
     
    
        }

<script type="text/javascript">
    function reloadGalleryMenu() {
        $.get('@urlOfAction', function(data)
        {
            $("#GalleryMenuContainerDiv").html(data);
                $("#@imageGalleryMenuID").menu();
                $("#@imageGalleryMenuID").menu("refresh");
            
        });

    }
</script>

<div >
    <div id="GalleryMenuContainerDiv" >
        
        
        @Html.Raw(
        @Offtick.Business.Web.GalleryImageHelper.CreateGalleryMenu(Model,Offtick.Business.Services.Managers.LangaugeManager.Instance.GetDefaultLangaugeId(), imageGalleryMenuID, string.Empty,"GalleryBodyContainerDiv"))
            
    </div>
       <script>
           $(function () {

               $("#@imageGalleryMenuID").menu();
             });
        </script>
    <div id="GalleryBodyContainerDiv" class="GalleryContentainer division" style="width:900px;">
        @Html.Action("GalleryBodyManagement")
        </div>
</div>