﻿@model  Offtick.Data.Context.ExpertOnlinerContexts.Offer

@{
    ViewBag.fullSize = true;
    
    Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.setFullSize(this, false);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var currentUserName = string.Empty; 
    string roleName = string.Empty;
     var thumbnailOfCurrentUser=string.Empty;
  
    if(currentUser!=null){
        currentUserName=currentUser.UserName;
        var roleOfUser = currentUser.MembershipUsersInRoles.FirstOrDefault();
        thumbnailOfCurrentUser = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(currentUser.UserId, currentUser.Picture);
        if (roleOfUser != null)
        {
            roleName = roleOfUser.MembershipRole.RoleName;
        }
    }
    

    // var offers = Offtick.Business.Services.Managers.OfferManager.Instance.getWallOffersForUser(currentUser, 0, 20);

   



    var urlOfCurrentUserProfile = Url.Action("Index", "Profile", new { area = "User" });
}



    @if (Model != null)
    {
        

             <div style="margin-top:10px;text-align:center">
            @{
                string userNameOfOfferOwner = Model.MembershipUser.UserName;
                Guid userIdOfOfferOwner = Model.MembershipUser.UserId;
                var userFileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(userIdOfOfferOwner.ToString());
                string urlOfOfferOwner = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetThumbnailOf(userIdOfOfferOwner, Model.MembershipUser.Picture);
                var urlOfImage = userFileManager.GetRelativeFullFileName(userIdOfOfferOwner.ToString(), Model.FileName, false);

                bool isOfferLiked = Offtick.Business.Services.Managers.OfferManager.Instance.IsOfferLikedByUser(currentUser, Model);
                var likeCssClass = isOfferLiked ? "fa fa-heart liked" : "fa fa-heart-o unLiked";
                
            
                    <div style=" border: 1px solid #eee; padding:10px;margin-top:10px;" class="offerContainer" data-offerId="@Model.OfferId">
                    <div class="row">
                        <div class="col-md-4  row">

                            <a class="col-md-4" href="@Url.Action("OtherProfile","Profile",new {area="User",userName=userNameOfOfferOwner})">
                                <img src="@urlOfOfferOwner" class="thaumbnail32" />
                          </a>
                            <div class="col-md-8">
                                <a   href="@Url.Action("OtherProfile","Profile",new {area="User",userName=userNameOfOfferOwner})">
                                  @Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPresentationNameOfUser(Model.MembershipUser):
                              </a>
                            </div>
                            

                        </div>
                        <span class="col-md-5  text-primary offerTitle">@Model.Title</span>
                        @Html.Action("OfferManagementCombo","Offer",new{area="User",currentUserName=currentUserName,userNameOfOfferOwner=userNameOfOfferOwner})
                    </div>
              
                       @*  <a href="@Url.Action("OfferViewer", "Offer", new { area = "User", offerId = offer.OfferId })">
                                 <img src="@urlOfImage" style="max-width:1000px;max-height:500px;"/>
                         </a>*@
                        <div class="row"  style="position:relative;">
                            <img src="@urlOfImage" class="likeOfferOnImage btn col-md-12"  />

                               <span style="position:absolute; top:5px;right:20px; direction:rtl;background-color:whitesmoke;padding:1px;">
                                    @Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetStringPastFormOfTime(Model.DateTime)
                                </span>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-1 col-md-offset-1">
                                <span class="fa fa-heart likeOfferCount">@Model.OfferLikes.Count()</span>

                            </div>
                            <div class="col-md-1 col-md-offset-8">
                                <span class="fa fa-comment commentOfferCount">@Model.OfferComments.Count()</span>
                            </div>
                        </div>
                        <div class="row offerDescription">
                            @Model.Body
                        </div>
                   
                                     @Html.Action("CommentsForOffer","Offer",new {area="User",offer=@Model})

                    <div>
                       @* <img src="@thumbnailOfCurrentUser" class="thaumbnail24">*@
                       @* <span class="btn @likeCssClass likeOffer">

                        </span>*@
                    
                   
                    </div>
                </div>
            }
            
        </div>
        

    }
