﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Gallery
@if(Model!=null){
     <script>
         $(function () {
       

             $("#btnLoadMoreGalleryOffer").click(function () {

                var urlOfAction = "@Url.Action("GetGalleryOffer", "Gallery", new { area = "User", })";
                 $("#hdnGalleryOfferSkip").val(parseInt($("#hdnGalleryOfferTake").val()) + parseInt($("#hdnGalleryOfferSkip").val()));

                 var offerTake = $("#hdnGalleryOfferTake").val();
                 var offerSkip = $("#hdnGalleryOfferSkip").val();
            

                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ take: offerTake, skip: offerSkip,userName:"@Model.MembershipUser.UserName" }),
                    dataType: 'html',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success" && data) {
                            $("#GalleryOfferContainer").append(data);

                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        alert(errorMessage + xhr.toString() + textStatus);
                    }
                });
            });
        });
    </script>
      <div id="GalleryOfferContainer">
            <input type="hidden" id="hdnGalleryOfferTake" value="5" />
            <input type="hidden" id="hdnGalleryOfferSkip" value="0"/>
            @Html.Action("GetGalleryOffer","Gallery",new {area="User",userName=Model.MembershipUser.UserName,take=5,skip=0})
        </div>
     <br />
    if(Model!=null && Model.GalleryOffers.Count>0){
        <span class="btn btn-default" id="btnLoadMoreGalleryOffer">
            بارگزاری تعداد بیشتر
        </span>
    }
}