﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel 
@{
    string actionUrl="/dr/gallery/UploadFileLoader"+ (Model==null?string.Empty:string.Format("/galleryId={0}",Model.Id));

    string guid=Guid.NewGuid().ToString();
    string tableId = "UploadFile" + guid;
    string txtTitleId = "txtTitle" + guid;
    string txtDescriptionId = "txtDescriptionId" + guid;
    string btnSendId = "btnSend" + guid;
    string fileUploadId = "fileUpload" + guid;
        
}

    <table id="@tableId">
        <tr>
            <td>
                <div class="row">
                  <label for="@fileUploadId" class="btn fa fa-file-o btnB">   انتخاب عکس   </label><br />
                    <br />
                  <input type="file" name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="انتخاب فایل" style="display:none" accept="image/*" />
                </div>
                    <div id="fileName"></div>
                    <div id="fileSize"></div>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>
                عنوان عکس:
            </td>
            <td>
                @Html.TextBoxFor(e => e.Title, new { id = txtTitleId })
            </td>
        </tr>
        <tr>
            <td>
                توضیحات عکس:
            </td>
            <td>
                 @Html.TextBoxFor(e=>e.Description, new { id = txtDescriptionId })
            </td>
        </tr>
    </table>
   
    
    <div class="row">
      <input type="button" onclick="uploadFile()" value="Upload"  />
    </div>
    <div id="progressNumber">

    </div>


    <script type="text/javascript">
        function fileSelected() {
            var file = document.getElementById('@fileUploadId').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'نام فایل: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'حجم فایل: ' + fileSize;
                
            }
        }

        function uploadFile() {
            var fd = new FormData();
            fd.append("@fileUploadId", document.getElementById('@fileUploadId').files[0]);
            fd.append("Title", $("#@txtTitleId").val());
            fd.append("Description", $("#@txtDescriptionId").val());
            fd.append("GalleryId", "@Model.Id");

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);
            
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
            reloadGalleryHeader();
            reloadGalleryImageWrapperCollection();
            //alert(evt.target.responseText);
            alert("عکس ذخیرده شد");
            $("#@tableId :input").val("");
            $("#fileName").empty();
            $("#fileSize").empty();
            $("#progressNumber").empty();
        }

        function uploadFailed(evt) {
            alert("خطایی در آپلود فایل رخ داده، مجددا سعی نمایید");
        }

        function uploadCanceled(evt) {
            alert("آپلود بوسیله کاربر لغو گردیده و یا ارتباط اینرنت قطع گریده است");
        }
    </script>