﻿
@model  IList<Offtick.Data.Context.ExpertOnlinerContexts.Message>


@using Offtick.Core.Utility;
@if (Model != null)
{
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    string otherUserName = ViewBag.otherUserName;
    var otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(otherUserName);
    string onlineStatus = string.Empty;
    Offtick.Business.Services.Storage.File.ImageFileManager ifManager = null;
    var otherImgUrlDefault = "/Content/Images/personal32.png";

    string selfImgUrl = string.Empty;
    ifManager = new Offtick.Business.Services.Storage.File.ImageFileManager(currentUser.UserId.ToString());
    selfImgUrl = ifManager.GetFullFileName(currentUser.Picture, true);
    if (ifManager.IsExit(selfImgUrl))
    {
        selfImgUrl = ifManager.GetRelativeFullFileName(currentUser.UserId.ToString(), currentUser.Picture, true); ;
    }
    else
    {
        selfImgUrl = otherImgUrlDefault;
    }
    
    
    
    string otherImgUrl = string.Empty;
    if (otherUser!=null)
    { 
        ifManager = new Offtick.Business.Services.Storage.File.ImageFileManager(otherUser.UserId.ToString());
        otherImgUrl = ifManager.GetFullFileName(otherUser.Picture, true);
        if (ifManager.IsExit(otherImgUrl))
        {
            otherImgUrl = ifManager.GetRelativeFullFileName(otherUser.UserId.ToString(), otherUser.Picture, true); ;
        }
        else
        {
            otherImgUrl = otherImgUrlDefault;
        }

    }
   
    ViewBag.Title = "مکالمه با "+otherUserName;
    
    <input type="hidden" id="hdnCurrentUserName" />
    <input type="hidden" id="hdnOtherUserName" />
    <input type="hidden" id="hdnCurrentUserImgUrl" />
    <input type="hidden" id="hdnOtherUserImgUrl" />
  
    <div class="chat-content-header">
        <span class="list-toggler" id="listToggler">
            <i class="fa fa-angle-right"></i>
        </span>
        @*<ul>
            <li class="username">@otherUserName</li>
            <li class="userstate">@onlineStatus</li>
        </ul>*@
        @if (otherUser != null) { 
            <ul>
                <li class="username">@otherUserName</li>
                <li class="userstate">@onlineStatus</li>
            </ul>
            <span class="btn btnC">حذف گفتگو</span>
    <span class="btn btnC"> پاک کردن پیام ها</span>
                <span class="btn btnC"> مسدود سازی کاربر</span>

        }
        else
        {
            <select id="cmbConversationTo" name="cmbConversationTo" class="chosen-select">
                <option value="1">برای یافتن افراد میتوانید شناسه کاربری و یا نام آنها را جستجو نمایید. </option>
            </select>
        }
    </div>
    <!--chat-content-header-->

    <div class="chat-wrapper">
        <ul class="chat-content-list" id="chat-content-list">
              @if(Model!=null)
                {
            
                    foreach(var message in Model){
                        var messageOwner=message.MembershipUser;
                        var liUserName=string.Empty;
                        var liImgScr = string.Empty;
                        var liCssOwner = string.Empty;
                        var deliveryStatus = message.IsRead.HasValue && message.IsRead.Value ? "checked" : "sent";
                        var dateTime = message.ReadTimestamp.HasValue ?
                            Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPersianDateTimeWithOutSecond(message.ReadTimestamp.Value)
                          : Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPersianDateTimeWithOutSecond(message.DateTime);
                        if (messageOwner.UserName.Equals(currentUser.UserName))
                        {
                            liImgScr=selfImgUrl;
                            liCssOwner = "my-message";
                        }
                        else
                        {
                            liImgScr = otherImgUrl;
                            liCssOwner = "";
                        }
                         
                       
                         <li class="@liCssOwner" id="@message.MessageId">
                                <div class="single-message-content">
                                    <div class="user-avatar-container">
                                        <img src="@liImgScr" alt="">
                                    </div>
                                    <div class="message-container">
                                        <span class="user-name">@messageOwner.UserName</span>
                                        @message.Body
                                        <span class="message-delete btn fa fa-remove" data-messaageId="@message.MessageId"> </span>
                                        <span class="message-date @deliveryStatus">@dateTime</span>
                                        @* sent,checked *@
                                       
                                    </div>
                                </div>
                        </li>
                    }

                }
        </ul>
    </div>
    <!--single-chat-->


    <div class="chat-content-footer">
       @* <div class="chat-items-conatienr">
            <i class="fa fa-camera" aria-hidden="true"></i>
            <ul class="chat-items">
                <li>
                    <i class="fa fa-film" aria-hidden="true"></i>
                    <span>Video</span>
                </li>
                <li>
                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                    <span>File</span>
                </li>
                <li>
                    <i class="fa fa-microphone" aria-hidden="true"></i>
                    <span>Podcast</span>
                </li>
                <li>
                    <i class="fa fa-camera" aria-hidden="true"></i>
                    <span>Photo</span>
                </li>
            </ul>
        </div>*@
        <!--chat-items-container-->
        <form action="" class="chat-input-form">
            <input type="text"  name="txtSendMessage" id="txtSendMessage"  placeholder="پیام خورد را بنویسید"/>
            <input type="button" name="btnSendMessage" id="btnSendMessage" value="Send">
            @*<span id="emojieButtonContainer">
                <i class="fa fa-smile-o" aria-hidden="true" id="emojiButton"></i>
            </span>*@
            <input type="text" id="lblConversationMessage" style="width:100%;color:darkgray;border:none;font-size:x-small" readonly="readonly" />
        </form>
    </div>
    <!--chat-content-footer-->
     


   



  
   


<script type="text/javascript">
    $("#hdnCurrentUserName").val("@currentUser.UserName");
    $("#hdnOtherUserName").val("@otherUserName");
    $("#hdnCurrentUserImgUrl").val("@selfImgUrl");
    $("#hdnOtherUserImgUrl").val("@otherImgUrl");
    

    //$(function(){
    //    initializeSignalR($("#hdnCurrentUserName").val());
    //});

    $("#txtSendMessage").onEnter(function () {
        $("#btnSendMessage").trigger("click");
    });

    $("#btnSendMessage").click(function () {
       
        var message=$("#txtSendMessage").val();

        sendMessage($("#hdnCurrentUserName").val(),$("#hdnOtherUserName").val(),message,"","","Text",1);
    });
   
</script>
}



