﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@model  IList<Offtick.Data.Context.ExpertOnlinerContexts.Message>


@using Offtick.Core.Utility;
@{
  // Layout = "~/Areas/User/Views/shared/_LayoutProfile.cshtml";
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    var otherUserName = Request.QueryString["otherUserName"];
    var otherUser = Offtick.Business.Membership.MembershipManager.Instance.GetUser(otherUserName);
    if (currentUser == null || otherUser==null)
    {
        return;
    }

    Offtick.Business.Services.Storage.File.ImageFileManager ifManager = null;
    var otherImgUrlDefault = "/Content/Images/personal32.png";

    string selfImgUrl = string.Empty;
    ifManager = new Offtick.Business.Services.Storage.File.ImageFileManager(currentUser.UserId.ToString());
    selfImgUrl = ifManager.GetFullFileName(currentUser.Picture, true);
    if (ifManager.IsExit(selfImgUrl))
    {
        selfImgUrl = ifManager.GetRelativeFullFileName(currentUser.UserId.ToString(), currentUser.Picture, true); ;
    }
    else
    {
        selfImgUrl = otherImgUrlDefault;
    }
    
    
    
    string otherImgUrl = string.Empty;
    if(otherUser!=null)
    {
       ifManager= new Offtick.Business.Services.Storage.File.ImageFileManager(otherUser.UserId.ToString());
       otherImgUrl = ifManager.GetFullFileName(otherUser.Picture, true);
       if (ifManager.IsExit(otherImgUrl))
       {
           otherImgUrl = ifManager.GetRelativeFullFileName(otherUser.UserId.ToString(), otherUser.Picture, true); ;
       }
       else
       {
           otherImgUrl = otherImgUrlDefault;
       }
    }

    
    
    
    int counter = 0;
    int max = 0;
    if (Model != null)
    {
        max = Model.Count;
    }
    ViewBag.Title = "مکالمه با "+otherUserName;
}


          <link href="@Url.Content("~/Content/ConversationStyle.css")" rel="stylesheet" type="text/css" />
@*            <script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
            

<fieldset id="conversation">
    <legend>
        @otherUserName گفتگوی میان شما و 

    </legend>
    <input type="hidden" id="hdnCurrentUserName" />
    <input type="hidden" id="hdnOtherUserName" />
        <input type="hidden" id="hdnCurrentUserImgUrl" />

        <input type="hidden" id="hdnOtherUserImgUrl" />



    <div class="chat" >
        @*div with style bubble me || bubble you*@

        
            @if(Model!=null)
            {
            
                foreach(var message in Model){
                    var messageOwner=message.MembershipUser;
                    if (messageOwner.UserName.Equals(otherUserName))
                    {
                        
                        @*<a href="@Url.Action("OtherProfile", "Profile", new  { userName=messageOwner.UserName})" title="@messageOwner.UserName">
                            <img src="@otherImgUrl" style="max-height:48px;max-width:48px;" />
                        </a>*@
                
                         <div  class="bubble me">
                               @message.Body
                                            @if(!string.IsNullOrEmpty(message.FileName))
                                            {
                                            <br /><img  src="@message.FileName"/>
                                            }
                             
                    </div>
                
                    }
                    else{
                        <div  class="bubble you">
                             @message.Body
                                            @if(!string.IsNullOrEmpty(message.FileName))
                                            {
                                                <br /><img  src="@message.FileName"/>
                                            }
                                   
                                   
                                   
                        </div>
                
                         @*<a href="@Url.Action("OtherProfile", "Profile", new  { userName=messageOwner.UserName})" title="@messageOwner.UserName">
                                                <img src="@selfImgUrl" style="max-height:32px;max-width:32px;"/></a>*@
                       
                    }
                }
          
          }

        <div id="chatPanel">

        </div>
          <input type="text" style="width:750px;" id="txtSendMessage"/><input type="button" value="ارسال" id="btnSendMessage"/>
    <br />
    <input type="text" id="lblConversationMessage" style="width:100%;color:darkgray;border:none;font-size:x-small" readonly="readonly" />

       
    </div>
   
</fieldset>

<script type="text/javascript">
    $("#hdnCurrentUserName").val("@currentUser.UserName");
    $("#hdnOtherUserName").val("@otherUserName");
    $("#hdnCurrentUserImgUrl").val("@selfImgUrl");
    $("#hdnOtherUserImgUrl").val("@otherImgUrl");


    //$(function(){
    //    initializeSignalR($("#hdnCurrentUserName").val());
    //});

    $("#txtSendMessage").onEnter(function () {
        $("#btnSendMessage").trigger("click");
    });

    $("#btnSendMessage").click(function () {

        var message = $("#txtSendMessage").val();

        sendMessage($("#hdnCurrentUserName").val(), $("#hdnOtherUserName").val(), message, "", "", "Text", 1);
    });
</script>




