﻿@model  IList<Offtick.Data.Context.ExpertOnlinerContexts.Message>
@using Offtick.Core.Utility;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    
    int counter = 0;
    int max = 0;
    if (Model != null)
    {
        max = Model.Count;
    }
}

<script type="text/javascript">
    $(function () {
        initializeChatPage();

        $(document).on('keyup', function (evt) {
            if (evt.keyCode == 27) {
                if ($("#txtSearchChat").is(":focus")) {
                    $("#chat-content-container").html("");

                }
                else
                    $("#txtSearchChat").focus();
            }
        });

        $(document).on('click', '#btnNewChatMessage', function (e) {
            var urlOfAction = "@Url.Action("ConversationFor", "Conversation", new { area = "User", })";
            var otherUserName=$(this).attr("data-userName");
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ otherUserName: otherUserName }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#chat-content-container").html(data);
                        $(".chosen-select").chosen({ width: "100%" });


                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });
        $(document).on('click', '.message-delete', function (e) {
           
            var messageId = $(this).attr("data-messaageid");
            var userName = $("#hdnCurrentUserName").val();
            deleteMessage(userName,messageId);
        });

        $(document).on("input","#cmbConversationTo_chosen .chosen-search-input",function () {
            var urlOfAction = "@Url.Action("SearchUser", "Conversation", new { area = "User", })";
            var searchKeyboard = $(this).val();
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ search: searchKeyboard }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                           $("#cmbConversationTo").html('');
                        //$("#cmbConversationTo").empty();

                        var serverResponse = JSON.parse(data);
                        if (serverResponse.ResultStatus == "Success") {
                            $.each(JSON.parse(data).DataObject, function (index, item) {
                                $('#cmbConversationTo').append('<option value="' + item.UserName + '"> @@' + item.UserName + ' ' + item.FirstName + '</option>');
                            });

                        }
                        else
                        {
                            $('#cmbConversationTo').append('<option value="admin006"> @@admin006 مدیر سایت</option>');
                        }
                            $("#cmbConversationTo").val("");

                        
                        $("#cmbConversationTo").trigger("chosen:updated");
                       // $("#cmbConversationTo").trigger("liszt:updated");
                        $(".chosen-select").chosen({ width: "100%" });
                        $("#cmbConversationTo_chosen .chosen-search-input").val(searchKeyboard);






                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $(document).on("change click", "#cmbConversationTo", function (e, selected) {
           // var element = $(this).find('option:selected');
            loadOrNewConversationFor($(this).val());
            //alert(this);
        });

        $(document).on('click', '.chat-box-conversation-for', function (e) {
            var urlOfAction = "@Url.Action("ConversationFor", "Conversation", new { area = "User", })";
            var otherUserName=$(this).attr("data-userName");
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ otherUserName: otherUserName }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#chat-content-container").html(data);
                        $('li[data-userName=' + JSON.parse(this.data).otherUserName + '] > span.new-messages-count').html("").hide();
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });

        function loadOrNewConversationFor(otherUserName) {
            var urlOfAction = "@Url.Action("ConversationFor", "Conversation", new { area = "User", })";
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ otherUserName: otherUserName }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#chat-content-container").html(data);
                        $('li[data-userName=' + JSON.parse(this.data).otherUserName + '] > span.new-messages-count').html("").hide();
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        }

        function initializeChatPage() {
            var urlOfAction = "@Url.Action("ConversationListForUser", "Conversation", new { area = "User", })";
            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ userName: loginUserName }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data && JSON.parse(data).ResultStatus == "Success") {
                      
                        $.each(JSON.parse(data).DataObject, function (index,cItem) {
                            var countOfUnreadHtml = cItem.CountOfUnread > 0 ? '<span class="new-messages-count">' + cItem.CountOfUnread + '</span>' : "";
                            var cssOfLi = cItem.CountOfUnread > 0 ? "not-read" : "read";

                            var htmlData = '<li class="' + cssOfLi + ' chat-box-conversation-for" data-userName="' + cItem.OtherUserName + '"><!--active, not-read,read,-->' +
                                    '<div class="user-avatar-container">'+
                                        '<img class="avatar" src="' + cItem.OtherUserPicture + '" alt="">' +
                                    '</div>'+
                                    '<span class="user-name">' + cItem.OtherFirstName + '</span>' +
                                    '<span class="chat-excerpt">' + cItem.LastMessageBody + '</span>' +
                                        countOfUnreadHtml+
                                        '<span class="last-message-date">' + cItem.LastMessageDateTimeFa + '</span>' +
                                '</li>';

                            $("#chat-box-list").append(htmlData);
                        });
                       
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        }
    });
</script>

  



 <div class="chat-container" id="chatContainer">
    <div class="chat-box-wrapper">
        <div class="chat-box-container">

            <div class="chat-box-header">
                <form class="search-chats-list">
                    <input type="text" placeholder="Search" name="txtSearchChat" id="txtSearchChat">
                    @*<input type="submit" name="submit">*@
                </form>
                <span class="fa fa-envelope-o btnB" id="btnNewChatMessage"></span>
            </div>
            <!--chat-box-header-->

            <ul class="chat-box-list" id="chat-box-list">
                           
                 @*   @if (Model!=null){
                        foreach (var message in Model)
                        {
                            var otherUser = currentUser.UserName == message.MembershipUser.UserName ? message.MembershipUser1 : message.MembershipUser;
                            var ifManager = new Offtick.Business.Services.Storage.File.ImageFileManager(otherUser.UserId.ToString());
                            var otherImgUrlDefault = "/Content/Images/personal32.png";

                            var otherImgUrl = ifManager.GetFullFileName(otherUser.Picture, true);
                            if (ifManager.IsExit(otherImgUrl))
                            {
                                otherImgUrl = ifManager.GetRelativeFullFileName(otherUser.UserId.ToString(), otherUser.Picture, true); ;
                            }
                            else
                            {
                                otherImgUrl = otherImgUrlDefault;
                            }
                            var someOfBody = message.Body.TruncateAtWord(50);
                            var displyName = string.Format("{0} {1} ({2})", otherUser.FirstName, otherUser.LastName, otherUser.UserName);
                            var countOfUnread = Offtick.Web.OfftickWeb.Areas.User.Controllers.ConversationController.CountOfUnreadFor(otherUser);
                            var showDate = message.ReadTimestamp.HasValue ? message.ReadTimestamp.Value : message.DeliveredTimestamp.HasValue ? message.DeliveredTimestamp.Value : message.DateTime;
                            var showDateInPersian =string.Empty;
                            if (showDate.DayOfYear != DateTime.Now.DayOfYear)
                            {
                                showDateInPersian = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.GetPersianDate(showDate);
                            }
                            else
                            {
                                showDateInPersian = showDate.ToShortTimeString();
                            }
                            var cssOfLi = countOfUnread > 0 ? "not-read" : "read";
                                        
                            //Url="@Url.Action("ConversationFor", "Conversation", new { otherUserName = otherUser.UserName })";   
                                <li class="@cssOfLi chat-box-conversation-for" data-userName="@otherUser.UserName"><!--active, not-read,read,-->
                                    <div class="user-avatar-container">
                                        <img class="avatar" src="@otherImgUrl" alt="">
                                    </div>
                                    <span class="user-name">@displyName</span>
                                    <span class="chat-excerpt">@someOfBody</span>
                                        @if(countOfUnread>0){
                                            <span class="new-messages-count">@countOfUnread</span>
                                        }
                                    <span class="last-message-date">@showDateInPersian</span>
                            </li>
                        }
                                         
                    }*@
            </ul>
            <!--chat-box-list-->
        </div>
        <!--chats-list-->

        <div class="chat-content-container" id="chat-content-container">
            @{
                string otherUserName = ViewBag.otherUserName;
                if(!string.IsNullOrEmpty(otherUserName)){
                    @Html.Action("ConversationFor", "Conversation", new {area="User",otherUserName=otherUserName });
                }
            }

        </div>
        <!--chat-content-container--> 
    </div>
    <!--chat-wrapper-->
</div>
 <!--chat-container-->

     








