﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.ContentModel
@{
    string actionUrl = Url.Action("UploadNews");
    

    string guid=Guid.NewGuid().ToString();
    string tableId = "UploadFile" + guid;
    string txtTitleId = "txtTitle" + guid;
    string txtBodyId = "txtBodyId" + guid;
    string btnSendId = "btnSend" + guid;
    string fileUploadId = "fileUpload" + guid;
        
}

<script type="text/javascript">
    $(function () {
        $(".editableTable td").dblclick(tdDbClick);

        function tdDbClick() {
            var OriginalContent = $(this).text();
            $(this).addClass("cellEditing");
            $(this).html("<input type='text' value='" + OriginalContent + "' />");
            $(this).children().first().focus();
  
            $(this).children().first().keypress(function (e) {
                if (e.which == 13) {
                    var newContent = $(this).val();
                    $(this).parent().text(newContent);
                    $(this).parent().removeClass("cellEditing");
                }
            });
          
            $(this).children().first().blur(function () {
                $(this).parent().text(OriginalContent);
                $(this).parent().removeClass("cellEditing");
            });
        }
        function trRemove() {
            var tr = $(this).closest('tr');
            tr.css("background-color", "#FF3700");
            tr.fadeOut(400, function () {
                tr.remove();
            });
            return false;
        }

        $("#btnKeyword").click(function () {
            var newRow = '<tr><td>' + $("#txtKeyword").val() + '</td><td><img src="/Content/images/delete16.png"/></td></tr>';

            $('#tableKeyword > tbody:last').append(newRow);
            $("#tableKeyword tr:last").find("td:eq(0)").dblclick(tdDbClick);
            $("#tableKeyword tr:last").find("td:eq(1) img").click(trRemove);
            $("#txtKeyword").val("");
            
        });


      
    });

    function getTableValues() {
        var cells = [];
        var rows = $("#tableKeyword >tbody tr").each(function (index, element) {
            item = {}
            item["kewyord"] = $(element).find("td:eq(0)").html();
            cells.push(item);
        });
        console.log(JSON.stringify(cells));
        return JSON.stringify(cells);
    }
    
</script>
<hr />

    <table id="@tableId">
        <tr>
            <td>
                <div class="row">
                  <label for="@fileUploadId"> عکس توصیفی خبر:</label><br />
                  <input type="file" name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="انتخاب فایل" style="display:none" accept="image/*" />
                </div>
                    <div id="fileName"></div>
                    <div id="fileSize"></div>
            </td>
            <td>

            </td>
              <td>
                  <table class="editableTable" id="tableKeyword">
                    <thead>
                        <tr>
                            <th>کلمات کلیدی</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                     
                    </tbody>
                </table>
               <input type="text" id="txtKeyword" />
                  <input type="button" id="btnKeyword" value="ثبت" />
            </td>
        </tr>
        <tr>
            <td>
                عنوان خبر:
            </td>
            <td>
                @Html.TextBoxFor(e => e.Title, new { id = txtTitleId })
            </td>
        </tr>
        <tr>
            <td>
                متن خبر
            </td>
        </tr>
        <tr>
            <td colspan="3">
                  @Html.TextArea("editor1","", new { @class = "ckeditor" })
            </td>
        </tr>
    </table>
   
    
    <div class="row">
      <input type="button" onclick="uploadFile()" value="Upload"  />
    </div>
    <div id="progressNumber">

    </div>

  <script type="text/javascript">
      $(function () {
          CKEDITOR.replace('editor1');
         });
            </script>

    <script type="text/javascript">
        function fileSelected() {
            var file = document.getElementById('@fileUploadId').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'نام فایل: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'حجم فایل: ' + fileSize;

            }
        }

        function uploadFile() {
            var fd = new FormData();
            fd.append("@fileUploadId", document.getElementById('@fileUploadId').files[0]);
            fd.append("Title", $("#@txtTitleId").val());
            
            fd.append("Body", CKEDITOR.instances.editor1.getData());
            fd.append("Keywords", getTableValues());

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);

            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
            
//            reloadContentPresentationItemCollection();
            //alert(evt.target.responseText);
            alert("خبر ارسال شد");
            $("#@tableId :input").val("");
            $("#fileName").empty();
            $("#fileSize").empty();
            $("#progressNumber").empty();
            reloadNewsArchive();
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }
    </script>