﻿@model  IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.Gallery>
@{
    ViewBag.Title = "مدیریت اخبار";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
    <link rel="stylesheet" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" >
    <link rel="stylesheet" href="@Url.Content("~/Content/AdminStyleSheet.css")" >
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" ></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
     <script src="@Url.Content("~/Content/ckeditor/ckeditor.js")"></script>
    
    
}
<script type="text/javascript">
    function reloadNewsArchive() {
        $.get('@Url.Action("NewsArchive")', function (data) {
            $("#NewsArchiveDiv").html(data);
         });
    }

    function addTabDynamically( tabDivId, newTabTitle, newTabId, tabContentHtml) {
        var newLi = "<li><a href='#"+newTabId+"'>"+newTabTitle+"</a> <span class='ui-icon ui-icon-close' role='presentation'>Remove Tab</span></li>";
        var tabs = $("#"+tabDivId).tabs();
        tabs.find(".ui-tabs-nav").append(newLi);
        tabs.append("<div id='" + newTabId + "'><p>" + tabContentHtml + "</p></div>");
        tabs.tabs("refresh");
        tabs.tabs("option", "active", -1);
    }

    function addEditNewsTabDynamically() {
        addTabDynamically("tabs", "ویرایش خبر", "newTabId1", "test");
    }

     $(function () {
         reloadNewsArchive();
        var tabs= $("#tabs").tabs();


         tabs.delegate("span.ui-icon-close", "click", function () {
             var panelId = $(this).closest("li").remove().attr("aria-controls");
             $("#" + panelId).remove();
             tabs.tabs("refresh");
         });
       
     });



</script>
<style type="text/css">
    .ui-tabs { direction: rtl; }
    .ui-tabs .ui-tabs-nav li.ui-tabs-selected,
    .ui-tabs .ui-tabs-nav li.ui-state-default {float: right; }
    .ui-tabs .ui-tabs-nav li a { float: right; }
</style>
 <div id="tabs" class="tabs-to-right">
                  <ul>
                    <li><a href="#tabs-1"> آرشیو اخبار</a></li>
                    <li><a href="#tabs-2">خبر جدید</a></li>
                  </ul>
     <div class="bckg"></div>
            <div id="tabs-1">
                <div id="NewsArchiveDiv">
                    
                </div>
            </div>
            <div id="tabs-2">
                @Html.Partial("AddNews")
            </div>
          
 </div>
    