﻿@model IEnumerable<Offtick.Data.Context.ExpertOnlinerContexts.News>
@using Offtick.Core.Utility;

<table>
    <thead>
        <tr>
            
            <td>&nbsp;</td>
            <td>عنوان </td>
            <td>تاریخ </td>
            @*<td>کلمات کلیدی </td>*@
            <td>عکس خبر</td>
            
        </tr>
    </thead>
    @if(Model!=null)
    {
        <tbody>
            @foreach (var item in Model) {

                var fileSearchItem = Offtick.Business.Services.Managers.NewsManager.Instance.GetVirtualPathOfImage(item.ImageUrl, item.MembershipUser.UserName);
               <tr>
                   <td>      
                    @Ajax.ImageActionLink("/Content/Images/delete16.png","حذف","DeleteNews",new {NewsId=item.NewsId},new AjaxOptions()
               {
                    Confirm="آیا می خواهید این خبر را حذف نمایید؟",
                    OnSuccess="reloadNewsArchive",
                    HttpMethod="post",
                    Url=Url.Action("DeleteNews",new {NewsId=item.NewsId}),
                    OnFailure="",
                    

               })

                       <a href="#" class="addNews" newsId="@item.NewsId"><img  src="~/Content/Images/edit16.png" /></a>
                   </td>
                  <td class="left">@item.NewsCultures.First().Title</td>
                  <td class="left">@Offtick.Core.Utility.PersianTools.PersianDateConvertor.ToKhorshidiDateTime(item.DateTime)</td>
                  <td class="left"><img src="@fileSearchItem.ThumbnailAddress" /></td>
               </tr>
   
        }
        </tbody>
    }
</table>

<script>
    $(function () {
        $(".addNews").click(function () {
            addEditNewsTabDynamically();
        });
    });
</script>