﻿@model string

@{
    ViewBag.Title = "Index";
    

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
    string roleName = string.Empty;
    Layout = "~/Views/Shared/_Layout.cshtml";

    if(currentUser!=null)
    {
        var currentUserName = currentUser.UserName;
        var roleOfUser = currentUser.MembershipUsersInRoles.FirstOrDefault();
        roleName = roleOfUser.MembershipRole.RoleName;
        var offers = Offtick.Business.Services.Managers.OfferManager.Instance.getWallOffersForUser(currentUser, 0, 20);
        var fileManager = new Offtick.Business.Services.Storage.File.ImageFileManager(currentUser.UserId.ToString());
        var thumbnailOfCurrentUser = fileManager.GetRelativeFullFileName(currentUser.UserId.ToString(), currentUser.Picture, true);
        var urlOfCurrentUserProfile = Url.Action("Index", "Profile", new { area = "User" });
        
    }
    


    //var applications = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetApplicationsByCriteria(Model.Split(' '));
    int counter = 0;
    //int max = applications == null ? 0 : applications.Count();
    
    
    

    
    
}


<style type="text/css">
    .foodcontainer {
        position: relative;
        width:300px;
        height:200px;
        
        
    /*overflow:hidden;
    display:block;*/
}
.foodcontainer .sidenavOff,sidenavOver {
    /*display:inline-block;
    position:relative;*/
    
        position: absolute;

}
</style>
<script>
    $(function () {
     
        $("#btnLoadMoreSearchUser").click(function () {
            
            var urlOfAction = "@Url.Action("UsersByCriteria", "Profile", new { area = "User"})";
            $("#hdnSearchUserSkip").val(parseInt($("#hdnSearchUserTake").val()) + parseInt($("#hdnSearchUserSkip").val()));

            var offerTake = $("#hdnSearchUserTake").val();
            var offerSkip = $("#hdnSearchUserSkip").val();
            

                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ take: offerTake, skip: offerSkip ,searchCriterias:"@Model".split(' ')}),
                    dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#SearchUserContainer").append(data);
                   
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });


        $("#btnLoadMoreSearchOffer").click(function () {

            var urlOfAction = "@Url.Action("OffersByCriteria", "Offer", new { area = "User"})";
            $("#hdnSearchOfferSkip").val(parseInt($("#hdnSearchOfferTake").val()) + parseInt($("#hdnSearchOfferSkip").val()));

            var offerTake = $("#hdnSearchOfferTake").val();
            var offerSkip = $("#hdnSearchOfferSkip").val();


              $.ajax({
                  type: 'POST',
                  url: urlOfAction,
                  data: JSON.stringify({ take: offerTake, skip: offerSkip, searchCriterias: "@Model".split(' ') }),
                    dataType: 'html',
                    processData: false,
                    contentType: 'application/json; charset:utf-8',
                    success: function (data, status) {
                        if (status == "success" && data) {
                            $("#SearchOfferContainer").append(data);

                        }
                    },
                    error: function (xhr, textStatus, error) {
                        var errorMessage = error || xhr.statusText;
                        alert(errorMessage + xhr.toString() + textStatus);
                    }
                });
          });
    });
</script>




        <div class="main-wrapper">
            <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>نتایج جستجو:</h3>

                        </header>
                     
                    </article>
                </section>
            <div class="content-grids">
                <section class="layout" id="SearchOfferContainer">

               
                 @Html.Action("OffersByCriteria","Offer",new {area="User",searchCriterias=Model.Split(' '),take=9,skip=0})

  



                </section>
                 <input type="hidden" id="hdnSearchOfferTake" value="9" />
                  <input type="hidden" id="hdnSearchOfferSkip" value="0"/>
                <!--layout-->
                    <div class="load-more-container">
                        <span id="btnLoadMoreSearchOffer" class="load-more-button">موارد بیشتر</span>
                    </div>

            </div>
            <!--adds-grid-->

    </div>
    <!--main-wrapper-->



