﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "جستجوی پیشنهاد های تخفیف ";
    string offerName = ViewBag.offerName;
    short? offtickType = null;
    if(!string.IsNullOrEmpty(offerName)){
        var offtickTypeEntity = Offtick.Business.Services.Managers.OfferManager.Instance.GetOfferOfftickTypeByName(offerName);
        if(offtickTypeEntity != null) {
            offtickType = offtickTypeEntity.OfferOfftickTypeId;
        }
    }
    var applications = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetAllApplications();
    int counter = 0;
    int max = applications == null ? 0 : applications.Count();
}


<style type="text/css">
    .foodcontainer {
        position: relative;
        width:300px;
        height:200px;
        
        
    /*overflow:hidden;
    display:block;*/
}
.foodcontainer .sidenavOff,sidenavOver {
    /*display:inline-block;
    position:relative;*/
    
        position: absolute;

}
</style>
<script>
    $(function () {
     
        $("#btnSearchFoodOffers").click(function () {
            $("#hdnSearchOfferSkip").attr("value", parseInt($("#hdnSearchOfferTake").val()) *-1);
            $("#SearchOfferContainer").html("");
            searchFoodOffers();
        });

        $("#btnLoadMoreSearchFoodOffer").click(searchFoodOffers);

        function searchFoodOffers() {

            var urlOfAction = "@Url.Action("ResturantOffersByCriteria", "Offer", new { area = "User"})";
            $("#hdnSearchOfferSkip").val(parseInt($("#hdnSearchOfferTake").val()) + parseInt($("#hdnSearchOfferSkip").val()));

            var offerTake = $("#hdnSearchOfferTake").val();
            var offerSkip = $("#hdnSearchOfferSkip").val();

            var resturanName = $("#txtResturantName").val();
            var foodTitle = $("#txtOfferName").val();
            var address = $("#txtOfferAddress").val();
            var cityId = $("#foodLocationCityId").val();
            var offtickType = "@offtickType";


            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ take: offerTake, skip: offerSkip, resturanName: resturanName.split(' '), foodTitle: foodTitle.split(' '), address: address.split(' '), cityId: cityId, offtickType: offtickType }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#SearchOfferContainer").append(data);

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        }
    });
</script>



 

      



        <div class="main-wrapper">
            <section class="layout">
                    <article>
                        <header class="article-header">

                            <h3>نتایج جستجو:</h3>

                        </header>
                        <main class="article-body">  
                            <ul class="listCols">
                                <li class="col">
                                    <div>
                                        @Html.DropDownList("foodLocationCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(), new { @class=Html.Encode("text-right")})
                                    </div>
                                </li>
                                <li class="col">
                                    <div>
                                        @Html.TextBox("txtResturantName","",new{placeholder="نام ارائه کننده سرویس",@class="text-right"})
                                    </div>
                                </li>
                                <li class="col">
                                    <div>
                                        @Html.TextBox("txtOfferName","",new{placeholder="عنوان سرویس",@class="text-right"})
                                    </div>
                                </li>
                                <li class="col">
                                    <div>
                                        @Html.TextBox("txtOfferAddress","",new{placeholder="آدرس",@class="text-right"})
                                    </div>
                                </li>
                                <li class="col">
                                    
                                        <span class="btn btnB" id="btnSearchFoodOffers">
                                        جستجو
                                    </span>
                                    
                                </li>

                            </ul>
                        </main>
                    </article>
                </section>
            <div class="content-grids">
                <section class="layout" id="SearchOfferContainer">

               
                    @Html.Action("ResturantOffersByCriteria","Offer",new {area="User",take=9,skip=0,offtickType=offtickType})
  



                </section>
                 <input type="hidden" id="hdnSearchOfferTake" value="9" />
                  <input type="hidden" id="hdnSearchOfferSkip" value="0"/>
                <!--layout-->
                    <div class="load-more-container">
                        <span id="btnLoadMoreSearchFoodOffer" class="load-more-button">موارد بیشتر</span>
                    </div>

            </div>
            <!--adds-grid-->

    </div>
    <!--main-wrapper-->


<script>
    $(function () {


        $(".sidenavOver").hide();
        //on hover over the a tag with atribute href='#games' 

        $(document).on('mouseenter', '.foodcontainer', function (e) {
            $(this).children(".sidenavOff").css({ opacity: .3 });
            $(this).children(".sidenavOver").show();

            $(this).children(".sidenavOver").css({ opacity: 1 });


        });
        $(document).on('mouseleave', '.foodcontainer', function (e) {

            $(this).children(".sidenavOff").css({ opacity: 1 });
            $(this).children(".sidenavOver").hide();

        });
    });
</script>




