﻿

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "جستجوی رستوران ها";

    var applications = Offtick.Business.Services.Managers.ApplicationManager.Instance.GetAllApplications();
    int counter = 0;
    int max = applications == null ? 0 : applications.Count();
}


<style type="text/css">
    .foodcontainer {
        position: relative;
        width:300px;
        height:200px;
        
        
    /*overflow:hidden;
    display:block;*/
}
.foodcontainer .sidenavOff,sidenavOver {
    /*display:inline-block;
    position:relative;*/
    
        position: absolute;

}
</style>
<script>
    $(function () {
     
        $("#btnSearchFoodOffers").click(function () {
            $("#hdnSearchOfferSkip").attr("value", parseInt($("#hdnSearchOfferTake").val()) *-1);
            $("#SearchOfferContainer").html("");
            searchFoodOffers();
        });

        $("#btnLoadMoreSearchFoodOffer").click(searchFoodOffers);

        function searchFoodOffers() {

            var urlOfAction = "@Url.Action("ResturantOffersByCriteria", "Offer", new { area = "User"})";
            $("#hdnSearchOfferSkip").val(parseInt($("#hdnSearchOfferTake").val()) + parseInt($("#hdnSearchOfferSkip").val()));

            var offerTake = $("#hdnSearchOfferTake").val();
            var offerSkip = $("#hdnSearchOfferSkip").val();

            var resturanName = $("#txtResturantName").val();
            var foodTitle = $("#txtOfferName").val();
            var address = $("#txtOfferAddress").val();
            var cityId = $("#foodLocationCityId").val();


            $.ajax({
                type: 'POST',
                url: urlOfAction,
                data: JSON.stringify({ take: offerTake, skip: offerSkip,resturanName:resturanName.split(' '),foodTitle:foodTitle.split(' '),address:address.split(' '), cityId: cityId }),
                dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#SearchOfferContainer").append(data);

                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        }
    });
</script>

<div class="row ">
       <table class="ControlItemCollectionTable pull-right" >

            @if (applications != null)
            {
                counter=0;
                foreach (var controlItem in applications)
                {
                    if (counter % 10 == 0)
                    {
                        @: <tr>
                      }
                      
                    counter++;
                                    <td>
              
                                        @Html.Partial("~/Areas/User/Views/Application/ApplicationItemAbstract.cshtml", controlItem)
                                    </td>
   
                    if (counter % 10 == 0 || counter == max)
                    {
                                    @: </tr>
                                        }


                }
            }
    </table>
    </div>
<div class="row" style="padding-top:5px;">
     <div class="col-md-1 ">
        <span class="btn btn-default" id="btnSearchFoodOffers">
            جستجو
         
        </span>
    </div>
    <div class="col-md-2 text-right">
        @Html.DropDownList("foodLocationCityId", Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityDropdownDataSource(), new { @class=Html.Encode("text-right")})
    </div>
    <div class="col-md-3">
        @Html.TextBox("txtResturantName","",new{placeholder="نام رستوران",@class="text-right"})
    </div>
    <div class="col-md-3">
        @Html.TextBox("txtOfferName","",new{placeholder="عنوان غذا",@class="text-right"})
    </div>
    <div class="col-md-3">
        @Html.TextBox("txtOfferAddress","",new{placeholder="آدرس",@class="text-right"})
    </div>

   
    

</div>

        <div class="well text-right" style="margin-top:30px;">
            <h5>:نتایج جستجو</h5>
        </div>
 


        <fieldset>
            <legend class="legand-caption text-right">آفرها</legend>
                <input type="hidden" id="hdnSearchOfferTake" value="9" />
                <input type="hidden" id="hdnSearchOfferSkip" value="0"/>
               <div id="SearchOfferContainer">
            
                @Html.Action("ResturantOffersByCriteria","Offer",new {area="User",take=9,skip=0})
            </div>
             <br />
            <span class="btn btn-default" id="btnLoadMoreSearchFoodOffer">
                بارگزاری تعداد بیشتر
            </span>
        </fieldset>



<script>
    $(function () {


        $(".sidenavOver").hide();
        //on hover over the a tag with atribute href='#games' 

        $(document).on('mouseenter', '.foodcontainer', function (e) {
            $(this).children(".sidenavOff").css({ opacity: .3 });
            $(this).children(".sidenavOver").show();

            $(this).children(".sidenavOver").css({ opacity: 1 });


        });
        $(document).on('mouseleave', '.foodcontainer', function (e) {

            $(this).children(".sidenavOff").css({ opacity: 1 });
            $(this).children(".sidenavOver").hide();

        });
    });
</script>




