﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " offtick®-About us";

}

<div style="direction:rtl;text-align:right">
    <p class="h4 text-red">درباره آف تیک</p>
    <p>
        آف تیک نخستین شبکه اجتماعی تخفیف و خرید در ایران است که با هدف ارائه خدمات متمایز و ایجاد «حس بموقع باخبرشدن از فرصت های خرید» در بهمن ماه سال 1394  فعالیت خود را آغاز کرده است. آف تیک بستری است برای ارائه تمامی انواع خدمات و محصولات مورداستفاده در زندگی روزمره. خدماتی شامل انواع رستوران‌ها، مراکز تفریحی،‌ مراکز بهداشتی و آموزشی،‌ سفر تا انواع کالاها و محصولات متنوع.
هدف ما در آف تیک ارائه اطلاعات مربوط به بهترین خدمات و کالاها با بیشترین درصد تخفیف است تا امکان استفاده از بهترین‌ها را با بیشترین امکان دسترسی و هیجان برای همگان فراهم کنیم که همه این موارد با استفاده از قدرت خرید امکان‌پذیر شده است.
ایجاد بستر مناسب تحت وب از طریق وب‌سایت آف تیک و همچنین بزودی ارائه خدمات روی گوشی‌های و تبلت‌ها با استفاده از اپلیکیشن موبایل آف تیک این امکان را به همراهان آف تیک خواهد داد تا در اسرع وقت و به ساده‌ترین شکل بتوانند به کلیه پیشنهادهای فعال در سایت دسترسی داشته باشند و از امکانات ارائه‌شده بهره ببرند.

        <br /><br />
بسترسازی آف تیک تنها در حوزه مشتریان نبوده و جذب و نگهداری شرکان تجاری نیز با رویکردی مدرن صورت خواهد گرفت. امکانات ویژه، بستر ویژه همکاری متقابل با شرکای تجاری و ارائه اطلاعات و خدمات به آنان از مواردی است که در بخش همکاری با شرکای تجاری مدنظر آف تیک بوده و به آن توجه ویژه‌ای شده است.
        <br /><br />
آف تیک برنامه ریزی کرده است که در فاز اول در ۷ شهر بزرگ کشور یعنی تهران، کرج، شیراز، اصفهان، مشهد، تبریز و رشت مشغول به فعالیت و ارائه خدمات گردد. در مورد کالاها نیز ارسال سفارش‌های هم‌میهنان عزیز در برنامه کاری شرکت است و سفارش‌های دریافتی در اسرع وقت به تمام نقاط ایران ارسال می‌شود. امید است با گسترش فعالیت‌های آف تیک در شهرهای مختلف، امکان خدمات‌رسانی به همه هم‌وطنان عزیز در همه شهرها در آینده نزدیک فراهم شود.


    </p>
        <p class="h4 text-red">چشم‌انداز و مأموریت</p>
    <p>
        هدف ما در آف تیک تبدیل‌شدن به بزرگ‌ترین شبکه اجتماعی تجارت و تبلیغات در ایران است تا با استفاده از راه‌کار معرفی جدیدترین‌ها در سطح کشور و قیمت‌های مناسب بتوانیم بستر ارتباطی تمامی صاحبان کسب‌وکار با مشتریان بالقوه باشیم. ما معتقدیم تجارت الکترونیک و اینترنت، بسترهای دنیای جدیدی برای ارتباط این دو گروه و معرفی آنان به یکدیگر است. ما در آف تیک بزرگ‌ترین نقش را در این فضا ایفا خواهیم کرد.
    </p>
        <p class="h4 text-red">ارزش‌های آف تیک</p>
        <p class="h4 text-red">مشتری، مشتری و مشتری</p>
    <p>
        از روز اول در آف تیک هدف ما این بوده که بتوانیم مشتریان خود را راضی نگه داشته، سرویس و خدماتی مناسب به ایشان ارائه کنیم. هر روز تیم عملیاتی و پشتیبانی آف تیک به دنبال بهتر کردن راه‌کارهای خود در این حوزه هستند تا همواره کیفیت خدمات نوین خود را ارتقا داده و رضایت بیشتری به مشتریان خود ارائه کنند.
    </p>
     <p class="h4 text-red">بهبود کیفیت مستمر موجب رضایت مشتری می شود.
         </p>
    <p>
        ما به این جمله معتقدیم؛ آف تیک محلی است که افراد فعال، باذوق، متفکر، توانمند و کسانی است که می‌دانند و می‌توانند بسازند و رشد دهند بصورت مستمر با بهبود کیفیت خدمات در جستجوی کسب حداکثر رضابت مشتری هستند. 
    </p>
            <p class="h4 text-red">انتخاب فروشندگان برتر از نگاه مشتریان</p>

    <p>
        برای ما مهم است با چه کسانی هم سفریم و آیا این هم سفران همراه خوبی برای مشتریان ما خواهند بود یا خیر. تیم بازاریابی و فروش آف تیک در زمان عقد قرارداد همکاری، تمامی موارد را به‌صورت ریز و دقیق بررسی کرده تا از کیفیت خدمات و محصولاتی که به مشتریان ارائه خواهد شد اطمینان حاصل کنند. در تأیید این انتخاب ما همواره از مشتریان بابت کیفیت خدمات نظرخواهی می نماییم.
    </p>
    <p class="h4 text-red">زندگی با آگاهی بیشتر</p>
    <p>
        زندگی امروزی سرشار از فرصت هاست که افرادی که زودتر از این فرصت ها با خبر می شوند امکان بیشتری برای استفاده از ان را دارند. بر این اساس ما به دادن اطلاعات خرید دوستان به کاربران؛ آنها را از اخرین تجربیات و انتخاب های دوستانشان با خبر می کنیم تا انها هم از فرصت خرید موفق استفاده نمایند.


    </p>
</div>
