﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " offtick®-Agency";

}

<div style="direction:rtl;text-align:right">
    <p class="h3">شرایط اخذ نمایندگی</p>
    <p>
    اگر علاقه‌مند به دریافت نمایندگی آف تیک در شهر خود هستید موارد زیر را مطالعه فرموده و درصورتی‌که این شرایط را دارا هستید با ایمیل info@OffTick.com تماس گرفته و درخواست را ارسال فرمایید. همکاران ما با بررسی موارد ذیل، نتیجه را به شما اطلاع خواهند داد:
 </p>
    <ul>
        <li>حداقل سابقه ۵ سال اقامت در شهر موردنظر</li>
        <li>دارای محل کار مناسب</li>
        <li>سابقه حداقل ۵ سال فعالیت در زمینه فروش و بازاریابی</li>
        <li>امکان ارائه تضمین‌های مالی</li>
        <li>توانمندی و پشتکار لازم برای راه‌اندازی فعالیت</li>
    </ul>



</div>
