﻿@model Offtick.Web.OfftickWeb.Areas.Dr.Models.AdaptGalleryModel 
@{
    if(string.IsNullOrEmpty( ViewBag.customLayout))
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Layout = ViewBag.customLayout;
    }
    string actionUrl = Url.Action("Compliant", "Home", new { area = "" });

    var currentUser = Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();

    string guid=Guid.NewGuid().ToString();
    string txtNameId = "txtName" + guid;
    string txtEmailAddressId = "txtEmail" + guid;
    string txtTitleId = "txtTitle" + guid;
    string txtFeedbackId = "txtFeedbackId" + guid;
    string btnSendId = "btnSend" + guid;
    string fileUploadId = "fileUpload" + guid;
        
}

   <script src="@Url.Content("~/Scripts/local/ShowImageOnClientBeforeUploading.js")" type="text/javascript"></script>

<div class="panel panel-default" style="width:800px;" >
        <div class="well panel-heading">
            متن شکایت خود را وارد نمایید، در صورت لزوم می تواند یک فایل را نیز همراه با شکایت الحاق نمایید
        </div>

    <div class="panel-body text-right">
            <div  >
                 @if (currentUser == null)
                 {
                
                    <input type="text" placeholder="نام:" id="@txtNameId" class = "width-x9 text-right"/>
                          <br />
                         <br />
                  
                    <input type="text" placeholder="آدرس ایمیل" id="@txtEmailAddressId" class = "width-x9 text-right" />
                   <br />
                         <br />
                 }

            </div>
            

             <div >
                  @Html.TextBoxFor(e => e.Title, new { id = txtTitleId, placeholder = "عنوان شکایت", @class = "width-x9",style = "text-align:right"  })
                            <br />
                            <br />
                           @Html.TextAreaFor(e => e.Description, new { id = txtFeedbackId, placeholder = "متن شکایت", style = "width:100%;height:200px;text-align:right" })
                   
            </div>

        
            <div class="row">
                <label for="@fileUploadId" class="col-md-2 btn btn-default btn-xs">Attach a file</label>
@*                        <img src="" id="imgFilePicture" style="max-height:160px;max-width:160px"  />*@
                <div id="fileName" class="col-md-4"></div>
                    <div id="fileSize" class="col-md-4"></div>
                    <input type="file"  name="@fileUploadId" id="@fileUploadId" onchange="fileSelected();" title="Select File" style="display:none;"  accept="image/*" />
                        
                    
                   
            </div>
                     
                            
       
                  
                      
                   
            <div class="row">
              <input type="button" onclick="uploadFile()" value="ارسال و ثبت شکایت" class="btn btn-primary col-md-6 col-md-offset-3"  />
            </div>
   

            <div id="progressContainerUploadImageOffer" class="progress hide">
              <div class="progress-bar progress-bar-success" role="progressbar" 
              aria-valuemin="0" aria-valuemax="100" style="width:40%" id="uploadProgressBar">
                40%
              </div>
            </div>
    </div>
     

</div>


    <script type="text/javascript">
        imageBeforeUploading("@fileUploadId", "imgFilePicture");

        function fileSelected() {
            var file = document.getElementById('@fileUploadId').files[0];
            if (file) {
                var fileSize = 0;
                if (file.size > 1024 * 1024)
                    fileSize = (Math.round(file.size * 100 / (1024 * 1024)) / 100).toString() + 'MB';
                else
                    fileSize = (Math.round(file.size * 100 / 1024) / 100).toString() + 'KB';

                document.getElementById('fileName').innerHTML = 'File Name: ' + file.name;
                document.getElementById('fileSize').innerHTML = 'File Size: ' + fileSize;
                
            }
        }

        function uploadFile() {

            $("#progressContainerUploadImageOffer").removeClass("hide");
            var fd = new FormData();
            fd.append("@fileUploadId", document.getElementById('@fileUploadId').files[0]);
            fd.append("Title", $("#@txtTitleId").val());
            fd.append("Feedback", $("#@txtFeedbackId").val());
            if ($("#@txtEmailAddressId")) {
                fd.append("EmailAddress", $("#@txtEmailAddressId").val());
                fd.append("Name", $("#@txtNameId").val());
            }
            

         

            var xhr = new XMLHttpRequest();
            xhr.upload.addEventListener("progress", uploadProgress, false);
            xhr.addEventListener("load", uploadComplete, false);
            xhr.addEventListener("error", uploadFailed, false);
            xhr.addEventListener("abort", uploadCanceled, false);
            xhr.open("POST", "@actionUrl", true);
            
            xhr.send(fd);
        }

        function uploadProgress(evt) {
            if (evt.lengthComputable) {
                var percentComplete = Math.round(evt.loaded * 100 / evt.total);
                $("#uploadProgressBar").html(percentComplete + "% uploading");
                $("#uploadProgressBar").attr("aria-valuenow", percentComplete);
                $("#uploadProgressBar").css("width", percentComplete+"%");
               // document.getElementById('progressNumber').innerHTML = percentComplete.toString() + '%';
            }
            else {
                document.getElementById('progressNumber').innerHTML = 'unable to compute';
            }
        }

        function uploadComplete(evt) {
            /* This event is raised when the server send back a response */
           
            //alert(evt.target.responseText);
            var serverToClientResponse = JSON.parse( evt.currentTarget.response);
            if (serverToClientResponse) {
                if (serverToClientResponse.ResultStatus == "Success") {
                    $("#@txtTitleId").val("");
                    $("#@txtFeedbackId").val("");


                    $("#fileName").empty();
                    $("#fileSize").empty();
                    $("#progressNumber").empty();
                    alert("we sucessfully receive your feedback");
                }
                else {
                    alert("fail to upload offer"+ " " + serverToClientResponse.Error);
                }
            }
            else {
                alert("fail to upload offer, make sure you are logined and try again");
            }
           
        }

        function uploadFailed(evt) {
            alert("There was an error attempting to upload the file.");
        }

        function uploadCanceled(evt) {
            alert("The upload has been canceled by the user or the browser dropped the connection.");
        }
    </script>