﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " offtick®-Contact us";

}

<div style="direction:rtl;text-align:right">
    <p class="h4 text-red">با ما با مشخصات زیر تماس بگیرید</p>
    <p>
        ایمیل: info@OffTick.com
        <br />
آدرس: میدان ونک، خیابان شهید حقانی، نرسیده به چهار راه جهان کودک، مرکز رشد نوآوری و فناوری دانشگاه علامه طباطبایی، پلاک 40- واحد 15
        <br />
تلفن تماس: 48394203 -021

        <br />

    </p>
</div>
