﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " offtick®-FAQ";

}

<div style="direction:rtl;text-align:right">
    <p class="h3 text-right ">سوالات متداول مشتریان</p>
 

    <p>
        آف تیک چیست؟
        <br />
من به آف تیک‌های روزانه علاقه‌مندم،‌ چگونه ثبت‌نام کنم؟
        <br />
من به آف تیک‌های روزانه علاقه‌مندم،‌ چگونه آنها را به‌صورت روزانه دریافت کنم؟
        <br />
من به آف تیک امروز علاقه‌مندم،‌ چگونه باید خرید کنم؟
        <br />
من به آف تیک امروز علاقه‌مندم،‌ اما فقط می توانم از طریق واریز به‌حساب پرداخت کنم
        <br />
من به آف تیک علاقه‌مندم،‌ این آف تیک دقیقا چه مواردی را شامل می شود؟
        <br />
من به آف تیک علاقه‌مندم،‌ سفارش خود را ثبت کرده اما پرداخت نکرده ام
        <br />
کد کوپن خود را باید در روز پرداخت استفاده کنم؟
        <br />
من آف تیک را خریده ام اما کد کوپن را دریافت نکرده ام
        <br />
من کد کوپن را دریافت کرده ام،‌ چگونه آن را استفاده کنم؟
        <br />
من کد کوپن را دریافت کرده ام،‌ پیش از رفتن به محل استفاده از آن باید چه کار کنم؟
        <br />
من کد کوپن را دریافت کرده ام،‌ چند نفر می توانند از آن استفاده کنند؟
        <br />
من کد کوپن را دریافت کرده ام،‌ اما نمی توانم آن را استفاده کنم
        <br />
آیا می توانم آف تیک را به عنوان کادو برای کسی خریداری کنم؟
        <br />
یک لحظه! نام من روی برگه کوپن ثبت شده است. مطمئنید می توانم آن را به کس دیگری دهم تا استفاده کند؟
        <br />
کد کوپن را باید در یک بار استفاده کرد یا می توان در زمان های مختلفی از بخش های آن استفاده کرد؟
        <br />
می توان کد کوپن را در کنار و همزمان با تخفیف های دیگر آن محل استفاده کرد؟
        <br />
با انتخاب روش پرداخت الکترونیک مبلغ بلافاصله از حساب من کم می شود؟
        <br />
روش پرداخت الکترونیکی چقدر ایمن است؟
        <br />
من تصمیمم عوض شده است. می توانم پول خود را پس بگیرم؟
        <br />
اگر زمان استفاده از کوپن به پایان رسیده باشد چی؟
        <br />
من آف تیکی بسیار خوبی را در بخش آف تیک‌های گذشته دیده ام. می توانم آن را خریداری کنم؟
        <br />
علاقه‌مندم نظرم در رابطه با آف تیک‌های مختلف را ابراز کنم.
        <br />
هر آف تیک ویژه یک نفر به چه معناست؟
        <br />
"بدون محدودیت در خرید کوپن" به چه معناست؟
        <br />
"هر نفر تنها می‌تواند از x کوپن آف تیک استفاده کند" به چه معناست؟
        <br />
"هر آف تیک ویژه یک سفارش" به چه معناست؟
        <br />
"در صورت تمایل به سفارش بیشتر، هزینه بر عهده مشتری می باشد" به چه معناست؟
        <br />


    </p>


    <p >
        <span class="h5 text-red">آف تیک چیست؟</span>
        <br>
                آف تیک وب‌سایتی است که آخرین و بهترین تخفیف‌های رستوران‌ها،‌ مراکز ورزشی،‌ مراکز تفریحی،‌ فروشگاه‌ها،‌ هتل‌ها و غیره را تا ۹۰٪ تخفیف ارائه می‌دهد. شعار ما «ارزان‌تر لذت ببرید!»

    </p>
     <p >
        <span class="h5 text-red">من به آف تیک‌های روزانه علاقه‌مندم،‌ چگونه ثبت‌نام کنم؟</span>
        <br>
         ثبت‌نام در آف تیک کمتر از ۱ دقیقه طول می‌کشد. نام،‌ پست الکترونیکی (آدرس ایمیل) و رمز عبور خود را وارد کرده و دکمه ثبت را فشار دهید. ایمیلی مبتنی بر تأیید ثبت‌نام شما برایتان ارسال خواهد شد.
    </p>
     <p >
        <span class="h5 text-red">من به آف تیک‌های روزانه علاقه‌مندم،‌ چگونه آن‌ها را به‌صورت روزانه دریافت کنم؟</span>
        <br>
         برای دریافت آف تیک‌های روزانه، در خبرنامه ما ثبت‌نام کرده و آف تیک‌های روز را به‌صورت روزانه دریافت کنید.
    </p>
     <p >
        <span class="h5 text-red">من به آف تیک امروز علاقه‌مندم،‌ چگونه باید خرید کنم؟</span>
        <br>
         آف تیک موردنظر پس از تاریخ اعلام‌شده منقرض خواهد شد؛ بنابراین پیش از آن تاریخ دکمه «بخرید!» را فشار داده و سپس کد تخفیف را دریافت خواهید کرد. شما می‌توانید از طریق پرداخت الکترونیکی و یا واریز به‌حساب، مبلغ موردنظر را پرداخت نمایید.
اگر از طریق فیش بانکی پرداخت می‌کنید،‌ فیش بانکی را برای ما فکس کرده و یا با ما تماس بگیرید.  ما پس از بررسی، کوپن خریداری‌شده شما را برایتان خواهیم فرستاد.

    </p>
     <p >
        <span class="h5 text-red">من به آف تیک امروز علاقه‌مندم،‌ اما فقط می‌توانم از طریق واریز به‌حساب پرداخت کنم</span>
        <br>
         مشکلی نیست. اگر شما از طریق فیش بانکی پرداخت می‌کنید،‌ سفارش خود را ثبت کرده، مبلغ موردنظر را از طریق واریز به‌حساب پرداخت کرده، فیش را نزد خود نگه‌داشته و کد یکتایی سفارش خود را روی آن نوشته و برای ما فکس کنید. اگر کد را روی آن ننویسید، ما نمی‌توانیم کوپن را به شما ارائه کنیم. اگر امکان فکس هم ندارید می‌توانید به ما زنگ بزنید و مشخصات فیش پرداختی را تلفنی اعلام نمایید.
    </p>
     <p >
        <span class="h5 text-red">من به آف تیک علاقه‌مندم،‌ این آف تیک دقیقاً چه مواردی را شامل می‌شود؟</span>
        <br>
         در بخش توضیحات آف تیک جزییات آف تیک آمده است که کوپن شامل چه مواردی می‌شود. البته در اکثر مواقع مراکز دارای سرویس‌های دیگری نیز هستند که می‌توانید از آن‌ها نیز استفاده کنید اما آن سرویس‌ها، شامل کوپن تخفیف شما نمی‌شوند.
    </p>
    <p >
        <span class="h5 text-red">من به آف تیک علاقه‌مندم،‌ سفارش خود را ثبت کرده اما پرداخت نکرده‌ام.</span>
        <br>
        در این صورت سفارش خود را لغو نکنید،‌ پرداخت کرده و کوپن خود را دریافت کنید.
    </p>
     <p >
        <span class="h5 text-red">کد کوپن خود را باید در روز پرداخت استفاده کنم؟</span>
        <br>
         خیر! شما می‌توانید کوپن خود را در هر روزی که علاقه داشتید استفاده کنید اما در نظر داشته باشید که اکثر کوپن‌ها زمان اعتباردارند و تنها در آن زمان قابل‌استفاده هستند.
    </p>
     <p >
        <span class="h5 text-red">من آف تیک را خریده‌ام اما کد کوپن را دریافت نکرده‌ام</span>
        <br>
         اگر آف تیک هنوز معتبر و قابل خریداری است،‌ کوپن شما هنوز پیش ماست. کوپن‌ها پس از انقراض آف تیک موردنظر در طی سه روز پرداخت می‌شوند. اگر پس از سه روز کوپن خود را دریافت نکرده‌اید،‌ پوشه‌های Spam و یا Junk صندوق پست الکترونیکی خود را چک کنید. گاهی ایمیل‌ها در فولدرهای نادرست جایگزین می‌شوند. اگر ایمیل را نیافتید،‌ به‌حساب خود در وب‌سایت واردشده و برای فروشنده پیام بگذارید و یا با ما تماس بگیرید و یا به پست الکترونیکی info@offTick.com ایمیلی بفرستید که شامل درخواست شما برای دریافت کوپن است. توجه داشته باشید که جزییاتی شامل جزییات حساب و سفارش شما باید در این ایمیل باشد. ما در اسرع وقت مشکل شما را بررسی کرده و آن را رفع خواهیم کرد.
    </p>
     <p >
        <span class="h5 text-red">من کد کوپن را دریافت کرده‌ام،‌ چگونه آن را استفاده کنم؟</span>
        <br>شما می‌توانید کوپن خود را پرینت گرفته و به محل مربوط به آف تیک رفته و از سرویس خود استفاده کنید.
    </p>
     <p >
        <span class="h5 text-red">من کد کوپن را دریافت کرده‌ام،‌ پیش از رفتن به محل استفاده از آن باید چه‌کار کنم؟</span>
        <br>ممکن است شما برای مراجعه به آن مکان نیاز به گرفتن وقت قبلی داشته باشید؛ بنابراین با خدمات دهنده تماس بگیرید. این موارد در بخش مربوط به شرایط آف تیک نوشته‌شده است که کافی است قبل از مراجعه به محل، این بخش را مطالعه کرده و طبق آن عمل کنید.
    </p>
     <p >
        <span class="h5 text-red">من کد کوپن را دریافت کرده‌ام،‌ چند نفر می‌توانند از آن استفاده کنند؟</span>
        <br>هر کسی می‌تواند از کوپن خود یک‌بار استفاده کند؛ بنابراین این تعداد به مشخصات کوپن وابسته است و تنها در اختیار یک نفر می‌تواند قرار بگیرد.
    </p>
    <p >
        <span class="h5 text-red">من کد کوپن را دریافت کرده‌ام،‌ اما نمی‌توانم آن را استفاده کنم</span>
        <br>اگر به‌سرعت به آدرس info@offTick.com ایمیل بزنید،‌ ما مشکل شما را حل می‌کنیم. اگر هزینه مربوطه را پرداخت کرده‌اید و به ما خبر نداده‌اید،‌ کوپن خود را به دوستتان هدیه دهید تا از آن استفاده کند.
    </p>
     <p >
        <span class="h5 text-red">نام من روی برگه کوپن ثبت‌ نشده است. مطمئنید می‌توانم آن را به کس دیگری دهم تا استفاده کند؟</span>
        <br>بله! شرکای تجاری ما تنها کدهای یکتای شما را در اختیار دارند و بر اساس نام مقایسه‌ای انجام نمی‌دهند.
    </p>
     <p >
        <span class="h5 text-red">کد کوپن را باید یک‌بار استفاده کرد یا می‌توان در زمان‌های مختلفی از بخش‌های آن استفاده کرد؟</span>
        <br>کوپن را نمی‌توان در زمان‌های مختلفی نیز استفاده کرد. زمانی که کد خود را به فروشنده اعلام کنید،‌ آن کد به‌طور کامل استفاده خواهد شد و شما کد خود را از دست خواهید داد به‌طور کامل! دوست خود را همراه برده و باهم لذت ببرید!
    </p>
     <p >
        <span class="h5 text-red">می‌توان کد کوپن را در کنار و همزمان با تخفیف‌های دیگر آن محل استفاده کرد؟</span>
        <br>کد کوپنی که دریافت می‌کنید،‌ نمی‌تواند همزمان با کدهای دیگر استفاده شود.
    </p>
     <p >
        <span class="h5 text-red">با انتخاب روش پرداخت الکترونیک مبلغ بلافاصله از حساب من کم می‌شود؟</span>
        <br>بله کم شده و در صورت برقرار نشدن آف تیک به حسابتان در طی یک هفته بازگشت داده خواهد شد.
    </p>
     <p >
        <span class="h5 text-red">روش پرداخت الکترونیکی چقدر ایمن است؟</span>
        <br>بسیار ایمن! اگر شما بخواهید از طریق کارت خود پرداخت کنید،‌ شما به سایت بانک فرستاده خواهید شد تا اطلاعات خود را وارد و مبلغ را پرداخت نمایید؛ بنابراین ما اطلاعاتی از شما را نگهداری نکرده و دریافت نمی‌کنیم.
    </p>
    <p >
        <span class="h5 text-red">من تصمیمم عوض‌شده است. می‌توانم پول خود را پس بگیرم؟</span>
        <br>ازآنجایی‌که ما رابط بین شما و شریکان تجاری خود هستیم،‌ بازگرداندن پول غیرممکن است؛ بنابراین پیش از ثبت سفارش لطفاً تصمیم خود را قطعی کنید.
    </p>
     <p >
        <span class="h5 text-red">اگر زمان استفاده از کوپن به پایان رسیده باشد چی؟</span>
        <br>بدشانسی! اگر زمان استفاده به پایان رسیده باشد،‌ کوپن دیگر قابل‌استفاده نخواهد بود و ارزش خود را ازدست‌داده است؛ بنابراین شرایط آف تیک را کامل خوانده و به زمان انقراض کوپن توجه کنید.
    </p>
     <p >
        <span class="h5 text-red">من آف تیکی بسیار خوبی را در بخش آف تیک‌های گذشته دیده‌ام. می‌توانم آن را خریداری کنم؟</span>
        <br>متأسفانه اگر آف تیک به پایان رسیده باشد،‌ دیگر قابل‌ارائه و فروش نخواهد بود. هرروز آماده‌باشید و هر صبح به ما سر بزنید تا از بهترین موارد خبردار شوید. آف تیک‌های امروز ما را دیده‌اید؟
    </p>
     <p >
        <span class="h5 text-red">علاقه‌مندم نظرم در رابطه با آف تیک‌های مختلف را ابراز کنم.</span>
        <br>به آدرس info@offTick.com ایمیل بزنید! نظرات شما برای ما بسیار مهم است پس درنگ نکنید و نظر خود را اعلام کنید.
    </p>
     <p >
        <span class="h5 text-red">«هر آف تیک ویژه یک نفر» به چه معناست؟</span>
        <br>یعنی با هر کد آف تیک یک نفرمی تواند از سرویس‌های ارائه‌شده استفاده نماید.
    </p>
     <p >
        <span class="h5 text-red">«بدون محدودیت در خرید کوپن» به چه معناست؟</span>
        <br>یعنی هر نفر می‌تواند به تعداد دلخواه کد آف تیک برای خود یا دوستان، اقوام و سایرین خریداری نماید. البته توجه نمایید که در قسمت محدودیت استفاده هر نفر مشخص می‌شود که هر نفر حداکثر از چند کد آف تیک برای خود می‌تواند استفاده کند.
    </p>
    <p >
        <span class="h5 text-red">«هر نفر تنها می‌تواند از x کوپن آف تیک استفاده کند» به چه معناست؟</span>
        <br>یعنی شما تنها می‌توانید از x کوپن سرویس گرفته حتی اگر به تعداد بیشتر کد آف تیک خریداری نموده‌اید و مابقی را دوستان یا سایرین می‌توانند استفاده کنند.
    </p>
     <p >
        <span class="h5 text-red">«هر آف تیک ویژه یک سفارش» به چه معناست؟</span>
        <br>یعنی با هر کد آف تیک تنها می‌توانید یک سفارش که مخصوص رستوران و کافی‌شاپ است را دریافت نمایید و در صورت سفارش بیشتر هزینه جداگانه بر عهده شما است.
    </p>
     <p >
        <span class="h5 text-red">«در صورت تمایل به سفارش بیشتر، هزینه بر عهده مشتری است» به چه معناست؟</span>
        <br>یعنی شما می‌توانید تا سقف کوپن خریداری‌شده سرویس بگیرید و در صورت سفارشی بیشتر از سقف کوپن هزینه جداگانه در محل قابل پرداخت است.
    </p>
    
    
</div>
