﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " offtick®-Help";

}

<div style="direction:rtl;text-align:right">
    <p class="h3 text-red">راهنمای کار با سایت آف تیک</p>
    <p class="h4 text-red">روش‌های ثبت نام در سایت</p>
    <ul>
        <li>
            از طریق دکمه "ثبت نام" سایت در گوشه سمت راست سایت
        </li>
        <li>
            از طریق ورود با اکانت ثبت نام شده واقع در منوی دکمه "ورود" سایت
        </li>
    </ul>
 <p >
     <span class="h4 text-red">ثبت نام از طریق سایت :</span> 
     <br />
     چنانچه برای اولین بار در سایت آف تیک ثبت نام میکنید, پس از زدن دکمه "ثبت نام" سایت در گوشه سمت راست سایت, وارد صفحه‌ای با شمایل زیر میشوید.
     <br />
     <img src="~/Content/Images/help1.jpg" />
     <br />
     در این صفحه, تمام فیلدهای موجود در این صفحه را پر کرده و در آخر دکمه ادامه را بزنید که کاربری جدید شما ایجاد می گردد و سپس وارد صفحه دوم ثبت نام می شوید که پرکردن اطلاعات ان اختیاری است.
 </p>
    <p >
     <span class="h4 text-red">ریسپانسیو بودن سایت آف تیک:</span> 
     <br />
خاصیت ریسپانسیو بودن سایت, امکان مشاهده بهتر و راحت تر را برای همه دوستداران آف تیک با هر دستگاهی فراهم کرده است.

        <br />
        از این پس شما میتوانید با انواع تبلت, موبایل و انواع مانیتورهای پی سی و لپ تاپ, بهترین تصویر را از سایت آف تیک داشته باشید.
    </p>

     <p >
     <span class="h4 text-red">روشهای معرفی پیشنهادات روی سایت:</span> 
     <br />
برای ارایه پیشنهاد فروش روی سایت باید یک کاربری شرکتی ویا رستوران ثبت نمایید که سپس اقدام به گذاشتن افر فروش نمایید که مستلزم داشتن قرارداد با آف تیک است.
      .
    </p>
  
     <p >
     <span class="h4 text-red">روش خرید از سایت:</span> 
     <br />
پیشنهادهای تخفیف در صفحه اصلی سایت نمایش داده می شوند .
         <br />
              <img src="~/Content/Images/help2.jpg" />

         <br />
         
با کلیک رو افرهایی که % تخفیف دارند مانند حالت زیر دکمه OffTick ظاهر می شود:
         <br />
              <img src="~/Content/Images/help3.jpg" />

         <br />
         که با کلیک رو دکمه Off Tick می توانید وارد صفحه جزییات پیشنهاد خرید شوید.
           <br />
              <img src="~/Content/Images/help4.jpg"/>

         <br />
         که سپس بازدن دکمه خرید می توانید مراحل خرید را طی نمایید. 
         <br />
در نهایت یک فاکتور خرید صادر می شود که باید انرا پرینت بگیرید. 

    </p>



       <p >
     <span class="h4 text-red">جستجو در سایت :</span> 
     <br />
رای جستجو در پیشنهادهای سایت, میتوانید از باکس مخصوص در بالای صفحه استفاده کنید.
                    <br />
              <img src="~/Content/Images/help5.jpg" />

         <br />
         
از قابلیت های سرچ در سایت، انتخاب شهر و حتی دسته بندی مورد نظرتان میباشد.
به این شکل که شما میتوانید بعد از وارد کردن عبارت مورد نظرتان و زدن دکمه اینتر, به صفحه دیگری هدایت میشوید که میتوانید جستجو را به شکل دقیق تری ادامه دهید.


    </p>


       <div >
     <span class="h4 text-red">فرایند لابک و کامنت گذاری :</span> 
     <br />
در سایت دو روش, برای اظهار نظر در مورد پست های عادی و تصاویر وجود دارد:                    <br />
       <ul>
           <li class=" h5 text-red">
               کامنت گذاشتن
           </li>
           <text>
               در این روش, پس از ورود به سایت و انتخاب تصویر مورد نظر, می توانید ذیل ان  کامنت بگذارید.
           </text>
           <li class=" h5 text-red">
              لایک کردن تصاویر
           </li>
            <text>
                با کلیک رو شکل قلب می تواند تصاویر را لایک کنید.

            </text>
       </ul>     
           
         
    </div>
  


</div>
