﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //ViewBag.Title = " fypɑd®";
    ViewBag.Title = " offtick®";
}





<script>
    $(function () {
        $("#txtSearchFypad").onEnter(searchFypad);
        $("#btnSearchFypad").click(searchFypad);

        function searchFypad() {
            var searchValues = $("#txtSearchFypad").val();
            var splittedSource = searchValues.replace(/\s{2,}/g, ' ').split(' ');


            var urlOfAction = "@Url.Action("Index", "Search", new { area = "User" })";
               urlOfAction += "?searchValue=" + searchValues;
               $(location).attr('href', urlOfAction);
        }

        $("#btnLoadMoreOffer").click(function () {
            
            var urlOfAction = "@Url.Action("GetMainPageOffers", "Offer", new { area = "User", })";
            $("#hdnOfferSkip").val(parseInt($("#hdnOfferTake").val()) +parseInt( $("#hdnOfferSkip").val()));

            var offerTake=$("#hdnOfferTake").val();
            var offerSkip = $("#hdnOfferSkip").val();
            var cityId = $("#searchCityId").val();

                $.ajax({
                    type: 'POST',
                    url: urlOfAction,
                    data: JSON.stringify({ take: offerTake, skip: offerSkip ,cityId:cityId}),
                    dataType: 'html',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success" && data) {
                        $("#OfferContainer").append(data);
                   
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });
        });
    });
</script>





      @*  <div>
            @Html.Action("MainPageBigOfferViewer","Offer",new{area="User"})
        </div>
       <div id="OfferContainer">
        <input type="hidden" id="hdnOfferTake" value="9" />
        <input type="hidden" id="hdnOfferSkip" value="0"/>
        @Html.Action("GetMainPageOffers","Offer",new {area="User",take=9,skip=0,cityId=Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityIdByName(ViewBag.cityName)})
    </div>
    <br />
    <span class="btn btn-primary" id="btnLoadMoreOffer">
        بارگزاری تعداد بیشتر
    </span>*@
 @*   <div class="well hidden" style="margin-top:30px;">
        <a href="https://facebook.com/Offtick">  <span class="fa fa-facebook" style="font-size:xx-large; padding:5px;"></span>           </a>
        <a href="https://linkedin.com/Company/Offtick">  <span class="fa fa-linkedin" style="font-size:xx-large; padding:5px;"></span>           </a>
        <a href="https://twitter.com/OffTick">  <span class="fa fa-twitter" style="font-size:xx-large; padding:5px;"></span>         </a>
        <a href="https://plus.goole.com/+Offtick">  <span class="fa fa-google-plus" style="font-size:xx-large; padding:5px;"></span>        </a>
        <a href="https://pinterest.com/OffTick">  <span class="fa fa-pinterest-p" style="font-size:xx-large; padding:5px;"></span>           </a>
        <a href="https://instagram.com/OffTick">  <span class="fa fa-instagram" style="font-size:xx-large; padding:5px;"></span>           </a>
        
        <span class="text-info h4">آفتیک را دنبال کنید</span>
    </div>
  
    *@


  
        <div class="main-wrapper">
           
        <div class="content-grids">
            <section class="layout" id="OfferContainer">

                 <div style="width:100%;direction:ltr;">
                    <a href="@Url.Action("Index", "Home", new { area = "",mode="text" })"><img src="@Url.Content("~/Content/Images/TextMode.png")" /></a>
                    <a href="@Url.Action("Index", "Home", new { area = "",mode="photo" })"><img src="@Url.Content("~/Content/Images/PhotoMode.png")" /></a>
                </div>

                @{
                    string viewMode = Request.QueryString["mode"];
                    if(!String.IsNullOrEmpty(viewMode) && viewMode.ToLower().Equals("text")){
                        <table id="mainPageTextOffers"></table>
                    }
                    else
                    {
                        <input type="hidden" id="hdnOfferTake" value="9" />
                        <input type="hidden" id="hdnOfferSkip" value="0"/>
                        @Html.Action("GetMainPageOffers", "Offer", new { area = "User", take = 9, skip = 0, cityId = Offtick.Web.OfftickWeb.Infrustracture.GeneralHelper.getCityIdByName(ViewBag.cityName) })
                         
                    }
                
                }



            </section>
            <!--layout-->
                <div class="load-more-container">
                    <span id="btnLoadMoreOffer" class="load-more-button" data-appendcontrol="OfferContainer">موارد بیشتر</span>
                </div>

        </div>
        <!--adds-grid-->

    </div>
    <!--main-wrapper-->

