﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " offtick®-Rules";

}

<div style="direction:rtl;text-align:right">
    <p class="h3 text-center ">قوانین و مقررات</p>
    <p class="h3 text-center ">سیاست حفظ اطلاعات و حریم خصوصی کاربران در آف تیک</p>
            <p class="h4 text-red">سیاست حفظ اطلاعات و حریم خصوصی کاربران در آف تیک</p>

    <p>
     آف تیک تاکید بسیاری بر اصول حفظ اطلاعات و حریم خصوصی کاربران این سایت دارد. این سند شامل توضیحی درباره اطلاعات خصوصی و نحوه استفاده از این اطلاعات است که آف تیک از کاربران سایت جمع آوری می کند. این اطلاعات شامل مواردی است که مخصوص هر کاربر بوده و به کمک آن ها می توان کاربران آف تیک را به صورت منحصر به فرد شناسایی نمود. برای نمونه می توان به نام، نشانی، نشانی الکترونیک (ایمیل)، شماره تلفن و سایر اطلاعاتی که به صورت عادی در دسترس عموم مردم نیست اشاره نمود.
    </p>

        <p class="h4 text-red">اطلاعات جمع آوری شده و نحوه استفاده از آن ها</p>
    <p>
شما با ثبت نام در آف تیک مشخصات خود از قبیل نام و نام خانوادگی٬ ایمیل و … را در اختیار آف تیک قرار می دهید. در ادامه فعالیت در آف تیک و تقاضا برای ثبت سفارش٬ شما نیاز به اضافه کردن مشخصات آدرس خود و تلفن های تماس خواهید داشت.
شما پس از ورود به آف تیک٬ به عنوان کاربر آف تیک شناخته خواهید شد و کلیه اطلاعات مذکور و اطلاعاتی مانند تراکنش ها٬ پرداخت ها و اطلاعات فردی شما در اختیار آف تیک خواهد بود. لازم به ذکر است که این موارد تنها موارد مورد استفاده در آف تیک نخواهد بود.
آف تیک اطلاعاتی از قبیل IP شما٬ اطلاعات کوکی ها و صفحات مشاهده شده توسط شما را نیز نگهداری خواهد کرد. از اینگونه اطلاعات تنها در موارد تبلیغاتی و یا تحویه محتویات متناسب با شما استفاده خواهد شد و در اختیار سازمان ها و افراد غیر ازآف تیک  قرار نخواهد گرفت.
        <br />
        انتخاب خرید شما بصورت پیشفرض در شبکه ثبت می شود و سایر کاربران از انتخاب شما با خبر خواهند شد تا از فرصت خرید استفاده نمایند که در صورت تمایل می توانید در قسمت تنظیمات خریدتان را مخفی نمایید. همچنین درصورت اپلود تصویر، بصورت پیشفرض فقط برای دنبال کنندگان نمایش داده می شود که می توانید در قسمت تنظیمات ان را برای عموم نمایش دهید.
        <br />
         آف تیک اطلاعات شما را اجاره نخواهد داد بجز در مواردی که شما از قوانین منعکس شده در بخش شرایط و ضوابط تخطی نموده و شاکی نسبت به عملکرد شما وجود داشته باشد.
    </p>
        <p class="h4 text-red">ویرایش و تغییر اطلاعات شخصی</p>
    <p>
        شما می توانید کلیه اطلاعات شخصی خود را در بخش مربوط به حساب من تغییر داده و ویرایش کنید. این اطلاعات شامل کلیه اطلاعاتی است که شما در سایت آف تیک  وارد کرده اید        .    
    <br />
        حساب شما در هر زمانی توسط شما قابل حذف شدن از سیستم است که با غیر فعال کردن حسابتان سریعا انجام می گیرد.
    </p>
   
     
            <p class="h4 text-red">محدودیت دسترسی به اطلاعات</p>

    <p>
        آف تیک دسترسی کارمندان خود به اطلاعات کاربران را محدود نموده و تنها کارمندانی که ارتباط مستقیم با کاربران دارند٬ دسترسی به کلیه اطلاعات خواهند داشت.
        <br />
        کلیه رمزهای عبور به صورت رمز شده در پایگاه داده های آف تیک  نگهداری شده و در فرآیند رمزگذاری بیشترین تلاش در استفاده از الگوریتم ها و روش های پیشرفته شده است.
        <br />
        کلیه اطلاعات مربوط به سیستم آف تیک در زیرساخت های محافظت شده و در مکان های امن نگهداری می شوند.
        <br />
        امیدواریم که با رعایت بیشترین میزان در حفاظت از اطلاعات شما٬‌ اطمینان خاطر لازم به شما مشتریان گرامی در استفاده از سیستم آف تیک را داده باشیم. در صورت هرگونه سوال و یا پرسشی٬ درخواست خود را تلفنی و یا از طریق بخش تماس با ما به اشتراک بگذارید.
    </p>
    <p class="h4 text-red">لغو خبرنامه</p>
    <p>
برای لغو دریافت خبرنامه کافیست یکی از خبرنامه‌های روزانه ما را دریافت نمایید و در انتهای ایمیل لینک مربوط به لغو اشتراک خبرنامه را بزنید. توجه داشته باشید که در صورت علاقه به دریافت مجدد بایستی به تیم پشتییبانی ما به آدرس support@OffTick.com ایمیل زده شود و با پرکردن ایمیل در فیلد مربوط به عضویت این کار انجام نخواهد شد

    </p>
       <p class="h4 text-red">با ما با مشخصات زیر تماس بگیرید</p>
    <p>
        ایمیل: info@OffTick.com
        <br />
آدرس: تهران- خیابان ستارخان- خیابان کوثر 2- پلاک 15- واحد 6
        <br />
تلفن تماس: 66926648 -021

        <br />

    </p>
</div>
