﻿@model Offtick.Data.Context.ExpertOnlinerContexts.Menu
@{
     Layout = "";
    string title =string.Empty;
    string body = string.Empty;
    string dateTime = string.Empty;
    string senderId=string.Empty;
    string recieverId=string.Empty;
    if(Model!=null){
        title = Model.MenuCaltures.Count>0?Model.MenuCaltures.First().Title:string.Empty;
        recieverId=Model.UserId.ToString();
        var currentUser=Offtick.Business.Membership.MembershipManager.Instance.GetCurrentUser();
        if(currentUser!=null)
        {
            senderId=currentUser.UserId.ToString();
        }
        dateTime=Model.LastDateTime.ToString("MMMM dd, yyyy");
        if (Model.MenuContents.Count != 0)
        {
            var content = Model.MenuContents.First();
            body =content.MenuContentCaltures.Count>0? content.MenuContentCaltures.First().Body: string.Empty;
        }
        
    }
    
    string txtSenderName="txtSenderName";
     string  txtSenderEmail="txtSenderEmail";
    string    txtSenderWebSite="txtSenderWebSite";
    string txtSenderMessage="txtSenderMessage";
        
    
}
<div class="wrapper">
					<div class="row-fluid">
						<div class="span12">
							
							<div id="main-col">
								
								<div class="entry-box">
									<div class="entry-thumb">
										@*<img src="@Url.Content("Content/themes/Nictitate/placeholders/post-image/post-24.jpg")" alt="" />*@
									</div>
									<header>                                	
										<h1 class="entry-title">@title<span></span></h1>
									@*	<span class="entry-date"><span data-icon="&#xe276;"></span>@dateTime</span>*@
									</header>
                                    @Html.Raw(body)
                                   
									
								</div><!--entry-box-->
								
								<div id="respond" dir="rtl">
									<h3>پیام خود را برای ما ارسال نمایید<span data-icon="&#xe014;"></span></h3>               
									<div id="comments-form" class="clearfix" >                
										<div class="comment-left">
											<p class="textarea-block">                        
												<label class="required" for="comment_message">متن پیام <span>(اجباری):</span></label>
												<textarea rows="6" cols="88" id="@txtSenderMessage" name="message"></textarea>
											</p>
										</div>
                                        <div class="comment-right">
											<p class="input-block">
												<label class="required" for="txtSenderName">نام <span>(اجباری):</span></label>
												<input type="text" class="valid" name="name" id="@txtSenderName" value="">
											</p>
											<p class="input-block">
												<label class="required" for="txtSenderEmail">ایمیل <span>(اجباری):</span></label>
												<input type="email" class="valid" name="email" id="@txtSenderEmail" value="">
											</p>
											<p class="input-block">                                                
												<label class="required" for="txtSenderWebSite">آدرس وب سایت:</label>
												<input type="text" id="@txtSenderWebSite" value="" class="valid" name="url">                                                
											</p>
											
										</div>
										
										<div class="clear"></div>
										<p class="comment-button">                    
											<input type="submit" id="btnSubmitContactUs" value="ارسال پیام">
										</p>
																					   
									</div>
									<div id="response"></div>
								</div><!--respond-->
								
							</div><!--main-col-->
							
						
							
							<div class="clear"></div>
							
						</div><!--span12-->
					</div><!--row-fluid-->                
				</div><!--wrapper-->

   <script type="text/javascript">
        $(function () {
            $("#btnSubmitContactUs").click(function (eventData) {


                var postData = null;

                postData = { RecieverUserId: "@recieverId", SenderUserId: "@senderId", SenderName: $('#@txtSenderName').val(), Email: $('#@txtSenderEmail').val(), WebSite: $('#@txtSenderWebSite').val(), Comment: $('#@txtSenderMessage').val() };



                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("SubmitContactMessage","Content")',
                data: JSON.stringify(postData),
                dataType: 'json',
                processData: false,
                contentType: 'application/json; charset:utf-8',
                success: function (data, status) {
                    if (status == "success") {
                        alert(data);
                    }
                },
                error: function (xhr, textStatus, error) {
                    var errorMessage = error || xhr.statusText;
                    alert(errorMessage + xhr.toString() + textStatus);
                }
            });

            });
        });
    </script>