﻿	@model Offtick.Data.Context.ExpertOnlinerContexts.Menu
@{
    Layout = "";
    
    
    
    string title = Model != null ? Model.Title : string.Empty;
    string body = string.Empty;
    string dateTime = string.Empty;
    if(Model!=null){
        
        dateTime=Model.LastDateTime.ToString("MMMM dd, yyyy");
        if (Model != null && Model.MenuContents.Count != 0)
        {
           var content = Model.MenuContents.First();
            body = content.Body;
        }
        
    }
}
<div class="page-title-wrapper">
				<div class="wrapper">
					<div class="row-fluid">
						<div class="span12">
							
							<div id="main-col">
								
								<div class="entry-box">
									@*<div class="entry-thumb">
										<img src="@Url.Content("Content/themes/Nictitate/placeholders/post-image/post-24.jpg")" alt="" />
									</div>*@
									<header>                                	
										<h1 class="entry-title" dir="rtl">@Html.Raw(title)<span></span></h1>
									@*	<span class="entry-date"><span data-icon="&#xe276;"></span>@dateTime</span>
										<span class="entry-comments"><span data-icon="&#xe06c;"></span><a href="#">@commentCount Comments</a></span>*@
									</header>
                                    @Html.Raw(body)
                                    
                                   @* <ul class="social-link clearfix">
										<li>Share this Post:</li>
										<li><a href="#" data-icon="&#xe168;"></a></li>
										<li><a href="#" data-icon="&#xe16c;"></a></li>
										<li><a href="#" data-icon="&#xe16f;"></a></li>
										<li><a href="#" data-icon="&#xe163;"></a></li>
										<li><a href="#" data-icon="&#xe178;"></a></li>
									</ul>*@
								@*	<footer class="clearfix">
										<p class="prev-post">
											<a href="#">&laquo;&nbsp;Older Article</a>
											<a class="article-title" href="#">Feature Post Tile</a>
											<span class="entry-date">Mar 29, 2013</span>
										</p>
										<p class="next-post">
											<a href="#">Next Article&nbsp;&raquo;</a>
											<a class="article-title" href="#">At menandri quaestio has</a>
											<span class="entry-date">Mar 29, 2013</span>                                
										</p>
									</footer>*@
								</div><!--entry-box-->
								
					
								
							</div><!--main-col-->
							
					
						</div><!--span12-->
					</div><!--row-fluid-->                
				</div><!--wrapper-->