﻿	@model Offtick.Data.Context.ExpertOnlinerContexts.News
@{
    Layout = "";
    bool isNullModel = Model != null && Model.NewsCultures.Count > 0;
    
    string title = Model != null ? Model.NewsCultures.First().Title : string.Empty;
    string body = Model != null ? Model.NewsCultures.First().Body : string.Empty;
    string dateTime = string.Empty;
    
  
}

				
				
				<div class="wrapper">
					<div class="row-fluid">
						<div class="span12">
							
							<div id="main-col">
								
								<div class="entry-box">
									@*<div class="entry-thumb">
										<img src="@Url.Content("Content/themes/Nictitate/placeholders/post-image/post-24.jpg")" alt="" />
									</div>*@
									<header>                                	
										<h1 class="entry-title" dir="rtl">@title<span></span></h1>
									@*	<span class="entry-date"><span data-icon="&#xe276;"></span>@dateTime</span>
										<span class="entry-comments"><span data-icon="&#xe06c;"></span><a href="#">@commentCount Comments</a></span>*@
									</header>
                                    @Html.Raw(body)
								</div><!--entry-box-->
								
						
						</div><!--span12-->
					</div><!--row-fluid-->                
				</div><!--wrapper-->
            </div>
    